@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.PacienteExameAnotacaoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Paciente - Exames - Anotação";
    ViewBag.MetaDescription = "WebDoctor - Paciente - Exames - Editar anotação em exames do paciente";
    ViewBag.MetaKeywords = "WebDoctor, paciente, anotacao, exame";
}

<div class="wrapper wrapper-content animated fadeInRight">
    @if ((String)Session["ModuloAtual"] == "Dashboard Inicial")
    {
        <div class="page-title">
            <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaExames", "Paciente")">Exames</a>
            </li>
            <li>
                <a href="@Url.Action("EditarExame", "Paciente")">Exames - Edição</a>
            </li>
            <li class="active">
                <strong>Exames - Anotações</strong>
            </li>
            </ol>
            <br />
        </div>
    }
    else if ((String)Session["ModuloAtual"] == "Central de Pacientes")
    {
        <div class="page-title">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("MontarTelaCentralPaciente", "Paciente")">Central de Pacientes</a>
                </li>
                <li>
                    <a href="@Url.Action("MontarTelaExames", "Paciente")">Exames</a>
                </li>
                <li>
                    <a href="@Url.Action("EditarExame", "Paciente")">Exames - Edição</a>
                </li>
                <li class="active">
                <strong>Exames - Anotações</strong>
                </li>
            </ol>
            <br />
        </div>
    }
    else
    {
        <div class="page-title">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("MontarTelaExames", "Paciente")">Exames</a>
                </li>
                <li>
                    <a href="@Url.Action("EditarExame", "Paciente")">Exames - Edição</a>
                </li>
                <li class="active">
                <strong>Exames - Anotações</strong>
                </li>
            </ol>
            <br />
        </div>
    }

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                        <h5>Anotação - Edição</h5>
                        <span style="color:green; font-weight: 500; font-size: 20px;">@ViewBag.NomePaciente</span>
                    </div>
                </div>
                @using (Html.BeginForm("EditarAnotacaoPacienteExame", "Paciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "Erros Encontrados:", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="form-group">
                            @Html.ButtonActionSubmit(text: "Confirma Edição de Anotação")
                            @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarEditarExame", controller: "Paciente")
                            <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank">Ajuda</a>                
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <br />
                                    @if (!String.IsNullOrEmpty(Model.USUARIO.USUA_AQ_FOTO))
                                    {
                                        // Monta a URL do Storage para a foto do usuário
                                        string storageUrl = "https://rtistoragemain.blob.core.windows.net/rti-datacontainer/";
                                        string fotoPath = Model.USUARIO.USUA_AQ_FOTO.Replace("~", "").TrimStart('/');
                                        string fullImageUrl = storageUrl + fotoPath;

                                        <img src="@fullImageUrl" style="width: auto; height: auto; max-height: 110px; max-width: 90px;" alt="Foto do Usuário">
                                    }
                                    else
                                    {
                                        // Mantém o caminho local para o ícone padrão do sistema
                                        <img src="@Url.Content("~/Imagens/Base/icone_imagem.png")" style="width: auto; height: auto; max-height: 110px; max-width: 90px;" alt="Sem Foto">
                                    }
                                </div>                       
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-2 col-md-2 col-sm-12">
                                        @Html.HiddenFor(m => m.PAET_IN_ATIVO)
                                        @Html.HiddenFor(m => m.PACI_CD_ID)
                                        @Html.HiddenFor(m => m.USUA_CD_ID)
                                        @Html.HiddenFor(m => m.PAET_CD_ID)
                                        @Html.HiddenFor(m => m.PAEX_CD_ID)
                                        Data
                                        @Html.TextBoxFor(m => m.PAET_DT_ANOTACAO, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control", @tabindex = "-1", @readonly="readonly"})
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12">
                                        Nome 
                                        @Html.TextBoxFor(m => m.USUARIO.USUA_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly="readonly"})
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;"> 
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    Texto da Anotação*
                                    @Html.TextAreaFor(m => m.PAET_TX_ANOTACAO, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.PAET_TX_ANOTACAO, "", new { @style = "color:red" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
         </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}
@section Scripts {
   
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
   
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
