@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.PacienteConsultaViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Paciente - Consulta - Edição";
    ViewBag.MetaDescription = "WebDoctor - Paciente - Consultas - Edição de consultas";
    ViewBag.MetaKeywords = "WebDoctor, paciente, consulta";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaConsultas", "Paciente")">Consultas</a>
            </li>
            <li class="active">
                <strong>Consultas - Remarcação</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                        <h5>Consulta - Remarcação</h5>
                        <span style="color:green; font-weight: 500; font-size: 20px;">@Model.PACIENTE.PACI_NM_NOME</span>
                    </div>
                </div>
                @using (Html.BeginForm("EditarConsulta", "Paciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "Erros Encontrados:", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Paciente</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Profissional
                                    @Html.TextBoxFor(m => m.USUARIO.USUA_NM_NOME, new { @class = "form-control", @readonly = "readonly", @style = "color: darkblue; font-weight: bold" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Paciente</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Nome do Paciente
                                    @Html.TextBoxFor(m => m.PACIENTE.PACI_NM_NOME, new { @class = "form-control", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data Nascimento
                                    @Html.TextBoxFor(m => m.PACIENTE.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                @if (Model.PACIENTE.PACI_NR_CPF != null)
                                {
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        CPF
                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CPF, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                }
                                @if (Model.PACIENTE.PACI_NR_CELULAR != null)
                                {
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Celular
                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CELULAR, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                }
                                @if (Model.PACIENTE.PACI_NR_TELEFONE != null)
                                {
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Telefone
                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_TELEFONE, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Dados da Consulta</h4>
                            <div class="form-group" style=" margin-left: 5px; margin-right: 5px;">                
                                @Html.ButtonActionSubmit(text: "Confirma Edição de Consulta", htmlAttributes: new { id = "basictoast", @class = "btn-loading1" })
                                @if ((Int32)Session["VoltaCalendario"] == 1)
                                {
                                    @Html.ButtonLinkIndex(text: "Voltar", action: "VerCalendarioConsulta", controller: "Paciente", htmlAttributes: new { @class = "btn-loading" })
                                }
                                else
                                {
                                    if ((Int32)Session["TipoSolicitacao"] == 1)
                                    {
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoPaciente", controller: "Paciente", htmlAttributes: new { @class = "btn-loading" })
                                    }
                                    else if ((Int32)Session["TipoSolicitacao"] == 6)
                                    {
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaConsultas", controller: "Paciente", htmlAttributes: new { @class = "btn-loading" })
                                    }
                                    else if ((Int32)Session["VoltaConfirmarCancelar"] == 1)
                                    {
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "ConfirmarCancelarConsulta", controller: "Paciente", htmlAttributes: new { @class = "btn-loading" })
                                    }
                                    else
                                    {
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaConsultas", controller: "Paciente", htmlAttributes: new { @class = "btn-loading" })
                                    }
                                }
                                <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank">Ajuda</a>                
                                <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                                    <i class="fa fa-spinner fa-spin"></i> Processando...
                                </span>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Tipo de Consulta
                                    @Html.TextBoxFor(m => m.VALOR_CONSULTA.VACO_NM_NOME, new { @class = "form-control", @readonly = "readonly", autofocus = true  })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    @Html.HiddenFor(m => m.PACI_CD_ID)
                                    @Html.HiddenFor(m => m.PACO_IN_ATIVO)
                                    @Html.HiddenFor(m => m.PACO_IN_ENCERRADA)
                                    @Html.HiddenFor(m => m.USUA_CD_ID)
                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                    @Html.HiddenFor(m => m.PACO_CD_ID)
                                    @Html.HiddenFor(m => m.VACO_CD_ID)
                                    @Html.HiddenFor(m => m.PACO_IN_CONFIRMADA)
                                    @Html.HiddenFor(m => m.PACO_IN_RECORRENTE)
                                    @Html.HiddenFor(m => m.PACO_IN_RECEBE)
                                    Data da Consulta
                                    @Html.TextBoxFor(m => m.PACO_DT_CONSULTA, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn" })
                                    @Html.ValidationMessageFor(m => m.PACO_DT_CONSULTA, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Hora Início
                                    <div class='input-group date' id='datetimepicker3'>
                                        @Html.TextBoxFor(m => m.PACO_HR_INICIO, new { @class = "form-control time-picker", autofocus = true, @id = "hora" })
                                        @Html.ValidationMessageFor(m => m.PACO_HR_INICIO, "", new { @style = "color:red" })
                                        <span class="input-group-addon">
                                            <span style="cursor: pointer;" class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Hora Final
                                    <div class='input-group date' id='datetimepicker3'>
                                        @Html.TextBoxFor(m => m.PACO_HR_FINAL, new { @class = "form-control time-picker1", autofocus = true, @id = "hora1" })
                                        @Html.ValidationMessageFor(m => m.PACO_HR_FINAL, "", new { @style = "color:red" })
                                        <span class="input-group-addon">
                                            <span style="cursor: pointer;" class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Recorrente
                                    @Html.TextBoxFor(m => m.Recorrente, new { @class = "form-control", @readonly = "readonly", data_toggle = "popover", data_content = "Indica que esta consulta foi criada no modo recursivo, ou seja, com repetições", data_trigger="hover", data_placement="top"  })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Recebe por Consulta
                                    @Html.TextBoxFor(m => m.Recebe, new { @class = "form-control", @readonly = "readonly", data_toggle = "popover", data_content = "Indica se esta consulta, quando encerrada, gerará ou não um lançamento automático de recebimento", data_trigger="hover", data_placement="top"  })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
         </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")

}
@section Scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading1').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#dn").mask("99/99/9999");
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('.time-picker').datetimepicker({
                datepicker: false,
                format: 'H:i'
            });
            $('.time-picker1').datetimepicker({
                datepicker: false,
                format: 'H:i'
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker3').click(function () {
                $('.time-picker').datetimepicker('show');
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Edição em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                        + shortCutFunction
                        + "](\""
                        + msg
                        + (title ? "\", \"" + title : '')
                        + "\")\n\ntoastr.options = "
                        + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
