@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.MensagemViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Paciente - Atestados - Envio";
    ViewBag.MetaDescription = "WebDoctor - Paciente - Atestados - Enviar atestado por e-mail ao paciente";
    ViewBag.MetaKeywords = "WebDoctor, paciente, atestado, e-mail";
}
<div class="wrapper wrapper-content animated fadeInRight">
    @if ((String)Session["ModuloAtual"] == "Dashboard Inicial")
    {
        <div class="page-title">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("MontarTelaAtestados", "Paciente")">Atestados</a>
                </li>
                <li class="active">
                    <strong>Atestados - Envio por E-Mail</strong>
                </li>
            </ol>
            <br />
        </div>
    }
    else if ((String)Session["ModuloAtual"] == "Central de Pacientes")
    {
        <div class="page-title">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("MontarTelaCentralPaciente", "Paciente")">Central de Pacientes</a>
                </li>
                <li>
                    <a href="@Url.Action("MontarTelaAtestados", "Paciente")">Atestados</a>
                </li>
                <li class="active">
                    <strong>Atestados - Envio por E-Mail</strong>
                </li>
            </ol>
            <br />
        </div>
    }
    else if ((String)Session["ModuloAtual"] == "Paciente - Edição")
    {
        <div class="page-title">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("MontarTelaCentralPaciente", "Paciente")">Central de Pacientes</a>
                </li>
                <li>
                    <a href="@Url.Action("EditarPaciente", "Paciente")">Paciente - Edição</a>
                </li>
                <li class="active">
                    <strong>Atestados - Envio por E-Mail</strong>
                </li>
            </ol>
            <br />
        </div>
    }

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                        <h5>Atestado - Envio por E-Mail</h5>
                        <span style="color:green; font-weight: 500; font-size: 20px;">@ViewBag.NomePaciente</span>
                    </div>
                </div>
                @using (Html.BeginForm("EnviarAtestadoEMail", "Paciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="ibox-content">
                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Identificação do Paciente</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    @Html.HiddenFor(m => m.ID)
                                    @Html.HiddenFor(m => m.MENS_DT_CRIACAO)
                                    @Html.HiddenFor(m => m.MENS_IN_TIPO)
                                    @Html.HiddenFor(m => m.MENS_NM_CAMPANHA)
                                    @Html.HiddenFor(m => m.MENS_NM_NOME)
                                    @Html.HiddenFor(m => m.MENS_NM_ASSINATURA)
                                    @Html.HiddenFor(m => m.MENS_IN_TIPO_EMAIL)
                                    @Html.HiddenFor(m => m.TIPO_ENVIO)
                                    Nome do Paciente
                                    @Html.TextBoxFor(m => m.NOME, new { @class = "form-control", @tabindex = "-1", @readonly="readonly", @style = "color: green; font-weight: bold"  })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    CPF
                                    @Html.TextBoxFor(m => m.MENS_NM_CABECALHO, new { @class = "form-control", @tabindex = "-1", @readonly="readonly" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    E-Mail
                                    @Html.TextBoxFor(m => m.MODELO, new { @class = "form-control", @tabindex = "-1", @readonly="readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Celular
                                    @Html.TextBoxFor(m => m.CELULAR, new { @class = "form-control", @tabindex = "-1", @readonly="readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Telefone
                                    @Html.TextBoxFor(m => m.TELEFONE, new { @class = "form-control", @tabindex = "-1", @readonly="readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Identificação do Atestado</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-2 col-md-1 col-xs-12">
                                    Identificador
                                    @Html.TextBoxFor(m => m.MENS_GU_GUID, new { @class = "form-control", @tabindex = "-1", @readonly="readonly", @style = "color: darkblue; font-weight: bold"  })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data de Criação
                                    @Html.TextBoxFor(m => m.MENS_DT_AGENDAMENTO,"{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data do Último Envio
                                    @Html.TextBoxFor(m => m.MENS_DT_ENVIO,"{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Número de Envios
                                    @Html.TextBoxFor(m => m.MENS_NR_REPETICOES, new { @class = "form-control", @tabindex = "-1", @readonly="readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;"> 
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    Texto da Mensagem*
                                    @Html.TextAreaFor(m => m.MENS_TX_TEXTO, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", autofocus = true, @id = "texto", data_toggle = "popover", data_content = "Texto a ser enviado na mensagem ao paciente. O atestado será anexado automaticamente a esta mensagem", data_trigger="hover", data_placement="top"  })
                                    @Html.ValidationMessageFor(m => m.MENS_TX_TEXTO, "", new { @style = "color:red" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.ButtonActionSubmit(text: "Confirma Envio do Atestado", htmlAttributes: new { id = "basictoast", @class = "btn-loading1" })
                            @if ((Int32)Session["VoltaMail"] == 1)
                            {
                                @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoPaciente", controller: "Paciente", htmlAttributes: new { @class = "btn-loading" })
                            }
                            else if ((Int32)Session["VoltaMail"] == 2)
                            {
                                @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaAtestados", controller: "Paciente", htmlAttributes: new { @class = "btn-loading" })
                            }
                            else if ((Int32)Session["VoltaMail"] == 3)
                            {
                                @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarProcederConsulta", controller: "Paciente", htmlAttributes: new { @class = "btn-loading" })
                            }
                            else if ((Int32)Session["VoltaMail"] == 4)
                            {
                                @Html.ButtonLinkIndex(text: "Voltar", action: "VerListaAtestadoConsulta", controller: "Paciente", htmlAttributes: new { @class = "btn-loading" })
                            }
                            else if ((Int32)Session["VoltaMail"] == 5)
                            {
                                @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaCentralPaciente", controller: "Paciente", htmlAttributes: new { @class = "btn-loading" })
                            }
                            <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank">Ajuda</a>                
                            <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                                <i class="fa fa-spinner fa-spin"></i> Processando...
                            </span>
                        </div>
                    </div>
                }
            </div>
         </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    @Scripts.Render("~/plugins/jasnyBootstrap")

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading1').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Envio em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                        + shortCutFunction
                        + "](\""
                        + msg
                        + (title ? "\", \"" + title : '')
                        + "\")\n\ntoastr.options = "
                        + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}




