@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.PacienteViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Paciente";
    ViewBag.MetaDescription = "WebDoctor - Paciente - Inclusão de paciente";
    ViewBag.MetaKeywords = "WebDoctor, paciente";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div id="top"></div>
    @if ((String)Session["ModuloAtual"] == "Dashboard Inicial")
    {
        <div class="page-title">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("MontarTelaPaciente", "BaseAdmin")">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Pacientes - Inclusão</strong>
                </li>
            </ol>
            <br />
        </div>
    }
    else
    {
        <div class="page-title">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("MontarTelaPaciente", "BaseAdmin")">Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("MontarTelaCentralPaciente", "Paciente")">Central de Pacientes</a>
                </li>
                <li class="active">
                    <strong>Pacientes - Inclusão</strong>
                </li>
            </ol>
            <br />
        </div>
    }

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Pacientes - Inclusão</h5>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "Erros Encontrados:", new { @class = "text-danger" })
                        </div>
                    }
                    @if (TempData["TemMensagem"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            <span>@TempData["MensagemAcerto"]</span>
                        </div>
                    }                    
                    <div class="tabs-container">
                        @using (Html.BeginForm("IncluirPaciente", "Paciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <br />
                                @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;" })
                                <button style="margin-left: 15px;" class="btnSubmit btn btn-sm btn-success btn-loading" id="basictoast" type="button">Confirmar inclusão do Paciente</button>
                                @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBasePaciente", controller: "Paciente")
                                <a href="@Url.Action((String)Session["AjudaNivel"])" class="btn btn-sm btn-danger" target="_blank">Ajuda</a>
                                <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                                    <i class="fa fa-spinner fa-spin"></i> Processando...
                                </span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Informações do Paciente</a></li>
                            </ul>
                            <div class="tab-content">
                                @*Dados Gerais*@
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold;">Identificação</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                    @Html.HiddenFor(m => m.PACI_DT_CADASTRO)
                                                    @Html.HiddenFor(m => m.PACI_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.PACI_GU_GUID)
                                                    @Html.HiddenFor(m => m.PACI_DT_ALTERACAO)
                                                    @Html.HiddenFor(m => m.PACI_IN_MENSAGEM_ATRASO)
                                                    @Html.HiddenFor(m => m.PACI_IN_NUMERO_ENVIO)
                                                    @Html.HiddenFor(m => m.PACI_IN_FIM_ENVIO)
                                                    @Html.HiddenFor(m => m.PACI_IN_PADRAO_ANAMNESE)
                                                    @Html.HiddenFor(m => m.PACI_IN_PADRAO_CONTINUA)
                                                    Tipo de Paciente*
                                                    @Html.DropDownListFor(m => m.TIPA_CD_ID, (SelectList)ViewBag.Tipos, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.TIPA_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Tipo Padrão de Consulta*
                                                    @Html.DropDownListFor(m => m.VACO_CD_ID, (SelectList)ViewBag.TipoConsulta, "Selecionar", new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Selecione o tipo de consulta que será o padrão deste paciente", data_trigger="hover", data_placement="top" })
                                                    @Html.ValidationMessageFor(m => m.VACO_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Convênio
                                                    @Html.DropDownListFor(m => m.CONV_CD_ID, (SelectList)ViewBag.Convenio, "Selecionar", new { @class = "form-control", autofocus = true, @id = "convenio", onchange = "ValidaConvenio($(this).val())" })
                                                    @Html.ValidationMessageFor(m => m.CONV_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="matricula" style="display: none">
                                                    Matrícula do Convênio
                                                    @Html.TextBoxFor(m => m.PACI_NR_MATRICULA, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_NR_MATRICULA, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Menor de Idade*
                                                    @Html.DropDownListFor(m => m.PACI_IN_MENOR, (SelectList)ViewBag.Menor, "Selecionar", new { @class = "form-control", data_toggle = "popover", data_content = "Se o paciente for menor de idade será solicitado o nome de um responsável", data_trigger="hover", data_placement="top", autofocus = true, @id = "menor", onchange = "ValidaMenor($(this).val())" })
                                                    @Html.ValidationMessageFor(m => m.PACI_IN_MENOR, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12" id="resp" style="display: none">
                                                    Nome do Responsável
                                                    @Html.TextBoxFor(m => m.PACI_NM_RESPONSAVEL, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Informe o nome do responsável pelo paciente menor de idade", data_trigger="hover", data_placement="top" })
                                                    @Html.ValidationMessageFor(m => m.PACI_NM_RESPONSAVEL, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12" id="usuarioConsulta" style="color:brown">
                                                    Profissional - Consulta
                                                    @Html.DropDownListFor(m => m.USUA_CD_ID, (SelectList)ViewBag.Usuarios, "Selecionar", new { @class = "form-control", autofocus = true, @id = "usuario", data_toggle = "popover", data_content = "Profissional para o qual a nova consulta será criada", data_trigger="hover", data_placement="top", @style = "color: brown; background-color: antiquewhite"  })
                                                    @Html.ValidationMessageFor(m => m.USUA_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Criar Consulta?
                                                    @Html.DropDownListFor(m => m.CRIA_CONSULTA, (SelectList)ViewBag.Consulta, "Selecionar", new { @class = "form-control", data_toggle = "popover", data_content = "Para marcar uma consulta para esse novo paciente preencha as informações de data/hora", data_trigger="hover", data_placement="top", autofocus = true, @id = "consulta", onchange = "ValidaConsulta($(this).val())" })
                                                    @Html.ValidationMessageFor(m => m.CRIA_CONSULTA, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12" id="tipoConsulta">
                                                    Tipo de Consulta*
                                                    @Html.DropDownListFor(m => m.VACO_CD_ID_1, (SelectList)ViewBag.TipoConsulta, "Selecionar", new { @class = "form-control", autofocus = true, @id = "tc"  })
                                                    @Html.ValidationMessageFor(m => m.VACO_CD_ID_1, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="dataConsulta">
                                                    Data da Consulta*
                                                    @Html.TextBoxFor(m => m.PACO_DT_CONSULTA, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", data_toggle = "popover", data_content = "Caso a data/hora solicitada não esteja disponível a consulta não será marcada e deverá ser posteriormente marcada manualmente", data_trigger="hover", data_placement="top", autofocus = true, @id = "dc" })
                                                    @Html.ValidationMessageFor(m => m.PACO_DT_CONSULTA, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="inicioHora">
                                                    Início*
                                                    <div class='input-group date' id='datetimepicker3'>
                                                        @Html.TextBoxFor(m => m.HORA_INICIO, new { @class = "form-control time-picker", autofocus = true, @id = "hora" })
                                                        @Html.ValidationMessageFor(m => m.HORA_INICIO, "", new { @style = "color:red" })
                                                        <span class="input-group-addon">
                                                            <span style="cursor: pointer;" class="glyphicon glyphicon-time"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="finalHora">
                                                    Final*
                                                    <div class='input-group date' id='datetimepicker3'>
                                                        @Html.TextBoxFor(m => m.HORA_FINAL, new { @class = "form-control time-picker1", autofocus = true, @id = "hora1" })
                                                        @Html.ValidationMessageFor(m => m.HORA_FINAL, "", new { @style = "color:red" })
                                                        <span class="input-group-addon">
                                                            <span style="cursor: pointer;" class="glyphicon glyphicon-time"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;" id="PF">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Nome*
                                                    @Html.TextBoxFor(m => m.PACI_NM_NOME, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_NM_NOME, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12" id="RS">
                                                    Nome Social
                                                    @Html.TextBoxFor(m => m.PACI_NM_SOCIAL, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_NM_SOCIAL, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="cpf">
                                                    CPF*
                                                    @Html.TextBoxFor(m => m.PACI_NR_CPF, new { @class = "form-control", @id = "cpf1", autofocus = true, data_toggle = "popover", data_content = "Caso o paciente seja menor de idade deverá ser informado o CPF do responsável", data_trigger="hover", data_placement="top" })
                                                    @Html.ValidationMessageFor(m => m.PACI_NR_CPF, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    RG
                                                    @Html.TextBoxFor(m => m.PACI_NR_RG, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_NR_RG, "", new { @style = "color:red" })
                                                </div>
                                            </div>

                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12" id="RS">
                                                    Indicado Por
                                                    @Html.TextBoxFor(m => m.PACI_NM_INDICACAO, new { @class = "form-control", autofocus = true, @id = "txtIndicado" })
                                                    @Html.ValidationMessageFor(m => m.PACI_NM_INDICACAO, "", new { @style = "color:red" })
                                                </div>
                                                @if ((Int32)Session["BlocoAnamnese"] == 1)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Padrão da Anamnese*
                                                        @Html.DropDownListFor(m => m.PACI_IN_PADRAO_ANAMNESE, (SelectList)ViewBag.Anamnese, "Selecionar", new { @class = "form-control", data_toggle = "popover", data_content = "Selecione o padrão de anamnese deste paciente. Segmentada em tópicos ou texto contínuo", data_trigger="hover", data_placement="top", autofocus = true, @id = "padrao", onchange = "ValidaPadrao($(this).val())" })
                                                        @Html.ValidationMessageFor(m => m.PACI_IN_PADRAO_ANAMNESE, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12" id="formato">
                                                        Padrão da Anamnese Contínua*
                                                        @Html.DropDownListFor(m => m.PACI_IN_PADRAO_CONTINUA, (SelectList)ViewBag.Formato, "Selecionar", new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Selecione se a anamnese será um texto livre o cada inclusão de texto receberá um carimbo de data/hora", data_trigger="hover", data_placement="top" })
                                                        @Html.ValidationMessageFor(m => m.PACI_IN_PADRAO_CONTINUA, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Fichas Digitalizadas*
                                                        @Html.DropDownListFor(m => m.PACI_IN_FICHAS, (SelectList)ViewBag.Ficha, "Selecionar", new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Selecione se este paciente tem fichas digitalizadas externas ao sistema", data_trigger="hover", data_placement="top" })
                                                        @Html.ValidationMessageFor(m => m.PACI_IN_FICHAS, "", new { @style = "color:red" })
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Fichas Digitalizadas*
                                                        @Html.DropDownListFor(m => m.PACI_IN_FICHAS, (SelectList)ViewBag.Ficha, "Selecionar", new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Selecione se este paciente tem fichas digitalizadas externas ao sistema", data_trigger="hover", data_placement="top" })
                                                        @Html.ValidationMessageFor(m => m.PACI_IN_FICHAS, "", new { @style = "color:red" })
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        <div class="row">
                                            @*<div style="margin-left: 0px;" class="col-lg-6 col-md-6 col-xs-12">
                                                <div class="form-group">
                                                    <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Fotografia</h4><input type="file" accept=".jpg, .png, .jpeg, .gif|images/*" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="ATENÇÃO - Antes de anexar fotografia certifique-se de que ela esteja livre de vírus e outras ameaças.  " name="file" id="imgCliente" class="btn btn-sm btn-warning" multiple />
                                                    <br />
                                                </div>
                                            </div>*@

                                            @* Localize a div de Fotografia e substitua por esta estrutura *@
                                            <div style="margin-left: 0px;" class="col-lg-6 col-md-6 col-xs-12">
                                                <div class="form-group">
                                                    <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Fotografia do Paciente</h4>
        
                                                    <!-- Área de Preview da Câmera -->
                                                    <div id="camera-area" style="display:none; margin-bottom: 10px;">
                                                        <video id="video" width="320" height="240" autoplay style="border: 1px solid #ccc; border-radius: 5px;"></video>
                                                        <canvas id="canvas" width="320" height="240" style="display:none;"></canvas>
                                                        <br />
                                                        <button type="button" class="btn btn-sm btn-primary" onclick="takeSnapshot()">Capturar Foto</button>
                                                        <button type="button" class="btn btn-sm btn-danger" onclick="stopCamera()">Cancelar</button>
                                                    </div>

                                                    <!-- Controles de Upload/Câmera -->
                                                    <div id="upload-controls">
                                                        <input type="file" accept="image/*" name="file" id="imgCliente" class="btn btn-sm btn-warning" style="display:inline-block" />
                                                        <button type="button" class="btn btn-sm btn-info" onclick="startCamera()"><i class="fa fa-camera"></i> Usar Câmera</button>
                                                    </div>
        
                                                    <!-- Preview da foto capturada -->
                                                    <div id="photo-preview" style="margin-top:10px;">
                                                        <img id="captured-image" src="#" alt="Preview" style="display:none; width: 150px; border-radius: 5px;" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-xs-12">
                                                <h4 style="margin-left: -15px; color:green; background-color: beige; font-weight:bold">Anexos</h4>
                                                <input class="btn btn-sm btn-warning" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="ATENÇÃO - Antes de anexar arquivos certifique-se de que eles estejam livres de vírus e outras ameaças.  " style="margin-left: -15px;" id="inputFile" type="file" multiple />
                                                <br />
                                                <div class="form-group" style="margin-left: -15px;">
                                                    <div>
                                                        <table style="width: 100%;" class="table table-striped table-bordered table-hover dataTables-example" id="myFiles">
                                                            <thead style="background-color:lightsteelblue">
                                                                <tr>
                                                                    <td>Nome</td>
                                                                    <td>Tipo</td>
                                                                    <td>Ações</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Endereço</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    CEP
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.PACI_NR_CEP, new { @class = "form-control", @id = "cep", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.PACI_NR_CEP, "", new { @style = "color:red" })
                                                        <span class="input-group-btn">
                                                            <span class="btn btn-warning btn-sm" id="btnBuscaCep" data_toggle = "popover" data_content = "Pesquisar o CEP informado" data_trigger="hover" data_placement="top" onclick="PesquisaCep($('#cep').val(), $(this), 1)">Buscar CEP</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-xs-12" style="display:none" id="cepval">
                                                        <h5>CEP inválido</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Endereço
                                                    @Html.TextBoxFor(m => m.PACI_NM_ENDERECO, new { @class = "form-control", @id = "endereco", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_NM_ENDERECO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Número
                                                    @Html.TextBoxFor(m => m.PACI_NR_NUMERO, new { @class = "form-control", @id = "nmr", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_NR_NUMERO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Complemento
                                                    @Html.TextBoxFor(m => m.PACI_NR_COMPLEMENTO, new { @class = "form-control", autofocus = true, @id = "complemento" })
                                                    @Html.ValidationMessageFor(m => m.PACI_NR_COMPLEMENTO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Bairro
                                                    @Html.TextBoxFor(m => m.PACI_NM_BAIRRO, new { @class = "form-control", @id = "bairro", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_NM_BAIRRO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Cidade
                                                    @Html.TextBoxFor(m => m.PACI_NM_CIDADE, new { @class = "form-control", @id = "cidade", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_NM_CIDADE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    UF
                                                    @Html.DropDownListFor(m => m.UF_CD_ID, (SelectList)ViewBag.UF, "UF", new { @class = "form-control", @id = "uf", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.UF_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Contatos</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    E-Mail
                                                    @Html.TextBoxFor(m => m.PACI_NM_EMAIL, new { @class = "form-control", autofocus = true, id = "email" })
                                                    @Html.ValidationMessageFor(m => m.PACI_NM_EMAIL, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Telefone
                                                    @Html.TextBoxFor(m => m.PACI_NR_TELEFONE, new { @class = "form-control", autofocus = true, @id = "tel" })
                                                    @Html.ValidationMessageFor(m => m.PACI_NR_TELEFONE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Celular
                                                    @Html.TextBoxFor(m => m.PACI_NR_CELULAR, new { @class = "form-control", autofocus = true, @id = "cel" })
                                                    @Html.ValidationMessageFor(m => m.PACI_NR_CELULAR, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" id="pessoal">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Dados Pessoais</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Nome do Pai
                                                    @Html.TextBoxFor(m => m.PACI_NM_PAI, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_NM_PAI, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Nome da Mãe
                                                    @Html.TextBoxFor(m => m.PACI_NM_MAE, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_NM_MAE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data Nascimento*
                                                    @Html.TextBoxFor(m => m.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn" })
                                                    @Html.ValidationMessageFor(m => m.PACI_DT_NASCIMENTO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Gênero
                                                    @Html.DropDownListFor(m => m.SEXO_CD_ID, (SelectList)ViewBag.Sexo, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.SEXO_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="RS">
                                                    Raça
                                                    @Html.DropDownListFor(m => m.COR1_CD_ID, (SelectList)ViewBag.Cor, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.COR1_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Estado Civil
                                                    @Html.DropDownListFor(m => m.ESCI_CD_ID, (SelectList)ViewBag.EstadoCivil, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.ESCI_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Escolaridade
                                                    @Html.DropDownListFor(m => m.GRAU_CD_ID, (SelectList)ViewBag.GrauInstrucao, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.GRAU_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12" id="RS">
                                                    Profissão
                                                    @Html.TextBoxFor(m => m.PACI_NM_PROFISSAO, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_NM_PROFISSAO, "", new { @style = "color:red" })
                                                </div>
                                            </div>

                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Nacionalidade
                                                    @Html.DropDownListFor(m => m.NACI_CD_ID, (SelectList)ViewBag.Nacionalidades, "Selecionar", new { @class = "form-control", autofocus = true, @id = "nacion", onchange = "ValidaNacionalidade($(this).val())" })
                                                    @Html.ValidationMessageFor(m => m.NACI_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12" id="natur1">
                                                    Naturalidade
                                                    @Html.TextBoxFor(m => m.PACI_NM_NATURALIDADE, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_NM_NATURALIDADE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="uf1">
                                                    Naturalidade UF
                                                    @Html.TextBoxFor(m => m.PACI_SG_NATURALIDADE_UF, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_SG_NATURALIDADE_UF, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="uf2">
                                                    Naturalidade UF
                                                    @Html.DropDownListFor(m => m.MUNI_SG_UF, (SelectList)ViewBag.UFNatur, "Selecionar", new { @class = "form-control", autofocus = true, onchange = "FiltrarMunicipio($(this).val())", id = "uf2" })
                                                    @Html.ValidationMessageFor(m => m.MUNI_SG_UF, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12" id="natur2">
                                                    Naturalidade
                                                    @Html.DropDownListFor(m => m.MUNI_CD_ID, (SelectList)ViewBag.Municipios, "Selecionar", new { @class = "form-control", autofocus = true, @id = "natur2" })
                                                    @Html.ValidationMessageFor(m => m.MUNI_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Observações</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Observações
                                                    @Html.TextAreaFor(m => m.PACI_TX_OBSERVACOES, new { @class = "form-control", style = "width: 100%; height: 100px; overflow:auto;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PACI_TX_OBSERVACOES, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <br />
                                @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;" })
                                <button style="margin-left: 15px;" class="btnSubmit btn btn-sm btn-success btn-loading1" id="basictoast" type="button">Confirmar inclusão do Paciente</button>
                                @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBasePaciente", controller: "Paciente")
                                <a href="@Url.Action((String)Session["AjudaNivel"])" class="btn btn-sm btn-danger" target="_blank">Ajuda</a>
                                <span id="loadingIndicator1" style="display: none; margin-left: 10px; color: #007bff;">
                                    <i class="fa fa-spinner fa-spin"></i> Processando...
                                </span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#top" class="back-to-top">
    <i class="fa fa-chevron-up"></i>
</a>


@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    <style>
        html { scroll-behavior: smooth; }

        .back-to-top {
            position: fixed !important;
            bottom: 30px !important;
            left: 260px !important; 
            z-index: 999999 !important;
            width: 50px !important;
            height: 50px !important;
            background-color: #1ab394 !important;
            color: white !important;
            border-radius: 50% !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            text-decoration: none !important;
            box-shadow: 0 4px 12px rgba(0,0,0,0.3) !important;
            transition: all 0.3s ease;
        
            /* Estado inicial: Invisível e deslocado para baixo */
            opacity: 0 !important;
            visibility: hidden !important;
            transform: translateY(20px) !important;
        }

        /* Classe que o JavaScript vai adicionar ao rolar a tela */
        .back-to-top.visible {
            opacity: 1 !important;
            visibility: visible !important;
            transform: translateY(0px) !important;
        }

        .back-to-top:hover {
            background-color: #18a689 !important;
            color: white !important;
            transform: scale(1.1) !important;
        }
    </style>


}
@section Scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading1').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator1').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtIndicado').autocomplete({
                minLength: 2, 
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetIndicado", "Paciente2")', 
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            term: request.term 
                        },
                        success: function (data) {
                            response(data); 
                        },
                        error: function () {
                            console.log("Erro ao buscar dados para autocomplete.");
                        }
                    });
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Função para verificar o scroll
            function checkScroll() {
                // Verifica o scroll tanto na janela quanto no wrapper do Inspinia
                var scrollPos = $(window).scrollTop() || $('#page-wrapper').scrollTop();
            
                if (scrollPos > 300) {
                    $('.back-to-top').addClass('visible');
                } else {
                    $('.back-to-top').removeClass('visible');
                }
            }

            // Monitora o scroll em ambos os contextos possíveis no Inspinia
            $(window).on('scroll', checkScroll);
            $('#page-wrapper').on('scroll', checkScroll);

            // Clique suave
            $('.back-to-top').click(function (e) {
                e.preventDefault();
                $('html, body, #page-wrapper').animate({ scrollTop: 0 }, 600);
                return false;
            });
        
            // Executa uma vez ao carregar para garantir que comece oculto
            checkScroll();
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>


    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cpf1").mask("999.999.999-99");
            $("#cep").mask("99999-999");
            $("#cep1").mask("99999-999");
            $("#dn").mask("99/99/9999");
            $("#tel").mask("(99)9999-9999");
            $("#cel").mask("(99)99999-9999");
        });
    </script>

    <script type="text/javascript">
        function ValidaNacionalidade(valNac) {
            if (valNac == '1') {
                $("#uf1").hide();
                $("#natur1").hide();
                $("#uf2").show();
                $("#natur2").show();
            } else {
                $("#uf2").hide();
                $("#natur2").hide();
                $("#uf1").show();
                $("#natur1").show();
            }
        }
        $(document).ready(function () {
            ValidaNacionalidade($('#nacion').val());
        });
    </script>
    <script type="text/javascript">
        function ValidaMenor(men) {
            if (men == '1') {
                $("#resp").show();
            } else {
                $("#resp").hide();
            }
        }
        $(document).ready(function () {
            ValidaMenor($('#menor').val());
        });
    </script>
    <script type="text/javascript">
        function ValidaPadrao(men) {
            if (men == '2') {
                $("#formato").show();
            } else {
                $("#formato").hide();
            }
        }
        $(document).ready(function () {
            ValidaPadrao($('#padrao').val());
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('.time-picker').datetimepicker({
                datepicker: false,
                format: 'H:i'
            });
            $('.time-picker1').datetimepicker({
                datepicker: false,
                format: 'H:i'
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker3').click(function () {
                $('.time-picker').datetimepicker('show');
            });
        });
    </script>
    <script>
        function FiltrarMunicipio(UF_CD_ID) {
            var data = {
                id: UF_CD_ID
            }
            var objMunicipio = $('select#natur2');

            // Requisição para o controller
            $.ajax({
                url: '../Paciente/FiltrarMunicipio'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    // Remove todos os itens da lista e adiciona o placeholder
                    objMunicipio.children('option').remove();
                    objMunicipio.append('<option>Selecionar</option>');

                    // Loop para adicionar Itens específicos à categoria
                    r.forEach(function (e) {
                        objMunicipio.append('<option value="' + e.MUNI_CD_ID + '">' + e.MUNI_NM_NOME + '</option>');
                    });
                }
            });
        }
    </script>
    <script type="text/javascript">
        function ValidaConsulta(valNac) {
            if (valNac == '1') {
                $("#tipoConsulta").show();
                $("#dataConsulta").show();
                $("#inicioHora").show();
                $("#finalHora").show();
                $("#usuarioConsulta").show();
            } else {
                $("#tipoConsulta").hide();
                $("#dataConsulta").hide();
                $("#inicioHora").hide();
                $("#finalHora").hide();
                $("#usuarioConsulta").hide();
            }
        }
        $(document).ready(function () {
            ValidaConsulta($('#consulta').val());
        });
    </script>

    <script type="text/javascript">
        function ValidaConvenio(conv) {
            if (conv != '' & conv > 0) {
                $("#matricula").show();
            } else {
                $("#matricula").hide();
            }
        }
        $(document).ready(function () {
            ValidaConvenio($('#convenio').val());
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Inclusão em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>
    <script>
        function PesquisaCep(cep, btn, tipoEnd) {
            data = {
                cep: cep
                , tipoEnd: tipoEnd
            }

            //$(btn).attr("disabled", "disabled");

            $.ajax({
                url: '/Paciente2/PesquisaCEP_JavascriptNova'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    if (r.Sucesso == 0) {
                        if (tipoEnd == 1) {
                            $("#cepval").show();
                        //    $('#btnBuscaCep').removeAttr("disabled");
                        }

                    }
                    else {
                        $("#cepval").hide();
                        $("#cepval1").hide();
                        if (tipoEnd == 1) {
                            $('#endereco').val(r.PACI_NM_ENDERECO);
                            $('#nmr').val(r.PACI_NR_NUMERO);
                            $('#bairro').val(r.PACI_NM_BAIRRO);
                            $('#cidade').val(r.PACI_NM_CIDADE);
                            $('#uf option[value="' + r.UF_CD_ID + '"]').attr("selected", "selected");
                            $('#btnBuscaCep').removeAttr("disabled");
                        }
                    }
                }
            });
        }
    </script>

    <script>
        SendFilesV2('imgCliente', 'Paciente', 'UploadFileToSession');
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script type="text/javascript">
        var video = document.getElementById('video');
        var canvas = document.getElementById('canvas');
        var stream = null;

        function startCamera() {
            $('#camera-area').show();
            $('#upload-controls').hide();
        
            navigator.mediaDevices.getUserMedia({ video: true, audio: false })
                .then(function(s) {
                    stream = s;
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function(err) {
                    alert("Erro ao acessar a câmera: " + err);
                    stopCamera();
                });
        }

        function stopCamera() {
            if (stream) {
                stream.getTracks().forEach(track => track.stop());
            }
            $('#camera-area').hide();
            $('#upload-controls').show();
        }

        function takeSnapshot() {
            var context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, 320, 240);
        
            // Converter o canvas para Blob (formato de arquivo)
            canvas.toBlob(function(blob) {
                // Criar um arquivo a partir do blob
                var file = new File([blob], "foto_paciente.jpg", { type: "image/jpeg" });
            
                // Mostrar preview
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#captured-image').attr('src', e.target.result).show();
                };
                reader.readAsDataURL(file);

                // GATILHO IMPORTANTE:
                // Envia para o seu método existente de Session que você já usa no input file
                uploadCapturedPhoto(file);
            
                stopCamera();
            }, 'image/jpeg');
        }

        function uploadCapturedPhoto(file) {
            var formData = new FormData();
            // 1. O nome deve ser 'files' para coincidir com o IEnumerable no C#
            formData.append('files', file);
            // 2. Garanta que o parâmetro 'profile' seja enviado
            formData.append('profile', 'foto_paciente.jpg'); 

            $.ajax({
                url: '@Url.Action("UploadFileToSession", "Paciente")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(r) {
                    toastr.success("Foto capturada e preparada para salvar!");
                },
                error: function(xhr, status, error) {
                    // Instrumentação para ver o erro real no console (F12)
                    console.error("Erro detalhado:", xhr.responseText);
                    toastr.error("Erro ao processar captura na sessão: " + error);
                }
            });
        }
    </script>




    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
