@using Presentation.Extensions
@using CrossCutting
@model EntitiesServices.Model.PACIENTE
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDcotor - Dashboard Inicial";
    ViewBag.MetaDescription = "WebDcotor - Dashboard Inicial";
    ViewBag.MetaKeywords = "WebDoctor, Dashboard, Inicial";
}

<script type="application/ld+json">
  {
    "context": "https://schema.org",
    "type": "Paciente",
    "name": "Paciente - Cadastro",
    "description": "Cadastramento de novo paciente"
  }
</script>
<!-- Mova este bloco para fora de qualquer div de coluna, se possível coloque no topo ou fim do arquivo -->
    <div class="modal inmodal fade" id="modalAviso" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    @* Adicionamos o ID 'modalIconeDinamico' *@
                    <i id="modalIconeDinamico" class="fa modal-icon"></i>
                    <h4 class="modal-title" id="modalTitle">Aviso</h4>
                </div>
                <div class="modal-body">
                    <div id="modalBodyContent"></div>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                </div>*@
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="confirmarLeitura()">Entendi, não mostrar novamente</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                </div>*@
                <div class="modal-footer">
                    @* Novo botão para o PDF *@
                    <a id="btnVerPdf" href="#" target="_blank" class="btn btn-danger" style="display:none;">
                        <i class="fa fa-file-pdf-o"></i> Visualizar PDF
                    </a>
                    <button type="button" class="btn btn-primary" onclick="confirmarLeitura()">Entendi, não mostrar novamente</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

<div id="content" class="wraper container-fluid">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*Titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        @*Atalhos*@
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h3 style="color:olivedrab; font-weight:bold">WebDoctorPro - Dashboard Inicial</h3>
            </div>

            @if (ViewBag.ListasFabricante != null && ((List<EntitiesServices.Model.MENSAGEM_FABRICANTE>)ViewBag.ListasFabricante).Any())
            {
                var avisos = (List<EntitiesServices.Model.MENSAGEM_FABRICANTE>)ViewBag.ListasFabricante;

                <div class="col-lg-8 col-md-8 col-sm-12 marquee-text-container"> @* Removi a classe de cor daqui *@
                    <div class="marquee-text-content">
                        @for (int i = 0; i < 2; i++)
                        {
                            foreach (var item in avisos)
                            {
                                string corItem = item.MEFA_IN_TIPO == 2 ? "marquee-warning-item" : "marquee-info-item";
                                // Define o ícone baseado no tipo
                                string iconeModal = item.MEFA_IN_TIPO == 2 ? "fa-exclamation-triangle" : "fa-info-circle";
    
                                @*<a href="javascript:void(0);" class="marquee-msg @corItem" data-id="@item.MEFA_CD_ID" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Clique para ver detalhes deste aviso"  
                                   onclick="abrirModalAviso('@item.MEFA_CD_ID', '@item.MEFA_LK_LINK', '@Html.Raw(HttpUtility.JavaScriptStringEncode(item.MEFA_TX_TEXTO))', '@iconeModal')">
                                    <i class="fa @(item.MEFA_IN_TIPO == 2 ? "fa-exclamation-triangle" : "fa-info-circle")"></i>
                                    @item.MEFA_LK_LINK
                                </a>*@

                                <a href="javascript:void(0);" class="marquee-msg @corItem" 
                                   onclick="abrirModalAviso('@item.MEFA_CD_ID', '@item.MEFA_LK_LINK', '@Html.Raw(HttpUtility.JavaScriptStringEncode(item.MEFA_TX_TEXTO))', '@iconeModal', '@item.MEFA_AQ_ARQUIVO')">
                                    <i class="fa @(item.MEFA_IN_TIPO == 2 ? "fa-exclamation-triangle" : "fa-info-circle")"></i>
                                    @item.MEFA_LK_LINK
                                </a>


                            }

                        }
                    </div>
                </div>

                <div class="col-lg-1 col-md-1 col-sm-12" style="padding-top: 8px;"> 
                    <div class="row">
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-xs btn-outline btn-info" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Restaura avisos marcados como lidos" onclick="limparHistoricoAvisos()"><i class="fa fa-refresh"></i> Restaurar Avisos</button>
                    </div>
                </div>
            }

        </div>

        @*Widgets*@
        <br />
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        }
        <div class="row">
            <div class="form-group" style=" margin-left: 15px; margin-right: 0px;">
                @* --- INÍCIO DA AJUDA CONTEXTUAL --- *@
                <details class="ajuda-contextual">
                    <summary><i class="fa fa-info-circle text-info"></i> Resumo das funcionalidades desta página</summary>
                    <div class="well well-sm">
                        <p>Essa é a página central do <b>WebDoctorPro</b>. Nela você poderá:</p>
                        <ol>
                            <li>Exibe as informações disponibilizadas pela RTi com possibilidade de visualização.</li>
                            <li>Localizar (filtrar) um paciente pelo nome e acessar a sua página principal.</li>
                            <li>Visualizar as consultas confirmadas do dia e abrir a página de procedimento da consulta</li>
                            <li>Visualizar os aniversariantes do dia.</li>
                            <li>Visualizar os avisos pendentes.</li>
                            <li>Acessar a página de inclusão de pacientes.</li>
                            <li>Acessar a página de marcação/confirmação de consultas.</li>
                            <li>Acessar a página de bloqueios de horários.</li>
                            <li>Acessar a central de pacientes.</li>
                            <li>Acessar a central de consultas.</li>
                            <li>Acessar a central de atestados.</li>
                            <li>Acessar a central de prescrições.</li>
                            <li>Acessar a central de solicitações de exames.</li>
                            <li>Acessar a central de resultados de exames.</li>
                            <li>Acessar o histórico dos pacientes.</li>
                            <li>Acessar as informações enviadas por pacientes através da Área do Paciente.</li>
                        </ol>
                    </div>
                </details>
                @* --- FIM DA AJUDA CONTEXTUAL --- *@
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Pacientes</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.Ausencia</h1>
                        <small>
                            <a href="@Url.Action("MontarTelaAusencias", "Paciente2")" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Ver pacientes ausentes. Sem retorno após a data prevista. Ativa apenas se a opção de cálculo da data da próxima consulta estiver ativa na Configuração">Mais de @ViewBag.AusenciaDias meses sem retorno</a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Pacientes</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.ListaPacienteAnivDiaConta</h1>
                        <small><a href="@Url.Action("EnviarMailAniversario", "Paciente")" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar aniversariantes do dia e envio de mensagem por e-mail" >Aniversariantes do Dia</a></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Consultas</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.NumConsultas</h1>
                        <small><a href="@Url.Action("MontarTelaConsultas", "Paciente")" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Verificar as consultas marcadas para a data corrente" >Consultas Confirmadas do Dia</a></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Consultas</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.NaoEncerradasNumero</h1>
                        @if (ViewBag.NaoEncerradasNumero > 0)
                        {
                            <small class="pisca"><a href="@Url.Action("MontarTelaEncerrarConsulta", "Financeiro")" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Verificar e processar as consultas não encerradas" >Consultas Não Encerradas</a></small>
                        }
                        else
                        {
                            <small><a href="@Url.Action("MontarTelaEncerrarConsulta", "Financeiro")" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Verificar e processar as consultas não encerradas">Consultas Não Encerradas</a></small>
                        }
                    </div>
                </div>
            </div>
            @*<div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Avisos RTi</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.NumListasFabricante</h1>
                        <small><a href="@Url.Action("MontarTelaAvisosRTi", "Paciente2")" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar todos os avisos da Rti disponíveis">Avisos Disponíveis</a></small>
                    </div>
                </div>
            </div>*@
        </div>
        @*Atalhos*@
        <div class="row">
            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <a href="@Url.Action("MontarTelaCentralPaciente", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Pacientes" class="btn btn-sm btn-success btn-loading" id="emp" OnClick = "Fade()">Central de Pacientes</a>                
                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PACIENTE_CONSULTA_ACESSO == 1)
                    {
                        <a href="@Url.Action("MontarTelaConsultas", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Consultas" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Consultas</a>                
                    }
                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PRESCRICAO_ACESSO == 1)
                    {
                        <a href="@Url.Action("MontarTelaPrescricoes", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Prescrições para todos os pacientes" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Prescrições</a>                
                    }
                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ATESTADO_ACESSO == 1)
                    {
                        <a href="@Url.Action("MontarTelaAtestados", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Atestados para todos os pacientes" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Atestados</a>                
                    }
                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_SOLICITACAO_ACESSO == 1)
                    {
                        <a href="@Url.Action("MontarTelaSolicitacoes", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Solicitações de Exames para todos os pacientes" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Solicitações de Exames</a>                
                    }
                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_EXAME_ACESSO == 1)
                    {
                        <a href="@Url.Action("MontarTelaExames", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Resultados de Exames para todos os pacientes" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Resultados de Exames</a>                
                    }
                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_EXAME_ACESSO == 1)
                    {
                        <a href="@Url.Action("MontarTelaHistoricoGeral", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso aos históricos de todos os pacientes" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Histórico dos Pacientes</a>                
                    }
                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_AREA_PACIENTE == 1)
                    {
                        <a href="@Url.Action("MontarTelaAreaPacienteVer", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso às informações da área do paciente" class="btn btn-sm btn-primary btn-loading" id="emp" OnClick = "Fade()">Informações da Área do Paciente</a>                
                    }
                    @*<a href="@Url.Action("SincronizarArquivosAzure", "BaseAdmin")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Sincronização dos arquivos" class="btn btn-sm btn-primary btn-danger" id="emp" OnClick = "Fade()">Sincronizar Arquivos</a>*@                
                    <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank" >Ajuda</a>               
                    <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                        <i class="fa fa-spinner fa-spin"></i> Processando...
                    </span>
                </div>
                <br /><br />
            </div>
        </div>

        @*Graficos*@
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Dashboard Inicial</h5>
                    </div>
                    <div class="ibox-content" style="height: 2100px">
                        <div class="col-lg-8 col-md-8 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                <div class="ibox-title">
                                    <h4>Pacientes</h4>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        @using (Html.BeginForm("FiltrarPaciente", "Paciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Nome/Nome Social
                                                    @Html.TextBoxFor(m => m.PACI_NM_NOME, new { @class = "form-control", data_toggle = "popover", data_content = "Forneça um nome de paciente, ou parte dele, e clique em [Filtrar]", data_trigger="hover", data_placement="top", autofocus = true, @id = "txtNomePaciente" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    @Html.ButtonActionSubmit(text: "Filtrar", htmlAttributes: new { @class = "btn-loading1" })
                                                    <a href="@Url.Action("RetirarFiltroPaciente", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Retorna à lista padrão de pacientes" class="btn btn-sm btn-warning btn-loading6" id="emp" OnClick = "Fade()">Retirar Filtro</a>                
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_INCLUIR_PACIENTE == 1)
                                                    {
                                                        <a href="@Url.Action("IncluirPaciente", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abre a página de inclusão de novo paciente" class="btn btn-sm btn-primary btn-loading6" id="emp" OnClick = "Fade()">Novo Paciente</a>                
                                                    }
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_VISAO_GERAL == 1)
                                                    {
                                                        <a href="@Url.Action("MontarTelaMarcacaoConsulta", "Paciente2")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abre a página de marcação de consultas" class="btn btn-sm btn-primary btn-loading6" id="emp" OnClick = "Fade()">Marcação de Consultas</a>                
                                                    }
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_CONF_CANC_CONSULTA == 1)
                                                    {
                                                        <a href="@Url.Action("ConfirmarCancelarConsulta", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abre a página de confirmação e cancelamento de consultas" class="btn btn-sm btn-primary btn-loading6" id="emp" OnClick = "Fade()">Confirmação de Consultas</a>                
                                                    }
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_BLOQUEIO == 1)
                                                    {
                                                        <a href="@Url.Action("MontarTelaBloqueio", "Configuracao")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abre a página de configuração de bloqueios de datas e horários" class="btn btn-sm btn-primary btn-loading6" id="emp" OnClick = "Fade()">Bloqueio de Horário</a>                
                                                    }
                                                    @*<a href="@Url.Action("MontarTelaAviso", "Aviso")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abre a página de visualização e gerenciamento dos avisos e lembretes do usuário" class="btn btn-sm btn-primary btn-loading6" id="emp" OnClick = "Fade()">Avisos/Lembretes</a>*@                
                                                </div>
                                                <span id="loadingIndicator6" style="display: none; margin-left: 15px; color: #007bff;">
                                                    <i class="fa fa-spinner fa-spin"></i> Processando...
                                                </span>
                                             </div>
                                        }

                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="row">
                                                    <div class="form-group" style=" margin-left: 15px; margin-right: 15px;">
                                                        @if (ViewBag.Listas != null &&(ViewBag.Listas as List<EntitiesServices.Model.PACIENTE>).Count > 0)
                                                        {
                                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                <thead style="background-color:lightsteelblue">
                                                                    <tr>
                                                                        <th style="width: auto">Nome</th>
                                                                        <th style="width: auto">E-Mail</th>
                                                                        <th style="width: auto">Celular</th>
                                                                        <th style="width: auto">Última Consulta</th>
                                                                        <th style="width: auto">Retorno Previsto</th>
                                                                        <th style="width: auto"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.PACIENTE>).OrderByDescending(p => p.PACI_DT_CONSULTA))
                                                                    {
                                                                        <tr>
                                                                            @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ALTERAR_PACIENTE == 1)
                                                                            {
                                                                                <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("EditarPaciente", "Paciente", new { id = cond.PACI__CD_ID })" class="btn-loading6" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Alterar         /Consultar paciente"/>@cond.PACI_NM_NOME</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("ConsultarPaciente", "Paciente", new { id = cond.PACI__CD_ID })"  class="btn-loading6" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar paciente"/>@cond.PACI_NM_NOME</td>
                                                                            }

                                                                            <td style="width: auto">@cond.PACI_NM_EMAIL</td>
                                                                            <td style="width: auto">@cond.PACI_NR_CELULAR</td>
                                                    
                                                                            @if (cond.PACI_DT_CONSULTA != null) 
                                                                            {
                                                                                <td style="width: auto">@cond.PACI_DT_CONSULTA.Value.ToShortDateString()</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td style="width: auto">-</td>
                                                                            }
                                                    
                                                                            @if (cond.PACI_DT_PREVISAO_RETORNO != null)
                                                                            {
                                                                                <td style="width: auto">@cond.PACI_DT_PREVISAO_RETORNO.Value.ToShortDateString()</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td style="width: auto">-</td>
                                                                            }
                                                                            @*@if (!String.IsNullOrEmpty(cond.PACI_AQ_FOTO))
                                                                            {
                                                                                <td style="width: auto"><img src="@Url.Content(cond.PACI_AQ_FOTO)" style="width: auto; height: auto; max-height: 75px; max-width: 65px;" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Clique Ctrl+Ctrl para ampliar a fotografia"></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td style="width: auto"><img src="~/Images/icon_morador.png" style="width: auto; height: auto; max-height: 65px; max-width: 55px;"  ></td>
                                                                            }*@
                                                                            @if (!String.IsNullOrEmpty(cond.PACI_AQ_FOTO))
                                                                            {
                                                                                // Tratamento manual da URL dentro do loop
                                                                                var caminhoLimpo = cond.PACI_AQ_FOTO.Replace("~/", "").Replace("~", "");
                                                                                var urlFinal = "https://rtistoragemain.blob.core.windows.net/rti-datacontainer/" + caminhoLimpo;

                                                                                <td style="width: auto">
                                                                                    <img src="@urlFinal" 
                                                                                         style="width: auto; height: auto; max-height: 75px; max-width: 65px;" 
                                                                                         data-toggle="popover" data-trigger="hover" data-placement="top" 
                                                                                         data-content="Clique Ctrl+Ctrl para ampliar a fotografia"
                                                                                         onerror="this.onerror=null;this.src='@Url.Content("~/Images/icon_morador.png")';">
                                                                                </td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td style="width: auto">
                                                                                    <img src="~/Images/icon_morador.png" style="width: auto; height: auto; max-height: 65px; max-width: 55px;">
                                                                                </td>
                                                                            }

                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                        else
                                                        {
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-xs-2">
                                                                </div>
                                                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-6 col-md-6 col-xs-8">
                                                                    <h2 style="font-weight: bold">Nenhum paciente cadastrado</h2>
                                                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Paciente", action: "RetirarFiltroPaciente")
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-xs-2">
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                     
                                    </div>
                                </div>
                            </div>                          
                            
                        </div>

                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                    <div class="ibox-title">
                                        <h4>Consultas - @ViewBag.Hoje</h4>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            @if (ViewBag.Consultas != null && (ViewBag.Consultas as List<EntitiesServices.Model.PACIENTE_CONSULTA>).Count > 0)
                                            {
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead style="background-color:lightsteelblue">
                                                        <tr>
                                                            <th>Nome</th>
                                                            <th>Início</th>
                                                            <th class="td-one-action">Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var cond in (ViewBag.Consultas as List<EntitiesServices.Model.PACIENTE_CONSULTA>))
                                                        {
                                                            <tr>
                                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ALTERAR_PACIENTE == 1)
                                                                {
                                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("EditarPaciente", "Paciente", new { id = cond.PACIENTE.PACI__CD_ID })" class="btn-loading3"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Editar/Consultar paciente" />@cond.PACIENTE.PACI_NM_NOME</td>
                                                                }
                                                                else
                                                                {
                                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("ConsultarPaciente", "Paciente", new { id = cond.PACIENTE.PACI__CD_ID })" class="btn-loading3"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar paciente"/>@cond.PACIENTE.PACI_NM_NOME</td>
                                                                }
                                                                <td>@cond.PACO_HR_INICIO.ToString()</td>
                                                                <td class="td-one-action">
                                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PACIENTE_CONSULTA_ALTERAR == 1)
                                                                    {
                                                                        if (cond.PACO_IN_CONFIRMADA == 1)
                                                                        {
                                                                            @Html.TableLinkDetails(cond.PACO_CD_ID, "ProcederConsulta", "fa-clock-o btn-loading3", "Proceder a Consulta")
                                                                        }
                                                                        else if (cond.PACO_IN_CONFIRMADA == 0)
                                                                        {
                                                                            <span style="color: #337ab7; cursor:pointer;" alt="Confirmar" class="tbl-link fa-lg fa fa-minus" title="Pendente"></span>
                                                                        }
                                                                        else if (cond.PACO_IN_CONFIRMADA == 2)
                                                                        {
                                                                            <span style="color: #337ab7; cursor:pointer;" alt="Cancelar" class="tbl-link fa-lg fa fa-times" title="Cancelada"></span>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TableLinkDetails(cond.PACO_CD_ID, "VerConsulta", "fa-search btn-loading3", "Ver")
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                    <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                        <h4 style="font-weight: bold">Nenhuma consulta confirmada hoje</h4>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                </div>
                                            }
                                            <span id="loadingIndicator3" style="display: none; margin-left: 10px; color: #007bff;">
                                                <i class="fa fa-spinner fa-spin"></i> Processando...
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>  

                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                    <div class="ibox-title">
                                        <h4>Informações Prévias Pendentes</h4>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            @if (ViewBag.ListaPrevia != null && (ViewBag.ListaPrevia as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                            {
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead style="background-color:lightsteelblue">
                                                        <tr>
                                                            <th>Consulta</th>
                                                            <th>Nome</th>
                                                            <th class="td-one-action">Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var cond in (ViewBag.ListaPrevia as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).OrderBy(p => p.DataEmissao).ThenBy(p => p.Nome))
                                                        {
                                                            <tr>
                                                                <td>@cond.DataEmissao.ToShortDateString()</td>
                                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ALTERAR_PACIENTE == 1)
                                                                {
                                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("EditarPaciente", "Paciente", new { id = cond.Valor2 })"  class="btn-loading2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Editar/Consultar paciente" />@cond.Nome</td>
                                                                }
                                                                else
                                                                {
                                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("ConsultarPaciente", "Paciente", new { id = cond.Valor2})"  class="btn-loading2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar paciente"/>@cond.Nome</td>
                                                                }
                                                                <td class="td-one-action">
                                                                    @Html.TableLinkDetails(cond.Valor1, "VisualizarPrevia", "fa-search btn-loading2", "Visualizar")
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                    <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                        <h4 style="font-weight: bold">Nenhuma Informação Pendente</h4>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                </div>
                                            }
                                            <span id="loadingIndicator2" style="display: none; margin-left: 10px; color: #007bff;">
                                                <i class="fa fa-spinner fa-spin"></i> Processando...
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                            
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                    <div class="ibox-title">
                                        @*<h4>Aniversariantes do Dia</h4>*@
                                        <a href="@Url.Action("EnviarMailAniversario", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Aniversariantes"><h4>Aniversariantes de Hoje</h4></a>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            @if (ViewBag.ListaPacienteAnivDia != null && (ViewBag.ListaPacienteAnivDia as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                            {
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead style="background-color:lightsteelblue">
                                                        <tr>
                                                            <th>Nome</th>
                                                            <th>Data</th>
                                                            <th class="td-one-action">Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var cond in (ViewBag.ListaPacienteAnivDia as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).OrderBy(p => p.DataEmissao).ThenBy(p => p.Nome))
                                                        {
                                                            <tr>
                                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ALTERAR_PACIENTE == 1)
                                                                {
                                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("EditarPaciente", "Paciente", new { id = cond.Valor1})" class="btn-loading4"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Editar/Consultar paciente"/>@cond.Nome</td>
                                                                }
                                                                else
                                                                {
                                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("ConsultarPaciente", "Paciente", new { id = cond.Valor1})" class="btn-loading4"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar paciente" />@cond.Nome</td>
                                                                }
                                                                @if (cond.DataEmissao.Date == DateTime.Today.Date)
                                                                {
                                                                    <td style="color: green; font-weight: bold">@cond.DataEmissao.ToShortDateString()</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@cond.DataEmissao.ToShortDateString()</td>
                                                                }
                                                                <td class="td-one-action">
                                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ALTERAR_PACIENTE == 1)
                                                                    {
                                                                        @Html.TableLinkDetails(cond.Valor1, "EditarPaciente", "fa-edit  btn-loading4", "Editar")
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TableLinkDetails(cond.Valor1, "ConsultarPaciente", "fa-search  btn-loading4", "Ver")
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                    <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                        <h4 style="font-weight: bold">Nenhum Aniversariante Hoje</h4>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                </div>
                                            }
                                            <span id="loadingIndicator4" style="display: none; margin-left: 10px; color: #007bff;">
                                                <i class="fa fa-spinner fa-spin"></i> Processando...
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                    <div class="ibox-title">
                                        <h4>Avisos Pendentes de Visualização</h4>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            @if (ViewBag.ListaAvisoAtivo != null && (ViewBag.ListaAvisoAtivo as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                            {
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead style="background-color:lightsteelblue">
                                                        <tr>
                                                            <th>Aviso</th>
                                                            <th>Data</th>
                                                            <th class="td-one-action">Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var cond in (ViewBag.ListaAvisoAtivo as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).OrderBy(p => p.DataEmissao).ThenBy(p => p.Nome))
                                                        {
                                                            <tr>
                                                                <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("EditarAviso", "Aviso" , new { id = cond.Valor2})" class="btn-loading5" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Visualizar o aviso/lembrete" />@cond.Nome</td>
                                                                <td>@cond.DataEmissao.ToShortDateString()</td>
                                                                <td class="td-one-action">
                                                                    @Html.TableLinkDetails(cond.Valor2, "VerAviso", "fa-search btn-loading5", "Ver")
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                    <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                        <h4 style="font-weight: bold">Nenhum aviso pendente</h4>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                </div>
                                            }
                                            <span id="loadingIndicator5" style="display: none; margin-left: 10px; color: #007bff;">
                                                <i class="fa fa-spinner fa-spin"></i> Processando...
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    <style>
        /* 1. Aumenta a largura e garante o espaço interno */
        #toast-container > .toast {
            width: 500px !important; 
            max-width: 500px !important;
            opacity: 0.95 !important;
        }

        /* 2. Remove o ícone nativo do Toastr (Background Image) */
        #toast-container > .toast-success {
            background-image: none !important;
        }

        /* 3. Remove ícones do FontAwesome/Inspinia injetados via ::before no Título */
        .toast-success .toast-title::before, 
        .toast-success .toast-title::after,
        .toast-success::before {
            content: none !important;
            display: none !important;
        }

        /* 4. Ajusta o recuo do texto já que removemos o ícone */
        .toast-success .toast-title, 
        .toast-success .toast-message {
            padding-left: 10px !important;
        }

        .marquee-text-container {
                width: 100%;
                overflow: hidden;
                /*background: #fdfdfd;*/ /* Fundo suave */
                background: #f1f9f2; /* Fundo suave */
                border-bottom: 1px solid #e7eaec;
                padding: 10px 0;
                display: flex;
                user-select: none;
            }

        .marquee-text-content {
            display: flex;
            gap: 80px; /* Grande espaçamento entre as mensagens */
            animation: scroll-text 40s linear infinite; /* 40 segundos para leitura confortável */
            white-space: nowrap;
        }

        /* Pausa a animação ao passar o mouse para facilitar a leitura */
        .marquee-text-container:hover .marquee-text-content {
            animation-play-state: paused;
            cursor: default;
        }

        .marquee-msg {
            font-size: 13px;
            color: #676a6c; /* Cor do texto padrão Inspinia */
            font-weight: 500;
            display: flex;
            align-items: center;
        }

        .marquee-msg i {
            margin-right: 8px;
            color: #1ab394; /* Verde Inspinia nos ícones */
        }

        /* Variante: Azul Informativo (Info) */
        .marquee-info {
            background-color: #d9edf7 !important; /* Azul claro */
            border-bottom: 1px solid #bce8f1;
        }
        .marquee-info .marquee-msg {
            color: #31708f !important;
        }
        .marquee-info .marquee-msg i {
            color: #31708f !important;
        }

        /* Variante: Amarelo Atenção (Warning) */
        .marquee-warning {
            background-color: #fcf8e3 !important; /* Amarelo claro */
            border-bottom: 1px solid #faebcc;
        }
        .marquee-warning .marquee-msg {
            color: #8a6d3b !important;
        }
        .marquee-warning .marquee-msg i {
            color: #8a6d3b !important;
        }

        /* Ajuste de animação para garantir suavidade */
        .marquee-text-content {
            display: flex;
            gap: 80px;
            animation: scroll-text 45s linear infinite;
            white-space: nowrap;
        }
        .marquee-msg {
            cursor: pointer;
            text-decoration: none !important;
            transition: transform 0.2s;
        }
        .marquee-msg:hover {
            transform: scale(1.05);
            font-weight: bold;
        }

        /* Estilos para itens individuais */
        .marquee-info-item { color: #31708f !important; margin-right: 40px; }
        .marquee-warning-item { color: #8a6d3b !important; font-weight: bold; margin-right: 40px; }
    
        .marquee-warning-item i { color: #8a6d3b !important; }
        .marquee-info-item i { color: #31708f !important; }

        /* Garante que o fundo do container seja neutro para aceitar as duas cores */
        .marquee-text-container { background: #f8f9fa !important; border-bottom: 1px solid #e7eaec; }

        /* Animação para mover exatamente 50% (o primeiro grupo de mensagens) */
        @@keyframes scroll-text {
            from { transform: translateX(0); }
            to { transform: translateX(-50%); }
        }

        #modalBodyContent {
            white-space: pre-line;
            line-height: 1.6; /* Melhora a leitura como na imagem */
        }
    </style>

    <style>
        /* Força a modal a ficar à frente do backdrop e de outros elementos do Inspinia */
        #modalAviso {
            z-index: 2050 !important;
        }
        .modal-backdrop {
            z-index: 2040 !important;
        }
    
        /* Garante que o letreiro não sobreponha a modal se ela abrir */
        .marquee-text-container {
            z-index: 1000;
            position: relative;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <script>
        function Fade() {
            $('.dotContainer').fadeIn("fast");
            $('#login').css("filter", "blur(4px)");
        }
    </script>
    <script>
        $(window).on("load", function () {
            $('.dotContainer').fadeOut("slow");
            $('#title').css("filter", "blur(0)");
            $('#content').css("filter", "blur(0)");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading1').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator6').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading2').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator2').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading3').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator3').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading4').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator4').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading5').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator5').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading6').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator6').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtNomePaciente').autocomplete({
                minLength: 2, 
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetPacienteNome", "Paciente2")', 
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            term: request.term 
                        },
                        success: function (data) {
                            response(data); 
                        },
                        error: function () {
                            console.log("Erro ao buscar dados para autocomplete.");
                        }
                    });
                }
            });
        });
    </script>


    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Paciente?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação de Paciente?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Reativação</h5>');
            $('#modal').modal('show');
        }
        function ShowModalConfirmar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma Visualização do Aviso?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confirmar Visualização</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'Paciente_Planilha' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]
            });          
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../Paciente/GetDadosConsultaDia'
                , type: 'POST'
                , success: function (result) {
                    var barData = {
                        labels: result.dias,
                        datasets: [
                            {
                                label: "Total por Dia",
                                backgroundColor: 'rgba(26,179,148,0.5)',
                                pointBorderColor: "#fff",
                                data: result.valores
                            }
                        ]
                    };

                    var barOptions = {
                        responsive: true
                    };

                    var ctx2 = document.getElementById("barChartConsultaDia").getContext("2d");
                    new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
                }
            });
        });
    </script>

    <div class="modal inmodal fade" id="modalDemo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="position: relative; padding: 30px 15px;">
                    <img src="@Url.Content("~/Images/Prontuario/prontuario_icon_3.png?v=1.1")" 
                         style="position: absolute; left: 15px; top: 15px; width: 40px; height: auto;" 
                         alt="Ícone" />

                    <i class="fa fa-warning modal-icon" style="display: block;"></i>
                    <h4 class="modal-title">Assinatura de Demonstração</h4>
                    <small class="font-bold">Assinatura Ativa</small>
                </div>
            
                <div class="modal-body text-center">
                    <h3>Faltam @TempData["DiasDemo"] dias para encerrar a sua assinatura de demonstração. </h3>
                    <p>Clique em <b>Contratar Assinatura</b> para efetivar a sua assinatura do <b>WebDoctorPro</b>.</p>
                </div>
            
                <div class="modal-footer">
                    <a href="@Url.Action("MontarTelaCompraBasicoNova", "BaseAdmim")" class="btn btn-primary">Contratar Assinatura</a>
                    <button type="button" class="btn btn-white" data-dismiss="modal" style="border-radius: 4px;">Prosseguir</button>
                </div>
            </div>
        </div>
    </div>

    @if (TempData["DemoAtivo"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#modalDemo').modal({
                    backdrop: 'static', // Impede fechar clicando fora
                    keyboard: false     // Impede fechar com Esc
                });
            });
        </script>
    }
    <script type="text/javascript">
        $(document).ready(function () {
            // Configurações globais do Toastr
            toastr.options = {
                "closeButton": true,
                //"debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "15000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            //    "iconClass": "customer-toast-info", // Se quiser remover o ícone padrão totalmente
            //    "titleClass": "toast-title",
            //    "messageClass": "toast-message"
            };

            // Verifica se existe mensagem de sucesso no TempData (vinda do Redirect)
            var msgSucesso = '@TempData["MensagemAcerto"]';
            if (msgSucesso != '') {
                toastr.success(msgSucesso, 'Sucesso!');
            }

            // Verifica se existe mensagem de erro
            var msgErro = '@TempData["MensagemErro"]';
            if (msgErro != '') {
                toastr.error(msgErro, 'Erro!');
            }
        });
    </script>

    @*<script type="text/javascript">
        function abrirModalAviso(titulo, detalhe, icone) {
            // 1. Define o título e o texto
            $('#modalTitle').text(titulo);
            $('#modalBodyContent').html(detalhe);

            // 2. Limpa classes antigas de ícone e cor
            var $iconeElemento = $('#modalIconeDinamico');
            $iconeElemento.removeClass('fa-info-circle fa-exclamation-triangle text-primary text-warning');

            // 3. Aplica o ícone e a cor correta baseada no ícone recebido
            $iconeElemento.addClass(icone);
        
            if (icone === 'fa-exclamation-triangle') {
                $iconeElemento.addClass('text-warning'); // Amarelo para alertas
            } else {
                $iconeElemento.addClass('text-primary'); // Azul para info
            }

            // 4. Abre a modal
            $('#modalAviso').modal('show');
        }
    </script>*@

    <script type="text/javascript">
        var idAvisoAtual = 0;
        const COOKIE_NAME = "WebDoctor_AvisosLidos";

        $(document).ready(function () {
            filtrarAvisosLidos();
        });

        function abrirModalAviso(id, titulo, texto, icone, arquivoPdf) {
            // CORREÇÃO: Atualiza a variável global com o ID do aviso clicado
            idAvisoAtual = id;

            // Preenche título e o conteúdo do texto na modal
            $('#modalTitle').text(titulo);
            $('#modalBodyContent').html(texto); // Aqui exibe o conteúdo do campo MEFA_TX_TEXTO
    
            // Configura o ícone dinâmico
            $('#modalIconeDinamico').attr('class', 'fa modal-icon ' + icone);

            // Lógica do botão PDF
            var btnPdf = $('#btnVerPdf');
            if (arquivoPdf && arquivoPdf.trim() !== "") {
                // Remove o til (~) e limpa a URL
                var caminhoTratado = arquivoPdf.replace(/^~/, '');
                if (!caminhoTratado.startsWith('/')) {
                    caminhoTratado = '/' + caminhoTratado;
                }

                var urlFinal = window.location.origin + caminhoTratado;
                btnPdf.attr('href', urlFinal);
                btnPdf.show();
            } else {
                btnPdf.hide();
            }

            // Abre a modal (usando as classes do Inspinia)
            $('#modalAviso').modal('show');
        }

        function confirmarLeitura() {
            if (idAvisoAtual === 0) return;

            let lidos = getLidos();
        
            if (!lidos.includes(idAvisoAtual.toString())) {
                lidos.push(idAvisoAtual.toString());
            }

            localStorage.setItem(COOKIE_NAME, JSON.stringify(lidos));

            $('#modalAviso').modal('hide');
            toastr.success("Aviso arquivado.");

            filtrarAvisosLidos();
        }

        function getLidos() {
            let lidos = localStorage.getItem(COOKIE_NAME);
            return lidos ? JSON.parse(lidos) : [];
        }

        function filtrarAvisosLidos() {
            let lidos = getLidos();
            let possuiAvisosVisiveis = false;

            $('.marquee-msg').each(function () {
                let id = $(this).data('id').toString();
                if (lidos.includes(id)) {
                    $(this).remove(); 
                } else {
                    possuiAvisosVisiveis = true;
                }
            });

            if (!possuiAvisosVisiveis) {
                $('.marquee-text-container').hide();
            }
        }
    </script>
    <script type="text/javascript">
        function limparHistoricoAvisos() {
            // 1. Prepara o conteúdo da modal para "Modo de Confirmação"
            $('#modalTitle').text("Restaurar Avisos");
            $('#modalBodyContent').html("<p>Deseja voltar a exibir todos os avisos que você marcou como lidos?</p>");
        
            // 2. Ajusta o ícone para um ponto de interrogação ou refresh
            var $icone = $('#modalIconeDinamico');
            $icone.removeClass().addClass('fa fa-refresh modal-icon text-warning');

            // 3. Altera o botão "Entendi" para atuar como "Confirmar Restauração"
            // Mudamos o texto e a função que ele chama
            var btnConfirmar = $('#modalAviso .btn-primary');
            btnConfirmar.text("Sim, Restaurar");
            btnConfirmar.attr("onclick", "executarLimpeza()");

            // 4. Abre a modal
            $('#modalAviso').modal('show');
        }

        function executarLimpeza() {
            // Remove os dados do LocalStorage
            localStorage.removeItem("WebDoctor_AvisosLidos");

            if (typeof toastr !== 'undefined') {
                toastr.success("Histórico de avisos limpo com sucesso!");
            }

            // Fecha a modal e recarrega
            $('#modalAviso').modal('hide');
        
            setTimeout(function() {
                location.reload();
            }, 800);
        }
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}

