@using Presentation.Extensions
@using CrossCutting
@model EntitiesServices.Model.PACIENTE
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDcotor - Dashboard Inicial";
    ViewBag.MetaDescription = "WebDcotor - Dashboard Inicial";
    ViewBag.MetaKeywords = "WebDoctor, Dashboard, Inicial";
}

<script type="application/ld+json">
  {
    "context": "https://schema.org",
    "type": "Paciente",
    "name": "Paciente - Cadastro",
    "description": "Cadastramento de novo paciente"
  }
</script>
<div id="content" class="wraper container-fluid">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*Titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        @*Atalhos*@
        <div class="row">
            <h3 style="color:olivedrab; font-weight:bold">WebDoctorPro - Dashboard Inicial</h3>
        </div>

        @*Widgets*@
        <br />
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        }
        @if (TempData["TemMensagem"] != null)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                <span>@TempData["MensagemAcerto"]</span>
            </div>
        }                    
        <div class="row">
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Pacientes</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.Ausencia</h1>
                        <small>
                            <a href="@Url.Action("MontarTelaAusencias", "Paciente2")" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Ver pacientes ausentes. Sem retorno após a data prevista. Ativa apenas se a opção de cálculo da data da próxima consulta estiver ativa na Configuração">Mais de @ViewBag.AusenciaDias meses da data de retorno</a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Pacientes</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.ListaPacienteAnivDiaConta</h1>
                        <small><a href="@Url.Action("EnviarMailAniversario", "Paciente")" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar aniversariantes do dia e envio de mensagem por e-mail" >Aniversariantes do Dia</a></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Consultas</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.NumConsultas</h1>
                        <small><a href="@Url.Action("MontarTelaConsultas", "Paciente")" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Verificar as consultas marcadas para a data corrente" >Consultas Confirmadas do Dia</a></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Consultas</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.NaoEncerradasNumero</h1>
                        @if (ViewBag.NaoEncerradasNumero > 0)
                        {
                            <small class="pisca"><a href="@Url.Action("MontarTelaEncerrarConsulta", "Financeiro")" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Verificar e processar as consultas não encerradas" >Consultas Não Encerradas</a></small>
                        }
                        else
                        {
                            <small><a href="@Url.Action("MontarTelaEncerrarConsulta", "Financeiro")" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Verificar e processar as consultas não encerradas">Consultas Não Encerradas</a></small>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Avisos RTi</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.NumListasFabricante</h1>
                        <small><a href="@Url.Action("MontarTelaAvisosRTi", "Paciente2")" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar todos os avisos da Rti disponíveis">Avisos Disponíveis</a></small>
                    </div>
                </div>
            </div>
        </div>
        @*Atalhos*@
        <div class="row">
            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <a href="@Url.Action("MontarTelaCentralPaciente", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Pacientes" class="btn btn-sm btn-success btn-loading" id="emp" OnClick = "Fade()">Central de Pacientes</a>                
                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PACIENTE_CONSULTA_ACESSO == 1)
                    {
                        <a href="@Url.Action("MontarTelaConsultas", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Consultas" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Consultas</a>                
                    }
                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PRESCRICAO_ACESSO == 1)
                    {
                        <a href="@Url.Action("MontarTelaPrescricoes", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Prescrições para todos os pacientes" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Prescrições</a>                
                    }
                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ATESTADO_ACESSO == 1)
                    {
                        <a href="@Url.Action("MontarTelaAtestados", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Atestados para todos os pacientes" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Atestados</a>                
                    }
                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_SOLICITACAO_ACESSO == 1)
                    {
                        <a href="@Url.Action("MontarTelaSolicitacoes", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Solicitações de Exames para todos os pacientes" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Solicitações de Exames</a>                
                    }
                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_EXAME_ACESSO == 1)
                    {
                        <a href="@Url.Action("MontarTelaExames", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Resultados de Exames para todos os pacientes" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Resultados de Exames</a>                
                    }
                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_EXAME_ACESSO == 1)
                    {
                        <a href="@Url.Action("MontarTelaHistoricoGeral", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso aos históricos de todos os pacientes" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Histórico dos Pacientes</a>                
                    }
                    @if ((Int32)Session["PermFinanceiro"] == 1)
                    {
                        if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ACESSO_FINANCEIRO == 1)
                        {
                            <a href="@Url.Action("MontarTelaFinanceiro", "Financeiro")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso ao Dashboard Financeiro" class="btn btn-sm btn-primary btn-loading" id="emp" OnClick = "Fade()">Financeiro</a>                
                        }
                    }
                    @if ((Int32)Session["PermMensageria"] == 1)
                    {
                        if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ACESSO_MENSAGEM == 1)
                        {
                            <a href="@Url.Action("MontarTelaMensagemEMail", "Mensagem")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso ao Dashboard de Mensagens de e-mail" class="btn btn-sm btn-primary" id="emp" OnClick = "Fade()">Mensageria</a>                
                        }
                    }
                    <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank" >Ajuda</a>                
                    <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                        <i class="fa fa-spinner fa-spin"></i> Processando...
                    </span>
                </div>
                <br /><br />
            </div>
        </div>

        @*Graficos*@
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Dashboard Inicial</h5>
                    </div>
                    <div class="ibox-content" style="height: 2100px">
                        <div class="col-lg-8 col-md-8 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                <div class="ibox-title">
                                    <h4>Pacientes</h4>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        @using (Html.BeginForm("FiltrarPaciente", "Paciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Nome/Nome Social
                                                    @Html.TextBoxFor(m => m.PACI_NM_NOME, new { @class = "form-control", data_toggle = "popover", data_content = "Forneça um nome de paciente, ou parte dele, e clique em [Filtrar]", data_trigger="hover", data_placement="top", autofocus = true, @id = "txtNomePaciente" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    @Html.ButtonActionSubmit(text: "Filtrar", htmlAttributes: new { @class = "btn-loading1" })
                                                    <a href="@Url.Action("RetirarFiltroPaciente", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Retorna à lista padrão de pacientes" class="btn btn-sm btn-warning btn-loading6" id="emp" OnClick = "Fade()">Retirar Filtro</a>                
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_INCLUIR_PACIENTE == 1)
                                                    {
                                                        <a href="@Url.Action("IncluirPaciente", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abre a página de inclusão de novo paciente" class="btn btn-sm btn-primary btn-loading6" id="emp" OnClick = "Fade()">Novo Paciente</a>                
                                                    }
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_VISAO_GERAL == 1)
                                                    {
                                                        <a href="@Url.Action("MontarTelaMarcacaoConsulta", "Paciente2")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abre a página de marcação de consultas" class="btn btn-sm btn-primary btn-loading6" id="emp" OnClick = "Fade()">Marcação de Consultas</a>                
                                                    }
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_CONF_CANC_CONSULTA == 1)
                                                    {
                                                        <a href="@Url.Action("ConfirmarCancelarConsulta", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abre a página de confirmação e cancelamento de consultas" class="btn btn-sm btn-primary btn-loading6" id="emp" OnClick = "Fade()">Confirmação de Consultas</a>                
                                                    }
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_BLOQUEIO == 1)
                                                    {
                                                        <a href="@Url.Action("MontarTelaBloqueio", "Configuracao")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abre a página de configuração de bloqueios de datas e horários" class="btn btn-sm btn-primary btn-loading6" id="emp" OnClick = "Fade()">Bloqueio de Horário</a>                
                                                    }
                                                    <a href="@Url.Action("MontarTelaAviso", "Aviso")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abre a página de visualização e gerenciamento dos avisos e lembretes do usuário" class="btn btn-sm btn-primary btn-loading6" id="emp" OnClick = "Fade()">Avisos/Lembretes</a>                
                                                </div>
                                                <span id="loadingIndicator6" style="display: none; margin-left: 15px; color: #007bff;">
                                                    <i class="fa fa-spinner fa-spin"></i> Processando...
                                                </span>
                                             </div>
                                        }

                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="row">
                                                    <div class="form-group" style=" margin-left: 15px; margin-right: 15px;">
                                                        @if (ViewBag.Listas != null &&(ViewBag.Listas as List<EntitiesServices.Model.PACIENTE>).Count > 0)
                                                        {
                                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                <thead style="background-color:lightsteelblue">
                                                                    <tr>
                                                                        <th style="width: auto">Nome</th>
                                                                        <th style="width: auto">E-Mail</th>
                                                                        <th style="width: auto">Celular</th>
                                                                        <th style="width: auto">Última Consulta</th>
                                                                        <th style="width: auto">Retorno Previsto</th>
                                                                        <th style="width: auto"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.PACIENTE>).OrderByDescending(p => p.PACI_DT_CONSULTA))
                                                                    {
                                                                        <tr>
                                                                            @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ALTERAR_PACIENTE == 1)
                                                                            {
                                                                                <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("EditarPaciente", "Paciente", new { id = cond.PACI__CD_ID })" class="btn-loading6" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Editar/Consultar paciente"/>@cond.PACI_NM_NOME</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("ConsultarPaciente", "Paciente", new { id = cond.PACI__CD_ID })"  class="btn-loading6" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar paciente"/>@cond.PACI_NM_NOME</td>
                                                                            }

                                                                            <td style="width: auto">@cond.PACI_NM_EMAIL</td>
                                                                            <td style="width: auto">@cond.PACI_NR_CELULAR</td>
                                                    
                                                                            @if (cond.PACI_DT_CONSULTA != null) 
                                                                            {
                                                                                <td style="width: auto">@cond.PACI_DT_CONSULTA.Value.ToShortDateString()</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td style="width: auto">-</td>
                                                                            }
                                                    
                                                                            @if (cond.PACI_DT_PREVISAO_RETORNO != null)
                                                                            {
                                                                                <td style="width: auto">@cond.PACI_DT_PREVISAO_RETORNO.Value.ToShortDateString()</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td style="width: auto">-</td>
                                                                            }
                                                                            @if (!String.IsNullOrEmpty(cond.PACI_AQ_FOTO))
                                                                            {
                                                                                <td style="width: auto"><img src="@Url.Content(cond.PACI_AQ_FOTO)" style="width: auto; height: auto; max-height: 75px; max-width: 65px;" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Clique Ctrl+Ctrl para ampliar a fotografia"></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td style="width: auto"><img src="~/Images/icon_morador.png" style="width: auto; height: auto; max-height: 65px; max-width: 55px;"  ></td>
                                                                            }
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                        else
                                                        {
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-xs-2">
                                                                </div>
                                                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-6 col-md-6 col-xs-8">
                                                                    <h2 style="font-weight: bold">Nenhum paciente cadastrado</h2>
                                                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Paciente", action: "RetirarFiltroPaciente")
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-xs-2">
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                     
                                    </div>
                                </div>
                            </div>                          
                            
                        </div>

                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                    <div class="ibox-title">
                                        <h4>Consultas - @ViewBag.Hoje</h4>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            @if (ViewBag.Consultas != null && (ViewBag.Consultas as List<EntitiesServices.Model.PACIENTE_CONSULTA>).Count > 0)
                                            {
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead style="background-color:lightsteelblue">
                                                        <tr>
                                                            <th>Nome</th>
                                                            <th>Início</th>
                                                            <th class="td-one-action">Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var cond in (ViewBag.Consultas as List<EntitiesServices.Model.PACIENTE_CONSULTA>))
                                                        {
                                                            <tr>
                                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ALTERAR_PACIENTE == 1)
                                                                {
                                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("EditarPaciente", "Paciente", new { id = cond.PACIENTE.PACI__CD_ID })" class="btn-loading3"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Editar/Consultar paciente" />@cond.PACIENTE.PACI_NM_NOME</td>
                                                                }
                                                                else
                                                                {
                                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("ConsultarPaciente", "Paciente", new { id = cond.PACIENTE.PACI__CD_ID })" class="btn-loading3"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar paciente"/>@cond.PACIENTE.PACI_NM_NOME</td>
                                                                }
                                                                <td>@cond.PACO_HR_INICIO.ToString()</td>
                                                                <td class="td-one-action">
                                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PACIENTE_CONSULTA_ALTERAR == 1)
                                                                    {
                                                                        if (cond.PACO_IN_CONFIRMADA == 1)
                                                                        {
                                                                            @Html.TableLinkDetails(cond.PACO_CD_ID, "ProcederConsulta", "fa-clock-o btn-loading3", "Proceder a Consulta")
                                                                        }
                                                                        else if (cond.PACO_IN_CONFIRMADA == 0)
                                                                        {
                                                                            <span style="color: #337ab7; cursor:pointer;" alt="Confirmar" class="tbl-link fa-lg fa fa-minus" title="Pendente"></span>
                                                                        }
                                                                        else if (cond.PACO_IN_CONFIRMADA == 2)
                                                                        {
                                                                            <span style="color: #337ab7; cursor:pointer;" alt="Cancelar" class="tbl-link fa-lg fa fa-times" title="Cancelada"></span>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TableLinkDetails(cond.PACO_CD_ID, "VerConsulta", "fa-search btn-loading3", "Ver")
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                    <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                        <h4 style="font-weight: bold">Nenhuma consulta confirmada hoje</h4>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                </div>
                                            }
                                            <span id="loadingIndicator3" style="display: none; margin-left: 10px; color: #007bff;">
                                                <i class="fa fa-spinner fa-spin"></i> Processando...
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>  

                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                    <div class="ibox-title">
                                        <h4>Informações Prévias Pendentes</h4>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            @if (ViewBag.ListaPrevia != null && (ViewBag.ListaPrevia as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                            {
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead style="background-color:lightsteelblue">
                                                        <tr>
                                                            <th>Consulta</th>
                                                            <th>Nome</th>
                                                            <th class="td-one-action">Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var cond in (ViewBag.ListaPrevia as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).OrderBy(p => p.DataEmissao).ThenBy(p => p.Nome))
                                                        {
                                                            <tr>
                                                                <td>@cond.DataEmissao.ToShortDateString()</td>
                                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ALTERAR_PACIENTE == 1)
                                                                {
                                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("EditarPaciente", "Paciente", new { id = cond.Valor2 })"  class="btn-loading2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Editar/Consultar paciente" />@cond.Nome</td>
                                                                }
                                                                else
                                                                {
                                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("ConsultarPaciente", "Paciente", new { id = cond.Valor2})"  class="btn-loading2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar paciente"/>@cond.Nome</td>
                                                                }
                                                                <td class="td-one-action">
                                                                    @Html.TableLinkDetails(cond.Valor1, "VisualizarPrevia", "fa-search btn-loading2", "Visualizar")
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                    <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                        <h4 style="font-weight: bold">Nenhuma Informação Pendente</h4>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                </div>
                                            }
                                            <span id="loadingIndicator2" style="display: none; margin-left: 10px; color: #007bff;">
                                                <i class="fa fa-spinner fa-spin"></i> Processando...
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                            
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                    <div class="ibox-title">
                                        @*<h4>Aniversariantes do Dia</h4>*@
                                        <a href="@Url.Action("EnviarMailAniversario", "Paciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso à Central de Aniversariantes"><h4>Aniversariantes de Hoje</h4></a>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            @if (ViewBag.ListaPacienteAnivDia != null && (ViewBag.ListaPacienteAnivDia as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                            {
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead style="background-color:lightsteelblue">
                                                        <tr>
                                                            <th>Nome</th>
                                                            <th>Data</th>
                                                            <th class="td-one-action">Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var cond in (ViewBag.ListaPacienteAnivDia as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).OrderBy(p => p.DataEmissao).ThenBy(p => p.Nome))
                                                        {
                                                            <tr>
                                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ALTERAR_PACIENTE == 1)
                                                                {
                                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("EditarPaciente", "Paciente", new { id = cond.Valor1})" class="btn-loading4"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Editar/Consultar paciente"/>@cond.Nome</td>
                                                                }
                                                                else
                                                                {
                                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("ConsultarPaciente", "Paciente", new { id = cond.Valor1})" class="btn-loading4"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar paciente" />@cond.Nome</td>
                                                                }
                                                                @if (cond.DataEmissao.Date == DateTime.Today.Date)
                                                                {
                                                                    <td style="color: green; font-weight: bold">@cond.DataEmissao.ToShortDateString()</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@cond.DataEmissao.ToShortDateString()</td>
                                                                }
                                                                <td class="td-one-action">
                                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ALTERAR_PACIENTE == 1)
                                                                    {
                                                                        @Html.TableLinkDetails(cond.Valor1, "EditarPaciente", "fa-edit  btn-loading4", "Editar")
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TableLinkDetails(cond.Valor1, "ConsultarPaciente", "fa-search  btn-loading4", "Ver")
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                    <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                        <h4 style="font-weight: bold">Nenhum Aniversariante Hoje</h4>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                </div>
                                            }
                                            <span id="loadingIndicator4" style="display: none; margin-left: 10px; color: #007bff;">
                                                <i class="fa fa-spinner fa-spin"></i> Processando...
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                    <div class="ibox-title">
                                        <h4>Avisos Pendentes de Visualização</h4>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            @if (ViewBag.ListaAvisoAtivo != null && (ViewBag.ListaAvisoAtivo as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                            {
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead style="background-color:lightsteelblue">
                                                        <tr>
                                                            <th>Aviso</th>
                                                            <th>Data</th>
                                                            <th class="td-one-action">Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var cond in (ViewBag.ListaAvisoAtivo as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).OrderBy(p => p.DataEmissao).ThenBy(p => p.Nome))
                                                        {
                                                            <tr>
                                                                <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("EditarAviso", "Aviso" , new { id = cond.Valor2})" class="btn-loading5" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Visualizar o aviso/lembrete" />@cond.Nome</td>
                                                                <td>@cond.DataEmissao.ToShortDateString()</td>
                                                                <td class="td-one-action">
                                                                    @Html.TableLinkDetails(cond.Valor2, "VerAviso", "fa-search btn-loading5", "Ver")
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                    <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                        <h4 style="font-weight: bold">Nenhum aviso pendente</h4>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                                    </div>
                                                </div>
                                            }
                                            <span id="loadingIndicator5" style="display: none; margin-left: 10px; color: #007bff;">
                                                <i class="fa fa-spinner fa-spin"></i> Processando...
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>                          
                        
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                    <div class="ibox-title">
                                            <a href="@Url.Action("MontarTelaAvisosRTi", "Paciente2")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso aos avisos e comunicações da RTi"><h4>Avisos RTi</h4></a>
                                    </div>
                                    <div class="ibox-content">
                                        @if (ViewBag.ListasFabricante != null && (ViewBag.ListasFabricante as List<EntitiesServices.Model.MENSAGEM_FABRICANTE>).Count > 0)
                                        {
                                            foreach (var cond in (ViewBag.ListasFabricante as List<EntitiesServices.Model.MENSAGEM_FABRICANTE>))
                                            {
                                                if (cond.MEFA_IN_TIPO == 2)
                                                {
                                                    <div class="row" style="height:260px">
                                                        <div class="col-lg-12 col-md-12 col-xs-2" style="text-align:left">
                                                            <a href="@Url.Content(cond.MEFA_TX_TEXTO)" target="_blank" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Clique na imagem para ampliar"><img src="@Url.Content(cond.MEFA_TX_TEXTO)" style="width: auto; height: auto; max-height: 400px; max-width: 100%;"></a>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="height:20px">
                                                        <div class="form-group">
                                                            <br />
                                                            <a href="@Url.Action(cond.MEFA_AQ_VERSAO)" target="_blank" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abrir o documento vinculado à este aviso">Veja mais informações...</a>                
                                                        </div>
                                                    </div>
                                                }
                                                if (cond.MEFA_IN_TIPO == 3)
                                                {
                                                    <div class="ibox-title"  style="background-color:olive; color:ghostwhite">
                                                        <h4>@cond.MEFA_NM_TITULO</h4>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <div class="row" style="height:400px">
                                                            <div class="col-lg-12 col-md-12 col-xs-2" style="text-align:left">
                                                                <img src="@Url.Content(cond.MEFA_TX_TEXTO)" style="width: auto; height: auto; max-height: 400px; max-width: 100%;"  data-toggle="modal" data-target="#fotoModal" onclick="CriaModal('@cond.MEFA_NM_TITULO', '@Url.Content(cond.MEFA_TX_TEXTO)')">
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-xs-12">
                                                </div>
                                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                    <h4 style="font-weight: bold">Nenhuma mensagem da RTi disponível</h4>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-xs-12">
                                                </div>
                                            </div>
                                        }                  
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <script>
        function Fade() {
            $('.dotContainer').fadeIn("fast");
            $('#login').css("filter", "blur(4px)");
        }
    </script>
    <script>
        $(window).on("load", function () {
            $('.dotContainer').fadeOut("slow");
            $('#title').css("filter", "blur(0)");
            $('#content').css("filter", "blur(0)");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading1').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator6').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading2').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator2').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading3').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator3').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading4').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator4').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading5').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator5').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading6').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator6').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtNomePaciente').autocomplete({
                minLength: 2, 
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetPacienteNome", "Paciente2")', 
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            term: request.term 
                        },
                        success: function (data) {
                            response(data); 
                        },
                        error: function () {
                            console.log("Erro ao buscar dados para autocomplete.");
                        }
                    });
                }
            });
        });
    </script>


    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Paciente?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação de Paciente?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Reativação</h5>');
            $('#modal').modal('show');
        }
        function ShowModalConfirmar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma Visualização do Aviso?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confirmar Visualização</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'Paciente_Planilha' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]
            });          
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../Paciente/GetDadosConsultaDia'
                , type: 'POST'
                , success: function (result) {
                    var barData = {
                        labels: result.dias,
                        datasets: [
                            {
                                label: "Total por Dia",
                                backgroundColor: 'rgba(26,179,148,0.5)',
                                pointBorderColor: "#fff",
                                data: result.valores
                            }
                        ]
                    };

                    var barOptions = {
                        responsive: true
                    };

                    var ctx2 = document.getElementById("barChartConsultaDia").getContext("2d");
                    new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
                }
            });
        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}

