@using Presentation.Extensions
@using CrossCutting;
@model EntitiesServices.Model.PACIENTE_ATESTADO
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Paciente - Atestados";
    ViewBag.MetaDescription = "WebDoctor - Paciente - Atestados - Lista de Atestados ";
    ViewBag.MetaKeywords = "WebDoctor, paciente, atestado";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*Titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Atestados</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                </div>

                @using (Html.BeginForm("FiltrarAtestados", "Paciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Tipo de Atestado
                                @Html.DropDownListFor(m => m.TIAT_CD_ID, (SelectList)ViewBag.Tipos, "Selecionar", new { @class = "form-control" })
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                Nome do Paciente ou Fragmento do nome
                                @Html.TextBoxFor(m => m.PAAT_AQ_ARQUIVO_HTML, new { @class = "form-control", autofocus = true, @id = "txtNomePaciente", data_toggle = "popover", data_content = "Selecione o paciente a pesquisar", data_trigger="hover", data_placement="top"  })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data Inicial
                                @Html.TextBoxFor(m => m.PAAT_DT_DATA, new { @class = "form-control date-picker", autofocus = true, @id = "dn", data_toggle = "popover", data_content = "Informe a data inicial da faixa de datas a ser pesquisada", data_trigger="hover", data_placement="top" })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data Final
                                @Html.TextBoxFor(m => m.PAAT_DT_ENVIO, new { @class = "form-control date-picker", autofocus = true, @id = "dn1", data_toggle = "popover", data_content = "Informe a data final da faixa de datas a ser pesquisada", data_trigger="hover", data_placement="top" })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                Finalidade do Atestado
                                @Html.TextBoxFor(m => m.PAAT_NM_TITULO, new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-8 col-md-8 col-xs-12">
                                Conteúdo do Atestado
                                @Html.TextBoxFor(m => m.PAAT_TX_TEXTO, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Informe um fragmento do conteúdo do atestado", data_trigger="hover", data_placement="top" })
                            </div>
                        </div>

                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                @Html.ButtonActionSubmit(text: "Filtrar", htmlAttributes: new { @class = "btn-loading1" })
                                @if (ViewBag.Classe == 0)
                                {
                                    @Html.ButtonLinkIndex(text: "Novo Atestado", controller: "Paciente", action: "IncluirAtestadoCompleta", buttonClass: "primary", htmlAttributes: new { @class = "btn-loading" })
                                }
                                @Html.ButtonLinkIndex(text: "Atestados do Mês", controller: "Paciente", action: "VerAtestadosMes", htmlAttributes: new { @class = "btn-loading" })
                                @Html.ButtonLinkIndex(text: "Todos os Atestados", controller: "Paciente", action: "RetirarFiltroAtestados", htmlAttributes: new { @class = "btn-loading" })
                                @Html.ButtonLinkIndex(text: "Imprimir Atestados", controller: "Paciente", action: "GerarRelatorioAtestados")
                                @if ((Int32)Session["VoltaListaConsulta"] == 1)
                                {
                                    @Html.ButtonLinkIndex(text: "Voltar", controller: "Paciente", action: "VerListaAtestadoConsulta", htmlAttributes: new { @class = "btn-loading" })
                                }
                                else
                                {
                                    @Html.ButtonLinkIndex(text: "Voltar", controller: "Paciente", action: "VoltarCentrais", htmlAttributes: new { @class = "btn-loading" })
                                }
                                <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank">Ajuda</a>                
                                <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                                    <i class="fa fa-spinner fa-spin"></i> Processando...
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Atestados</h5>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    @if (TempData["TemMensagem"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            <span>@TempData["MensagemAcerto"]</span>
                        </div>
                    }                    
                    <div class="row">
                        @if (ViewBag.Listas != null &&(ViewBag.Listas as List<EntitiesServices.Model.PACIENTE_ATESTADO>).Count > 0)
                        {
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead style="background-color:lightsteelblue">
                                    <tr>
                                        <th style="width: auto">Data da Emissão</th>
                                        <th style="width: auto">Nome do Paciente</th>
                                        <th style="width: auto">Identificador</th>
                                        <th style="width: auto">Tipo de Atestado</th>
                                        <th style="width: auto">Finalidade do Atestado</th>
                                        <th style="width: auto">Enviado</th>
                                        <th style="width: auto">Último Envio</th>
                                        <th style="width: auto">Data da Consulta</th>
                                        <th class="td-one-action">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.PACIENTE_ATESTADO>).OrderByDescending(p => p.PAAT_DT_DATA.Value.Date))
                                    {
                                        <tr>
                                            <td style="width: auto">@cond.PAAT_DT_DATA.Value.ToShortDateString()</td>
                                            @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ACESSO_PACIENTE == 1)
                                            {
                                                <td style="width: auto"><a href="@Url.Action("EditarPacienteAtestado", "Paciente", new { id = cond.PACIENTE.PACI__CD_ID })" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de edição de dados do paciente"/>@cond.PACIENTE.PACI_NM_NOME</td>
                                            }
                                            else
                                            {
                                                <td style="width: auto"><a href="@Url.Action("VerPacienteAtestado", "Paciente", new { id = cond.PACIENTE.PACI__CD_ID })" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização de dados do paciente" />@cond.PACIENTE.PACI_NM_NOME</td>
                                            }
                                            @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ATESTADO_ALTERAR == 1)
                                            {
                                                if (cond.PAAT__IN_ENVIADO == 0)
                                                {
                                                    <td style="width: auto"><a href="@Url.Action("EditarAtestadoCompleta", "Paciente", new { id = cond.PAAT_CD_ID })"  class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de edição do atestado" />@cond.PAAT_GU_GUID</td>
                                                }
                                                else
                                                {
                                                    <td style="width: auto"><a href="@Url.Action("VerAtestadoCompleta", "Paciente", new { id = cond.PAAT_CD_ID })"  class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do atestado"/>@cond.PAAT_GU_GUID</td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width: auto"><a href="@Url.Action("VerAtestadoCompleta", "Paciente", new { id = cond.PAAT_CD_ID })"  class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do atestado" />@cond.PAAT_GU_GUID</td>
                                            }
                                            @if (cond.TIPO_ATESTADO != null)
                                            {
                                                <td style="width: auto">@cond.TIPO_ATESTADO.TIAT_NM_NOME</td>
                                            }
                                            else
                                            {
                                                <td style="width: auto">-</td>
                                            }
                                            <td style="width: auto">@cond.PAAT_NM_TITULO</td>
                                            @if (cond.PAAT__IN_ENVIADO == 1)
                                            {
                                                <td style="width: auto"><span class="badge badge-primary">Sim</span></td>

                                            }
                                            else
                                            {
                                                <td style="width: auto"><span class="badge badge-warning">Não</span></td>

                                            }
                                            @if (cond.PAAT_DT_ENVIO != null)
                                            {
                                                <td style="width: auto">@cond.PAAT_DT_ENVIO.Value.ToShortDateString()</td>
                                            }
                                            else
                                            {
                                                <td style="width: auto">-</td>
                                            }
                                            @if (cond.PACIENTE_CONSULTA != null)
                                            {
                                                <td style="width: auto">@cond.PACIENTE_CONSULTA.PACO_DT_CONSULTA.ToShortDateString()</td>
                                            }
                                            else
                                            {
                                                <td style="width: auto">-</td>
                                            }
                                            <td style="width: auto" class="td-one-action">
                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ATESTADO_ALTERAR == 1)
                                                {
                                                    if (cond.PAAT__IN_ENVIADO == 0)
                                                    {
                                                        @Html.TableLinkDetails(cond.PAAT_CD_ID, "EditarAtestadoCompleta", "fa-edit btn-loading", "Editar Atestado")
                                                    }
                                                    else
                                                    {
                                                        @Html.TableLinkDetails(cond.PAAT_CD_ID, "VerAtestadoCompleta", "fa-search btn-loading", "Consultar Atestado")
                                                    }
                                                }
                                                else
                                                {
                                                    @Html.TableLinkDetails(cond.PAAT_CD_ID, "VerAtestadoCompleta", "fa-search btn-loading", "Consultar Atestado")
                                                }
                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ATESTADO_ENVIAR == 1)
                                                {
                                                    if (cond.PAAT_IN_ATIVO == 1 )
                                                    {
                                                        @Html.TableLinkDetails(cond.PAAT_CD_ID, "EnviarAtestadoEMail", "fa-send-o btn-loading", "Enviar Atestado para Paciente")
                                                    }
	                                            }
                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ATESTADO_ENVIAR == 1)
                                                {
                                                    if (cond.PAAT_IN_ATIVO == 1 )
                                                    {
                                                        @Html.TableLinkDetails(cond.PAAT_CD_ID, "ImprimirAtestado", "fa-print", "Imprimir Atestado")
                                                    }
	                                            }
                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ATESTADO_EXCLUIR == 1)
                                                {
                                                    if (cond.PAAT_IN_ATIVO == 1)
                                                    {
                                                        if (cond.PAAT__IN_ENVIADO == 0)
                                                        {
                                                            <span style="color: #337ab7; cursor:pointer;" alt="Desativar" class="tbl-link fa-lg fa fa-trash-o btn-loading" onclick="ShowModalExcluirAtestado('/Paciente/ExcluirAtestado/@cond.PAAT_CD_ID')" title="Excluir Atestado"></span>
                                                        }
                                                    }
	                                            }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-xs-2">
                                </div>
                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-10">
                                    <h2 style="font-weight: bold">Sua pesquisa não retornou nenhum resultado ou nenhum atestado cadastrado no mês corrente</h2>
                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Paciente", action: "RetirarFiltroAtestados", htmlAttributes: new { @class = "btn-loading" })
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-2">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")

}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
   
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading1').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtNomePaciente').autocomplete({
                minLength: 2, 
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetPacienteNome", "Paciente2")', 
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            term: request.term 
                        },
                        success: function (data) {
                            response(data); 
                        },
                        error: function () {
                            console.log("Erro ao buscar dados para autocomplete.");
                        }
                    });
                }
            });
        });
    </script>

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#dn").mask("99/99/9999");
            $("#dn1").mask("99/99/9999");
        });
    </script>

    <script>
        function Fade() {
            $('.dotContainer').fadeIn("fast");
            $('#login').css("filter", "blur(4px)");
        }
    </script>
    <script>
        $(window).on("load", function () {
            $('.dotContainer').fadeOut("slow");
            $('#title').css("filter", "blur(0)");
            $('#content').css("filter", "blur(0)");
        });
    </script>
    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluirAtestado(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary btn-loading" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de atestado?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalConfirmarEnvioAtestado(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary btn-loading" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma envio do atestado para o paciente?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Envio</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                order: [[0, 'desc'],


                columnDefs: [
                                {
                                    // Aplicar o tipo de ordenação de data na Coluna 0
                                    "type": "datetime-moment", 
                                    "targets": 0 
                                },
                                {
                                    // As colunas de Ações, Tipo, Situação, etc., podem ter elementos HTML 
                                    // que atrapalham a ordenação. Usamos "html-num" (ou customizado)
                                    // ou simplesmente garantir que não tente ordenar o conteúdo do link da data.
                                    "orderable": false, // Desabilita ordenação para a coluna Ações
                                    "targets": 7 
                                }
                ],
                // ---------------------------------     
                buttons: [
                    { extend: 'excel', title: 'Atestado_Planilha' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]
            });         
        });
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

