@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.PacienteAnamneseViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Paciente - Anamnese - Visualização";
    ViewBag.MetaDescription = "WebDoctor - Paciente - Anamnese - Visualização da anamnese ";
    ViewBag.MetaKeywords = "WebDoctor, paciente, anamnese";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaCentralPaciente", "Paciente")">Central de Pacientes</a>
            </li>
            <li>
                <a href="@Url.Action("EditarPaciente", "Paciente")">Pacientes - Edição</a>
            </li>
            <li class="active">
                <strong>Pacientes - Anamneses</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                    <h5>Anamnese - Consulta</h5>
                    <span style="color:green; font-weight: 500; font-size: 20px;">@Model.PACIENTE.PACI_NM_NOME</span>
                </div>
                @using (Html.BeginForm("VerAnamnese", "Paciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "Erros Encontrados:", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="form-group">
                            @Html.ButtonLinkIndex(text: "Imprimir Anamnese", action: "GerarAnamnesePDFNova", controller: "Paciente")
                            @if ((Int32)Session["VoltarPesquisa"] == 1)
                            {
                                @Html.ButtonLinkIndex(text: "Voltar", action: "PesquisarTudo", controller: "BaseAdmin")
                            }
                            else
                            {
                                if ((Int32)Session["EditarVer"] == 1)
                                {
                                    @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarVerPaciente", controller: "Paciente")
                                }
                                else
                                {
                                    @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoPaciente", controller: "Paciente")
                                }
                            }
                        </div>

                        @*Paciente*@
                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Paciente</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Nome do Paciente
                                    @Html.TextBoxFor(m => m.PACIENTE.PACI_NM_NOME, new { @class = "form-control", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data Nascimento
                                    @Html.TextBoxFor(m => m.PACIENTE.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                @if (Model.PACIENTE.PACI_NR_CPF != null)
                                {
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        CPF
                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CPF, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                }
                                @if (Model.PACIENTE.PACI_NR_CELULAR != null)
                                {
                                    <div class="col-lg-2 col-md-1 col-xs-12">
                                        Celular
                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CELULAR, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                }
                                @if (Model.PACIENTE.PACI_NR_TELEFONE != null)
                                {
                                    <div class="col-lg-2 col-md-1 col-xs-12">
                                        Telefone
                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_TELEFONE, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Consulta</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    @Html.HiddenFor(m => m.PACI_CD_ID)
                                    @Html.HiddenFor(m => m.PACO_CD_ID)
                                    @Html.HiddenFor(m => m.PAAM_DT_DATA)
                                    @Html.HiddenFor(m => m.USUA_CD_ID)
                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                    @Html.HiddenFor(m => m.PAAM_IN_ATIVO)
                                    Data da Consulta
                                    @Html.TextBoxFor(m => m.PACO_DT_CONSULTA, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Tipo de Consulta
                                    @Html.TextBoxFor(m => m.TipoConsulta, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Anamnese</h4>
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            Motivo da Consulta
                                            @Html.TextAreaFor(m => m.PAAM_DS_MOTIVO_CONSULTA, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            Queixa Principal
                                            @Html.TextAreaFor(m => m.PAAM_DS_QUEIXA_PRINCIPAL, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            História Familiar
                                            @Html.TextAreaFor(m => m.PAAM_DS_HISTORIA_FAMILIAR, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            História Social
                                            @Html.TextAreaFor(m => m.PAAM_DS_HISTORIA_SOCIAL, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            História da Doença Atual
                                            @Html.TextAreaFor(m => m.PAAM_DS_HISTORIA_DOENCA_ATUAL, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            Medicamentos em Uso
                                            @Html.TextAreaFor(m => m.PAAM_NM_MEDICAMENTO, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            História Patológica Progressiva
                                            @Html.TextAreaFor(m => m.PAAM_DS_HISTORIA_PATOLOGICA_PROGRESSIVA, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            Avaliação Cardiológica
                                            @Html.TextAreaFor(m => m.PAAN_NM_AVALIACAO_CARDIOLOGICA, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            Avaliação Respiratória
                                            @Html.TextAreaFor(m => m.PAAN_NM_RESPIRATORIO, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            Avaliação do Abdômem
                                            @Html.TextAreaFor(m => m.PAAN_NM_ABDOMEM, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            Avaliação dos Membros Inferiores
                                            @Html.TextAreaFor(m => m.PAAN_NM_MEMBROS_INFERIORES, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    @if (Model.PAAM_IN_CAMPO_1 == 1)
                                    {
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                @ViewBag.Campo1 - Histórico
                                                @Html.TextAreaFor(m => m.PAAM_DS_CAMPO_1_OLD, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly"})
                                            </div>
                                        </div>
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                @ViewBag.Campo1 - Consulta Atual/Revisão
                                                @Html.TextAreaFor(m => m.PAAM_DS_CAMPO_1, new { @class = "form-control", style = "width: 100%; height: 100px; overflow:auto;", autofocus = true })
                                                @Html.ValidationMessageFor(m => m.PAAM_DS_CAMPO_1, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                    }
                                    @if (Model.PAAM_IN_CAMPO_2 == 1)
                                    {
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                @ViewBag.Campo2 - Histórico
                                                @Html.TextAreaFor(m => m.PAAM_DS_CAMPO_2_OLD, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly"})
                                            </div>
                                        </div>
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                @ViewBag.Campo2 - Consulta Atual/Revisão
                                                @Html.TextAreaFor(m => m.PAAM_DS_CAMPO_2, new { @class = "form-control", style = "width: 100%; height: 100px; overflow:auto;", autofocus = true })
                                                @Html.ValidationMessageFor(m => m.PAAM_DS_CAMPO_2, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                    }
                                    @if (Model.PAAM_IN_CAMPO_3 == 1)
                                    {
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                @ViewBag.Campo3 - Histórico
                                                @Html.TextAreaFor(m => m.PAAM_DS_CAMPO_3_OLD, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly"})
                                            </div>
                                        </div>
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                @ViewBag.Campo3 - Consulta Atual/Revisão
                                                @Html.TextAreaFor(m => m.PAAM_DS_CAMPO_3, new { @class = "form-control", style = "width: 100%; height: 100px; overflow:auto;", autofocus = true })
                                                @Html.ValidationMessageFor(m => m.PAAM_DS_CAMPO_3, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                    }
                                    @if (Model.PAAM_IN_CAMPO_4 == 1)
                                    {
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                @ViewBag.Campo4 - Histórico
                                                @Html.TextAreaFor(m => m.PAAM_DS_CAMPO_4_OLD, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly"})
                                            </div>
                                        </div>
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                @ViewBag.Campo4 - Consulta Atual/Revisão
                                                @Html.TextAreaFor(m => m.PAAM_DS_CAMPO_4, new { @class = "form-control", style = "width: 100%; height: 100px; overflow:auto;", autofocus = true })
                                                @Html.ValidationMessageFor(m => m.PAAM_DS_CAMPO_4, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                    }
                                    @if (Model.PAAM_IN_CAMPO_5 == 1)
                                    {
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                @ViewBag.Campo5 - Histórico
                                                @Html.TextAreaFor(m => m.PAAM_DS_CAMPO_5_OLD, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @readonly = "readonly"})
                                            </div>
                                        </div>
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                @ViewBag.Campo5 - Consulta Atual/Revisão
                                                @Html.TextAreaFor(m => m.PAAM_DS_CAMPO_5, new { @class = "form-control", style = "width: 100%; height: 100px; overflow:auto;", autofocus = true })
                                                @Html.ValidationMessageFor(m => m.PAAM_DS_CAMPO_5, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            Diagnóstico
                                            @Html.TextAreaFor(m => m.PAAM_DS_DIAGNOSTICO_1, new { @class = "form-control", style = "width: 100%; height: 400px; overflow:auto;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            Conduta Adotada
                                            @Html.TextAreaFor(m => m.PAAM_DS_CONDUTA, new { @class = "form-control", style = "width: 100%; height: 400px; overflow:auto;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="form-group">
                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoPaciente", controller: "Paciente")
                    </div>
                }
            </div>
         </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Edição em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                        + shortCutFunction
                        + "](\""
                        + msg
                        + (title ? "\", \"" + title : '')
                        + "\")\n\ntoastr.options = "
                        + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
