@using Presentation.Extensions
@using EntitiesServices.Model
@model ERP_Condominios_Solution.ViewModels.PacienteExameViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Paciente - Exames";
    ViewBag.MetaDescription = "WebDoctor - Paciente - Exames - Visualização de resultado de exame do paciente";
    ViewBag.MetaKeywords = "WebDoctor, paciente, resultado, exame";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if ((String)Session["ModuloAtual"] == "Dashboard Inicial")
    {
        <div class="page-title">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("MontarTelaExames", "Paciente")">Exames</a>
                </li>
                <li class="active">
                    <strong>Exame - Visualização</strong>
                </li>
            </ol>
            <br />
        </div>
    }
    else if ((String)Session["ModuloAtual"] == "Central de Pacientes")
    {
        <div class="page-title">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("MontarTelaCentralPaciente", "Paciente")">Central de Pacientes</a>
                </li>
                <li>
                    <a href="@Url.Action("MontarTelaExames", "Paciente")">Exames</a>
                </li>
                <li class="active">
                    <strong>Exame - Visualização</strong>
                </li>
            </ol>
            <br />
        </div>
    }
    else if ((String)Session["ModuloAtual"] == "Paciente - Edição")
    {
        <div class="page-title">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("MontarTelaCentralPaciente", "Paciente")">Central de Pacientes</a>
                </li>
                <li>
                    <a href="@Url.Action("EditarPaciente", "Paciente")">Paciente - Edição</a>
                </li>
                <li class="active">
                    <strong>Exame - Visualização</strong>
                </li>
            </ol>
            <br />
        </div>
    }
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                        <h5>Resultado de Exame - Visualização</h5>
                        <span style="color:green; font-weight: 500; font-size: 20px;">@Model.PACIENTE.PACI_NM_NOME</span>
                    </div>
                </div>
                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="form-group" style=" margin-left: 5px; margin-right: 5px;"> 
                        @Html.ButtonLinkIndex(text: "Imprimir Resultados", action: "GerarResultadoExamePDFNova", controller: "Paciente")
                        @if ((Int32)Session["VoltarPesquisa"] == 1)
                        {
                            @Html.ButtonLinkIndex(text: "Voltar", action: "PesquisarTudo", controller: "BaseAdmin")
                        }
                        else
                        {
                            if ((Int32)Session["VoltarExameConsulta"] == 1)
                            {
                                @Html.ButtonLinkIndex(text: "Voltar", action: "VerListaExameConsulta", controller: "Paciente")
                            }
                            else
                            {
                                if ((Int32)Session["TipoSolicitacao"] == 1)
                                {
                                    if ((Int32)Session["ModoConsulta"] == 1)
                                    {
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarProcederConsulta", controller: "Paciente")
                                    }
                                    else
                                    {
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoPaciente", controller: "Paciente")
                                    }
                                }
                                else
                                {
                                    @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaExames", controller: "Paciente")
                                }
                            }

                        }
                        <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank">Ajuda</a>                
                    </div>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            @if ((Int32)Session["NivelExame"] == 1)
                            {
                                <li class="active"><a data-toggle="tab" href="#tab-1">Resultado do Exame</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">Anexos</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3">Anotações</a></li>
                            }
                            @if ((Int32)Session["NivelExame"] == 2)
                            {
                                <li class=""><a data-toggle="tab" href="#tab-1">Resultado do Exame</a></li>
                                <li class="active"><a data-toggle="tab" href="#tab-2">Anexos</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3">Anotações</a></li>
                            }
                            @if ((Int32)Session["NivelExame"] == 3)
                            {
                                <li class=""><a data-toggle="tab" href="#tab-1">Resultado do Exame</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">Anexos</a></li>
                                <li class="active"><a data-toggle="tab" href="#tab-3">Anotações</a></li>
                            }
                        </ul>
                        <div class="tab-content">
                            @*Dados Gerais*@
                            @if ((Int32)Session["NivelExame"] == 1)
                            {
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        @using (Html.BeginForm("VerExame", "Paciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="row">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Paciente</h4>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Nome do Paciente
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data Nascimento
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                    @if (Model.PACIENTE.PACI_NR_CPF != null)
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            CPF
                                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CPF, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    }
                                                    @if (Model.PACIENTE.PACI_NR_CELULAR != null)
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Celular
                                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CELULAR, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    }
                                                    @if (Model.PACIENTE.PACI_NR_TELEFONE != null)
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Telefone
                                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_TELEFONE, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row" style="width: 100%;">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Resultado de Exame</h4>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                                            @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                            @Html.HiddenFor(m => m.USUA_CD_ID)
                                                            @Html.HiddenFor(m => m.PAEX_IN_ATIVO)
                                                            @Html.HiddenFor(m => m.PAEX_CD_ID)
                                                            @Html.HiddenFor(m => m.PACO_CD_ID)
                                                            @Html.HiddenFor(m => m.PACI_CD_ID)
                                                            @Html.HiddenFor(m => m.TIEX_CD_ID)
                                                            @Html.HiddenFor(m => m.LABS_CD_ID)
                                                            Tipo de Exame
                                                            @Html.TextBoxFor(m => m.TIPO_EXAME.TIEX_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly="readonly", @style = "color: brown; font-weight: bold" })
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Data 
                                                            @Html.TextBoxFor(m => m.PAEX_DT_DATA, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly="readonly" })
                                                        </div>
                                                        @if (Model.PACIENTE_CONSULTA != null)
                                                        {
                                                            <div class="col-lg-2 col-md-2 col-xs-12">
                                                                Data de Consulta
                                                                @Html.TextBoxFor(m => m.PACIENTE_CONSULTA.PACO_DT_CONSULTA, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                            </div>
                                                        }
                                                        @*@if (Model.PACIENTE_SOLICITACAO != null)
                                                        {
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                Solicitação
                                                                @Html.TextBoxFor(m => m.PACIENTE_SOLICITACAO.PASO_NM_TITULO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-xs-12">
                                                                <br />
                                                                @Html.ButtonLinkIndex(text: "Ver Solicitação", action: "VerSolicitacaoCompletaMaisOutra", controller: "Paciente")
                                                            </div>
                                                        }*@
                                                    </div>
                                                    @if (Model.LABORATORIO != null)
                                                    {
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-9 col-md-9 col-xs-12">
                                                                Laboratório
                                                                @Html.TextBoxFor(m => m.LABORATORIO.LABS_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly="readonly"})
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                <br />
                                                                <button style="margin-left: -15px;" class="btn btn-sm btn-primary" id="buttonLab" type="button">Acessar Site do Laboratório</button>
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                                            Descrição do Exame
                                                            @Html.TextAreaFor(m => m.PAEX_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly="readonly", style = "width: 100%; height: 60px; overflow:auto;"})
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                                            Resultados do Exame
                                                            @Html.TextAreaFor(m => m.PAEX_DS_COMENTARIOS, new { @class = "form-control", @tabindex = "-1", @readonly="readonly", style = "width: 100%; height: 600px; overflow:auto;"})
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                        
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="tab-1" class="tab-pane">
                                    <div class="panel-body">
                                        @using (Html.BeginForm("VerExame", "Paciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="row">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Paciente</h4>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Nome do Paciente
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data Nascimento
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                    @if (Model.PACIENTE.PACI_NR_CPF != null)
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            CPF
                                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CPF, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    }
                                                    @if (Model.PACIENTE.PACI_NR_CELULAR != null)
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Celular
                                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CELULAR, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    }
                                                    @if (Model.PACIENTE.PACI_NR_TELEFONE != null)
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Telefone
                                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_TELEFONE, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row" style="width: 100%;">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Resultado de Exame</h4>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                                            @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                            @Html.HiddenFor(m => m.USUA_CD_ID)
                                                            @Html.HiddenFor(m => m.PAEX_IN_ATIVO)
                                                            @Html.HiddenFor(m => m.PAEX_CD_ID)
                                                            @Html.HiddenFor(m => m.PACO_CD_ID)
                                                            @Html.HiddenFor(m => m.PACI_CD_ID)
                                                            @Html.HiddenFor(m => m.TIEX_CD_ID)
                                                            @Html.HiddenFor(m => m.LABS_CD_ID)
                                                            Tipo de Exame
                                                            @Html.TextBoxFor(m => m.TIPO_EXAME.TIEX_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly="readonly", @style = "color: brown; font-weight: bold" })
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Data 
                                                            @Html.TextBoxFor(m => m.PAEX_DT_DATA, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly="readonly" })
                                                        </div>
                                                        @if (Model.PACIENTE_CONSULTA != null)
                                                        {
                                                            <div class="col-lg-2 col-md-2 col-xs-12">
                                                                Data de Consulta
                                                                @Html.TextBoxFor(m => m.PACIENTE_CONSULTA.PACO_DT_CONSULTA, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                            </div>
                                                        }
                                                        @*@if (Model.PACIENTE_SOLICITACAO != null)
                                                        {
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                Solicitação
                                                                @Html.TextBoxFor(m => m.PACIENTE_SOLICITACAO.PASO_NM_TITULO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-xs-12">
                                                                <br />
                                                                @Html.ButtonLinkIndex(text: "Ver Solicitação", action: "VerSolicitacaoCompletaMaisOutra", controller: "Paciente")
                                                            </div>
                                                        }*@
                                                    </div>
                                                    @if (Model.LABORATORIO != null)
                                                    {
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-9 col-md-9 col-xs-12">
                                                                Laboratório
                                                                @Html.TextBoxFor(m => m.LABORATORIO.LABS_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly="readonly"})
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                <br />
                                                                <button style="margin-left: -15px;" class="btn btn-sm btn-primary" id="buttonLab" type="button">Acessar Site do Laboratório</button>
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                                            Descrição do Exame
                                                            @Html.TextAreaFor(m => m.PAEX_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly="readonly", style = "width: 100%; height: 60px; overflow:auto;"})
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                                            Resultados do Exame
                                                            @Html.TextAreaFor(m => m.PAEX_DS_COMENTARIOS, new { @class = "form-control", @tabindex = "-1", @readonly="readonly", style = "width: 100%; height: 600px; overflow:auto;"})
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                        
                                        }
                                    </div>
                                </div>
                            }

                            @*Anexos*@
                            @if ((Int32)Session["NivelExame"] == 2)
                            {
                                <div id="tab-2" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Anexos</h4>
                                                <br />
                                                <div class="form-group">
                                                    @using (Html.BeginForm("UploadFileExamePaciente", "Paciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "pwd-container2" }))
                                                    {
                                                            if (Model.PACIENTE_EXAME_ANEXO.Count > 0)
                                                            {
                                                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                    <thead style="background-color:lightsteelblue">
                                                                        <tr>
                                                                            <th>Título</th>
                                                                            <th>Data</th>
                                                                            <th>Tipo</th>
                                                                            <th class="td-one-action">Ações</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var cond in (Model.PACIENTE_EXAME_ANEXO.Where(p => p.PAEO_IN_ATIVO == 1).ToList()))
                                                                        {
                                                                            <tr>
                                                                                @if (cond.PAEO_IN_TIPO == 1 || cond.PAEO_IN_TIPO == 2)
                                                                                {
                                                                                    <td style="width: auto"><a href="@Url.Action("VerAnexoExamePaciente", "Paciente", new { id = cond.PAEO_CD_ID })" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do anexo - Imagem/Vídeo "/>@cond.PAEO_NM_TITULO</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 4)
                                                                                {
                                                                                    <td style="width: auto"><a href="@Url.Action("VerAnexoExamePacienteAudio", "Paciente", new { id = cond.PAEO_CD_ID })" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do anexo - Audio"/>@cond.PAEO_NM_TITULO</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 3)
                                                                                {
                                                                                    <td style="width: auto"><a href="~/PdfViewer/web/viewer.html?file=@(cond.PAEO_AQ_ARQUIVO.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do anexo - PDF"/>@cond.PAEO_NM_TITULO</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td style="width: auto">@cond.PAEO_NM_TITULO</td>
                                                                                }

                                                                                <td>@cond.PAEO_DT_ANEXO.Value.ToShortDateString()</td>
                                                                                @if (cond.PAEO_IN_TIPO == 1)
                                                                                {
                                                                                    <td>Imagem</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 2)
                                                                                {
                                                                                    <td>Vídeo</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 3)
                                                                                {
                                                                                    <td>PDF</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 4)
                                                                                {
                                                                                    <td>Audio</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 5)
                                                                                {
                                                                                    <td>Documento/Word</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 6)
                                                                                {
                                                                                    <td>Planilha/Excel</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td>Outros</td>
                                                                                }
                                                                                <td class="td-one-action">
                                                                                    @if (cond.PAEO_IN_TIPO == 1 || cond.PAEO_IN_TIPO == 2)
                                                                                    {
                                                                                        @Html.TableLinkDetails(cond.PAEO_CD_ID, "VerAnexoExamePaciente", "fa-camera", "Visualizar")
                                                                                    }
                                                                                    @if (cond.PAEO_IN_TIPO == 4)
	                                                                                {
                                                                                        @Html.TableLinkDetails(cond.PAEO_CD_ID, "VerAnexoExamePacienteAudio","fa-volume-up", "Visualizar")
	                                                                                }
                                                                                    @if (cond.PAEO_IN_TIPO == 3)
                                                                                    {
                                                                                        <a title="Visualizar" class="fa fa-camera fa-lg" href="~/PdfViewer/web/viewer.html?file=@(cond.PAEO_AQ_ARQUIVO.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank"></a>
                                                                                    }
                                                                                    <span style="color: #337ab7; cursor:pointer;" alt="Desativar" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluirAnexo('/Paciente/ExcluirAnexoExame/@cond.PAEO_CD_ID')" title="Excluir Anexo"></span>
                                                                                    @Html.TableLinkDetails(cond.PAEO_CD_ID, "DownloadPacienteExame", "fa-download", "Download")
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Anexos</h4>
                                                <br />
                                                <div class="form-group">
                                                    @using (Html.BeginForm("UploadFileExamePaciente", "Paciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "pwd-container2" }))
                                                    {
                                                            if (Model.PACIENTE_EXAME_ANEXO.Count > 0)
                                                            {
                                                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                    <thead style="background-color:lightsteelblue">
                                                                        <tr>
                                                                            <th>Título</th>
                                                                            <th>Data</th>
                                                                            <th>Tipo</th>
                                                                            <th class="td-one-action">Ações</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var cond in (Model.PACIENTE_EXAME_ANEXO.Where(p => p.PAEO_IN_ATIVO == 1).ToList()))
                                                                        {
                                                                            <tr>
                                                                                @if (cond.PAEO_IN_TIPO == 1 || cond.PAEO_IN_TIPO == 2)
                                                                                {
                                                                                    <td style="width: auto"><a href="@Url.Action("VerAnexoExamePaciente", "Paciente", new { id = cond.PAEO_CD_ID })" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do anexo - Imagem/Vídeo "/>@cond.PAEO_NM_TITULO</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 4)
                                                                                {
                                                                                    <td style="width: auto"><a href="@Url.Action("VerAnexoExamePacienteAudio", "Paciente", new { id = cond.PAEO_CD_ID })" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do anexo - Audio"/>@cond.PAEO_NM_TITULO</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 3)
                                                                                {
                                                                                    <td style="width: auto"><a href="~/PdfViewer/web/viewer.html?file=@(cond.PAEO_AQ_ARQUIVO.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do anexo - PDF"/>@cond.PAEO_NM_TITULO</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td style="width: auto">@cond.PAEO_NM_TITULO</td>
                                                                                }

                                                                                <td>@cond.PAEO_DT_ANEXO.Value.ToShortDateString()</td>
                                                                                @if (cond.PAEO_IN_TIPO == 1)
                                                                                {
                                                                                    <td>Imagem</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 2)
                                                                                {
                                                                                    <td>Vídeo</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 3)
                                                                                {
                                                                                    <td>PDF</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 4)
                                                                                {
                                                                                    <td>Audio</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 5)
                                                                                {
                                                                                    <td>Documento/Word</td>
                                                                                }
                                                                                else if (cond.PAEO_IN_TIPO == 6)
                                                                                {
                                                                                    <td>Planilha/Excel</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td>Outros</td>
                                                                                }
                                                                                <td class="td-one-action">
                                                                                    @if (cond.PAEO_IN_TIPO == 1 || cond.PAEO_IN_TIPO == 2)
                                                                                    {
                                                                                        @Html.TableLinkDetails(cond.PAEO_CD_ID, "VerAnexoExamePaciente", "fa-camera", "Visualizar")
                                                                                    }
                                                                                    @if (cond.PAEO_IN_TIPO == 4)
	                                                                                {
                                                                                        @Html.TableLinkDetails(cond.PAEO_CD_ID, "VerAnexoExamePacienteAudio","fa-volume-up", "Visualizar")
	                                                                                }
                                                                                    @if (cond.PAEO_IN_TIPO == 3)
                                                                                    {
                                                                                        <a title="Visualizar" class="fa fa-camera fa-lg" href="~/PdfViewer/web/viewer.html?file=@(cond.PAEO_AQ_ARQUIVO.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank"></a>
                                                                                    }
                                                                                    <span style="color: #337ab7; cursor:pointer;" alt="Desativar" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluirAnexo('/Paciente/ExcluirAnexoExame/@cond.PAEO_CD_ID')" title="Excluir Anexo"></span>
                                                                                    @Html.TableLinkDetails(cond.PAEO_CD_ID, "DownloadPacienteExame", "fa-download", "Download")
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @*Anotações*@
                            @if ((Int32)Session["NivelExame"] == 3)
                            {
                                <div id="tab-3" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Anotações</h4>
                                                @if (Model.PACIENTE_EXAME_ANOTACAO.Where(p => p.PAET_IN_ATIVO == 1).ToList().Count > 0)
                                                {
                                                    foreach (var item in (Model.PACIENTE_EXAME_ANOTACAO.Where(p => p.PAET_IN_ATIVO == 1)).OrderByDescending(a => a.PAET_DT_ANOTACAO))
                                                    {
                                                        <div class="social-feed-box">
                                                            <div class="social-avatar">
                                                                <a href="" class="pull-left">
                                                                    <img src="@Url.Content(item.USUARIO.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 110px; max-width: 90px;">
                                                                </a>
                                                                <div class="media-body">
                                                                    @item.USUARIO.USUA_NM_NOME
                                                                    <small class="text-muted">@item.PAET_DT_ANOTACAO.Value.ToString("dd/MM/yyyy HH:mm")</small>
                                                                </div>
                                                            </div>
                                                            <div class="social-body">
                                                                <p>
                                                                    @item.PAET_TX_ANOTACAO
                                                                </p>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="tab-3" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Anotações</h4>
                                                @if (Model.PACIENTE_EXAME_ANOTACAO.Where(p => p.PAET_IN_ATIVO == 1).ToList().Count > 0)
                                                {
                                                    foreach (var item in (Model.PACIENTE_EXAME_ANOTACAO.Where(p => p.PAET_IN_ATIVO == 1)).OrderByDescending(a => a.PAET_DT_ANOTACAO))
                                                    {
                                                        <div class="social-feed-box">
                                                            <div class="social-avatar">
                                                                <a href="" class="pull-left">
                                                                    <img src="@Url.Content(item.USUARIO.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 110px; max-width: 90px;">
                                                                </a>
                                                                <div class="media-body">
                                                                    @item.USUARIO.USUA_NM_NOME
                                                                    <small class="text-muted">@item.PAET_DT_ANOTACAO.Value.ToString("dd/MM/yyyy HH:mm")</small>
                                                                </div>
                                                            </div>
                                                            <div class="social-body">
                                                                <p>
                                                                    @item.PAET_TX_ANOTACAO
                                                                </p>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")

}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
    
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>
    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluirAnotacao(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão da Anotação?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }
        function ShowModalExcluirAnexo(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Anexo?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#buttonLab').click(function () {
                $.ajax({
                    url: '@Url.Action("AcessarLaboratorioForm", "Paciente")',
                    type: 'POST',
                    success: function (response) {
                        if (response.success) {
                            window.open(response.url, '_blank');
                        }
                        else {
                            alert("Error calling method.");
                        }
                    },
                    error: function () {
                        alert("Error calling method.");
                    }
                });
            });
        }); 
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Edição am andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}

