@using Presentation.Extensions
@using CrossCutting;
@using EntitiesServices.Work_Classes;
@model ERP_Condominios_Solution.ViewModels.MovimentoEstoqueProdutoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div style="z-index: 999;" class="dotContainer">
    <div style="top: 500px" class="dotWrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Estoques</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaEstoque", "Estoque")">Central de Estoque</a>
            </li>
            <li class="active">
                <strong>Estoque - Movimentação</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="form-group" style=" margin-left: 15px; margin-right: 0px;">
            @* --- INÍCIO DA AJUDA CONTEXTUAL --- *@
            <details class="ajuda-contextual">
                <summary><i class="fa fa-info-circle text-info"></i> Resumo das funcionalidades desta página</summary>
                <div class="well well-sm">
                    <p>Essa é a página da de inclusão de movimentação de estoque de produtos do <b>WebDoctorPro</b>. Nela você poderá:</p>
                    <ol>
                        <li>Permite a inclusão de uma movimentação de estoque para um produto cadastrado.</li>
                        <li>Permite a inclusão de movimentações de entrada ou de saída.</li>
                    </ol>
                </div>
            </details>
            @* --- FIM DA AJUDA CONTEXTUAL --- *@
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    @if (ViewBag.TipoInclusao == 1)
                    {
                        <div class="row">
                            <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                                <h5>Material/Produto - Nova Movimentação de Estoque</h5>
                                <span style="color:green; font-weight: 500; font-size: 20px;">@ViewBag.Nome</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h5>Material/Produto - Nova Movimentação de Estoque</h5>
                    }
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "Erros Encontrados:", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="tabs-container">
                        @using (Html.BeginForm("IncluirMovimentacaoProduto", "Estoque", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                        {

                            <div class="form-group">
                                <br />
                                @Html.ButtonActionSubmit(text: "Confirmar inclusão da movimentação", htmlAttributes: new { @class = "btn-loading1" })
                                @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBaseEstoque", controller: "Estoque", htmlAttributes: new { @class = "btn-loading" })
                                <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                                    <i class="fa fa-spinner fa-spin"></i> Processando...
                                </span>
                            </div>

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Informações da Movimentação</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Identificação</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                    @if (ViewBag.TipoInclusao == 1)
                                                    {
                                                        @Html.HiddenFor(m => m.PROD_CD_ID)
                                                    }
                                                    @Html.HiddenFor(m => m.EMPR_CD_ID)
                                                    @Html.HiddenFor(m => m.EMFI_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_CD_ID)
                                                    @Html.HiddenFor(m => m.MOEP_VL_QUANTIDADE_ANTERIOR)
                                                    @Html.HiddenFor(m => m.MOEP_IN_ORIGEM)
                                                    @Html.HiddenFor(m => m.MOEP_IN_ATIVO)
                                                    Tipo de Movimento*
                                                    @Html.DropDownListFor(m => m.MOEP_IN_TIPO_MOVIMENTO, (SelectList)ViewBag.ES, "Selecionar", new { @class = "form-control", autofocus = true, @id = "es", onchange = "ValidaDiv($(this).val())" })
                                                    @Html.ValidationMessageFor(m => m.MOEP_IN_TIPO_MOVIMENTO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="entrada">
                                                    Tipo de Entrada*
                                                    @Html.DropDownListFor(m => m.MOEP_IN_TIPO, (SelectList)ViewBag.Entradas, "Selecionar", new { @class = "form-control", autofocus = true, @id = "ent", onchange = "ValidaEntrada($(this).val())" })
                                                    @Html.ValidationMessageFor(m => m.MOEP_IN_TIPO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="saida">
                                                    Tipo de Saída*
                                                    @Html.DropDownListFor(m => m.MOEP_IN_TIPO_1, (SelectList)ViewBag.Saidas, "Selecionar", new { @class = "form-control", autofocus = true, @id = "sai", onchange = "ValidaSaida($(this).val())" })
                                                    @Html.ValidationMessageFor(m => m.MOEP_IN_TIPO_1, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Responsável*
                                                    @Html.DropDownListFor(m => m.USUA_CD_ID, (SelectList)ViewBag.Usuarios, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.USUA_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data da Movimentação*
                                                    @Html.TextBoxFor(m => m.MOEP_DT_MOVIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn" })
                                                    @Html.ValidationMessageFor(m => m.MOEP_DT_MOVIMENTO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>                                    

                                        @if (ViewBag.TipoInclusao == 2)
                                        {
                                            <div class="row">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Material/Produto</h4>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                                        Nome do Material/Produto*
                                                        <select name="PROD_CD_ID" id="lstCliente" class="form-control" data-val="true" style="display: none;">
                                                        </select>
                                                        @Html.ValidationMessageFor(m => m.PROD_CD_ID, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Material/Produto</h4>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                                        @Html.TextBoxFor(m => m.MOEP_DS_PRODUTO, new { @class = "form-control", autofocus = true, @readonly = "readonly", style = "color: brown; font-weight: bold;" })
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Movimentação</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-1 col-md-1 col-xs-12">
                                                    Quantidade*
                                                    @Html.TextBoxFor(m => m.MOEP_QN_QUANTIDADE, new { @class = "form-control", autofocus = true, onfocus="this.select();" })
                                                    @Html.ValidationMessageFor(m => m.MOEP_QN_QUANTIDADE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12" id="forn">
                                                    Fornecedor
                                                    @Html.TextBoxFor(m => m.MOEP_NM_FORNECEDOR, new { @class = "form-control", autofocus = true, onfocus="this.select();" })
                                                    @Html.ValidationMessageFor(m => m.MOEP_NM_FORNECEDOR, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="valor">
                                                    Valor (R$)
                                                    @Html.TextBoxFor(m => m.MOEP_VL_VALOR_MOVIMENTO, new { @class = "form-control", autofocus = true, onfocus="this.select();" })
                                                    @Html.ValidationMessageFor(m => m.MOEP_VL_VALOR_MOVIMENTO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="pag">
                                                    Gera Pagamento*
                                                    @Html.DropDownListFor(m => m.MOEP_IN_OPERACAO, (SelectList)ViewBag.CP, "Selecionar", new { @class = "form-control", autofocus = true, @id = "gera", onchange = "ValidaPag($(this).val())" })
                                                    @Html.ValidationMessageFor(m => m.MOEP_IN_OPERACAO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="tipo">
                                                    Tipo de Pagamento
                                                    @Html.DropDownListFor(m => m.MOEP_IN_AUTORIZADOR_T, (SelectList)ViewBag.TipoPag, "Selecionar", new { @class = "form-control", autofocus = true, @id = "tipo" })
                                                    @Html.ValidationMessageFor(m => m.MOEP_IN_AUTORIZADOR_T, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="quita">
                                                    Pagamento Quitado
                                                    @Html.DropDownListFor(m => m.MOEP_IN_AUTORIZADOR, (SelectList)ViewBag.Quitado, "Selecionar", new { @class = "form-control", autofocus = true, @id = "quita" })
                                                    @Html.ValidationMessageFor(m => m.MOEP_IN_AUTORIZADOR, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>    
                                        
                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Justificativa</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Justificativa*
                                                    @Html.TextAreaFor(m => m.MOEP_DS_JUSTIFICATIVA, new { @class = "form-control", style = "width: 100%; height: 200px;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.MOEP_DS_JUSTIFICATIVA, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
}
@section Scripts {

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>
    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading1').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>


    <script type="text/javascript">
        $(function () {
            $("#dn").mask("99/99/9999");
            $("#dl").mask("99/99/9999");
            $("#dp").mask("99/99/9999");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Inclusão em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>
    <script type="text/javascript">
        function ValidaDiv(valTipo) {
            if (valTipo == '1') {
                $("#entrada").show();
                $("#saida").hide();
                $("#forn").hide();
                $("#valor").hide();
                $("#venda").hide();
                $("#pag").hide();
                $("#tipo").hide();
                $("#quita").hide();
            } else if (valTipo == '2') { 
                $("#entrada").hide();
                $("#saida").show();
                $("#forn").hide();
                $("#valor").hide();
                $("#venda").hide();
                $("#pag").hide();
                $("#tipo").hide();
                $("#quita").hide();
            } else { 
                $("#entrada").hide();
                $("#saida").hide();
                $("#forn").hide();
                $("#valor").hide();
                $("#venda").hide();
                $("#pag").hide();
                $("#tipo").hide();
                $("#quita").hide();
            }
        }

        $(document).ready(function () {
            ValidaDiv($('#es').val());
        });
    </script>
    <script type="text/javascript">
        function ValidaPag(valTipo) {
            if (valTipo == '1') {
                $("#tipo").show();
                $("#quita").show();
            } else if (valTipo == '2') { 
                $("#tipo").hide();
                $("#quita").hide();
            } else { 
                $("#tipo").hide();
                $("#quita").hide();
            }
        }
        $(document).ready(function () {
            ValidaPag($('#gera').val());
        });
    </script>

    <script type="text/javascript">
        function ValidaEntrada(valTipo) {
            if (valTipo == '1') {
                $("#forn").show();
                $("#valor").show();
                $("#venda").hide();
                $("#pag").show();
                $("#tipo").hide();
                $("#quita").hide();
            } else if (valTipo == '2') { 
                $("#forn").hide();
                $("#valor").hide();
                $("#venda").show();
                $("#pag").hide();
                $("#pag").hide();
                $("#tipo").hide();
                $("#quita").hide();
            } else if (valTipo == '3') { 
                $("#forn").show();
                $("#valor").hide();
                $("#venda").hide();
                $("#pag").hide();
                $("#pag").hide();
                $("#tipo").hide();
                $("#quita").hide();
            } else if (valTipo == '4') { 
                $("#forn").hide();
                $("#valor").hide();
                $("#venda").hide();
                $("#pag").hide();
                $("#pag").hide();
                $("#tipo").hide();
                $("#quita").hide();
            }
        }

        $(document).ready(function () {
            ValidaEntrada($('#ent').val());
        });
    </script>
    <script type="text/javascript">
        function ValidaSaida(valTipo) {
            if (valTipo == '5') {
                $("#forn").hide();
                $("#valor").hide();
                $("#venda").hide();
                $("#pag").hide();
                $("#pag").hide();
                $("#tipo").hide();
                $("#quita").hide();
            } else if (valTipo == '6') { 
                $("#forn").hide();
                $("#valor").hide();
                $("#venda").hide();
                $("#pag").hide();
                $("#pag").hide();
                $("#tipo").hide();
                $("#quita").hide();
            } else if (valTipo == '7') { 
                $("#forn").show();
                $("#valor").hide();
                $("#venda").hide();
                $("#pag").hide();
                $("#pag").hide();
                $("#tipo").hide();
                $("#quita").hide();
            } else if (valTipo == '8') { 
                $("#forn").hide();
                $("#valor").hide();
                $("#venda").hide();
                $("#pag").hide();
                $("#pag").hide();
                $("#tipo").hide();
                $("#quita").hide();
            }
        }

        $(document).ready(function () {
            ValidaSaida($('#sai').val());
        });
    </script>

    @*<script>
        $("#lstCliente").select2({
            ajax: {
                // Transformamos a url em uma função para decidir o método
                url: function () {
                    var tipoSelecionado = $('#ent').val();
                    var formaSelecionado = $('#es').val();
                
                    // Exemplo de lógica: se o valor for "1", busca por Nome, senão busca por Código
                    // Substitua '1' pelo valor real do seu DropDownList
                    if (formaSelecionado == 1) {
                        if (tipoSelecionado == "1" | tipoSelecionado == "4"  ) {
                            return '/Produto/BuscaNome';
                        } else {
                            return '/Produto/BuscaNomeProduto';
                        }
                    }
                    else {
                        return '/Produto/BuscaNome';
                    }
                },
                type: 'POST',
                delay: 250, // Adicionado para evitar excesso de requisições ao digitar
                data: function (params) {
                    return {
                        nome: params.term,
                        tipo: $('#ent').val() // Opcional: envia o tipo também para o C#
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            },
            placeholder: 'Busque por NOME',
            minimumInputLength: 1
        });
    </script>*@


    <script>
        $("#lstCliente").select2({
            //data: filterSelect,
            ajax: {
                url: '/Produto/BuscaNome',
                type: 'POST',
                data: function (params) {
                    var query = {
                        nome: params.term
                    }
                    return query
                },
                processResults: function (data) {
                    console.log(data);
                    return {
                        results: data
                    }
                }
            },
            placeholder: 'Busque por NOME',
            minimumInputLength: 1
        });
    </script>
    <script>
        function GetFornecedor(id) {
            var data = {
                id: id
            }

            $.ajax({
                url: '/Estoque/GetFornecedor'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    $('#nomeForn > input').val(r.nome);
                    $('#cidadeForn > input').val(r.cidade);
                    $('#ufForn > input').val(r.uf);

                    $('#nomeForn').show();
                    $('#cidadeForn').show();
                    $('#ufForn').show();
                }
            });
        }
    </script>
    <script>
        function GetFornecedorSai(id) {
            var data = {
                id: id
            }

            $.ajax({
                url: '/Estoque/GetFornecedor'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    $('#nomeForn1 > input').val(r.nome);
                    $('#cidadeForn1 > input').val(r.cidade);
                    $('#ufForn1 > input').val(r.uf);

                    $('#nomeForn1').show();
                    $('#cidadeForn1').show();
                    $('#ufForn1').show();
                }
            });
        }
    </script>


}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

