@using Presentation.Extensions
@using CrossCutting;
@using EntitiesServices.Work_Classes;
@model EntitiesServices.Model.MOVIMENTO_ESTOQUE_PRODUTO
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div style="z-index: 999;" class="dotContainer">
    <div style="top: 500px" class="dotWrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*Titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="containerModalDesc">
        <div class="modal fade" id="modalDesc" tabindex="-1" role="dialog" aria-labelledby="modalDesc" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDesc">Justificativa da Movimentação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalDescBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <h3 class="title">Estoques</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaEstoque", "Estoque")">Central de Estoque</a>
            </li>
            <li class="active">
                <strong>Movimentação de Estoque</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                </div>

                @using (Html.BeginForm("FiltrarMovimentoProduto", "Estoque", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Tipo de Movimento
                                @Html.DropDownListFor(m => m.MOEP_IN_TIPO_MOVIMENTO, (SelectList)ViewBag.ES, "Selecionar", new { @class = "form-control", autofocus = true, @id = "es", onchange = "ValidaDiv($(this).val())" })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12" id="entrada">
                                Tipo de Entrada
                                @Html.DropDownListFor(m => m.MOEP_IN_TIPO, (SelectList)ViewBag.Entradas, "Selecionar", new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12" id="saida">
                                Tipo de Saída
                                @Html.DropDownListFor(m => m.MOEP_IN_OPERACAO, (SelectList)ViewBag.Saidas, "Selecionar", new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Responsável
                                @Html.DropDownListFor(m => m.USUA_CD_ID, (SelectList)ViewBag.Usuarios, "Selecionar", new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Identificador
                                @Html.TextBoxFor(m => m.MOEP_GU_GUID, new { @class = "form-control", autofocus = true })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data Início
                                @Html.TextBoxFor(m => m.MOEP_DT_DATA_DUMMY_1, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id="data1" })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data Final
                                @Html.TextBoxFor(m => m.MOEP_DT_DATA_DUMMY, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id="data2" })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-12 col-md-12 col-xs-12">                                     
                                @Html.ButtonActionSubmit(text: "Filtrar")
                                @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Estoque", action: "RetirarFiltroMovimentoProduto")
                                @Html.ButtonLinkIndex(text: "Ver Excluídos", controller: "Estoque", action: "VerMovimentoExcluidoProduto")
                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_INCLUIR_MOVIMENTACAO_ESTOQUE == 1)
                                {
                                    @Html.ButtonLinkIndex(text: "Nova Movimentação", controller: "Estoque", action: "IncluirMovimentacaoProd")
                                }
                                @Html.ButtonLinkIndex(text: "Imprimir", controller: "Estoque", action: "GerarListagemMovimentacaoProduto")
                                @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaEstoque", controller: "Estoque")                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12"  id="Lista">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                            <h5>Material/Produto - Movimentações de Estoque</h5>
                            <span style="color:green; font-weight: 500; font-size: 20px;">@ViewBag.Nome</span>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="row">
                        @if (ViewBag.Listas != null && (ViewBag.Listas as List<EntitiesServices.Model.MOVIMENTO_ESTOQUE_PRODUTO>).Count > 0)
                        {
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead style="background-color:lightsteelblue">
                                    <tr>
                                        <th style="width: auto">Data</th>
                                        <th style="width: auto">Tipo</th>
                                        <th style="width: auto">Classe</th>
                                        <th style="width: auto">Material/Produto</th>
                                        <th style="width: auto">Código</th>
                                        <th style="width: auto">Quantidade</th>
                                        <th style="width: auto">Identificador</th>
                                        <th style="width: auto">Responsável</th>
                                        <th style="width: auto" class="td-one-action">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.MOVIMENTO_ESTOQUE_PRODUTO>).OrderByDescending(p => p.MOEP_DT_MOVIMENTO).ThenBy(p => p.MOEP_IN_TIPO_MOVIMENTO).ThenBy(p => p.MOEP_IN_TIPO))
                                    {
                                        <tr>                                            
                                            <td style="cursor: pointer; text-decoration: underline; color: #337ab7; width: auto" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Ver a justificativa da movimentação de estoque" onclick="mostrarDesc('@cond.MOEP_DS_JUSTIFICATIVA')">@cond.MOEP_DT_MOVIMENTO.ToShortDateString()</td>

                                            @if (cond.MOEP_IN_TIPO_MOVIMENTO == 1) 
                                            {
                                                <td style="width: auto"><span class="badge badge-primary">Entrada</span></td>
                                            }
                                            else
                                            {
                                                <td style="width: auto"><span class="badge badge-success">Saída</span></td>
                                            }

                                            @if (cond.MOEP_IN_TIPO == 1)
                                            {
                                                <td style="width: auto"><span class="badge badge-primary">Compra</span></td>
                                            }
                                            else if (cond.MOEP_IN_TIPO == 2)
                                            {
                                                <td style="width: auto"><span class="badge badge-primary">Devolução de venda</span></td>
                                            }
                                            else if (cond.MOEP_IN_TIPO == 3)
                                            {
                                                <td style="width: auto"><span class="badge badge-primary">Retorno de manutenção</span></td>
                                            }
                                            else if (cond.MOEP_IN_TIPO == 4)
                                            {
                                                <td style="width: auto"><span class="badge badge-primary">Acerto Manual</span></td>
                                            }
                                            else if (cond.MOEP_IN_TIPO == 5)
                                            {
                                                <td style="width: auto"><span class="badge badge-success">Descarte</span></td>
                                            }
                                            else if (cond.MOEP_IN_TIPO == 6)
                                            {
                                                <td style="width: auto"><span class="badge badge-success">Perda</span></td>
                                            }
                                            else if (cond.MOEP_IN_TIPO == 7)
                                            {
                                                <td style="width: auto"><span class="badge badge-success">Envio para Manutenção</span></td>
                                            }
                                            else if (cond.MOEP_IN_TIPO == 8)
                                            {
                                                <td style="width: auto"><span class="badge badge-success">Acerto Manual</span></td>
                                            }
                                            else
                                            {
                                                <td style="width: auto"><span class="badge badge-warning">-</span></td>
                                            }

                                            <td style="width: auto">@cond.PRODUTO.PROD_NM_NOME</td>
                                            <td style="width: auto">@cond.PRODUTO.PROD_CD_CODIGO</td>
                                            <td style="width: auto">@cond.MOEP_QN_QUANTIDADE</td>
                                            <td style="width: auto">@cond.MOEP_GU_GUID</td>
                                            <td style="width: auto">@cond.USUARIO.USUA_NM_NOME</td>

                                            <td style="width: auto" class="td-one-action">
                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_VER_MOVIMENTACAO_ESTOQUE == 1)
                                                {
                                                    @Html.TableLinkDetails(cond.MOEP_CD_ID, "VerMovimentacaoEstoque", "fa-search", "Ver Movimentação")
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-xs-2">

                                </div>
                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-6 col-md-6 col-xs-8">
                                    <h2 style="font-weight: bold">Nenhuma movimentação de estoque registrada para este produto</h2>
                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Estoque", action: "RetirarFiltroMovimentoProduto")
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-2">

                                </div>
                            </div>
                        }
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>    

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script>
        function mostrarDesc(desc) {
            $('#modalDescBody').html(desc);
            $('#modalDesc').modal('show');
        }
    </script>
    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Movimentação?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'MovEstoque_Planilha' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });      
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#data1").mask("99/99/9999");
            $("#data2").mask("99/99/9999");
        });
    </script>
    <script type="text/javascript">
        function ValidaDiv(valTipo) {
            if (valTipo == '1') {
                $("#entrada").show();
                $("#saida").hide();
            } else if (valTipo == '2') { 
                $("#entrada").hide();
                $("#saida").show();
            } else { 
                $("#entrada").hide();
                $("#saida").hide();
            }
        }

        $(document).ready(function () {
            ValidaDiv($('#es').val());
        });
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

