@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.MensagemViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Mensagens</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaMensagemEMail", "Mensagem")">Central de E-Mails</a>
            </li>
            <li class="active">
                <strong>E-Mail - Criação</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>E-Mail - Criação</h5>
                </div>
                <div class="ibox-content" id="ibox1">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="tabs-container">
                        @using (Html.BeginForm("IncluirMensagemEMail", "Mensagem", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                        {
                            <div class="form-group">
                                <br />
                                <div class="col-lg-10 col-md-10 col-xs-10">
                                    @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;", OnClick = "Fade()"  })
                                    <button class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirma Envio do E-Mail</button>
                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_INCLUSAO_CLIENTE == 1)
                                    {
                                        @Html.ButtonLinkIndex(text: "Novo Paciente", action: "IncluirPaciente", controller: "Mensagem")
                                    }
                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_INCLUSAO_GRUPO == 1)
                                    {
                                        @Html.ButtonLinkIndex(text: "Novo Grupo", action: "IncluirGrupo", controller: "Mensagem")
                                    }
                                    @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBaseMensagemEMail", controller: "Mensagem")
                                </div>
                                <div class="col-lg-2">
                                    <div style="display: none; z-index:1000" class="dotContainer">
                                        <div class="spiner-example">
                                            <div class="sk-spinner sk-spinner-three-bounce">
                                                <div class="sk-bounce1"></div>
                                                <div class="sk-bounce2"></div>
                                                <div class="sk-bounce3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Montagem do E-Mail</a></li>
                            </ul>

                            <div class="tab-content">
                                @*Dados Gerais*@
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-5 col-md-5 col-xs-12">
                                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 320px">
                                                    <div class="ibox-title">
                                                        <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Dados da Mensagem</h4>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                                @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                                @Html.HiddenFor(m => m.MENS_IN_ATIVO)
                                                                @Html.HiddenFor(m => m.MENS_DT_CRIACAO)
                                                                @Html.HiddenFor(m => m.USUA_CD_ID)
                                                                @Html.HiddenFor(m => m.MENS_IN_TIPO)
                                                                @Html.HiddenFor(m => m.EMPR_CD_ID)
                                                                @Html.HiddenFor(m => m.EMFI_CD_ID)
                                                                @Html.HiddenFor(m => m.EMPR_CD_ID)
                                                                @Html.HiddenFor(m => m.MENS_IN_OCORRENCIAS)
                                                                @Html.HiddenFor(m => m.MENS_IN_ENVIADAS)
                                                                @Html.HiddenFor(m => m.MENS_IN_SISTEMA)
                                                                Nome da Mensagem*
                                                                @Html.TextBoxFor(m => m.MENS_NM_NOME, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Especifique um nome para identificar essa mensagem. O nome não precisa ser único", data_trigger="hover", data_placement="top" })
                                                                @Html.ValidationMessageFor(m => m.MENS_NM_NOME, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-4 col-md-4 col-xs-12">
                                                                Data Criação
                                                                @Html.TextBoxFor(m => m.MENS_DT_CRIACAO, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @id = "dn", @readonly = "readonly", @style = "font-weight:bold; color: green" })
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-xs-12">
                                                                Tipo de E-Mail*
                                                                @Html.DropDownListFor(m => m.MENS_IN_TIPO_EMAIL, (SelectList)ViewBag.Tipos, "Selecionar", new { @class = "form-control", autofocus = true, @id = "tipo", data_toggle = "popover", data_content = "Selecione o tipo de e-mail a ser criado: mensagem HTML digitada ou arquivo HTML pré-existente", data_trigger="hover", data_placement="top", onchange = "ValidaTipo($(this).val())" })
                                                                @Html.ValidationMessageFor(m => m.MENS_IN_TIPO_EMAIL, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-6 col-md-6 col-xs-12">
                                                                Tipo de Envio*
                                                                @Html.DropDownListFor(m => m.TIPO_ENVIO, (SelectList)ViewBag.TiposEnvio, "Selecionar", new { @class = "form-control", autofocus = true, @id = "envio", data_toggle = "popover", data_content = "Selecione o tipo de envio. Se vai selecionar pacientes ou se envia para todos os pacientes cadastrados", data_trigger="hover", data_placement="top", onchange = "ValidaEnvio($(this).val())" })
                                                                @Html.ValidationMessageFor(m => m.TIPO_ENVIO, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-7 col-md-7 col-xs-12">
                                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 320px">
                                                    <div class="ibox-title">
                                                        <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Destinatários</h4>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <h5 style="color:brown">Selecione um paciente ou um grupo de pacientes. Ao escolher um paciente, ela terá prevalência sobre outras seleções</h5>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: 0px;" id="paciente">
                                                            <div class="col-lg-11 col-md-11 col-xs-12">
                                                                Nome do Paciente
                                                                <select name="ID" id="lstCliente" class="form-control" data-val="true" style="display: none;" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Especifique um paciente para enviar mensagem. Digite as primeiras letras e selecione um nome na lista">
                                                                </select>
                                                            </div> 
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;" id="grupo">
                                                            <div class="col-lg-9 col-md-9 col-xs-12">
                                                                Grupo de Pacientes
                                                                @Html.DropDownListFor(m => m.GRPA_CD_ID, (SelectList)ViewBag.Grupos, "Selecionar", new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Selecione um grupo de pacientes pré-cadastrado", data_trigger="hover", data_placement="top", @id="gr", onchange = "GetGrupo($(this).val())"  })
                                                            </div>
                                                            <div style="display: none;" id="quantGrupo" class="col-lg-3 col-md-3 col-xs-12">
                                                                Num.Pacientes no Grupo
                                                                <input class="form-control" type="text" readonly="readonly" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;" id="aniversario">
                                                            <div class="col-lg-9 col-md-9 col-xs-12">
                                                                Grupo de Aniversariantes
                                                                @Html.DropDownListFor(m => m.ANIVERSARIO, (SelectList)ViewBag.Aniversariantes, "Selecionar", new { @class = "form-control", autofocus = true, @id="aniv", data_toggle = "popover", data_content = "Selecione o tipo de grupo de aniversariantes a enviar mensagens: aniversariantes do dia ou do mês corrente", data_trigger="hover", data_placement="top", onchange = "GetAniversario($(this).val())"  })
                                                            </div>
                                                            <div style="display: none;" id="quantAniv" class="col-lg-3 col-md-3 col-xs-12">
                                                                Numero de Aniversariantes
                                                                <input class="form-control" type="text" readonly="readonly" />
                                                            </div>
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-5 col-md-5 col-xs-12">
                                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" id="link" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                                    <div class="ibox-title">
                                                        <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Conteúdo da Mensagem</h4>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-12 col-md-12 col-xs-12" id="EM">
                                                                Link a ser incluído na mensagem
                                                                @Html.TextBoxFor(m => m.MENS_NM_LINK, new { @class = "form-control", autofocus = true, @id="link", data_toggle = "popover", data_content = "Selecione um link para ser acrescentado no final da mensagem. Use o formato xxxxx.com.br", data_trigger="hover", data_placement="top" })
                                                                @Html.ValidationMessageFor(m => m.MENS_NM_LINK, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                                Modelo E-Mail
                                                                @Html.DropDownListFor(m => m.TEEM_CD_ID, (SelectList)ViewBag.Temp, "Selecionar", new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Selecione um modelo pré-cadastrado de mensagens de e-mail", data_trigger="hover", data_placement="top", @id = "temp", onchange = "PesquisaTemplate($(this).val())" })
                                                                @Html.ValidationMessageFor(m => m.TEEM_CD_ID, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 300px; overflow-y: scroll" >
                                                    <div class="ibox-title">
                                                        <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Anexos</h4>  <input class="btn btn-sm btn-warning" id="inputFile" type="file" multiple />
                                                    </div>
                                                    <div class="ibox-content">
                                                        <div class="row" style="display: none">
                                                            <div style="margin-left: 15px;" class="col-lg-12 col-md-12 col-xs-12">
                                                                <div class="form-group">
                                                                    <h4>Logotipo/Foto</h4><input type="file" accept=".jpg, .png, .jpeg, .gif|images/*" name="file" id="imgCliente" class="btn btn-sm btn-warning" multiple />
                                                                    <br />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <hr />
                                                                <table style="width: 100%;" class="table table-striped table-bordered table-hover dataTables-example" id="myFiles">
                                                                    <thead style="background-color:lightsteelblue">
                                                                        <tr>
                                                                            <td>Nome</td>
                                                                            <td>Tipo</td>
                                                                            <td>Ações</td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody></tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 190px">
                                                    <div class="ibox-title">
                                                        <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Agendamento</h4>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <h5 style="color:brown">Selecione a data para envio ou para início das repetições</h5>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                                                        
                                                            <div class="col-lg-6 col-md-6 col-xs-12">
                                                                Agendar para
                                                                @Html.TextBoxFor(m => m.MENS_DT_AGENDAMENTO, new { @class = "form-control datetime-picker", autofocus = true, data_toggle = "popover", data_content = "Selecione uma data para agendamento do envio desta mensagem. Lembrando que se não for especificada a hora de envio, as mensagens serão sempre enviadas às 00:00", data_trigger="hover", data_placement="top", @id = "da", @style = "font-weight:bold" })
                                                                @Html.ValidationMessageFor(m => m.MENS_DT_AGENDAMENTO, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 260px">
                                                    <div class="ibox-title">
                                                        <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Recursividade</h4>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <h5 style="color:brown">Selecione a forma e o número de repetições do envio</h5>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                                                        
                                                            <div class="col-lg-6 col-md-6 col-xs-12">
                                                                Forma de Repetição
                                                                @Html.DropDownListFor(m => m.FORMA_REPETICAO, (SelectList)ViewBag.Forma, "Selecionar", new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Selecione a forma de repetição do envio da mensagem: Periodicidade, dia do mês ou dia da semana", data_trigger="hover", data_placement="top", @id = "forma", onchange = "ValidaForma($(this).val())" })
                                                                @Html.ValidationMessageFor(m => m.FORMA_REPETICAO, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                                                        
                                                            <div class="col-lg-6 col-md-6 col-xs-12" style="display: none;" id="diames">
                                                                Dia do Mês
                                                                @Html.TextBoxFor(m => m.DIA_MES, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Especifique o dia do mês em que esta mensagem será repetidamente enviada", data_trigger="hover", data_placement="top", @id = "diames" })
                                                                @Html.ValidationMessageFor(m => m.DIA_MES, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-xs-12" style="display: none;" id="semana">
                                                                Dia da Semana
                                                                @Html.DropDownListFor(m => m.DIA_SEMANA, (SelectList)ViewBag.Semana, "Selecionar", new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Especifique o dia da semana em que a mensagem será repetidamente enviada", data_trigger="hover", data_placement="top", @id = "temp" })
                                                                @Html.ValidationMessageFor(m => m.DIA_SEMANA, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-xs-12" style="display: none;" id="peri">
                                                                Periodicidade
                                                                @Html.DropDownListFor(m => m.PETA_CD_ID, (SelectList)ViewBag.Periodicidade, "Selecionar", new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Selecione uma das periodicidades cadastradas", data_trigger="hover", data_placement="top", @id = "temp" })
                                                                @Html.ValidationMessageFor(m => m.PETA_CD_ID, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-xs-12" style="display: none;" id="repete">
                                                                Repetições
                                                                @Html.TextBoxFor(m => m.MENS_NR_REPETICOES, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Especifique o número de repetições do envio da mensagem para a periodicidade especificada", data_trigger="hover", data_placement="top", @id = "repeticao" })
                                                                @Html.ValidationMessageFor(m => m.MENS_NR_REPETICOES, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" >
                                                    <div class="col-lg-12">
                                                        <div style="display: none; z-index:1000" class="dotContainer">
                                                            <div class="spiner-example">
                                                                <div class="sk-spinner sk-spinner-three-bounce">
                                                                    <div class="sk-bounce1"></div>
                                                                    <div class="sk-bounce2"></div>
                                                                    <div class="sk-bounce3"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-7 col-md-7 col-xs-12" id="texto">
                                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 960px;">
                                                    <div class="ibox-title">
                                                        <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Texto da Mensagem</h4>
                                                        <h5 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">A tag {Nome} pode ser incluída em qualquer ponto e será substituida pelo nome do paciente</h5>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <div class="row">
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                                    Cabeçalho da Mensagem
                                                                    @Html.TextAreaFor(m => m.MENS_NM_CABECALHO, new { @class = "form-control summernote", style = "width: 100%; height: 200px;", autofocus = true,  @id = "cab" })
                                                                    @Html.ValidationMessageFor(m => m.MENS_NM_CABECALHO, "", new { @style = "color:red" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                                    Corpo da Mensagem
                                                                    @Html.TextAreaFor(m => m.MENS_TX_TEXTO, new { @class = "form-control summernote", style = "width: 100%; height: 400px;", autofocus = true,  @id = "corpo" })
                                                                    @Html.ValidationMessageFor(m => m.MENS_TX_TEXTO, "", new { @style = "color:red" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                <div class="col-lg-12 col-md-12 col-xs-12"      >
                                                                    Rodapé da Mensagem
                                                                    @Html.TextAreaFor(m => m.MENS_NM_RODAPE, new { @class = "form-control summernote", style = "width: 100%; height: 200px;", autofocus = true,  @id = "rodape" })
                                                                    @Html.ValidationMessageFor(m => m.MENS_NM_RODAPE, "", new { @style = "color:red" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-xs-12" id="html" display="none">
                                                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 230px">
                                                    <div class="ibox-title">
                                                        <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Arquivo HTML</h4>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                                Nome do Arquivo a ser enviado
                                                                @Html.DropDownListFor(m => m.MENS_AQ_ARQUIVO, (SelectList)ViewBag.Modelos, "Selecionar", new { @class = "form-control", autofocus = true, @id = "temp", data_toggle = "popover", data_content = "Selecione um arquivo HTML pré-cadastrado para envio na mensagem", data_trigger="hover", data_placement="top" })
                                                                @Html.ValidationMessageFor(m => m.MENS_AQ_ARQUIVO, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;", OnClick = "Fade()"  })
                                        <button class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirma Envio do E-Mail</button>
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBaseMensagemEMail", controller: "Mensagem")
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.css" rel="stylesheet">
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>    
    <script src="~/Scripts/uploadAnexo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.js"></script>
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>*@   
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script type="text/javascript">
        $(function () {
            $("#dn").mask("99/99/9999");
            $("#da").mask("99/99/9999");
        });
    </script>
    <script>
        function Fade() {
            $('.dotContainer').fadeIn("fast");
            $('#login').css("filter", "blur(4px)");
        }
    </script>
    <script>
        $(window).on("load", function () {
            $('.dotContainer').fadeOut("slow");
            $('#title').css("filter", "blur(0)");
            $('#content').css("filter", "blur(0)");
        });
    </script>

    <script type="text/javascript">
        function ValidaForma(valNac) {
            if (valNac == '2') {
                $("#peri").hide();
                $("#diames").show();
                $("#semana").hide();
                $("#repete").show();
            } else if (valNac == '3') {
                $("#peri").hide();
                $("#diames").hide();
                $("#semana").show();
                $("#repete").show();
            } else {
                $("#peri").show();
                $("#diames").hide();
                $("#semana").hide();
                $("#repete").show();
            } 
        }
        $(document).ready(function () {
            ValidaForma($('#forma').val());
        });
    </script>

    <script type="text/javascript">
        function ValidaEnvio(valNac) {
            if (valNac == '1') {
                $("#paciente").show();
                $("#grupo").show();
                $("#aniversario").show();
            } else {
                $("#paciente").hide();
                $("#grupo").hide();
                $("#aniversario").hide();
            } 
        }
        $(document).ready(function () {
            ValidaEnvio($('#envio').val());
        });
    </script>

    <script>
        $("#lstCliente").select2({
            //data: filterSelect,
            ajax: {
                url: '../Paciente/BuscaNomeRazao',
                type: 'POST',
                data: function (params) {
                    var query = {
                        nome: params.term
                    }
                    return query
                },
                processResults: function (data) {
                    return {
                        results: data
                    }
                }
            },
            placeholder: 'Busque por NOME ou NOME SOCIAL',
            minimumInputLength: 1
        });
    </script>

    <script>
        function GetGrupo(id) {
            var data = {
                id: id
            }

            $.ajax({
                url: '../Grupo/GetGrupo'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    $('#quantGrupo > input').val(r.quant);
                    $('#quantGrupo').show();
                }
            });
        }
    </script>

        <script>
        function GetAniversario(id) {
            var data = {
                id: id
            }

            $.ajax({
                url: '../Mensagem/GetAniversario'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    $('#quantAniv > input').val(r.quant);
                    $('#quantAniv').show();
                }
            });
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.summernote').summernote(
            {
              toolbar: [
                  ['ur', ['undo', 'redo']],
                  ['font', ['bold', 'italic', 'underline', 'superscript', 'subscript']],
                  ['fontname', ['fontname']],
                  ['fontsize', ['fontsize', 'fontsizeunit']],
                  ['color', ['color']],
                  ['para', ['ul', 'ol', 'paragraph']],
                  ['height', ['height']],
                  ['table', ['table']],
                ],
                lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Helvetica', 'Impact', 'Lucida Grande', 'Tahoma', 'Times New Roman', 'Verdana'],
                spellCheck: false
            });

        });

        var edit = function () {
            $('.click2edit').summernote({ focus: true });
        };

        var save = function () {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.summernote1').summernote(
            {
              toolbar: [
                  ['ur', ['undo', 'redo']],
                  ['font', ['bold', 'italic', 'underline', 'superscript', 'subscript']],
                  ['fontname', ['fontname']],
                  ['fontsize', ['fontsize', 'fontsizeunit']],
                  ['color', ['color']],
                  ['para', ['ul', 'ol', 'paragraph']],
                  ['height', ['height']],
                  ['table', ['table']],
                ],
                lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Helvetica', 'Impact', 'Lucida Grande', 'Tahoma', 'Times New Roman', 'Verdana'],
                spellCheck: false
            });

        });

        var edit = function () {
            $('.click2edit').summernote({ focus: true });
        };

        var save = function () {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.summernote2').summernote(
            {
              toolbar: [
                  ['ur', ['undo', 'redo']],
                  ['font', ['bold', 'italic', 'underline', 'superscript', 'subscript']],
                  ['fontname', ['fontname']],
                  ['fontsize', ['fontsize', 'fontsizeunit']],
                  ['color', ['color']],
                  ['para', ['ul', 'ol', 'paragraph']],
                  ['height', ['height']],
                  ['table', ['table']],
                ],
                lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Helvetica', 'Impact', 'Lucida Grande', 'Tahoma', 'Times New Roman', 'Verdana'],
                spellCheck: false
            });

        });

        var edit = function () {
            $('.click2edit').summernote({ focus: true });
        };

        var save = function () {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };
    </script>


    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.datetime-picker').datetimepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    controlType: 'select',
                    showSecond: "false",
                    timeFormat: 'HH:mm:ss',
                    locale: 'pt-br',
                    hourText: 'Hora',
                    minuteText: 'Minuto',
                    secondText: 'Segundo',
                    currentText: 'Agora',
                    closeText: 'Feito',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>

    <script>
        function PesquisaTemplate(temp) {
            data = {
                temp: temp
            }
            $.ajax({
                url: '../Mensagem/PesquisaTemplateEMail'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    $('#corpo').summernote('code', r.TEEM_TX_CORPO);
                    $('#cab').summernote('code', r.TEEM_TX_CABECALHO);
                    $('#rodape').summernote('code', r.TEEM_TX_DADOS);

                }
            });
        }
        $(document).ready(function () {
            PesquisaTemplate($('#temp').val());
        });
    </script>

    <script type="text/javascript">
        function ValidaTipo(tipo) {
            if (tipo == '1') {
                $("#html").hide();
                $("#texto").show();
                $("#link").show();
            } else if (tipo == '2') { 
                $("#texto").hide();
                $("#html").show();
                $("#link").hide();
            } 
        }
        $(document).ready(function () {
            ValidaTipo($('#tipo').val());
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Envio de Mensagem em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    <script>
        SendFilesV2('imgCliente', 'Mensagem', 'UploadFileToSession');
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
