@using Presentation.Extensions
@using CrossCutting;
@using EntitiesServices.Work_Classes;
@model EntitiesServices.Model.MENSAGENS
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div style="z-index: 999;" class="dotContainer">
    <div style="top: 500px" class="dotWrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Mensagens</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Central de Mensagens</strong>
            </li>
        </ol>
        <br />
    </div>

    @*Widgets*@
    <br />
    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="background-color: cornflowerblue; color: darkgreen">
                    <span class="label label-success pull-right">Hoje</span>
                    <h5>Mensagens</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.EMailsTotalCriado</h1>
                    <small>Mensagens - Total</small>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="background-color: cornflowerblue; color: darkgreen">
                    <span class="label label-success pull-right">Hoje</span>
                    <h5>Mensagens</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.EMailsTotalCriadoDia</h1>
                    <small>Mensagens Criadas - Dia</small>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="background-color: cornflowerblue; color: darkgreen">
                    <span class="label label-success pull-right">Hoje</span>
                    <h5>Mensagens</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.EMailsTotalCriadoMes</h1>
                    <small>Mensagens Criadas - Mês</small>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div style="display: none; z-index:1000" class="dotContainer">
                <div class="spiner-example">
                    <div class="sk-spinner sk-spinner-three-bounce">
                        <div class="sk-bounce1"></div>
                        <div class="sk-bounce2"></div>
                        <div class="sk-bounce3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                </div>

                @using (Html.BeginForm("FiltrarMensagemEMail", "Mensagem", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-5 col-md-5 col-xs-12">
                                Nome da Mensagem
                                @Html.TextBoxFor(m => m.MENS_NM_NOME, new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data Inicial
                                @Html.TextBoxFor(m => m.MENS_DT_ENVIO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "data2" })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data Final
                                @Html.TextBoxFor(m => m.MENS_DT_AGENDAMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "data3" })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                @Html.ButtonActionSubmit(text: "Filtrar")
                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_INCLUSAO_MENSAGEM == 1)
                                {
                                    @Html.ButtonLinkIndex(text: "Nova Mensagem", controller: "Mensagem", action: "IncluirMensagemEMail", buttonClass: "primary", htmlAttributes: new { @id = "cli", OnClick = "Fade()" })
                                }
                                @Html.ButtonLinkIndex(text: "Ver Hoje", controller: "Mensagem", action: "RetirarFiltroMensagemEMail", buttonClass: "warning", htmlAttributes: new { @id = "cli", OnClick = "Fade()" })
                                @Html.ButtonLinkIndex(text: "Ver Mês Corrente", controller: "Mensagem", action: "MostrarMesAtualMensagemEMail", buttonClass: "warning", htmlAttributes: new { @id = "cli", OnClick = "Fade()" })
                                @Html.ButtonLinkIndex(text: "Ver Todos os Meses", controller: "Mensagem", action: "MostrarMesesMensagemEMail", buttonClass: "warning", htmlAttributes: new { @id = "cli", OnClick = "Fade()" })
                                @Html.ButtonLinkIndex(text: "Ver Agendadas", controller: "Mensagem", action: "VerEMailAgendados", buttonClass: "warning", htmlAttributes: new { @id = "cli", OnClick = "Fade()" })
                                @Html.ButtonLinkIndex(text: "Resumo de Envios do Robot", action: "MontarTelaResumoEnvios", controller: "Mensagem", buttonClass: "primary", htmlAttributes: new { @id = "cli", OnClick = "Fade()" })
                                @Html.ButtonLinkIndex(text: "Resumo de Envios Automáticos", action: "MontarTelaMensagensEnviadas", controller: "BaseAdmin", buttonClass: "primary", htmlAttributes: new { @id = "cli", OnClick = "Fade()" })
                                @Html.ButtonLinkIndex(text: "Voltar", controller: "Mensagem", action: "VoltarBaseMensagem", buttonClass: "warning", htmlAttributes: new { @id = "cli", OnClick = "Fade()" })
                                <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank">Ajuda</a>                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Central de Mensagens - E-Mails</h5>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="row">
                        @if (ViewBag.Listas != null && (ViewBag.Listas as List<EntitiesServices.Model.MENSAGENS>).Count > 0)
                        {
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead style="background-color:lightsteelblue">
                                    <tr>
                                        <th style="width: auto">Data da Criação</th>
                                        <th style="width: auto">Envios</th>
                                        <th style="width: auto">Nome da Mensagem</th>
                                        <th style="width: auto">Agendamento</th>
                                        <th style="width: auto">Destinos</th>
                                        <th style="width: auto">Recursividade</th>
                                        <th style="width: auto">Repetições</th>
                                        <th style="width: auto">Num.Enviadas</th>
                                        <th style="width: auto">Status</th>
                                        <th style="width: auto">Identificador</th>
                                        <th class="td-one-action">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.MENSAGENS>))
                                    {
                                        <tr>
                                            <td style="width: auto">@cond.MENS_DT_CRIACAO.Value.ToShortDateString() @cond.MENS_DT_CRIACAO.Value.ToShortTimeString()</td>
                                            
                                            @if (cond.MENS_NR_REPETICOES > 0)
                                            {
                                                <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("VerRecursividades", "Mensagem", new { id = cond.MENS_CD_ID })" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização da recursividade da mensagem"/>Ver Envios</td>
                                            }
                                            else
                                            {
                                                <td style="width: auto">-</td>
                                            }

                                            <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("VerMensagemEMail", "Mensagem", new { id = cond.MENS_CD_ID })" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização da mensagem"/>@cond.MENS_NM_NOME</td>

                                            @if (cond.MENS_DT_AGENDAMENTO != null)
                                            {
                                                <td style="width: auto">@cond.MENS_DT_AGENDAMENTO.Value.ToShortDateString() @cond.MENS_DT_AGENDAMENTO.Value.ToShortTimeString()</td>
                                            }
                                            else
                                            {
                                                <td style="width: auto">-</td>
                                            }

                                            @if (cond.MENS_IN_DESTINOS != 0)
                                            {
                                                <td style="width: auto">@cond.MENS_IN_DESTINOS</td>
                                            }
                                            else
                                            {
                                                <td style="width: auto">-</td>
                                            }

                                            @if (cond.MENS_NR_REPETICOES > 0)
                                            {
                                                <td style="width: auto"><span class="badge badge-primary">Sim</span></td>
                                            }
                                            else
                                            {
                                                <td style="width: auto"><span class="badge badge-primary">Não</span></td>
                                            }

                                            @if (cond.MENS_NR_REPETICOES > 0)
                                            {
                                                <td style="width: auto">@cond.MENS_NR_REPETICOES</td>
                                            }
                                            else
                                            {
                                                <td style="width: auto">-</td>
                                            }

                                            <td style="width: auto">@cond.MENS_IN_ENVIADAS</td>

                                            @if (cond.MENS_IN_STATUS == 1)
                                            {
                                                <td style="width: auto"><span class="badge badge-primary">Agendada</span></td>
                                            }
                                            else if (cond.MENS_IN_STATUS == 2)
                                            {
                                                <td style="width: auto"><span class="badge badge-success">Enviada</span></td>
                                            }
                                            else if (cond.MENS_IN_STATUS == 3)
                                            {
                                                <td style="width: auto"><span class="badge badge-danger">Falhada</span></td>
                                            }
                                            else if (cond.MENS_IN_STATUS == 4)
                                            {
                                                <td style="width: auto"><span class="badge badge-warning">Recursiva</span></td>
                                            }
                                            <td style="width: auto">@cond.MENS_ID_IDENTIFICADOR</td>
                                            <td style="width: auto" class="td-one-action">
                                                @Html.TableLinkDetails(cond.MENS_CD_ID, "VerMensagemEMail", "fa-search", "Ver Mensagem")
                                                @if (cond.MENS_NR_REPETICOES > 0)
                                                {
                                                    @Html.TableLinkDetails(cond.MENS_CD_ID, "VerRecursividades", "fa-calendar", "Ver Envios")
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-xs-2">

                                </div>
                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                    <h2 style="font-weight: bold">Sua pesquisa não retornou nenhum resultado ou nenhuma mensagem cadastrada para a data especificada</h2>
                                    @Html.ButtonLinkIndex(text: "Ver Hoje", controller: "Mensagem", action: "RetirarFiltroMensagemEMail")
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-2">

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script>
        function Fade() {
            $('.dotContainer').fadeIn("fast");
            $('#login').css("filter", "blur(4px)");
        }
    </script>
    <script>
        $(window).on("load", function () {
            $('.dotContainer').fadeOut("slow");
            $('#title').css("filter", "blur(0)");
            $('#content').css("filter", "blur(0)");
        });
    </script>

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'MensagemEMail_Planilha' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("#data1").mask("99/99/9999");
            $("#data2").mask("99/99/9999");
            $("#data3").mask("99/99/9999");
        });
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

