@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.MensagemViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title"> 
        <h3 class="title">Mensagens</h3> 
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaMensagemEMail", "Mensagem")">Mensagens - E-Mails</a>
            </li>
            <li class="active">
                <strong>E-Mail - Consulta</strong>
            </li>
        </ol>
        <br />
    </div>


    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>E-Mail - Consulta</h5>
                </div>

                <div class="ibox-content">
                    @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoMensagemEMail", controller: "Mensagem")

                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Informações da Mensagem</a></li>
                        </ul>

                        <div class="tab-content">
                            @*Dados Gerais*@
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    @using (Html.BeginForm("VerMensagemEMail", "Mensagem", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        <div class="row" style="width: 100%;">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Identificação da Mensagem</h4>
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Usuário Emissor
                                                        @Html.TextBoxFor(m => m.USUARIO.USUA_NM_NOME, new { @class = "form-control", @readonly="readonly", @style = "color:green; font-weight: bold" })
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Nome da Mensagem
                                                        @Html.TextBoxFor(m => m.MENS_NM_NOME, new { @class = "form-control", @readonly="readonly" })
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Identificador da Mensagem
                                                        @Html.TextBoxFor(m => m.MENS_GU_GUID, new { @class = "form-control", @readonly="readonly", @style = "color:brown; font-weight: bold" })
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data Criação
                                                        @Html.TextBoxFor(m => m.MENS_DT_CRIACAO, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data Envio
                                                        @Html.TextBoxFor(m => m.MENS_DT_ENVIO, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data Agendamento
                                                        @Html.TextBoxFor(m => m.MENS_DT_AGENDAMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Link Disponibilizado
                                                        @Html.TextBoxFor(m => m.MENS_NM_LINK, new { @class = "form-control", @readonly="readonly" })
                                                    </div>
                                                </div>
                                                @if (!String.IsNullOrEmpty(Model.MENS_TX_RETORNO))
                                                {
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                                            Erro no envio
                                                            @Html.TextAreaFor(m => m.MENS_TX_RETORNO, new { @class = "form-control", style = "width: 100%; height: 100px;", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        <div class="row" style="width: 100%;">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Conteúdo da Mensagem</h4>
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                                        Corpo da Mensagem
                                                        @Html.TextAreaFor(m => m.MENS_TX_TEXTO, new { @class = "form-control summernote", style = "width: 100%; height: 400px;",  @id = "corpo", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="row" style="width: 100%;">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Destinos da Mensagem</h4>
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                @if (Model.MENSAGENS_DESTINOS.Count > 0)
                                                {
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Paciente</th>
                                                                <th>Data Envio</th>
                                                                <th>E-Mail</th>
                                                                <th>Celular</th>
                                                                <th>Cidade</th>
                                                                <th>UF</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (Model.MENSAGENS_DESTINOS))
                                                            {
                                                                <tr>
                                                                    <td>@cond.PACIENTE.PACI_NM_NOME</td>
                                                                    @if (cond.MEDE_DT_ENVIO != null)
                                                                    {
                                                                        <td>@cond.MEDE_DT_ENVIO.Value.ToShortDateString()</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>-</td>
                                                                    }
                                                                    <td>@cond.PACIENTE.PACI_NM_EMAIL</td>
                                                                    <td>@cond.PACIENTE.PACI_NR_CELULAR</td>
                                                                    <td>@cond.PACIENTE.PACI_NM_CIDADE</td>
                                                                    @if (cond.PACIENTE.UF != null)
                                                                    {
                                                                        <td>@cond.PACIENTE.UF.UF_SG_SIGLA</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td> </td>
                                                                    }
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }

                                            </div>
                                        </div>


                                        <div class="row" style="width: 100%;">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Anexos da Mensagem</h4>
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="form-group">
                                                    @using (Html.BeginForm("VerMensagemEMail", "Mensagem", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "pwd-container2" }))
                                                    {
                                                        <div class="ibox-content">
                                                            @if (Model.MENSAGEM_ANEXO.Count > 0)
                                                            {
                                                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                    <thead style="background-color:lightsteelblue">
                                                                        <tr>
                                                                            <th>Título</th>
                                                                            <th>Data</th>
                                                                            <th>Tipo</th>
                                                                            <th class="td-one-action">Ações</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var cond in (Model.MENSAGEM_ANEXO))
                                                                        {
                                                                            <tr>
                                                                                <td>@cond.MEAN_NM_TITULO</td>
                                                                                <td>@cond.MEAN_DT_ANEXO.Value.ToShortDateString()</td>
                                                                                @if (cond.MEAN_IN_TIPO == 1)
                                                                                {
                                                                                    <td>Imagem</td>
                                                                                }
                                                                                else if (cond.MEAN_IN_TIPO == 2)
                                                                                {
                                                                                    <td>Vídeo</td>
                                                                                }
                                                                                else if (cond.MEAN_IN_TIPO == 3)
                                                                                {
                                                                                    <td>PDF</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td>Arquivo</td>
                                                                                }
                                                                                <td class="td-one-action">
                                                                                    @if (cond.MEAN_IN_TIPO == 1 || cond.MEAN_IN_TIPO == 2)
                                                                                    {
                                                                                        @Html.TableLinkDetails(cond.MEAN_CD_ID, "VerAnexoMensagem", "fa-camera", "Visualizar")
                                                                                    }
                                                                                    @if (cond.MEAN_IN_TIPO == 3)
                                                                                    {
                                                                                        <a title="Visualizar" class="fa fa-camera fa-lg" href="~/PdfViewer/web/viewer.html?file=@(cond.MEAN_AQ_ARQUIVO.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank"></a>
                                                                                    }
                                                                                    @Html.TableLinkDetails(cond.MEAN_CD_ID, "DownloadMensagem", "fa-download", "Download")
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
                                                        </div>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>


@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @*<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/plugins/summernote/summernote.css")
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />

    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/plugins/summernote/summernote.css")
    @Styles.Render("~/plugins/touchSpinStyles")
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />

    @Styles.Render("~/plugins/summernoteStyles")
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.css" rel="stylesheet">
}
@section Scripts {
    @*<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/Scripts/plugins/summernote/summernote.min.js")
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>    
    <script src="~/Scripts/uploadAnexo.js"></script>

        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/summernote")
    @Scripts.Render("~/plugins/touchSpin")
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.js"></script>

    @Scripts.Render("~/plugins/summernote")
    <script type="text/javascript">
        $(document).ready(function () {

            $('.summernote').summernote(
            {
              toolbar: [
                  ['ur', ['undo', 'redo']]
                //  ['font', ['bold', 'italic', 'underline', 'superscript', 'subscript']],
                //  ['fontname', ['fontname']],
                //  ['fontsize', ['fontsize', 'fontsizeunit']],
                //  ['color', ['color']],
                //  ['para', ['ul', 'ol', 'paragraph']],
                //  ['height', ['height']],
                //  ['table', ['table']],
                ],
                //lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
                //fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Helvetica', 'Impact', 'Lucida Grande', 'Tahoma', 'Times New Roman', 'Verdana'],
                spellCheck: false
            });

        });

        var edit = function () {
            $('.click2edit').summernote({ focus: true });
        };

        var save = function () {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a tiModelle
                toastr.success('Edição em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                        + shortCutFunction
                        + "](\""
                        + msg
                        + (title ? "\", \"" + title : '')
                        + "\")\n\ntoastr.options = "
                        + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}

