@using Presentation.Extensions
@using CrossCutting;
@model ERP_Condominios_Solution.ViewModels.FaleConoscoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Limpo.cshtml";
    ViewBag.Title = "Login";
}
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="page-title">
        <h3 class="title">WebDoctor - Comunicações</h3>
        @*<br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Fale Conosco - Contato</strong>
            </li>
        </ol>
        <br />*@
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Fale Conosco - Contato</h3>
                </div>
                <br />
                <div class="form-group">
                    @Html.ButtonLinkIndex(text: "Voltar", controller: "BaseAdmin", action: "CarregarLandingPage")
                    <br />
                </div>
                <div class="ibox-content ibox-heading">
                    <h3><i class="fa fa-volume-control-phone"></i> Nossos canais de comunicação</h3>
                    <small><i class="fa fa-tim"></i> Escolha o canal mais adequado para as suas necessidades</small>
                </div>

                <div class="ibox-content" style="height: 2100px">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="col-lg-5 col-md-5 col-xs-12">
                        <img src="~/Images/Prontuario/Prontuario_Tela_3.jpg" style="width: 100%; height: 100%; max-height: 1400px; max-width: 1400px;">
                        <br /><br />
                        <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkgreen; border-bottom-width: 2px; border-left: solid; border-left-color: darkgreen; border-left-width: 1px; border-right: solid; border-right-color: darkgreen; border-right-width: 1px; border-top: solid; border-top-color: darkgreen; border-top-width: 1px">
                            <div class="ibox-title">
                                <h4 style="color: saddlebrown; font-weight: bold">Telefones & Mensagens</h4>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <h5 style="color: green; font-weight: bold">Canais disponíveis para suporte on-line de primeiro nível</h5>
                                </div>                                   
                                <div class="row">
                                    <h5 style="color: gray; font-weight: bold">WhatsApp: @Model.Telefone</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkgreen; border-bottom-width: 2px; border-left: solid; border-left-color: darkgreen; border-left-width: 1px; border-right: solid; border-right-color: darkgreen; border-right-width: 1px; border-top: solid; border-top-color: darkgreen; border-top-width: 1px">
                            <div class="ibox-title">
                                <h4 style="color: saddlebrown; font-weight: bold">E-Mail de Contato</h4>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <h5 style="color: green; font-weight: bold">Para demais solicitações use o e-mail abaixo</h5>
                                </div>                                   
                                <div class="row">
                                    <h5 style="color: gray; font-weight: bold">E-Mail: @Model.EMail</h5>
                                </div>
                            </div>
                        </div>
                    </div>             
                    
                    <div class="col-lg-7 col-md-7 col-xs-12">

                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkgreen; border-bottom-width: 2px; border-left: solid; border-left-color: darkgreen; border-left-width: 1px; border-right: solid; border-right-color: darkgreen; border-right-width: 1px; border-top: solid; border-top-color: darkgreen; border-top-width: 1px">
                                <div class="ibox-title">
                                    <h4 style="color: saddlebrown; font-weight: bold">Envio de Mensagem - E-Mail</h4>
                                </div>
                                <div class="ibox-content">
                                    @using (Html.BeginForm("MontarTelaFaleConoscoInicio", "BaseAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        if ((Int32)Session["AssinantePendente"] == 0)
                                        {
                                            <div class="row">
                                                <h5 style="color: green; font-weight: bold">Preencha os campos abaixo com as suas dúvidas ou sugestões.</h5>
                                                <h5 style="color: green; font-weight: bold">Você receberá nossa resposta no e-mail informado na solicitação.</h5>
                                            </div>                                   
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <h5 style="color: green; font-weight: bold">Impossível executar o login no WebDoctor. Essa assinatura está com uma pendência a ser solucionada.</h5>
                                                <h5 style="color: green; font-weight: bold">Informe essa condição nos campos abaixo e nos envie sua mensagem que responderemos imediatamente.</h5>
                                                <h5 style="color: green; font-weight: bold">Ou se preferir nos contate pelo WhatsApp no número exibido ao lado.</h5>
                                            </div>                                   
                                        }

                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-8 col-md-8 col-xs-12">
                                                    @Html.HiddenFor(m => m.Telefone)
                                                    @Html.HiddenFor(m => m.EMail)
                                                    Nome do Solicitante*
                                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", autofocus = true  })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Assunto (Selecione um deles)*
                                                    @Html.DropDownListFor(m => m.Assunto, (SelectList)ViewBag.Assunto, "Selecionar", new { @class = "form-control", autofocus = true })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-2 col-md-2 col-xs-12" id="tipoAss">
                                                    Tipo de Resposta*
                                                    @Html.DropDownListFor(m => m.Tipo, (SelectList)ViewBag.Tipo, "Selecionar", new { @class = "form-control", autofocus = true, @id = "tipo", onchange = "ValidaTipo($(this).val())"  })
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12" id="Mail">
                                                    E-Mail*
                                                    @Html.TextBoxFor(m => m.Resposta, new { @class = "form-control", autofocus = true, @id="mail" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12" id="Tel" style="display: none">
                                                    Telefone*
                                                    @Html.TextBoxFor(m => m.TelefoneFixo, new { @class = "form-control", autofocus = true, @id="tel"  })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12" id="Cel" style="display: none">
                                                    Celular*
                                                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control", autofocus = true, @id="cel"  })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-12 col-md-12 col-xs-12"> 
                                                    Mensagem*
                                                    @Html.TextAreaFor(m => m.Mensagem, new { @class = "form-control", style = "width: 100%; height: 250px; overflow:auto;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.Mensagem, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.ButtonActionSubmit(text: "Confirma Envio de E-Mail", htmlAttributes: new { id = "basictoast" })
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#tel").mask("(99)9999-9999");
            $("#cel").mask("(99)99999-9999");
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>
    <script type="text/javascript">
        function ValidaTipo(valTipo) {
            if (valTipo == '1') {
                $("#Tel").hide();
                $("#Cel").hide();
            } else if (valTipo == '2') {
                $("#Tel").show();
                $("#Cel").hide();
            } else {
                    $("#Tel").hide();
                $("#Cel").show();
            }
        }
        $(document).ready(function () {
            ValidaTipo($('#tipo').val());
        });
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

