@using Presentation.Extensions
@using CrossCutting;
@using EntitiesServices.Work_Classes;
@model ERP_Condominios_Solution.ViewModels.MensagemWidgetViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "Central de Mensagens";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="containerModalDesc">
        <div class="modal fade" id="modalDesc" tabindex="-1" role="dialog" aria-labelledby="modalDesc" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDesc">Descrição</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalDescBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <h3 class="title">Central de Notificações</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Central de Notificações</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                </div>

                @using (Html.BeginForm("FiltrarCentralMensagens", "BaseAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Tipo
                                @Html.DropDownListFor(m => m.TipoMensagem, (SelectList)ViewBag.Tipos, "Selecionar", new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                Descrição
                                @Html.TextBoxFor(m => m.Descrição, new { @class = "form-control", autofocus = true})
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data
                                @Html.TextBoxFor(m => m.DataMensagem, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id="data2" })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Urgência
                                @Html.DropDownListFor(m => m.FlagUrgencia, (SelectList)ViewBag.Urgencia, "Selecionar", new { @class = "form-control", autofocus = true })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-12 col-md-12 col-xs-12">                                     
                                @Html.ButtonActionSubmit(text: "Filtrar")
                                @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "BaseAdmin", action: "RetirarFiltroCentralMensagens")
                                @Html.ButtonLinkIndex(text: "Voltar", controller: "BaseAdmin", action: "CarregarBase")
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12"  id="Lista">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Central de Notificações</h5>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="row" id="sortable-view">
                        @if (ViewBag.ListaMensagem != null && (ViewBag.ListaMensagem as List<ERP_Condominios_Solution.ViewModels.MensagemWidgetViewModel>).Count > 0)
                        {
                            foreach (var cond in (ViewBag.ListaMensagem as List<ERP_Condominios_Solution.ViewModels.MensagemWidgetViewModel>))
                            {
                                <div class="col-lg-2">
                                    <div class="ibox float-e-margins">
                                        @if (cond.TipoMensagem == 1)
                                        {
                                            <div class="ibox-title"  style="background-color:goldenrod; color:darkblue">
                                                @if (cond.FlagUrgencia == 1)
                                                {
                                                    <span class="label label-danger pull-right">Urgente</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-primary pull-right">Normal</span>
                                                }
                                                <h5>Notificação</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <h4 class="no-margins" style="color:green; font-weight: bold">@cond.DataMensagem.Value.ToShortDateString()</h4>
                                                <small style="color:brown; font-weight: bold">Status: @cond.NomeCliente</small><br/>
                                                <small>Categoria: @cond.Categoria</small><br/>
                                                <small>@cond.Descrição</small>  
                                                <br />
                                                @Html.ButtonLinkIndex(text: "Ver", action: "VerNotificacaoBase", controller: "BaseAdmin", buttonClass: "white", routeValues: new { id = cond.IdMensagem })
                                            </div>
                                        }
                                        @if (cond.TipoMensagem == 2)
                                        {
                                            <div class="ibox-title"  style="background-color:palevioletred; color:brown">
                                                @if (cond.FlagUrgencia == 1)
                                                {
                                                    <span class="label label-danger pull-right">Urgente</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-primary pull-right">Normal</span>
                                                }
                                                <h5>Agenda</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <h4 class="no-margins" style="color:green; font-weight: bold">@cond.DataMensagem.Value.ToShortDateString()</h4>
                                                <small style="color:brown; font-weight: bold">Status: @cond.NomeCliente</small><br/>
                                                <small>Categoria: @cond.Categoria</small><br/>
                                                <small>@cond.Descrição</small>
                                                <br />
                                                @Html.ButtonLinkIndex(text: "Ver", action: "VerAgendaBase", controller: "BaseAdmin", buttonClass: "white", routeValues: new { id = cond.IdMensagem })
                                            </div>
                                        }
                                        @if (cond.TipoMensagem == 3)
                                        {
                                            <div class="ibox-title"  style="background-color:darkseagreen; color:green">
                                                @if (cond.FlagUrgencia == 1)
                                                {
                                                    <span class="label label-danger pull-right">Urgente</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-primary pull-right">Normal</span>
                                                }
                                                <h5>Tarefa</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <h4 class="no-margins" style="color:green; font-weight: bold">@cond.DataMensagem.Value.ToShortDateString()</h4>
                                                <small style="color:brown; font-weight: bold">Status: @cond.NomeCliente</small><br/>
                                                <small>Tipo: @cond.Categoria</small><br/>
                                                <small>@cond.Descrição</small>
                                                <br />
                                                @Html.ButtonLinkIndex(text: "Ver", action: "VerTarefaBase", controller: "BaseAdmin", buttonClass: "white", routeValues: new { id = cond.IdMensagem })
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-xs-2">

                                </div>
                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-4 col-md-4 col-xs-8">
                                    <h2 style="font-weight: bold">Nenhuma notificação está cadastrada para esse usuário</h2>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-2">

                                </div>
                            </div>
                        }
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>    
    <script src="~/Scripts/uploadAnexo.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/touchPunch")

    <script type="text/javascript">
        $(document).ready(function () {

            WinMove();

        });
    </script>
    <script>
        function mostrarDesc(desc) {
            $('#modalDescBody').html(desc);
            $('#modalDesc').modal('show');
        }
    </script>   

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

