@using Presentation.Extensions
@using CrossCutting;
@model ERP_Condominios_Solution.ViewModels.FaleConoscoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Limpo.cshtml";
    ViewBag.Title = "WebDoctor - Contratação";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Solicitação de Assinatura de Demonstração do WebDoctorPro</h3>
                </div>
                <br />
                <div class="form-group">
                    @Html.ButtonLinkIndex(text: "Voltar", controller: "BaseAdmin", action: "CarregarLandingPage")
                    <br />
                </div>
                <div class="ibox-content ibox-heading">
                    <h3><i class="fa fa-credit-card"></i> Solicite uma assinatura de demonstração com validade de 30 dias e use o <b>WebDoctorPro</b> sem limites</h3>
                </div>

                <div class="ibox-content" style="height: 2100px">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-primary" })
                        </div>
                    }
                    @if (TempData["TemMensagem"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            <span>@TempData["MensagemAcerto"]</span>
                        </div>
                    }                    
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                <div class="ibox-title">
                                    <h4>Solicitação de Assinatura de Demonstração</h4>
                                </div>
                                <div class="ibox-content">
                                    @using (Html.BeginForm("MontarTelaDemo", "BaseAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        <div class="row">
                                            <h5 style="color: green; font-weight: bold">Preencha os campos abaixo com as suas informações.</h5>
                                            <h5 style="color: green; font-weight: bold">Confirme a solicitação e logo você receberá um e-mail com a confirmação de sua solicitação e suas credenciais de acesso</h5>
                                        </div> 
                                        <div class="row" id="Botoes">
                                            <div class="form-group">
                                                <div class="col-lg-4 col-md-4 col-xs-12" id="Basico">
                                                    @Html.ButtonActionSubmit(text: "Confirma a Solicitação de Assinatura de Demonstração", htmlAttributes: new { id = "basictoast", @class = "btn-loading1" })
                                                    <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                                                        <i class="fa fa-spinner fa-spin"></i> Processando...
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" id="Ident">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Identificação</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-3 col-md-3 col-xs-12" id="tipoAss">
                                                    Tipo de Assinante*
                                                    @Html.DropDownListFor(m => m.Tipo, (SelectList)ViewBag.Assunto, "Selecionar", new { @class = "form-control", autofocus = true, @id = "tipo", onchange = "ValidaTipo($(this).val())"  })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" style="display: none" id="CPF">
                                                    CPF*
                                                    @Html.TextBoxFor(m => m.CPF, new { @class = "form-control", autofocus = true, @id="cpf"  })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" style="display: none" id="CNPJ">
                                                    CNPJ*
                                                    @Html.TextBoxFor(m => m.CPF, new { @class = "form-control", autofocus = true, @id="cnpj"  })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;" id="Nomes">                
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    Nome do Assinante*
                                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", autofocus = true, @id="nome"  })
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12" style="display: none" id="Razao">
                                                    Razão Social*
                                                    @Html.TextBoxFor(m => m.Razao, new { @class = "form-control", autofocus = true, @id="razao"  })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="Contatos">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Informações de Contato</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    E-Mail*
                                                    @Html.TextBoxFor(m => m.Resposta, new { @class = "form-control", autofocus = true, @id="mail" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Telefone
                                                    @Html.TextBoxFor(m => m.TelefoneFixo, new { @class = "form-control", autofocus = true, @id="tel"  })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Celular
                                                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control", autofocus = true, @id="cel"  })
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row" id="Login">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Login e Senha</h4>
                                            <div class="col-lg-8 col-md-8 col-xs-8">
                                                <div class="form-group" style=" margin-left: -30px; margin-right: -30px;">                
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Login*
                                                        @Html.TextBoxFor(m => m.LoginBase, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Informe o login para o usuário master do novo assinante. Pode ter até 10 caracteres sem espaços", data_trigger="hover", data_placement="top" })
                                                        @Html.ValidationMessageFor(m => m.Login, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Senha*
                                                        @Html.TextBoxFor(m => m.SenhaBase, new { @class = "form-control pwd1", autofocus = true, @type = "password", @id = "Password1" })
                                                        @Html.ValidationMessageFor(m => m.SenhaBase, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Confirmação da Senha*
                                                        @Html.TextBoxFor(m => m.SenhaBaseConfirma, new { @class = "form-control", autofocus = true, @type = "password" })
                                                        @Html.ValidationMessageFor(m => m.SenhaBaseConfirma, "", new { @style = "color:red" })
                                                    </div>
                                                </div>                                            
                                                <div class="form-group" style=" margin-left: -30px; margin-right: -30px;">
                                                    <div class="col-lg-11 col-md-11 col-xs-12">
                                                        <div class="pwstrength_viewport_progress"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-xs-8">
                                                <h4 style="margin-left: -15px; color:green; background-color: beige; font-weight:bold">Endereço</h4>
                                                <div class="form-group" style=" margin-left: -30px; margin-right: -30px;">
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        CEP*
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.CEP, new { @class = "form-control", @id = "cep", autofocus = true, @onblur = "PesquisaCep($('#cep').val(), $(this), 1)" })
                                                            @Html.ValidationMessageFor(m => m.CEP, "", new { @style = "color:red" })
                                                            <span class="input-group-btn">
                                                                <span class="btn btn-warning btn-sm" id="btnBuscaCep" data_toggle = "popover" data_content = "Pesquisar o CEP informado" data_trigger="hover" data_placement="top" onclick="PesquisaCep($('#cep').val(), $(this), 1)">Buscar CEP</span>
                                                            </span>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-xs-12" style="display:none" id="cepval">
                                                            <h5>CEP inválido</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-left: -30px; margin-right: -30px;">
                                                    <div class="col-lg-7 col-md-7 col-xs-12">
                                                        Endereço*
                                                        @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control", @id = "endereco", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.Endereco, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Número*
                                                        @Html.TextBoxFor(m => m.Numero, new { @class = "form-control", @id = "nmr", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.Numero, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Complemento
                                                        @Html.TextBoxFor(m => m.Complemento, new { @class = "form-control", autofocus = true, @id = "complemento" })
                                                        @Html.ValidationMessageFor(m => m.Complemento, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-left: -30px; margin-right: -30px;">
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Bairro*
                                                        @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control", @id = "bairro", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.Bairro, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Cidade*
                                                        @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control", @id = "cidade", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.Cidade, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        UF*
                                                        @Html.DropDownListFor(m => m.UF, (SelectList)ViewBag.UF, "UF", new { @class = "form-control", @id = "uf", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.UF, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        CEP
                                                        @Html.TextBoxFor(m => m.CEPBase, new { @class = "form-control", @id = "cepBase", @readonly = "readonly" })
                                                        @Html.ValidationMessageFor(m => m.CEPBase, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-xs-4">
                                                <div class="ibox float-e-margins" style="background-color:beige">
                                                    <div class="ibox-title"  style="background-color: darkseagreen; color: darkgreen">
                                                        <h5>Regras para Formação de Senha</h5>
                                                    </div>
                                                    <div class="ibox-content" style="background-color:beige">
                                                        <div class="form-group" style=" margin-left: 5px; margin-right: 5px;">  
                                                            <br />
                                                            <ul style="margin:0; padding-left:20px; list-style-type:disc;">
                                                                <li style="margin-bottom:2px; line-height:1.1;">Não pode ser igual a anterior</li>
                                                                <li style="margin-bottom:2px; line-height:1.1;">Tem que ter no mínimo 3 caracteres</li>
                                                                <li style="margin-bottom:2px; line-height:1.1;">Tem que ter pelo menos uma letra maiúscula</li>
                                                                <li style="margin-bottom:2px; line-height:1.1;">Tem que ter pelo menos uma letra minúscula</li>
                                                                <li style="margin-bottom:2px; line-height:1.1;">Tem que ter pelo menos um dígito (0-9)</li>
                                                                <li style="margin-bottom:2px; line-height:1.1;">Tem que ter no mínimo 3 caracteres</li>
                                                                <li style="margin-bottom:2px; line-height:1.1;">Tem que ter pelo menos um caractere especial (# $ % &)</li>
                                                                <li style="margin-bottom:2px; line-height:1.1;">Não pode conter os caracteres especiais (+ - * / =)</li>
                                                            </ul>                                                               
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" id="Botoes">
                                            <div class="form-group">
                                                <div class="col-lg-6 col-md-6 col-xs-12" id="Basico">
                                                    @Html.ButtonActionSubmit(text: "Confirma a Solicitação de Assinatura de Demonstração", htmlAttributes: new { id = "basictoast", @class = "btn-loading2" })
                                                    <span id="loadingIndicator1" style="display: none; margin-left: 10px; color: #007bff;">
                                                        <i class="fa fa-spinner fa-spin"></i> Processando...
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>                          
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

    <style>
        /* 1. Aumenta a largura e garante o espaço interno */
        #toast-container > .toast {
            width: 500px !important; 
            max-width: 500px !important;
            opacity: 0.95 !important;
        }

        /* 2. Remove o ícone nativo do Toastr (Background Image) */
        #toast-container > .toast-success {
            background-image: none !important;
        }

        /* 3. Remove ícones do FontAwesome/Inspinia injetados via ::before no Título */
        .toast-success .toast-title::before, 
        .toast-success .toast-title::after,
        .toast-success::before {
            content: none !important;
            display: none !important;
        }

        /* 4. Ajusta o recuo do texto já que removemos o ícone */
        .toast-success .toast-title, 
        .toast-success .toast-message {
            padding-left: 10px !important;
        }
    </style>
    <style>
        /* Estilo Base */
        .status-badge {
            display: inline-flex;
            align-items: center;
            padding: 4px 10px;
            border-radius: 12px;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.3px;
        }

        .status-badge::before {
            content: "";
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            margin-right: 6px;
        }

        /* PENDING (Gold) - Status 0 */
        .status-pending { background-color: #fef9c3; color: #a16207; }
        .status-pending::before { background-color: #ca8a04; }

        /* ACTIVE (Green) - Status 1 */
        .status-active { background-color: #dcfce7; color: #15803d; }
        .status-active::before { background-color: #16a34a; }

        /* CANCEL (Red) - Status 4 */
        .status-cancel { background-color: #fee2e2; color: #b91c1c; }
        .status-cancel::before { background-color: #dc2626; }

        /* FINISH (Dark Blue) - Status 2 */
        .status-finish { background-color: #dbeafe; color: #1e40af; }
        .status-finish::before { background-color: #2563eb; }

        /* OVERDUE (Gray) - Status 3 */
        .status-overdue { background-color: #f3f4f6; color: #4b5563; }
        .status-overdue::before { background-color: #6b7280; }
    </style>

}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/plugins/passwordMeter")
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading1').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading2').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator1').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var options1 = {};
            options1.ui = {
                container: "#pwd-container1",
                showVerdictsInsideProgressBar: true,
                viewports: {
                    progress: ".pwstrength_viewport_progress"
                }
            };
            options1.common = {
                debug: false,
            };
            $('.pwd1').pwstrength(options1);

        });
    </script>
   
    <script type="text/javascript">
        $(function () {
            $("#tel").mask("(99)9999-9999");
            $("#cel").mask("(99)99999-9999");
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
            $("#cepBase").mask("99999-999");
    });
    </script>

    <script type="text/javascript">
        function ValidaTipo(valTipo) {
            if (valTipo == '1') {
                $("#CPF").show();
                $("#CNPJ").hide();
            } else {
                $("#CPF").hide();
                $("#CNPJ").show();
            }
        }
        $(document).ready(function () {
            ValidaTipo($('#tipo').val());
        });
    </script>
    <script type="text/javascript">
        function ValidaDemo(valTipo) {
            if (valTipo == '1') {
                $("#CPFDemo").show();
            //    $("#Ident").hide();
            //    $("#Nomes").hide();
            //    $("#Contatos").hide();
            //    $("#Enderecos").hide();
            } else {
                $("#CPFDemo").hide();
            //    $("#Ident").show();
            //    $("#Nomes").show();
            //    $("#Contatos").show();
            //    $("#Enderecos").show();
            }
        }
        $(document).ready(function () {
            ValidaDemo($('#tipoDemo').val());
        });
    </script>
    <script type="text/javascript">
        function ValidaPlano(valTipo) {
            if (valTipo == '1') {
                $("#pagamento").show();
                $("#Basico").show();
                $("#Super").hide();
                $("#SuperFinanceiro").hide();
            } else if (valTipo == '2'){
                $("#pagamento").show();
                $("#Basico").hide();
                $("#Super").show();
                $("#SuperFinanceiro").hide();
            } else if (valTipo == '3'){
                $("#pagamento").show();
                $("#Basico").hide();
                $("#Super").hide();
                $("#SuperFinanceiro").show();
            }
        }
        $(document).ready(function () {
            ValidaPlano($('#plano').val());
        });
    </script>
    
    
    <script>
        function PesquisaCep(cep, btn, tipoEnd) {
            data = {
                cep: cep
                , tipoEnd: tipoEnd
            }

            //$(btn).attr("disabled", "disabled");

            $.ajax({
                url: '../Paciente/PesquisaCEP_Javascript'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    if (r.Sucesso == 0) {
                        if (tipoEnd == 1) {
                            $("#cepval").show();
                        //    $('#btnBuscaCep').removeAttr("disabled");
                        }

                    }
                    else {
                        $("#cepval").hide();
                        $("#cepval1").hide();
                        if (tipoEnd == 1) {
                            $('#endereco').val(r.PACI_NM_ENDERECO);
                            $('#nmr').val(r.PACI_NR_NUMERO);
                            $('#bairro').val(r.PACI_NM_BAIRRO);
                            $('#cidade').val(r.PACI_NM_CIDADE);
                            $('#cepBase').val(r.PACI_NR_CEP);
                            $('#uf option[value="' + r.UF_CD_ID + '"]').attr("selected", "selected");
                            $('#btnBuscaCep').removeAttr("disabled");
                        }
                    }
                }
            });
        }
    </script>

    <script>
        function GetLogin(id) {
            if (id == '1') {
                var data = {
                    id: id
                }

                $.ajax({
                    url: '../BaseAdmin/GetLogin'
                    , type: 'POST'
                    , data: data
                    , success: function (r) {
                        $('#cpf').val(r.CPF);
                        $('#cnpj').val(r.CNPJ);
                        $('#nome').val(r.Nome);
                        $('#razao').val(r.Razao);
                        $('#mail').val(r.Resposta);
                        $('#tel').val(r.Telefone);
                        $('#cel').val(r.Celular);
                        $('#cep').val(r.CEP);
                        $('#endereco').val(r.Endereco);
                        $('#nmr').val(r.Numero);
                        $('#complemento').val(r.Complemento);
                        $('#bairro').val(r.Bairro);
                        $('#cidade').val(r.Cidade);
                        $('#uf option[value="' + r.UF + '"]').attr("selected", "selected");

                        $('#novo').show();
                        $('#tipo').hide();
                        $('#existe').hide();
                    }
                });
            } 
        }
    </script>

    <!-- 1. Estrutura do Modal (Coloque preferencialmente no final do seu arquivo .cshtml) -->
    <div class="modal fade" id="modalAssinaturaSucesso" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #1ab394; color: white; border-radius: 4px 4px 0 0;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                    <h4 class="modal-title"><i class="fa fa-check-circle"></i> WebDoctorPro</h4>
                </div>
                <div class="modal-body">
                    <p style="font-size: 16px; color: #676a6c; text-align: center; margin-top: 15px;">
                        Sua assinatura de demonstração está sendo criada nesse momento. 
                        Você receberá um e-mail dentro de instantes com as instruções de uso. 
                        <br /><br />
                        <strong>Obrigado por escolher o WebDoctorPro!</strong>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="border-radius: 4px; padding-left: 30px; padding-right: 30px;">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 2. Script para disparar o Modal -->
    <script type="text/javascript">
        function exibirModalSucesso() {
            $('#modalAssinaturaSucesso').modal({
                backdrop: 'static',
                keyboard: false
            });
            $('#modalAssinaturaSucesso').modal('show');
        }

        $(document).ready(function () {
            // Alterado de ViewBag para TempData
            @if (TempData["ExibirSucesso"] != null && (bool)TempData["ExibirSucesso"])
            {
                <text>exibirModalSucesso();</text>
            }
        });
    </script>

    <style>
        /* Estilo adicional para garantir que o modal fique centralizado e bonito no Inspinia */
        .modal-dialog-centered {
            display: flex;
            align-items: center;
            min-height: calc(100% - 1rem);
        }
    
        /* Usamos @@ para escapar o símbolo no Razor e evitar erro de variável inexistente */
        @@media (min-width: 576px) {
            .modal-dialog-centered {
                min-height: calc(100% - 3.5rem);
            }
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            // Configurações globais do Toastr
            toastr.options = {
                "closeButton": true,
                //"debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "15000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            //    "iconClass": "customer-toast-info", // Se quiser remover o ícone padrão totalmente
            //    "titleClass": "toast-title",
            //    "messageClass": "toast-message"
            };

            // Verifica se existe mensagem de sucesso no TempData (vinda do Redirect)
            var msgSucesso = '@TempData["MensagemAcerto"]';
            if (msgSucesso != '') {
                toastr.success(msgSucesso, 'Sucesso!');
            }

            // Verifica se existe mensagem de erro
            var msgErro = '@TempData["MensagemErro"]';
            if (msgErro != '') {
                toastr.error(msgErro, 'Erro!');
            }
        });
    </script>

}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

