@using Presentation.Extensions
@using CrossCutting;
@model ERP_Condominios_Solution.ViewModels.FaleConoscoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Fale Conosco";
    ViewBag.MetaDescription = "WebDoctor - Fale Conosco - Formulário";
    ViewBag.MetaKeywords = "WebDoctor, contato, suporte";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="page-title">
        <h3 class="title">Comunicações</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Fale Conosco</strong>
            </li>
        </ol>
        <br />
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Fale Conosco</h3>
                </div>
                <br />
                <div class="form-group">
                    @Html.ButtonLinkIndex(text: "Voltar", controller: "Paciente", action: "MontarTelaPaciente")
                    <br />
                </div>
                <div class="ibox-content ibox-heading">
                    <h3><i class="fa fa-volume-control-phone"></i> Nossos canais de comunicação</h3>
                    <small><i class="fa fa-tim"></i> Escolha o canal mais adequado para as suas necessidades</small>
                </div>

                <div class="ibox-content" style="height: 2100px">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="col-lg-5 col-md-5 col-xs-12">
                        <img src="~/Images/Prontuario/WebDoctor_Tela_3.jpg" style="width: 100%; height: 100%; max-height: 1400px; max-width: 1400px;">
                    </div>             
                    
                    <div class="col-lg-7 col-md-7 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkgreen; border-bottom-width: 2px; border-left: solid; border-left-color: darkgreen; border-left-width: 1px; border-right: solid; border-right-color: darkgreen; border-right-width: 1px; border-top: solid; border-top-color: darkgreen; border-top-width: 1px">
                                <div class="ibox-title">
                                    <h4 style="color: saddlebrown; font-weight: bold">Telefones & Mensagens</h4>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <h5 style="color: green; font-weight: bold">Canais disponíveis para suporte on-line de primeiro nível</h5>
                                    </div>                                   
                                    <div class="row">
                                        <h5 style="color: gray; font-weight: bold">WhatsApp: @Model.Telefone</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkgreen; border-bottom-width: 2px; border-left: solid; border-left-color: darkgreen; border-left-width: 1px; border-right: solid; border-right-color: darkgreen; border-right-width: 1px; border-top: solid; border-top-color: darkgreen; border-top-width: 1px">
                                <div class="ibox-title">
                                    <h4 style="color: saddlebrown; font-weight: bold">E-Mail de Contato</h4>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <h5 style="color: green; font-weight: bold">Para demais solicitações use o e-mail abaixo</h5>
                                    </div>                                   
                                    <div class="row">
                                        <h5 style="color: gray; font-weight: bold">E-Mail: @Model.EMail</h5>
                                    </div>
                                </div>
                            </div>
                        </div>     

                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkgreen; border-bottom-width: 2px; border-left: solid; border-left-color: darkgreen; border-left-width: 1px; border-right: solid; border-right-color: darkgreen; border-right-width: 1px; border-top: solid; border-top-color: darkgreen; border-top-width: 1px">
                                <div class="ibox-title">
                                    <h4 style="color: saddlebrown; font-weight: bold">Envio de Mensagem - E-Mail</h4>
                                </div>
                                <div class="ibox-content">
                                    @using (Html.BeginForm("MontarTelaFaleConosco", "BaseAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        <div class="row">
                                            <h5 style="color: green; font-weight: bold">Preencha os campos abaixo com as suas dúvidas ou sugestões.</h5>
                                            <h5 style="color: green; font-weight: bold">Você receberá nossa resposta em seu e-mail cadastrado no WebDoctor.</h5>
                                        </div>                                   
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    @Html.HiddenFor(m => m.Telefone)
                                                    @Html.HiddenFor(m => m.EMail)
                                                    Assinante
                                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-xs-12">
                                                    E-Mail
                                                    @Html.TextBoxFor(m => m.Resposta, new { @class = "form-control", @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Assunto (Selecione um deles)*
                                                    @Html.DropDownListFor(m => m.Assunto, (SelectList)ViewBag.Assunto, "Selecionar", new { @class = "form-control", autofocus = true })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Mensagem*
                                                    @Html.TextAreaFor(m => m.Mensagem, new { @class = "form-control", style = "width: 100%; height: 250px; overflow:auto;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.Mensagem, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.ButtonActionSubmit(text: "Confirma Envio de E-Mail", htmlAttributes: new { id = "basictoast" })
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>    

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

