@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.MensagemEmitidaViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Mensagens Enviadas - visualização";
    ViewBag.MetaDescription = "WebDoctor - Visualização de mensagem enviadas pelo sistema";
    ViewBag.MetaKeywords = "WebDoctor, mensagem, automatica, sistema";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Mensagens</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaMensagensEnviadas", "BaseAdmin")">Mensagens Enviadas</a>
            </li>
            <li class="active">
                <strong>Mensagens Enviadas - Visualização</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Mensagens Enviadas - Visualização</h5>&nbsp;&nbsp;&nbsp;
                </div>

                <div class="ibox-content">
                    @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaMensagensEnviadas", controller: "BaseAdmin", buttonClass: "warning")
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Conteúdo da Mensagem</a></li>
                        </ul>
                        <div class="tab-content">
                            @*Dados Gerais*@
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    @using (Html.BeginForm("VerMensagemEnviada", "BaseAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        <div class="row" style="width: 100%;">
                                            <div class="col-md-12">
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Usuário Responsável
                                                        @Html.TextBoxFor(m => m.USUARIO.USUA_NM_NOME, new { @class = "form-control", @readonly="readonly", @style = "color:green; font-weight:bold" })
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Destinatário
                                                        @if (Model.PACI_CD_ID != null)
                                                        {
                                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NM_NOME, new { @class = "form-control", @readonly="readonly", @style = "color:brown; font-weight:bold" })
                                                        }
                                                        else if (Model.MEEN_IN_USUARIO != null)
                                                        {
                                                            @Html.TextBoxFor(m => m.USUARIO1.USUA_NM_NOME, new { @class = "form-control", @readonly="readonly", @style = "color:brown; font-weight:bold" })
                                                        }
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Tipo de Mensagem
                                                        @Html.TextBoxFor(m => m.Tipo, new { @class = "form-control", @readonly="readonly", @style = "color:darkblue; font-weight:bold" })
                                                    </div>
                                                    @if (Model.MEEN_GU_ID_MENSAGEM != null)
                                                    {
                                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                                            Identificador da Mensagem
                                                            @Html.TextBoxFor(m => m.MEEN_ID_IDENTIFICADOR, new { @class = "form-control", @readonly="readonly", @style = "color:green; font-weight:bold" })
                                                        </div>
                                                    }
                                                </div>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data Envio
                                                        @Html.TextBoxFor(m => m.MEEN_DT_DATA_ENVIO, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly="readonly", @style = "color:green; font-weight:bold" })
                                                    </div>
                                                    @if (Model.MEEN_IN_TIPO == 1)
                                                    {
                                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                                            E-Mail Destino
                                                            @Html.TextBoxFor(m => m.MEEN_EM_EMAIL_DESTINO, new { @class = "form-control", @readonly="readonly" })
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Celular Destino
                                                            @Html.TextBoxFor(m => m.MEEN_NR_CELULAR_DESTINO, new { @class = "form-control", @readonly="readonly" })
                                                        </div>
                                                    }
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Anexos
                                                        @Html.TextBoxFor(m => m.Anexo, new { @class = "form-control", @readonly="readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Entregue
                                                        @Html.TextBoxFor(m => m.Entregue, new { @class = "form-control", @readonly="readonly" })
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                                        Assunto
                                                        @Html.TextBoxFor(m => m.MEEN_NM_TITULO, new { @class = "form-control", @readonly="readonly" })
                                                    </div>
                                                </div>
                                                @if (Model.MEEN_TX_CORPO != null)
                                                {
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;"> 
                                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                                            Corpo da Mensagem
                                                            @Html.TextAreaFor(m => m.MEEN_TX_CORPO_EXIBE, new { @class = "form-control", style = "width: 100%; height: 400px;", @readonly="readonly"})
                                                        </div>
                                                    </div>
                                                }
                                                @if (Model.MEEN_TX_RETORNO != null)
                                                {
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;"> 
                                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                                            Resposta do Servidor - Falha
                                                            @Html.TextAreaFor(m => m.MEEN_TX_RETORNO, new { @class = "form-control", style = "width: 100%; height: 200px;", @readonly="readonly"})
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>


@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sweetAlert")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
