@using Presentation.Extensions
@using CrossCutting;
@model EntitiesServices.Model.NOTICIA
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*Titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title"> 
        <h3 class="title">Notícias</h3> 
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard - Inicial</a>
            </li>
            <li class="active">
                <strong>Notícias</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                </div>           
            
                @using (Html.BeginForm("FiltrarNoticiaGeral", "Noticia", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                </div>
                            }
                            @*@if (TempData["TemMensagem"] != null)
                            {
                                <div class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                    <span>@TempData["MensagemAcerto"]</span>
                                </div>
                            }*@                    
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    Título
                                    @Html.TextBoxFor(m => m.NOTC_NM_TITULO, new { @class = "form-control", autofocus = true })
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Autor
                                    @Html.TextBoxFor(m => m.NOTC_NM_AUTOR, new { @class = "form-control", autofocus = true })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data de Autoria
                                    @Html.TextBoxFor(m => m.NOTC_DT_DATA_AUTOR, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", @id = "dn", autofocus = true })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-9 col-md-9 col-xs-12">
                                    Conteúdo da Notícia
                                    @Html.TextBoxFor(m => m.NOTC_TX_TEXTO, new { @class = "form-control", autofocus = true })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Link
                                    @Html.TextBoxFor(m => m.NOTC_LK_LINK, new { @class = "form-control", autofocus = true })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    @Html.ButtonActionSubmit(text: "Filtrar", htmlAttributes: new { @class = "btn-loading1" })
                                    @if ((Int32)Session["UsuarioEspecial"] == 1)
                                    {
                                        <a href="@Url.Action("IncluirNoticia", "Noticia")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Inclusão de uma nova notícia" class="btn btn-sm btn-primary btn-loading" id="emp" OnClick = "Fade()">Nova Notícia</a>                
                                    }
                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Noticia", action: "RetirarFiltroNoticiaGeral")
                                    @Html.ButtonLinkIndex(text: "Voltar", controller: "Paciente", action: "MontarTelaPaciente")
                                    <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                                        <i class="fa fa-spinner fa-spin"></i> Processando...
                                    </span>
                                </div>
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Notícias</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                            @if (ViewBag.Listas != null && (ViewBag.Listas as List<EntitiesServices.Model.NOTICIA>).Count > 0)                                        {
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead style ="background-color:lightsteelblue">
                                        <tr>
                                            <th style="width: auto">Data</th>   
                                            <th style="width: auto">Validade</th>   
                                            <th style="width: auto">Título</th>   
                                            <th style="width: auto">Autor</th>
                                            <th style="width: auto">Acessos</th>
                                            <th class="td-one-action">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.NOTICIA>))
                                        {
                                            <tr>
                                                <td>
                                                    <span style="display:none; width: auto">@cond.NOTC_DT_DATA_AUTOR.Value.ToString("yyyyMMdd")</span>
                                                    @cond.NOTC_DT_DATA_AUTOR.Value.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    <span style="display:none; width: auto">@cond.NOTC_DT_VALIDADE.Value.ToString("yyyyMMdd")</span>
                                                    @cond.NOTC_DT_VALIDADE.Value.ToString("dd/MM/yyyy")
                                                </td>
                                                <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("VerNoticia", "Noticia", new { id = cond.NOTC_CD_ID })" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Alterar/Consultar notícia"/>@cond.NOTC_NM_TITULO</td>
                                                <td style="width: auto">@cond.NOTC_NM_AUTOR</td>
                                                <td style="width: auto">@cond.NOTC_NR_ACESSO</td>
                                                <td class="td-one-action">
                                                    @Html.TableLinkDetails(cond.NOTC_CD_ID, "VerNoticia","fa-search btn-loading", "Ver")
                                                    @if ((Int32)Session["UsuarioEspecial"] == 1)
                                                    {
                                                        @Html.TableLinkDetails(cond.NOTC_CD_ID, "EditarNoticia","fa-edit btn-loading", "Alterar")
                                                        if (cond.NOTC_IN_ATIVO == 1)
                                                        {
                                                            <span style="color: #337ab7; cursor:pointer;" alt="Excluir" class="tbl-link fa-lg fa fa-trash-o btn-loading" onclick="ShowModalExcluir('/Noticia/ExcluirNoticia/@cond.NOTC_CD_ID')" title="Excluir"></span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-xs-2">

                                    </div>
                                    <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-6 col-md-6 col-xs-8">
                                        <h2 style="font-weight: bold">Sua pesquisa não retornou nenhum resultado ou nenhuma notícia cadastrada</h2>
                                        @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Noticia", action: "RetirarFiltroNoticiaGeral")
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-2">

                                    </div>
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")

        <style>
        /* 1. Aumenta a largura e garante o espaço interno */
        #toast-container > .toast {
            width: 500px !important; 
            max-width: 500px !important;
            opacity: 0.95 !important;
        }

        /* 2. Remove o ícone nativo do Toastr (Background Image) */
        #toast-container > .toast-success {
            background-image: none !important;
        }

        /* 3. Remove ícones do FontAwesome/Inspinia injetados via ::before no Título */
        .toast-success .toast-title::before, 
        .toast-success .toast-title::after,
        .toast-success::before {
            content: none !important;
            display: none !important;
        }

        /* 4. Ajusta o recuo do texto já que removemos o ícone */
        .toast-success .toast-title, 
        .toast-success .toast-message {
            padding-left: 10px !important;
        }
    </style>

}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
   
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

        <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading1').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>

    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary btn-loading" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Notícia?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                dom: '<"html5buttons"B>lTfgitp',
                // --- NOVO BLOCO DE CONFIGURAÇÃO ---
                columnDefs: [
                    {
                         "type": "date-eu", 
                        "targets": [0, 1] 
                    }
                ],
                // ---------------------------------       
                buttons: [
                    { extend: 'excel', title: 'Noticia_Planilha' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

           

        });

    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#dn").mask("99/99/9999");
        });
    </script>

        <script type="text/javascript">
        $(document).ready(function () {
            // Configurações globais do Toastr
            toastr.options = {
                "closeButton": true,
                //"debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "15000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            //    "iconClass": "customer-toast-info", // Se quiser remover o ícone padrão totalmente
            //    "titleClass": "toast-title",
            //    "messageClass": "toast-message"
            };

            // Verifica se existe mensagem de sucesso no TempData (vinda do Redirect)
            var msgSucesso = '@TempData["MensagemAcerto"]';
            if (msgSucesso != '') {
                toastr.success(msgSucesso, 'Sucesso!');
            }

            // Verifica se existe mensagem de erro
            var msgErro = '@TempData["MensagemErro"]';
            if (msgErro != '') {
                toastr.error(msgErro, 'Erro!');
            }
        });
    </script>

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

