@using Inspinia_MVC5;
@using Presentation.Extensions
@using CrossCutting
@using EntitiesServices.Model;
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext" style="color: cadetblue; font-weight: bold; margin-right: 50px">@((String)Session["Greeting"])</span>
            </li>
            <li>
                @if ((Int32)Session["eDemo"] == 1)
                {
                    <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext" style="color: darkgoldenrod; font-weight: bold; margin-right: 50px">@((String)Session["TextoDemo"])</span>
                }
            </li>
            <li>
                @if ((Int32)Session["AvisosAbertos"] > 0)
                {
                    <a href="@Url.Action("VerAvisoAberto", "Aviso")" class="pisca" style="color: brown; font-weight: bold; margin-right: 50px">
                        <i class="fa fa-bell"></i> Você tem avisos pendentes
                    </a>
                }
                else
                {
                    <a href="@Url.Action("VerAvisoAberto", "Aviso")" style="margin-right: 50px">
                        <i class="fa fa-bell"></i> Nenhum aviso pendente
                    </a>
                }

            </li>
            <li>

            </li>
            <li>
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext" style="color: green; font-weight: bold; margin-right: 50px">@((String)Session["UltimoLogin"])</span>
            </li>

            <li>
                <a href="@Url.Action("PesquisarTudo", "BaseAdmin")">
                    <i class="fa fa-search"></i> Procurar...
                </a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaFaleConosco", "BaseAdmin")">
                    <i class="fa fa-volume-control-phone"></i> Fale Conosco
                </a>
            </li>
            <li>
                <a href="@Url.Action("SairWebDoctor", "ControleAcesso")">
                    <i class="fa fa-arrow-circle-o-left"></i> Sair
                </a>
            </li>
            <li>
                @if ((USUARIO)Session["UserCredentials"] == null)
                {
                    <a href="@Url.Action("Login", "ControleAcesso")">
                        <i class="fa fa-sign-in"></i> Login
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Logout", "ControleAcesso")">
                        <i class="fa fa-sign-out"></i> Logout
                    </a>
                }

            </li>
        </ul>
    </nav>
</div>
<script type="text/javascript">
    function PesquisaTudo(parm)
    {
        $.ajax({
            url: '../BaseAdmin/PesquisarTudo'
            , type: 'POST'
            , success: function (result)
            {
            }
        });
    }

    $(document).ready(function ()
    {
        PesquisaTudo($('#top-search').val());
    });

</script>
