@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.LocacaoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Locação</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaLocacao", "Locacao")">Locação</a>
            </li>
            <li class="active">
                <strong>Locação - Aprovação</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                        <h5>Locação - Aprovação</h5>
                        <span style="color:green; font-weight: 500; font-size: 20px;">@ViewBag.NomePaciente</span>
                    </div>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "Erros de Crítica Encontrados:", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="tabs-container">
                        @using (Html.BeginForm("AprovarLocacao", "Locacao", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                        {

                            @Html.AntiForgeryToken()
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Dados da Aprovação</a></li>
                            </ul>

                            <div class="tab-content">
                                @*Dados da Aprovação*@
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Paciente</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Nome do Paciente
                                                    @Html.TextBoxFor(m => m.PACIENTE.PACI_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data Nascimento
                                                    @Html.TextBoxFor(m => m.PACIENTE.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                @if (Model.PACIENTE.PACI_NR_CPF != null)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        CPF
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CPF, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                @if (Model.PACIENTE.PACI_NR_CELULAR != null)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Celular
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CELULAR, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                @if (Model.PACIENTE.PACI_NR_TELEFONE != null)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Telefone
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_TELEFONE, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Produto</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Nome do Produto
                                                    @Html.TextBoxFor(m => m.PRODUTO.PROD_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Marca
                                                    @Html.TextBoxFor(m => m.PRODUTO.PROD_NM_MARCA, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Modelo
                                                    @Html.TextBoxFor(m => m.PRODUTO.PROD_NM_MODELO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Valor da Locação (R$)
                                                    @Html.TextBoxFor(m => m.PRODUTO.PROD_VL_LOCACAO, "{0:n2}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Locação</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                    @Html.HiddenFor(m => m.LOCA_CD_ID)
                                                    @Html.HiddenFor(m => m.LOCA_DS_DESCRICAO)
                                                    @Html.HiddenFor(m => m.LOCA_DT_APROVACAO)
                                                    @Html.HiddenFor(m => m.LOCA_DT_CANCELAMENTO)
                                                    @Html.HiddenFor(m => m.LOCA_DT_EMISSAO)
                                                    @Html.HiddenFor(m => m.LOCA_DT_ENCERRAMENTO)
                                                    @Html.HiddenFor(m => m.LOCA_DT_FINAL)
                                                    @Html.HiddenFor(m => m.LOCA_DT_GARANTIA)
                                                    @Html.HiddenFor(m => m.LOCA_DT_INICIO)
                                                    @Html.HiddenFor(m => m.LOCA_DT_RENOVACAO)
                                                    @Html.HiddenFor(m => m.LOCA_GU_GUID)
                                                    @Html.HiddenFor(m => m.LOCA_IN_ASSINADO_DIGITAL)
                                                    @Html.HiddenFor(m => m.LOCA_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.LOCA_IN_CONTRATO)
                                                    @Html.HiddenFor(m => m.LOCA_IN_ENCERRADO)
                                                    @Html.HiddenFor(m => m.LOCA_IN_GARANTIA)
                                                    @Html.HiddenFor(m => m.LOCA_IN_QUANTIDADE)
                                                    @Html.HiddenFor(m => m.LOCA_IN_RENOVACAO)
                                                    @Html.HiddenFor(m => m.LOCA_IN_RENOVACOES)
                                                    @Html.HiddenFor(m => m.LOCA_IN_STATUS)
                                                    @Html.HiddenFor(m => m.LOCA_NM_TITULO)
                                                    @Html.HiddenFor(m => m.LOCA_NR_ATRASO)
                                                    @Html.HiddenFor(m => m.LOCA_NR_DIA)
                                                    @Html.HiddenFor(m => m.LOCA_NR_GARANTIA)
                                                    @Html.HiddenFor(m => m.LOCA_NR_NUMERO)
                                                    @Html.HiddenFor(m => m.LOCA_NR_PRAZO)
                                                    @Html.HiddenFor(m => m.LOCA_NR_SERIE)
                                                    @Html.HiddenFor(m => m.LOCA_TK_TOKEN)
                                                    @Html.HiddenFor(m => m.LOCA_VL_PARCELA)
                                                    @Html.HiddenFor(m => m.LOCA_VL_TOTAL)
                                                    @Html.HiddenFor(m => m.LOCA_VL_VALOR_ATRASO)
                                                    @Html.HiddenFor(m => m.LOCA_XM_NOTA_FISCAL)
                                                    @Html.HiddenFor(m => m.PACI_CD_ID)
                                                    @Html.HiddenFor(m => m.PETA_CD_ID)
                                                    @Html.HiddenFor(m => m.PROD_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_CD_ID)
                                                    @Html.HiddenFor(m => m.LOCA_AQ_ARQUIVO_QRCODE)
                                                    @Html.HiddenFor(m => m.COLO_CD_ID)
                                                    @Html.HiddenFor(m => m.LOCA_CD_DISTRATO_ID)
                                                    Data Inicial
                                                    @Html.TextBoxFor(m => m.LOCA_DT_INICIO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data Final
                                                    @Html.TextBoxFor(m => m.LOCA_DT_FINAL, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Quantidade
                                                    @Html.TextBoxFor(m => m.LOCA_IN_QUANTIDADE, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly"  })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Identificador
                                                    @Html.TextBoxFor(m => m.LOCA_GU_GUID, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: blue; font-weight: bold" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Contrato Assinado
                                                    @Html.TextBoxFor(m => m.CONTRATO_ASSINA, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: darkblue; font-weight: bold" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Status
                                                    @Html.TextBoxFor(m => m.Status, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: brown; font-weight: bold" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Número de Série
                                                    @Html.TextBoxFor(m => m.LOCA_NR_SERIE, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-10 col-md-10 col-xs-12">
                                                    Título
                                                    @Html.TextBoxFor(m => m.LOCA_NM_TITULO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Aprovação</h4>
                                                <div class="form-group" style=" margin-left: 0px; margin-right: 0px;">
                                                    @Html.ButtonActionSubmit(text: "Confirma a Aprovação da Locação", htmlAttributes: new { id = "basictoast", @class = "btn-loading1", onclick = "return confirm('Tem certeza que deseja aprovar essa locação?');" })
                                                    @if ((Int32)Session["VoltaLocacao"] == 2)
                                                    {
                                                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoLocacao", controller: "Locacao", htmlAttributes: new { @class = "btn-loading" })
                                                    }
                                                    else
                                                    {
                                                        @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaLocacao", controller: "Locacao", htmlAttributes: new { @class = "btn-loading" })
                                                    }
                                                    <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                                                        <i class="fa fa-spinner fa-spin"></i> Processando...
                                                    </span>
                                                </div>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data de Aprovação
                                                        @Html.TextBoxFor(m => m.LOCA_DT_APROVACAO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Saída do Estoque
                                                        @Html.DropDownListFor(m => m.LOCA_IN_ESTOQUE, (SelectList)ViewBag.Saida, "Selecionar", new { @class = "form-control", data_toggle = "popover", data_content = "Indica se o equipamento já foi devolvido e será retornado para o estoque", data_trigger="hover", data_placement="top", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.LOCA_IN_ESTOQUE, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data da Entrega
                                                        @Html.TextBoxFor(m => m.LOCA_DT_ENTREGA, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn" })
                                                        @Html.ValidationMessageFor(m => m.LOCA_DT_ENTREGA, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                                        Observações da Aprovação
                                                        @Html.TextAreaFor(m => m.LOCA_DS_ENTREGA, new { @class = "form-control", style = "width: 100%; height: 100px;", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.LOCA_DS_ENTREGA, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>    
    <script src="~/Scripts/uploadAnexo.js"></script>

    <script>
        if (getUrlParameter('voltaCliente') == "1") {
            $('.btnSubmit').html('Salvar');
            $('.btnReturn').hide();
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading1').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>


    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
            $("#cep1").mask("99999-999");
            $("#data1").mask("99/99/9999");
            $("#tel").mask("(99)9999-9999");
            $("#alt_tel").mask("(99)9999-9999");
            $("#cel").mask("(99)99999-9999");
            $("#wh").mask("(99)99999-9999");
        });
    </script>
    <script>
        SendFilesV2('imgCliente', 'Locacao', 'UploadFileToSession');
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Aprovação em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    <script>
        SendFilesV2('imgCRM', 'CRM', 'UploadFileToSession');
    </script>


    <script>
        $('#filGeral option[value=10]').prop('selected', true);
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
