@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.LocacaoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - LOcacao";
    ViewBag.MetaDescription = "WebDoctor - Locacao - Inclusão de locacao";
    ViewBag.MetaKeywords = "WebDoctor, locacao, paciente";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Locação</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaLocacao", "Locacao")">Locação</a>
            </li>
            <li class="active">
                <strong>Locação - Inclusão</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                        <h5>Locação - Inclusão</h5>
                        <span style="color:green; font-weight: 500; font-size: 20px;">@ViewBag.NomePaciente</span>
                    </div>
                </div>
                @using (Html.BeginForm("IncluirLocacao", "Locacao", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "Erros Encontrados:", new { @class = "text-danger" })
                            </div>
                        }
                        @if (TempData["TemMensagem"] != null)
                        {
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                <span>@TempData["MensagemAcerto"]</span>
                            </div>
                        }                    
                        @if ((Int32)Session["TipoLocacao"] == 1)
                        {
                            <div class="row">
                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Paciente</h4>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        Nome do Paciente
                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Data de Nascimento
                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                    </div>
                                    @if (Model.PACIENTE.PACI_NR_CPF != null)
                                    {
                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                            CPF
                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CPF, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                        </div>
                                    }
                                    @if (Model.PACIENTE.PACI_NR_CELULAR != null)
                                    {
                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                            Celular
                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CELULAR, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                        </div>
                                    }
                                    @if (Model.PACIENTE.PACI_NR_TELEFONE != null)
                                    {
                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                            Telefone
                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_TELEFONE, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Paciente</h4>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        Nome do Paciente*
                                        @Html.DropDownListFor(m => m.PACI_CD_ID, (SelectList)ViewBag.Pacientes, "Selecionar", new { @class = "form-control", data_toggle = "popover", data_content = "Selecione um paciente ou digite as primeiras letras do nome para acelerar a busca", data_trigger="hover", data_placement="top", autofocus = true, onchange = "GetPaciente($(this).val())" })
                                        @Html.ValidationMessageFor(m => m.PACI_CD_ID, "", new { @style = "color:red" })
                                    </div>
                                    <div style="display: none;" id="dataNasc" class="col-lg-2 col-md-2 col-xs-12">
                                        Data de Nascimento
                                        <input class="form-control" type="text" readonly="readonly" tabindex="-1"/>
                                    </div>
                                    <div style="display: none;" id="cpf" class="col-lg-2 col-md-2 col-xs-12">
                                        CPF
                                        <input class="form-control" type="text" readonly="readonly" tabindex="-1"/>
                                    </div>
                                    <div style="display: none;" id="cel" class="col-lg-2 col-md-2 col-xs-12">
                                        Celular
                                        <input class="form-control" type="text" readonly="readonly" tabindex="-1"/>
                                    </div>
                                    <div style="display: none;" id="tel" class="col-lg-2 col-md-2 col-xs-12">
                                        Telefone
                                        <input class="form-control" type="text" readonly="readonly" tabindex="-1"/>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Produto</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Nome do produto*
                                    @Html.DropDownListFor(m => m.PROD_CD_ID, (SelectList)ViewBag.Produtos, "Selecionar", new { @class = "form-control", data_toggle = "popover", data_content = "Selecione um produto ou digite as primeiras letras do nome para acelerar a busca", data_trigger="hover", data_placement="top", autofocus = true, onchange = "GetProduto($(this).val())" })
                                    @Html.ValidationMessageFor(m => m.PROD_CD_ID, "", new { @style = "color:red" })
                                </div>
                                <div style="display: none;" id="marca" class="col-lg-3 col-md-3 col-xs-12">
                                    Marca
                                    <input class="form-control" type="text" readonly="readonly" tabindex="-1"/>
                                </div>
                                <div style="display: none;" id="valor" class="col-lg-2 col-md-2 col-xs-12">
                                    Valor da Locação (R$)
                                    <input class="form-control" type="text" id="orig" readonly="readonly" tabindex="-1"/>
                                </div>
                                <div style="display: none;" id="promo" class="col-lg-2 col-md-2 col-xs-12">
                                    Valor de Promoção (R$)
                                    <input class="form-control" type="text" id="origDesc" readonly="readonly" tabindex="-1"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-xs-12">
                                <h4 style="margin-left: -15px; color:green; background-color: beige; font-weight:bold">Dados da Locação</h4>
                                <div class="form-group" style=" margin-left: -30px; margin-right: -15px;">
                                    @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;" })
                                    <button style="margin-left: 15px;" class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirmar inclusão da Locação</button>
                                    @if ((Int32)Session["TipoLocacao"] == 1)
                                    {
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoPaciente", controller: "Paciente")
                                    }
                                    else if ((Int32)Session["VoltaLocacaoBase"] == 1)
                                    {
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoPaciente", controller: "Paciente")
                                    }
                                    else
                                    {
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaLocacao", controller: "Locacao")
                                    }
                                    <a href="@Url.Action((String)Session["AjudaNivel"])" class="btn btn-sm btn-danger" target="_blank">Ajuda</a>
                                </div>
                                <div class="form-group" style=" margin-left: -30px; margin-right: -15px;">
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        @Html.HiddenFor(m => m.ASSI_CD_ID)
                                        @Html.HiddenFor(m => m.USUA_CD_ID)
                                        @Html.HiddenFor(m => m.LOCA_GU_GUID)
                                        @Html.HiddenFor(m => m.LOCA_IN_ATIVO)
                                        @Html.HiddenFor(m => m.LOCA_IN_ENCERRADO)
                                        @Html.HiddenFor(m => m.LOCA_IN_RENOVACAO)
                                        @Html.HiddenFor(m => m.LOCA_IN_STATUS)
                                        @Html.HiddenFor(m => m.LOCA_VL_TOTAL)
                                        @Html.HiddenFor(m => m.PETA_CD_ID)
                                        @Html.HiddenFor(m => m.PACI_CD_ID)
                                        @Html.HiddenFor(m => m.LOCA_IN_RENOVACOES)
                                        @Html.HiddenFor(m => m.LOCA_TK_TOKEN)
                                        @Html.HiddenFor(m => m.LOCA_IN_ASSINADO_DIGITAL)
                                        @Html.HiddenFor(m => m.LOCA_IN_ESTOQUE)
                                        Data de Início*
                                        @Html.TextBoxFor(m => m.LOCA_DT_INICIO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn" })
                                        @Html.ValidationMessageFor(m => m.LOCA_DT_INICIO, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Prazo (Meses)*
                                        @Html.TextBoxFor(m => m.LOCA_NR_PRAZO, new { @class = "form-control", autofocus = true, @id="prazo", onblur = "CalculaTotal()" })
                                        @Html.ValidationMessageFor(m => m.LOCA_NR_PRAZO, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Dia do Vencimento*
                                        @Html.TextBoxFor(m => m.LOCA_NR_DIA, new { @class = "form-control", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.LOCA_NR_DIA, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                        Identificador
                                        @Html.TextBoxFor(m => m.LOCA_GU_GUID, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                        Responsável
                                        @Html.TextBoxFor(m => m.USUARIO.USUA_NM_APELIDO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -30px; margin-right: -15px;">
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Quantidade
                                        @Html.TextBoxFor(m => m.LOCA_IN_QUANTIDADE, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @id="quant" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Tipo de Preço
                                        @Html.DropDownListFor(m => m.TIPO_PRECO, (SelectList)ViewBag.Preco, "Selecionar", new { @class = "form-control", data_toggle = "popover", data_content = "Seleciona o tipo de preço a ser considerado: Normal ou Promoção", data_trigger="hover", data_placement="top", autofocus = true, @id="preco", onchange = "ValidaPreco($(this).val())" })
                                        @Html.ValidationMessageFor(m => m.TIPO_PRECO, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12" id="normal">
                                        Valor da Parcela (R$)
                                        @Html.TextBoxFor(m => m.LOCA_VL_PARCELA, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @id="parc" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12"  id="promocao">
                                        Valor da Promoção (R$)
                                        @Html.TextBoxFor(m => m.PRECO_PROMOCAO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @id="desc" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Valor Total (R$)
                                        @Html.TextBoxFor(m => m.LOCA_VL_TOTAL, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @id="total" })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -30px; margin-right: -15px;">
                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                        Número de Série
                                        @Html.TextBoxFor(m => m.LOCA_NR_SERIE, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Número de série do equipamento objeto da locação", data_trigger="hover", data_placement="top" })
                                        @Html.ValidationMessageFor(m => m.LOCA_NR_SERIE, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Garantia*
                                        @Html.DropDownListFor(m => m.LOCA_IN_GARANTIA, (SelectList)ViewBag.Garantia, "Selecionar", new { @class = "form-control", data_toggle = "popover", data_content = "Indica se o equipamento está ou não na garantia do febricante", data_trigger="hover", data_placement="top", autofocus = true, @id="garantia", onchange = "ValidaGarantia($(this).val())" })
                                        @Html.ValidationMessageFor(m => m.LOCA_IN_GARANTIA, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12" id="gar" >
                                        Data da Garantia
                                        @Html.TextBoxFor(m => m.LOCA_DT_GARANTIA, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn1", data_toggle = "popover", data_content = "Data de encerramento da garantia do fabricante", data_trigger="hover", data_placement="top" })
                                        @Html.ValidationMessageFor(m => m.LOCA_DT_GARANTIA, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Envia Contrato*
                                        @Html.DropDownListFor(m => m.LOCA_IN_CONTRATO, (SelectList)ViewBag.Contrato, "Selecionar", new { @class = "form-control", data_toggle = "popover", data_content = "Indica se o contrato de locação será enviado ao paciente no momento da criação da locação", data_trigger="hover", data_placement="top", autofocus = true, @id="contrato" })
                                        @Html.ValidationMessageFor(m => m.LOCA_IN_CONTRATO, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                        Tipo de Contrato*
                                        @Html.DropDownListFor(m => m.COLO_CD_ID, (SelectList)ViewBag.ContratoLocacao, "Selecionar", new { @class = "form-control", data_toggle = "popover", data_content = "Seleciona o tipo de contrato a ser usado para enviar ao paciente ", data_trigger="hover", data_placement="top", autofocus = true, @id="preco", onchange = "ValidaPreco($(this).val())" })
                                        @Html.ValidationMessageFor(m => m.COLO_CD_ID, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -30px; margin-right: -15px;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        Título*
                                        @Html.TextBoxFor(m => m.LOCA_NM_TITULO, new { @class = "form-control", autofocus = true, @id = "titulo" })
                                        @Html.ValidationMessageFor(m => m.LOCA_NM_TITULO, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -30px; margin-right: -15px;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        Descrição (O WebDoctor vai preencher automaticamente esse campo)
                                        @Html.TextAreaFor(m => m.LOCA_DS_DESCRICAO, new { @class = "form-control", style = "width: 100%; height: 280px; overflow:auto;", autofocus = true, @id="desc", data_toggle = "popover", data_content = "Informe a descrição que será acrescentada à descrição gerada automaticamente", data_trigger="hover", data_placement="top" })
                                        @Html.ValidationMessageFor(m => m.LOCA_DS_DESCRICAO, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <h4 style="margin-left: -15px; margin-right: -15px; color:green; background-color: beige; font-weight:bold">Anexos</h4>
                                <input class="btn btn-sm btn-warning" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="ATENÇÃO - Antes de anexar arquivos certifique-se de que eles estejam livres de vírus e outras ameaças.  " style="margin-left: -15px;" id="inputFile" type="file" multiple />
                                <br />
                                <div class="form-group" style="margin-left: -15px;">
                                    <div>
                                        <table style="width: 100%;" class="table table-striped table-bordered table-hover dataTables-example" id="myFiles">
                                            <thead style="background-color:lightsteelblue">
                                                <tr>
                                                    <td>Nome</td>
                                                    <td>Tipo</td>
                                                    <td>Ações</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")

}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script>
        function GetPaciente(id) {
            var data = {
                id: id
            }
            $.ajax({
                url: '../Paciente/GetPaciente'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    $('#dataNasc > input').val(r.dataNasc);
                    $('#cpf > input').val(r.cpf);
                    $('#cel > input').val(r.cel);
                    $('#tel > input').val(r.tel);

                    $('#dataNasc').show();
                    $('#cpf').show();
                    $('#cel').show();
                    $('#tel').show();
                }
            });
        }
    </script>

    <script>
        function GetProduto(id) {
            var data = {
                id: id
            }
            $.ajax({
                url: '../Locacao/GetProduto'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    $('#marca > input').val(r.marca);
                    $('#modelo > input').val(r.modelo);
                    $('#valor > input').val(r.valor);
                    $('#titulo').val(r.titulo);
                    $('#parc').val(r.parc);
                    $('#total').val(r.total);
                    $('#prazo').val(r.prazo);
                    $('#quant').val(r.quant);
                    $('#promo').val(r.promo);
                    $('#desc').val(r.desc);

                    $('#valor').show();
                    $('#promo').show();
                    $('#parcela').show();
                    $('#promocao').hide();
                }
            });
        }
    </script>
    <script type="text/javascript">
        function ValidaGarantia(men) {
            if (men == '1') {
                $("#gar").show();
            } else {
                $("#gar").hide();
            }
        }
        $(document).ready(function () {
            ValidaGarantia($('#garantia').val());
        });
    </script>
    <script type="text/javascript">
        function ValidaPreco(men) {
            if (men == '1') {
                $("#normal").show();
                $("#promocao").hide();
            } else {
                $("#normal").hide();
                $("#promocao").show();
            }
        }
        $(document).ready(function () {
            ValidaPreco($('#preco').val());
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>
    <script>
        function CalculaTotal() {
            var quantidade = $('#quant').val() == "" ? 0 : $('#quant').val();
            var parcela = $('#orig').val() == "" ? 0 : $('#orig').val();
            var prazo = $('#prazo').val() == "" ? 0 : $('#prazo').val();
            var desconto = $('#origDesc').val() == "" ? 0 : $('#origDesc').val();

            quantidade = (parseFloat(quantidade.replace(',', '.')));
            parcela = (parseFloat(parcela.replace(',', '.')));
            prazo = (parseFloat(prazo.replace(',', '.')));
            desconto = (parseFloat(desconto.replace(',', '.')));

            var precoUsado;
            var tipoPreco = $('#preco').val();
            if (tipoPreco === '2') {
                precoUsado = desconto;
            } else {
                precoUsado = parcela;
            }
            var parcNova = precoUsado * quantidade;
            var tot = prazo * parcNova;
            $('#total').val(parseFloat(tot).toFixed(2).replace('.', ','));
            if (tipoPreco == 1) {
                $("#promocao").hide();
                $("#normal").show();
            }
            else {
                $("#normal").hide();
                $("#promocao").show();
            }
        }
    </script>   

    <script type="text/javascript">
        $(function () {
            $("#dn").mask("99/99/9999");
            $("#dn1").mask("99/99/9999");
        });
    </script>

    <script>
        SendFilesV2('imgCliente', 'Locacao', 'UploadFileToSession');
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Inclusão em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
