@using Presentation.Extensions
@using CrossCutting;
@model EntitiesServices.Model.LOCACAO
@{ Layout = "~/Views/Shared/_Layout_Admin.cshtml"; }
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="containerModalDesc">
        <div class="modal fade" id="modalDesc" tabindex="-1" role="dialog" aria-labelledby="modalDesc" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDesc">Descrição do Produto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalDescBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <h3 class="title">Locação</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Locação</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title"  style="background-color:darkseagreen; color:darkgreen">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Locação</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.LocPendentes</h1>
                    <small>Pendentes</small>
                    <br />
                    <br />
                    @Html.ButtonLinkIndex(text: "Ver", controller: "Locacao", action: "MontarTelaLocacaoPendentes", buttonClass: "white", htmlAttributes: new { @id = "aci", OnClick = "Fade1()" })
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title"  style="background-color:darkseagreen; color:darkgreen">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Locação</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.LocAtivas</h1>
                    <small>Ativas</small>
                    <br />
                    <br />
                    @Html.ButtonLinkIndex(text: "Ver", controller: "Locacao", action: "MontarTelaLocacaoAtivas", buttonClass: "white", htmlAttributes: new { @id = "aci", OnClick = "Fade1()" })
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title"  style="background-color: darkseagreen; color: darkgreen">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Locação</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@CrossCutting.Formatters.IntegerFormatter(ViewBag.LocEncerradas)</h1>
                    <small>Encerradas</small>
                    <br />
                    <br />
                    @Html.ButtonLinkIndex(text: "Ver", controller: "Locacao", action: "MontarTelaLocacaoEncerradas", buttonClass: "white", htmlAttributes: new { @id = "aci", OnClick = "Fade1()" })
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title"  style="background-color:darkseagreen; color:darkgreen">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Locação</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@CrossCutting.Formatters.IntegerFormatter(ViewBag.LocVencidas)</h1>
                    <small>Vencidas</small>
                    <br />
                    <br />
                    @Html.ButtonLinkIndex(text: "Ver", controller: "Locacao", action: "MontarTelaLocacaoAtrasadas", buttonClass: "white", htmlAttributes: new { @id = "aci", OnClick = "Fade1()" })
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title"  style="background-color:darkseagreen; color:darkgreen">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Locação</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@CrossCutting.Formatters.IntegerFormatter(ViewBag.LocCanceladas)</h1>
                    <small>Canceladas</small>
                    <br />
                    <br />
                    @Html.ButtonLinkIndex(text: "Ver", controller: "Locacao", action: "MontarTelaLocacaoCanceladas", buttonClass: "white", htmlAttributes: new { @id = "aci", OnClick = "Fade1()" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-md-10 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                </div>

                @using (Html.BeginForm("FiltrarLocacao", "Locacao", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Paciente
                                @Html.TextBoxFor(m => m.LOCA_NM_PACIENTE_DUMMY, new { @class = "form-control", autofocus = true, @id = "txtNomePaciente", data_toggle = "popover", data_content = "Informe o nome do paciente da locação", data_trigger="hover", data_placement="top" })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Nome do Produto
                                @Html.TextBoxFor(m => m.LOCA_NM_PRODUTO_DUMMY, new { @class = "form-control", autofocus = true, @id = "txtNomeProduto", data_toggle = "popover", data_content = "Informe o nome do produto da locação", data_trigger="hover", data_placement="top" })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data Inicial
                                @Html.TextBoxFor(m => m.LOCA_DT_INICIO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn", data_toggle = "popover", data_content = "Informe a data inicial da faixa de datas a ser pesquisada", data_trigger="hover", data_placement="top" })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data Final
                                @Html.TextBoxFor(m => m.LOCA_DT_DUMMY, new { @class = "form-control", autofocus = true, @id = "dn1", data_toggle = "popover", data_content = "Informe a data final da faixa de datas a ser pesquisada", data_trigger="hover", data_placement="top" })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Status
                                @Html.DropDownListFor(m => m.LOCA_IN_STATUS, (SelectList)ViewBag.Status, "Selecionar", new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Selecione o status da locação a ser pesquisada", data_trigger="hover", data_placement="top" })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                @Html.ButtonActionSubmit(text: "Filtrar", htmlAttributes: new { @class = "btn-loading1" })
                                <a href="@Url.Action("RetirarFiltroLocacao", "Locacao")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Retorna a exibição padrão das locações" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Retirar Filtro</a>                
                                <a href="@Url.Action("MostrarTudoLocacao", "Locacao")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Exibe todas as locações" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Exibir Todas</a>                
                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_LOCACAO_INCLUIR == 1)
                                {
                                    <a href="@Url.Action("IncluirLocacao", "Locacao")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessa a página de criação de locações" class="btn btn-sm btn-primary btn-loading" id="emp" OnClick = "Fade()">Nova Locação</a>                
                                }
                                <a href="@Url.Action("VerHistoricoLocacoes", "Locacao")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Ver o histórico de todas as locações" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Histórico</a>                
                                <a href="@Url.Action("VerParcelasLocacoes", "Locacao")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Ver as parcelas de todas as locações" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Parcelas</a>                
                                <a href="@Url.Action("MontarTelaContratoLocacao", "Locacao")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso a página de contratos de locação e afins" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Contratos</a>                
                                <a href="@Url.Action("MontarTelaDashboardLocacao", "Locacao")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acesso ao dashboard de locações" class="btn btn-sm btn-primary btn-loading" id="emp" OnClick = "Fade()">Dashboard</a>                
                                @Html.ButtonLinkIndex(text: "Voltar", controller: "Paciente", action: "MontarTelaPaciente", htmlAttributes: new { @class = "btn-loading" })
                                <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                                    <i class="fa fa-spinner fa-spin"></i> Processando...
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title"  style="background-color: cornsilk; color:darkgreen">
                    <h5>Relatórios</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("ProcessaRelatorioLocacao", "Locacao", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", autofocus = true }))
                    {
                        @Html.DropDownList("TIPO_RELATORIO", (SelectList)ViewBag.Relatorio, "Selecionar", new { @class = "form-control", autofocus = true })
                        <small>Selecione o Relatório</small>
                        <br />
                        <small>(*) Sensivel ao filtro especificado</small>
                        <br />
                        <br />
                        @Html.ButtonActionSubmit(text: "Gerar Relatório")
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12" id="central">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Locações</h5>
                </div>
                <div class="ibox-content">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>}
                        @*@if (TempData["TemMensagem"] != null)
                        {
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                <span>@TempData["MensagemAcerto"]</span>
                            </div>
                        }*@                    
                        <div class="row">
                            @if (ViewBag.Listas != null && (ViewBag.Listas as List<EntitiesServices.Model.LOCACAO>).Count > 0)
                            {
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead style="background-color:lightsteelblue">
                                        <tr>
                                            <th style="width: auto">Paciente</th>
                                            <th style="width: auto">Produto</th>
                                            <th style="width: auto">Início</th>
                                            <th style="width: auto">Final</th>
                                            <th style="width: auto">Parcela (R$)</th>
                                            <th style="width: auto">Quantidade</th>
                                            <th style="width: auto">Dia do Vencimento</th>
                                            <th style="width: auto">Status</th>
                                            <th style="width: auto">Responsável</th>
                                            <th style="width: auto"></th>
                                            <th style="width: auto" class="td-one-action">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.LOCACAO>))
                                        {
                                            <tr>
                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_ALTERAR_PACIENTE == 1)
                                                {
                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("EditarPaciente", "Paciente", new { id = cond.PACI_CD_ID })" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Editar/Consultar paciente"/>@cond.PACIENTE.PACI_NM_NOME</td>
                                                }
                                                else
                                                {
                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("ConsultarPaciente", "Paciente", new { id = cond.PACI_CD_ID })" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar paciente"/>@cond.PACIENTE.PACI_NM_NOME</td>
                                                }
                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_EDITAR_PRODUTO == 1)
                                                {
                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("EditarProduto", "Produto", new { id = cond.PROD_CD_ID })" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Editar/Consultar Produto"/>@cond.PRODUTO.PROD_NM_NOME</td>
                                                }
                                                else
                                                {
                                                    <td style="width: auto; cursor: pointer; text-decoration: underline;"><a href="@Url.Action("ConsultarProduto", "Produto", new { id = cond.PROD_CD_ID })" class="btn-loading" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Consultar Produto"/>@cond.PRODUTO.PROD_NM_NOME</td>
                                                }

                                                <td>
                                                    <span style="display:none; width: auto">@cond.LOCA_DT_INICIO.Value.ToString("yyyyMMdd")</span>
                                                    @cond.LOCA_DT_INICIO.Value.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    <span style="display:none; width: auto">@cond.LOCA_DT_FINAL.Value.ToString("yyyyMMdd")</span>
                                                    @cond.LOCA_DT_FINAL.Value.ToString("dd/MM/yyyy")
                                                </td>

                                                <td style="width: auto">@CrossCutting.Formatters.DecimalFormatter(cond.LOCA_VL_PARCELA.Value)</td>
                                                <td style="width: auto">@cond.LOCA_IN_QUANTIDADE</td>
                                                <td style="width: auto">@cond.LOCA_NR_DIA</td>
                                                @if (cond.LOCA_IN_STATUS == 1)
                                                {
                                                    <td style="width: auto"><span class="badge badge-primary">Ativa</span></td>

                                                }
                                                else if (cond.LOCA_IN_STATUS == 2)
                                                {
                                                    <td style="width: auto"><span class="badge badge-success">Encerrada</span></td>

                                                }
                                                else if (cond.LOCA_IN_STATUS == 3)
                                                {
                                                    <td style="width: auto"><span class="badge badge-danger">Vencida</span></td>

                                                }
                                                else if (cond.LOCA_IN_STATUS == 4)
                                                {
                                                    <td style="width: auto"><span class="badge badge-danger">Cancelada</span></td>

                                                }
                                                else if (cond.LOCA_IN_STATUS == 0)
                                                {
                                                    <td style="width: auto"><span class="badge badge-warning">Pendente</span></td>

                                                }
                                                else 
                                                {
                                                    <td style="width: auto"><span class="badge badge-warning">-</span></td>

                                                }
                                                <td style="width: auto">@cond.USUARIO.USUA_NM_NOME</td>
                                                @if (!String.IsNullOrEmpty(cond.PRODUTO.PROD_AQ_FOTO))
                                                {
                                                    <td style="width: auto"><img src="@Url.Content(cond.PRODUTO.PROD_AQ_FOTO)" style="width: auto; height: auto; max-height: 75px; max-width: 65px;" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Clique Ctrl+Ctrl para ampliar a fotografia"></td>
                                                }
                                                else
                                                {
                                                    <td style="width: auto"><img src="~/Images/icone_imagem.png" style="width: auto; height: auto; max-height: 65px; max-width: 55px;"  ></td>
                                                }

                                                <td style="width: auto" class="td-one-action">
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_LOCACAO_ALTERAR == 1)
                                                    {
                                                        @Html.TableLinkDetails(cond.LOCA_CD_ID, "EditarLocacao", "fa-edit btn-loading", "Editar")
                                                    }
                                                    @if (cond.LOCA_IN_ATIVO == 1)
                                                    {
                                                        if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_LOCACAO__EXCLUIR == 1)
                                                        {
                                                            if (cond.LOCA_IN_STATUS == 0)
                                                            {
                                                                <span style="color: #337ab7; cursor:pointer;" alt="Desativar" class="tbl-link fa-lg fa fa-trash-o btn-loading" onclick="ShowModalExcluir('/Locacao/ExcluirLocacao/@cond.LOCA_CD_ID')" title="Excluir"></span>
                                                            }
                                                        }
                                                    }
                                                    @if (cond.LOCA_IN_ATIVO == 1)
                                                    {
                                                        @Html.TableLinkDetails(cond.LOCA_CD_ID, "ImprimirContratoLocacao", "fa-print", "Imprimir Contrato de Locação")
                                                    }
                                                    @if (cond.LOCA_IN_ATIVO == 1 & cond.LOCA_IN_STATUS == 4)
                                                    {
                                                        @Html.TableLinkDetails(cond.LOCA_CD_ID, "ImprimirDistratoLocacao", "fa-thumbs-down", "Imprimir Distrato de Locação")
                                                    }
                                                    @if (cond.LOCA_IN_ATIVO == 1 & cond.LOCA_IN_STATUS == 2)
                                                    {
                                                        @Html.TableLinkDetails(cond.LOCA_CD_ID, "ImprimirEncerraLocacao", "fa-check-square-o", "Imprimir Encerramento")
                                                    }
                                                    @if (cond.LOCA_IN_ATIVO == 1)
                                                    {
                                                        @Html.TableLinkDetails(cond.LOCA_CD_ID, "VerHistoricoLocacao", "fa-line-chart btn-loading", "Histórico")
                                                    }
                                                    @if (cond.LOCA_IN_ATIVO == 1)
                                                    {
                                                        @Html.TableLinkDetails(cond.LOCA_CD_ID, "VerParcelasLocacao", "fa-calendar-o btn-loading", "Parcelas")
                                                    }
                                                    @if (cond.LOCA_IN_ATIVO == 1)
                                                    {
                                                        if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_LOCACAO_ALTERAR == 1)
                                                        {
                                                            if (cond.LOCA_IN_STATUS == 1 || cond.LOCA_IN_STATUS == 3 || cond.LOCA_IN_STATUS == 0)
                                                            {
                                                                @Html.TableLinkDetails(cond.LOCA_CD_ID, "CancelarLocacao", "fa-times btn-loading", "Cancelar")
                                                            }
                                                        }
                                                    }
                                                    @if (cond.LOCA_IN_ATIVO == 1)
                                                    {
                                                        if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_LOCACAO_ALTERAR == 1)
                                                        {
                                                            if (cond.LOCA_IN_STATUS == 0)
                                                            {
                                                                @Html.TableLinkDetails(cond.LOCA_CD_ID, "AprovarLocacao", "fa-check btn-loading", "Aprovar")
                                                            }
                                                        }
                                                    }
                                                    @if (cond.LOCA_IN_ATIVO == 1)
                                                    {
                                                        if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_LOCACAO_ALTERAR == 1)
                                                        {
                                                            if (cond.LOCA_IN_STATUS == 3)
                                                            {
                                                                @Html.TableLinkDetails(cond.LOCA_CD_ID, "RenovarLocacao", "fa-refresh btn-loading", "Renovar")
                                                            }
                                                        }
                                                    }
                                                    @if (cond.LOCA_IN_ATIVO == 1)
                                                    {
                                                        if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_LOCACAO_ALTERAR == 1)
                                                        {
                                                            if (cond.LOCA_IN_STATUS == 1 || cond.LOCA_IN_STATUS == 3)
                                                            {
                                                                @Html.TableLinkDetails(cond.LOCA_CD_ID, "EncerrarLocacao", "fa-minus btn-loading", "Encerrar")
                                                            }
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-2">

                                    </div>
                                    <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-8 col-md-8 col-xs-8">
                                        <h2 style="font-weight: bold">Nenhuma locação cadastrada ou sua pesquisa não retornou nenhum resultado</h2>
                                        @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Locacao", action: "RetirarFiltroLocacao", htmlAttributes: new { @class = "btn-loading" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-2">

                                    </div>
                                </div>
                            }
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")

        <style>
        /* 1. Aumenta a largura e garante o espaço interno */
        #toast-container > .toast {
            width: 500px !important; 
            max-width: 500px !important;
            opacity: 0.95 !important;
        }

        /* 2. Remove o ícone nativo do Toastr (Background Image) */
        #toast-container > .toast-success {
            background-image: none !important;
        }

        /* 3. Remove ícones do FontAwesome/Inspinia injetados via ::before no Título */
        .toast-success .toast-title::before, 
        .toast-success .toast-title::after,
        .toast-success::before {
            content: none !important;
            display: none !important;
        }

        /* 4. Ajusta o recuo do texto já que removemos o ícone */
        .toast-success .toast-title, 
        .toast-success .toast-message {
            padding-left: 10px !important;
        }
    </style>

}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
   
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
        <script>
        function Fade() {
            $('.dotContainer').fadeIn("fast");
            $('#login').css("filter", "blur(4px)");
        }
    </script>
    <script>
        $(window).on("load", function () {
            $('.dotContainer').fadeOut("slow");
            $('#title').css("filter", "blur(0)");
            $('#content').css("filter", "blur(0)");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>  
    
    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading1').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtNomePaciente').autocomplete({
                minLength: 2, 
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetPacienteNome", "Paciente2")', 
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            term: request.term 
                        },
                        success: function (data) {
                            response(data); 
                        },
                        error: function () {
                            console.log("Erro ao buscar dados para autocomplete.");
                        }
                    });
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtNomeProduto').autocomplete({
                minLength: 2, 
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetProdutoNomeLocacao", "Produto")', 
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            term: request.term 
                        },
                        success: function (data) {
                            response(data); 
                        },
                        error: function () {
                            console.log("Erro ao buscar dados para autocomplete.");
                        }
                    });
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                // --- NOVO BLOCO DE CONFIGURAÇÃO ---
                columnDefs: [
                    {
                         "type": "date-eu", 
                        "targets": [2, 3] 
                    }
                ],
                // ---------------------------------       
                buttons: [
                    { extend: 'excel', title: 'Locacao_Planilha' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]
            });         
        });
    </script>

    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary btn-loading" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Locação?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#dn").mask("99/99/9999");
            $("#dn1").mask("99/99/9999");
        });
    </script>

        <script type="text/javascript">
        $(document).ready(function () {
            // Configurações globais do Toastr
            toastr.options = {
                "closeButton": true,
                //"debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "15000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            //    "iconClass": "customer-toast-info", // Se quiser remover o ícone padrão totalmente
            //    "titleClass": "toast-title",
            //    "messageClass": "toast-message"
            };

            // Verifica se existe mensagem de sucesso no TempData (vinda do Redirect)
            var msgSucesso = '@TempData["MensagemAcerto"]';
            if (msgSucesso != '') {
                toastr.success(msgSucesso, 'Sucesso!');
            }

            // Verifica se existe mensagem de erro
            var msgErro = '@TempData["MensagemErro"]';
            if (msgErro != '') {
                toastr.error(msgErro, 'Erro!');
            }
        });
    </script>

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
