@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.EmpresaFilialViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title"> 
        <h3 class="title">Empresa</h3> 
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaEmpresa", "Empresa")">Empresa</a>
            </li>
            <li class="active">
                <strong>Filial - Edição</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filial - Edição</h5>
                </div>
                @using (Html.BeginForm("EditarFilial", "Empresa", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "Erros Encontrados:", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="row">
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Tipo de Pessoa
                                    @Html.TextBoxFor(m => m.TIPO_PESSOA.TIPE_NM_NOME, new { @class = "form-control", autofocus = true, @style = "color: brown; font-wheight: bold", @readonly="readonly" })
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                    @Html.HiddenFor(m => m.EMPR_CD_ID)
                                    @Html.HiddenFor(m => m.EMFI_IN_MATRIZ)
                                    @Html.HiddenFor(m => m.EMFI_DT_CADASTRO)
                                    @Html.HiddenFor(m => m.EMFI_AQ_LOGO)
                                    @Html.HiddenFor(m => m.EMFI_IN_ATIVO)
                                    @Html.HiddenFor(m => m.EMFI_CD_ID)
                                    @Html.HiddenFor(m => m.TIPE_CD_ID)
                                    Nome*
                                    @Html.TextBoxFor(m => m.EMFI_NM_NOME, new { @class = "form-control", autofocus = true, @style = "color: green; font-wheight: bold" })
                                    @Html.ValidationMessageFor(m => m.EMFI_NM_NOME, "", new { @style = "color:red" })
                                </div>
                                @if (Model.TIPE_CD_ID == 2)
                                {
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        Razão Social
                                        @Html.TextBoxFor(m => m.EMFI_NM_RAZAO, new { @class = "form-control", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.EMFI_NM_RAZAO, "", new { @style = "color:red" })
                                    </div>
                                }
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Apelido
                                    @Html.TextBoxFor(m => m.EMFI_NM_APELIDO, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.EMFI_NM_APELIDO, "", new { @style = "color:red" })
                                </div>
                            </div>
                            @if (Model.TIPE_CD_ID == 2)
                            {
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        CNPJ*
                                        @Html.TextBoxFor(m => m.EMFI_NR_CNPJ, new { @class = "form-control", @id = "cnpj", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.EMFI_NR_CNPJ, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Insc.Estadual
                                        @Html.TextBoxFor(m => m.EMFI_NR_INSCRICAO_ESTADUAL, new { @class = "form-control", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.EMFI_NR_INSCRICAO_ESTADUAL, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Insc.Municipal
                                        @Html.TextBoxFor(m => m.EMFI_NR_INSCRICAO_MUNICIPAL, new { @class = "form-control", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.EMFI_NR_INSCRICAO_MUNICIPAL, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        CPF*
                                        @Html.TextBoxFor(m => m.EMFI_NR_CPF, new { @class = "form-control", @id = "cpf", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.EMFI_NR_CPF, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="row">
                            <div class="form-group" style="margin: 0 -15px 0 -15px;" id="containerCep">
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    CEP
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.EMFI_NR_CEP, new { @class = "form-control", @id = "cep", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.EMFI_NR_CEP, "", new { @style = "color:red" })
                                        <span class="input-group-btn">
                                            <span class="btn btn-warning btn-sm" id="btnBuscaCep" onclick="PesquisaCep($('#cep').val(), $(this), 1)">Buscar CEP</span>
                                        </span>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-xs-12" style="display:none" id="cepval">
                                        <h5>CEP inválido</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="margin: 30px -15px 0 -15px;">
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Endereço
                                    @Html.TextBoxFor(m => m.EMFI_NM_ENDERECO, new { @class = "form-control", autofocus = true, @id = "endereco" })
                                    @Html.ValidationMessageFor(m => m.EMFI_NM_ENDERECO, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Número/Complemento
                                    @Html.TextBoxFor(m => m.EMFI_NR_NUMERO, new { @class = "form-control", autofocus = true, @id = "numero" })
                                    @Html.ValidationMessageFor(m => m.EMFI_NR_NUMERO, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Bairro
                                    @Html.TextBoxFor(m => m.EMFI_NM_BAIRRO, new { @class = "form-control", autofocus = true, @id = "bairro" })
                                    @Html.ValidationMessageFor(m => m.EMFI_NM_BAIRRO, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Cidade
                                    @Html.TextBoxFor(m => m.EMFI_NM_CIDADE, new { @class = "form-control", autofocus = true, @id = "cidade" })
                                    @Html.ValidationMessageFor(m => m.EMFI_NM_CIDADE, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    UF
                                    @Html.DropDownListFor(m => m.UF_CD_ID, (SelectList)ViewBag.UF, "Selecionar", new { @class = "form-control", autofocus = true, @id = "uf" })
                                    @Html.ValidationMessageFor(m => m.UF_CD_ID, "", new { @style = "color:red" })
                                </div>
                            </div>

                            <div class="form-group" style="margin: 30px -15px 0 -15px;">
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Gerente
                                    @Html.TextBoxFor(m => m.EMFI_NM_GERENTE, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.EMFI_NM_GERENTE, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Telefone
                                    @Html.TextBoxFor(m => m.EMFI_NR_TELEFONE, new { @class = "form-control", autofocus = true, @id = "tel" })
                                    @Html.ValidationMessageFor(m => m.EMFI_NR_TELEFONE, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Celular
                                    @Html.TextBoxFor(m => m.EMFI_NR_CELULAR, new { @class = "form-control", autofocus = true, @id = "cel" })
                                    @Html.ValidationMessageFor(m => m.EMFI_NR_CELULAR, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    E-Mail
                                    @Html.TextBoxFor(m => m.EMFI_NM_EMAIL, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.EMFI_NM_EMAIL, "", new { @style = "color:red" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.ButtonActionSubmit(text: "Confirma Edição de Filial", htmlAttributes: new { id = "basictoast" })
                            @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoEmpresa", controller: "Empresa")
                            <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank">Ajuda</a>                
                        </div>
                    </div>
                }
            </div>
         </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#tel").mask("(99)9999-9999");
            $("#cel").mask("(99)99999-9999");
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Inclusão em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                        + shortCutFunction
                        + "](\""
                        + msg
                        + (title ? "\", \"" + title : '')
                        + "\")\n\ntoastr.options = "
                        + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>
    <script>
        function PesquisaCep(cep, btn, tipoEnd) {
            data = {
                cep: cep
                , tipoEnd: tipoEnd
            }

            $(btn).attr("disabled", "disabled");

            $.ajax({
                url: '../Empresa/PesquisaCEP_Javascript'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    if (r.Sucesso == 0) {
                        if (tipoEnd == 1) {
                            $("#cepval").show();
                            $('#btnBuscaCep').removeAttr("disabled");
                        }
                        else {
                            $("#cepval1").show();
                            $('#btnBuscaCepEntrega').removeAttr("disabled");
                        }

                    }
                    else {
                        $("#cepval").hide();
                        $('#endereco').val(r.EMPR_NM_ENDERECO);
                        $('#numero').val(r.EMPR_NR_NUMERO);
                        $('#bairro').val(r.EMPR_NM_BAIRRO);
                        $('#cidade').val(r.EMPR_NM_CIDADE);

                        $('#uf option[value="' + r.UF_CD_ID + '"]').attr("selected", "selected");
                        $('#btnBuscaCep').removeAttr("disabled");
                    }
                }
            });
        }
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
