@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.AssinantePagamentoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Assinante - Pagamento";
    ViewBag.MetaDescription = "WebDoctor - Assinante - Informação de pagamento efetuado";
    ViewBag.MetaKeywords = "WebDoctor, Assinante, Pagamento";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaEmpresa", "Empresa")">Assinante</a>
            </li>
            <li class="active">
                <strong>Assinante - Pagamento</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Assinante - Pagamento</h5>
                </div>
                @using (Html.BeginForm("IncluirPagamento", "Empresa", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "Erros Encontrados:", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Pagamento</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Nome do Assinante
                                    @Html.TextBoxFor(m => m.ASSINANTE.ASSI_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data de Vencimento
                                    @Html.TextBoxFor(m => m.ASPA_DT_VENCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data da Informação
                                    @Html.TextBoxFor(m => m.ASPA_DT_INFORMA, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                </div>
                                @if (Model.ASPA_NR_ATRASO > 0)
                                {
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Atraso (Dias)
                                        @Html.TextBoxFor(m => m.ASPA_NR_ATRASO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: brown; font-weight: bold" })
                                    </div>
                                }
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Valor (R$)
                                    @*@Html.TextBoxFor(m => m.ASPA_VL_VALOR, "{0:n2}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: darkblue; font-weight: bold" })*@
                                    @Html.TextBoxFor(m => m.ASPA_VL_VALOR, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: darkblue; font-weight: bold" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-xs-12">
                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Resultado de Exame</h4>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;" })
                                    <button style="margin-left: 15px;" class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirmar inclusão de Informação de Pagamento</button>
                                    @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaEmpresa", controller: "Empresa")
                                    <a href="@Url.Action((String)Session["AjudaNivel"])" class="btn btn-sm btn-danger" target="_blank">Ajuda</a>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        @Html.HiddenFor(m => m.ASSI_CD_ID)
                                        @Html.HiddenFor(m => m.ASPA_CD_ID)
                                        @Html.HiddenFor(m => m.ASPA_DT_INFORMA)
                                        @Html.HiddenFor(m => m.ASPA_DT_PROXIMO)
                                        @Html.HiddenFor(m => m.ASPA_DT_VENCIMENTO)
                                        @Html.HiddenFor(m => m.ASPA_IN_ATIVO)
                                        @Html.HiddenFor(m => m.ASPA_IN_INFORMADO)
                                        @Html.HiddenFor(m => m.ASPA_IN_PAGO)
                                        @Html.HiddenFor(m => m.ASPA_IN_SISTEMA)
                                        @Html.HiddenFor(m => m.ASPA_NR_ATRASO)
                                        @Html.HiddenFor(m => m.ASPA_VL_VALOR)
                                        @Html.HiddenFor(m => m.ASSI_CD_ID)
                                        @Html.HiddenFor(m => m.PLAN_CD_ID)
                                        @Html.HiddenFor(m => m.PLAS_CD_ID)
                                        Forma de Pagamento*
                                        @Html.DropDownListFor(m => m.ASPA_IN_TIPO, (SelectList)ViewBag.Tipo, "Selecionar", new { @class = "form-control", data_toggle = "popover", data_content = "Selecione a forma de pagamento utilizada", data_trigger = "hover", data_placement = "top", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.ASPA_IN_TIPO, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Data do Pagamento*
                                        @Html.TextBoxFor(m => m.ASPA_DT_PAGAMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn" })
                                        @Html.ValidationMessageFor(m => m.ASPA_DT_PAGAMENTO, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Valor Pago (R$)*
                                        @Html.TextBoxFor(m => m.ASPA_VL_VALOR_PAGO, new { @class = "form-control", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.ASPA_VL_VALOR_PAGO, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        Informações Adicionais
                                        @Html.TextAreaFor(m => m.ASPA_DS_INFORMACOES, new { @class = "form-control", style = "width: 100%; height: 150px; overflow:auto;", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.ASPA_DS_INFORMACOES, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <h4 style="margin-left: -15px; color:green; background-color: beige; font-weight:bold">Pagamento - Anexos</h4>
                                <input class="btn btn-sm btn-warning" style="margin-left: -15px;" id="inputFile" type="file" multiple />
                                <br />
                                <div class="form-group" style="margin-left: -15px;">
                                    <div>
                                        <table style="width: 100%;" class="table table-striped table-bordered table-hover dataTables-example" id="myFiles">
                                            <thead style="background-color:lightsteelblue">
                                                <tr>
                                                    <td>Nome</td>
                                                    <td>Tipo</td>
                                                    <td>Ações</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")

}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#dn").mask("99/99/9999");
        });
    </script>

    <script>
        SendFilesV2('imgCliente', 'Empresa', 'UploadFileToSession');
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Informação em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
