@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Usuários - Inclusão";
    ViewBag.MetaDescription = "WebDoctor - Inclusão de usuários";
    ViewBag.MetaKeywords = "WebDoctor, usuario, usuário, acesso";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Usuários</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaDashboardAdministracao", "BaseAdmin")">Dashboard - Administração</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaUsuario", "Usuario")">Usuários</a>
            </li>
            <li class="active">
                <strong>Usuário - Inclusão</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Usuário - Inclusão</h5>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }

                    <div class="tabs-container">
                        @using (Html.BeginForm("IncluirUsuario", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                        {
                            @Html.AntiForgeryToken()
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Dados Gerais</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="form-group" style=" margin-left: 5px; margin-right: 5px;" >
                                    <br />
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;" })
                                        <button class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirma Inclusão de Usuário</button>
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBase", controller: "Usuario")
                                    </div>
                                </div>

                                @*Dados Gerais*@
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <h4 style="margin-left:15px; margin-right: 15px; color: green; background-color: beige; font-weight: bold">Perfil de Acesso</h4>
                                                <div class="col-lg-2 col-md-2 col-xs-12" style="color:green; font-weight:bold">
                                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.USUA_IN_BLOQUEADO)
                                                    @Html.HiddenFor(m => m.USUA_IN_LOGADO)
                                                    @Html.HiddenFor(m => m.USUA_IN_LOGIN_PROVISORIO)
                                                    @Html.HiddenFor(m => m.USUA_IN_PROVISORIO)
                                                    @Html.HiddenFor(m => m.USUA_NR_ACESSOS)
                                                    @Html.HiddenFor(m => m.USUA_NR_FALHAS)
                                                    @Html.HiddenFor(m => m.CAUS_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_IN_ESPECIAL)
                                                    @Html.HiddenFor(m => m.USUA_IN_SISTEMA)
                                                    @Html.HiddenFor(m => m.EMPR_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_IN_FILIAIS)
                                                    Perfil de Acesso*
                                                    @Html.DropDownListFor(m => m.PERF_CD_ID, (SelectList)ViewBag.Perfis, "Selecionar", new { @class = "form-control", autofocus = true, @style = "color:green; font-weight:bold"  })
                                                    @Html.ValidationMessageFor(m => m.PERF_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3    col-xs-12">
                                                    Categoria*
                                                    @Html.DropDownListFor(m => m.CAUS_CD_ID, (SelectList)ViewBag.Cats, "Selecionar", new { @class = "form-control", autofocus = true  })
                                                    @Html.ValidationMessageFor(m => m.CAUS_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2    col-xs-12">
                                                    Marca Consulta*
                                                    @Html.DropDownListFor(m => m.USUA_IN_CONSULTA, (SelectList)ViewBag.Marca, "Selecionar", new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Permite a marcação de consultas", data_trigger="hover", data_placement="top"  })
                                                    @Html.ValidationMessageFor(m => m.USUA_IN_CONSULTA, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2    col-xs-12">
                                                    Permite Indicações*
                                                    @Html.DropDownListFor(m => m.USUA_IN_INDICA, (SelectList)ViewBag.Indica, "Selecionar", new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Permite realizar indicações e receber comissões", data_trigger="hover", data_placement="top" })
                                                    @Html.ValidationMessageFor(m => m.USUA_IN_INDICA, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <h4 style="margin-left:15px; margin-right: 15px; color: green; background-color: beige; font-weight: bold">Identificação</h4>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Nome*
                                                    @Html.TextBoxFor(m => m.USUA_NM_NOME, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.USUA_NM_NOME, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Apelido*
                                                    @Html.TextBoxFor(m => m.USUA_NM_APELIDO, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Se informado, será usado em algumas telas e relatórios", data_trigger="hover", data_placement="top" })
                                                    @Html.ValidationMessageFor(m => m.USUA_NM_APELIDO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Login*
                                                    @Html.TextBoxFor(m => m.USUA_NM_LOGIN, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Chave para acesso ao WebDoctor. Até 10 caracteres alfanuméricos", data_trigger="hover", data_placement="top" })
                                                    @Html.ValidationMessageFor(m => m.USUA_NM_LOGIN, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Tratamento
                                                    @Html.TextBoxFor(m => m.USUA_NM_PREFIXO, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Prefixo a ser acrescentado ao nome nas assinaturas. Por exemplo: Dr.", data_trigger="hover", data_placement="top" })
                                                    @Html.ValidationMessageFor(m => m.USUA_NM_PREFIXO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Títulos
                                                    @Html.TextBoxFor(m => m.USUA_NM_SUFIXO, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Prefixo a ser acrescentado ao nome nas assinaturas. Por exemplo: MSc.", data_trigger="hover", data_placement="top" })
                                                    @Html.ValidationMessageFor(m => m.USUA_NM_SUFIXO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <h4 style="margin-left:15px; margin-right: 15px; color: green; background-color: beige; font-weight: bold">Documentação</h4>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    CPF*
                                                    @Html.TextBoxFor(m => m.USUA_NR_CPF, new { @class = "form-control", autofocus = true, @id="cpf" })
                                                    @Html.ValidationMessageFor(m => m.USUA_NR_CPF, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    RG
                                                    @Html.TextBoxFor(m => m.USUA_NR_RG, new { @class = "form-control", autofocus = true})
                                                    @Html.ValidationMessageFor(m => m.USUA_NR_RG, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Chave PIX
                                                    @Html.TextBoxFor(m => m.USUA_NR_CHAVE_PIX, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Usada apenas se o usuário puder fazer indicações", data_trigger="hover", data_placement="top" })
                                                    @Html.ValidationMessageFor(m => m.USUA_NR_CHAVE_PIX, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <h4 style="margin-left:15px; margin-right: 15px; color: green; background-color: beige; font-weight: bold">Contatos</h4>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    E-Mail*
                                                    @Html.TextBoxFor(m => m.USUA_NM_EMAIL, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.USUA_NM_EMAIL, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Telefone
                                                    @Html.TextBoxFor(m => m.USUA_NR_TELEFONE, new { @class = "form-control", autofocus = true, @id="tel" })
                                                    @Html.ValidationMessageFor(m => m.USUA_NR_TELEFONE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Celular*
                                                    @Html.TextBoxFor(m => m.USUA_NR_CELULAR, new { @class = "form-control", autofocus = true, @id="cel" })
                                                    @Html.ValidationMessageFor(m => m.USUA_NR_CELULAR, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <h4 style="margin-left:15px; margin-right: 15px; color: green; background-color: beige; font-weight: bold">Carteira de Classe</h4>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Tipo
                                                    @Html.DropDownListFor(m => m.TICL_CD_ID, (SelectList)ViewBag.Classe, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.TICL_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Número
                                                    @Html.TextBoxFor(m => m.USUA_NR_CLASSE, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.USUA_NR_CLASSE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Especialidade
                                                    @Html.DropDownListFor(m => m.ESPE_CD_ID, (SelectList)ViewBag.Espec, "Selecionar", new { @class = "form-control", autofocus = true  })
                                                    @Html.ValidationMessageFor(m => m.ESPE_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <h4 style="margin-left:15px; margin-right: 15px; color: green; background-color: beige; font-weight: bold">Senha</h4>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Senha*
                                                    @Html.TextBoxFor(m => m.USUA_NM_SENHA, new { @class = "form-control pwd1", autofocus = true, @type = "password", @id = "Password1" })
                                                    @Html.ValidationMessageFor(m => m.USUA_NM_SENHA, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Confirmação da Senha*
                                                    @Html.TextBoxFor(m => m.USUA_NM_SENHA_CONFIRMA, new { @class = "form-control", autofocus = true, @type = "password" })
                                                    @Html.ValidationMessageFor(m => m.USUA_NM_SENHA_CONFIRMA, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    <div class="pwstrength_viewport_progress"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-12">
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <h4 style="margin-left:15px; margin-right: 15px; color: green; background-color: beige; font-weight: bold">Observações</h4>
                                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                                        Observações
                                                        @Html.TextAreaFor(m => m.USUA_TX_OBSERVACOES, new { @class = "form-control", style = "width: 100%; height: 100px;", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.USUA_TX_OBSERVACOES, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-xs-12">
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <h4 style="margin-left:15px; margin-right: 15px; color: green; background-color: beige; font-weight: bold">Fotografia</h4>
                                                    <div style="margin-left: 15px;" class="col-lg-12 col-md-12 col-xs-12">
                                                        <div class="form-group">
                                                            <input type="file" accept=".jpg, .png, .jpeg, .gif|images/*" name="file" id="imgUsuario" class="btn btn-sm btn-warning" multiple />
                                                            <br />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <h4 style="margin-left:15px; margin-right: 15px; color: green; background-color: beige; font-weight: bold">Anexos</h4>
                                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                                        <input class="btn btn-sm btn-warning" id="inputFile" type="file" multiple />
                                                        <br />
                                                        <div class="form-group"  style="margin-left: 0px; margin-right: 0px;">
                                                            <table style="width: 100%;" class="table table-striped table-bordered table-hover dataTables-example" id="myFiles">
                                                                <thead style="background-color:lightsteelblue">
                                                                    <tr>
                                                                        <td>Nome</td>
                                                                        <td>Tipo</td>
                                                                        <td>Ações</td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <br />
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;" })
                                        <button class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirma Inclusão de Usuário</button>
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBase", controller: "Usuario")
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/passwordMeter")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
            $("#tel").mask("(99)9999-9999");
            $("#cel").mask("(99)99999-9999");
            $("#wh").mask("(99)99999-9999");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var options1 = {};
            options1.ui = {
                container: "#pwd-container1",
                showVerdictsInsideProgressBar: true,
                viewports: {
                    progress: ".pwstrength_viewport_progress"
                }
            };
            options1.common = {
                debug: false,
            };
            $('.pwd1').pwstrength(options1);

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function (e) {        
                if (confirm('Tem certeza que deseja incluir esse usuário?')) {            
                    toastr.success('Inclusão em andamento!');
                    $('#submit').click();
            
                } else {
                    e.preventDefault(); 
                    return false;
                }
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    <script>
        SendFilesV2('imgUsuario', 'Usuario', 'UploadFileToSession');
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
