@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.IndicacaoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Indicação - Edição";
    ViewBag.MetaDescription = "WebDoctor - Indicação - Editar indicação";
    ViewBag.MetaKeywords = "WebDoctor, indicacao, edicao";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div id="containerModalDesc">
        <div class="modal fade" id="modalDesc" tabindex="-1" role="dialog" aria-labelledby="modalDesc" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDesc">Descrição da Ação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalDescBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaIndicacao", "Usuario")">Indicações</a>
            </li>
            <li class="active">
                <strong>Indicação - Consulta</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                        <h5>Indicação - Consulta</h5>
                        <span style="color:green; font-weight: 500; font-size: 20px;">@Model.INDI_NM_INDICADO.ToUpper()</span>
                    </div>
                </div>
                @using (Html.BeginForm("VerIndicacao", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "Erros Encontrados:", new { @class = "text-danger" })
                            </div>
                        }

                        @*Indicação*@
                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Informações da Indicação</h4>
                            <div class="form-group" style=" margin-left: 5px; margin-right: 5px;">                
                                @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaIndicacao", controller: "Usuario")
                                <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank">Ajuda</a>                
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Identificador
                                    @Html.TextBoxFor(m => m.INDI_GU_IDENTIFICADOR, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: darkblue; font-weight: bold", data_toggle = "popover", data_content = "Identificador único da indicação gerado pelo WebDoctor", data_trigger="hover", data_placement="top" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data/Hora de Criação
                                    @Html.TextBoxFor(m => m.INDI_DT_DATA, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control", @readonly = "readonly", @tabindex = "-1" })
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Responsável
                                    @Html.TextBoxFor(m => m.USUARIO.USUA_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Última Atualização
                                    @Html.TextBoxFor(m => m.INDI_DT_ATUALIZACAO, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Status
                                    @Html.TextBoxFor(m => m.Status, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-5 col-md-5 col-xs-12">
                                    Nome do Indicado
                                    @Html.TextBoxFor(m => m.INDI_NM_INDICADO, new { @class = "form-control", @readonly = "readonly", data_toggle = "popover", data_content = "Nome da pessoa que você está indicando", data_trigger="hover", data_placement="top" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    E-Mail
                                    @Html.TextBoxFor(m => m.INDI_NM_EMAIL, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Celular
                                    @Html.TextBoxFor(m => m.INDI_NR_CELULAR, new { @class = "form-control", @readonly = "readonly", @id="cel" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Telefone
                                    @Html.TextBoxFor(m => m.INDI_NR_TELEFONE, new { @class = "form-control", @readonly = "readonly", @id="tel" })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    Mensagem a ser enviada ao Indicado*
                                    @Html.TextAreaFor(m => m.INDI_TX_MENSAGEM, new { @class = "form-control", style = "width: 100%; height: 300px; overflow:auto;", @readonly = "readonly", @id = "texto", data_toggle = "popover", data_content = "Informe a mensagem que voce quer mandar para a pessoa que você está indicando. O WebDoctor completará a sua mensagem com outras informações pertinentes", data_trigger="hover", data_placement="top" })
                                </div>
                            </div>
                        </div>

                        @*Justificativas*@
                        @if (Model.INDI_IN_STATUS == 3 || Model.INDI_IN_STATUS == 4 ||Model.INDI_IN_STATUS == 5)
                        {
                            <div class="row">
                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Justificativa</h4>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        Justificativa
                                        @Html.TextAreaFor(m => m.INDI_DS_JUSTIFICATIVA, new { @class = "form-control", style = "width: 100%; height: 100px; overflow:auto;", @readonly = "readonly", data_toggle = "popover", data_content = "Justificativa cadastrada para o cancelamento, recusa ou pausa no processo da indicação", data_trigger="hover", data_placement="top" })
                                    </div>
                                </div>
                            </div>
                        }

                        @*Encerramento*@
                        @if (Model.INDI_IN_STATUS == 6)
                        {
                            <div class="row">
                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Informações de Encerramento</h4>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Data do Encerramento
                                        @Html.TextBoxFor(m => m.INDI_DT_DESFECHO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-12">
                                        Informação de Encerramento
                                        @Html.TextAreaFor(m => m.INDI_DS_ENCERRAMENTO, new { @class = "form-control", style = "width: 100%; height: 100px; overflow:auto;", @readonly = "readonly", data_toggle = "popover", data_content = "Informações cadastradas após o sucesso da indicação", data_trigger="hover", data_placement="top" })
                                    </div>
                                </div>
                            </div>
                        }

                        @*Pagamento*@
                        @if (Model.INDI_IN_STATUS == 6)
                        {
                            <div class="row">
                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Informação de Pagamento de Comissão</h4>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Status do Pagamento
                                        @Html.TextBoxFor(m => m.StatusPagamento, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: darkblue; font-weight: bold" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Data do Pagamento
                                        @Html.TextBoxFor(m => m.INDI_DT_PAGAMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Valor Pago (R$)
                                        @Html.TextBoxFor(m => m.INDI_VL_PAGAMENTO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        }

                        @*Ações*@
                        @if (Model.INDI_IN_STATUS > 1)
                        {
                            <div class="row">
                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Ações do Processo da Indicação</h4>
                                @if (ViewBag.Acoes != null &&(ViewBag.Acoes as List<EntitiesServices.Model.INDICACAO_ACAO>).Count > 0)
                                {
                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead style="background-color:lightsteelblue">
                                            <tr>
                                                <th style="width: auto">Data Inicial</th>
                                                <th style="width: auto">Responsável</th>
                                                <th style="width: auto">Tipo de Ação</th>
                                                <th style="width: auto">Nome da Ação</th>
                                                <th style="width: auto">Status</th>
                                                <th style="width: auto">Encerramento</th>
                                                <th style="width: 0.01px"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var cond in (ViewBag.Acoes as List<EntitiesServices.Model.INDICACAO_ACAO>).OrderByDescending(p => p.INAC_DT_INICIO.Value.Date).ThenBy(p => p.INAC_NM_NOME))
                                            {   
                                                <tr>
                                                    <td style="width: auto">@cond.INAC_DT_INICIO.Value.ToShortDateString() @cond.INAC_DT_INICIO.Value.ToShortTimeString()</td>
                                                    <td style="width: auto">@cond.USUARIO.USUA_NM_NOME</td>
                                                    <td style="width: auto">@cond.TIPO_ACAO.TIAC_NM_NOME</td>
                                                    <td style="width: auto; cursor: pointer; text-decoration: underline; color: #337ab7;" onclick="mostrarDesc('@cond.INAC_TX_ACAO')">@cond.INAC_NM_NOME</td>
                                                    @if (cond.INAC_IN_STATUS == 1)
                                                    {
                                                        <td style="width: auto"><span class="badge badge-primary">EmAndamento</span></td>
                                                    }
                                                    else if (cond.INAC_IN_STATUS == 2)
                                                    {
                                                        <td style="width: auto"><span class="badge badge-warning">Pendente</span></td>
                                                    }
                                                    else if (cond.INAC_IN_STATUS == 3)
                                                    {
                                                        <td style="width: auto"><span class="badge badge-danger">Cancelada</span></td>
                                                    }
                                                    else
                                                    {
                                                        <td style="width: auto"><span class="badge badge-success">Encerrada</span></td>
                                                    }
                                                    @if (cond.INAC_DT_FINAL != null)
                                                    {
                                                        <td style="width: auto">@cond.INAC_DT_FINAL.Value.ToShortDateString() @cond.INAC_DT_FINAL.Value.ToShortTimeString()</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="width: auto"><span class="badge badge-primary">-</span></td>
                                                    }
                                                    <td style="width: 0.05px"></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-xs-2">
                                        </div>
                                        <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-12">
                                            <h2 style="font-weight: bold">Nenhuma ação cadastrada para esta indicação</h2>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2">
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
         </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
   
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script>
        function mostrarDesc(desc) {
            $('#modalDescBody').html(desc);
            $('#modalDesc').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Edição em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                        + shortCutFunction
                        + "](\""
                        + msg
                        + (title ? "\", \"" + title : '')
                        + "\")\n\ntoastr.options = "
                        + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
