@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.PacienteViewModel
@{
    Layout = "~/Views/Shared/_Layout_Area.cshtml";
    ViewBag.Title = "WebDoctor - Paciente - Atestados - Edição";
    ViewBag.MetaDescription = "WebDoctor - Paciente - Editar paciente";
    ViewBag.MetaKeywords = "WebDoctor, paciente, atestado";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaAreaPaciente", "AreaPaciente")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Paciente - Dados Cadastrais</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dados Cadastrais - Alteração</h5>
                </div>
                @using (Html.BeginForm("AlterarDadosCadastrais", "AreaPaciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "Erros Encontrados:", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;"> 
                            @Html.ButtonActionSubmit(text: "Confirmar Alterações", htmlAttributes: new { id = "basictoast" })
                            @Html.ButtonLinkIndex(text: "Imprimir Dados Cadastrais", action: "GerarDadosCadastrais", controller: "AreaPaciente")
                            @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaAreaPaciente", controller: "AreaPaciente")
                            <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank">Ajuda</a>                
                        </div>
                        <div class="row" style="width: 100%;">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Identificação</h4>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                <div style="text-align: center; margin-top: 20px; line-height: 10px;">
                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                    @Html.HiddenFor(m => m.PACI_AQ_FOTO)
                                    @Html.HiddenFor(m => m.PACI_DT_CADASTRO)
                                    @Html.HiddenFor(m => m.PACI_IN_ATIVO)
                                    @Html.HiddenFor(m => m.USUA_CD_ID)
                                    @Html.HiddenFor(m => m.PACI_DT_CONSULTA)
                                    @Html.HiddenFor(m => m.MUNI_CD_ID)
                                    @Html.HiddenFor(m => m.NACI_CD_ID)
                                    @Html.HiddenFor(m => m.PACI_GU_GUID)
                                    @Html.HiddenFor(m => m.PACI_DT_ALTERACAO)
                                    @Html.HiddenFor(m => m.PACI_IN_COMPLETADO)
                                    @Html.HiddenFor(m => m.TIPA_CD_ID)

                                    @Html.HiddenFor(m => m.PACI_IN_PADRAO_ANAMNESE)
                                    @Html.HiddenFor(m => m.PACI_IN_PADRAO_CONTINUA)
                                    @Html.HiddenFor(m => m.PACI_DT_PRECO)
                                    @Html.HiddenFor(m => m.PACI_IN_MENOR)
                                    @Html.HiddenFor(m => m.PACI_NM_RESPONSAVEL)
                                    @Html.HiddenFor(m => m.PACI_NM_NOME)
                                    @Html.HiddenFor(m => m.PACI_NM_SOCIAL)
                                    @Html.HiddenFor(m => m.PACI_DT_ACESSO)
                                    @Html.HiddenFor(m => m.PACI_DT_CONSULTA)
                                    @Html.HiddenFor(m => m.PACI_DT_PREVISAO_RETORNO)
                                    @Html.HiddenFor(m => m.PACI_NM_INDICACAO)
                                    @Html.HiddenFor(m => m.PACI_NM_PAI)
                                    @Html.HiddenFor(m => m.PACI_NM_MAE)
                                    @Html.HiddenFor(m => m.PACI_DT_NASCIMENTO)
                                    @Html.HiddenFor(m => m.PACI_TX_OBSERVACOES)
                                    @Html.HiddenFor(m => m.SEXO_CD_ID)
                                    @Html.HiddenFor(m => m.COR1_CD_ID)
                                    @Html.HiddenFor(m => m.ESCI_CD_ID)
                                    @Html.HiddenFor(m => m.GRAU_CD_ID)
                                    @Html.HiddenFor(m => m.PACI_NM_LOGIN)
                                    @Html.HiddenFor(m => m.PACI_NM_SENHA)
                                    @Html.HiddenFor(m => m.PACI_IN_MENSAGEM_ATRASO)
                                    @Html.HiddenFor(m => m.RACA_CD_ID)
                                    @Html.HiddenFor(m => m.PACI_IN_NUMERO_ENVIO)
                                    @Html.HiddenFor(m => m.PACI_IN_FIM_ENVIO)
                                    @Html.HiddenFor(m => m.PACI_DT_ULTIMO_ENVIO)
                                    @if (!String.IsNullOrEmpty(Model.PACI_AQ_FOTO))
                                    {
                                        <img src="@Url.Content(Model.PACI_AQ_FOTO)" style="width: auto; height: auto; max-height: 220px; max-width: 220px;" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Clique Ctrl+Ctrl para ampliar a fotografia">
                                    }
                                    else
                                    {
                                        <img src="~/Images/icon_morador.png" style="width: auto; height: auto; max-height: 220px; max-width: 220px;" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Clique Ctrl+Ctrl para ampliar a fotografia">
                                    }
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12">
                                <div class="row">
                                    <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Identificação</h4>
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            Identificador
                                            @Html.TextBoxFor(m => m.PACI_GU_GUID, new { @class = "form-control", @readonly = "readonly", @style = "color: darkgreen; font-weight: bold" })
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12" id="RS">
                                            Profissional Responsável
                                            @Html.TextBoxFor(m => m.USUARIO.USUA_NM_NOME, new { @class = "form-control", @readonly = "readonly", @style = "color: darkblue; font-weight: bold" })
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                            Menor de Idade
                                            @Html.TextBoxFor(m => m.Menor, new { @class = "form-control", @readonly = "readonly", @style = "color: brown; font-weight: bold" })
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12" id="resp" style="display: none">
                                            Nome do Responsável
                                            @Html.TextBoxFor(m => m.PACI_NM_RESPONSAVEL, new { @class = "form-control" , @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;" id="PF">
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            Nome*
                                            @Html.TextBoxFor(m => m.PACI_NM_NOME, new { @class = "form-control" , @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12" id="RS">
                                            Nome Social
                                            @Html.TextBoxFor(m => m.PACI_NM_SOCIAL, new { @class = "form-control" , @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                            CPF
                                            @Html.TextBoxFor(m => m.PACI_NR_CPF, new { @class = "form-control", @id = "cpf", @readonly = "readonly" })
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                            RG
                                            @Html.TextBoxFor(m => m.PACI_NR_RG, new { @class = "form-control" , @readonly = "readonly"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data de Cadastro
                                    @Html.TextBoxFor(m => m.PACI_DT_CADASTRO, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", data_toggle = "popover", data_content = "Data de inclusão no WebDoctor", data_trigger="hover", data_placement="top"  })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Última Acesso
                                    @Html.TextBoxFor(m => m.PACI_DT_ACESSO, new { @class = "form-control", @readonly = "readonly", data_toggle = "popover", data_content = "Data do último acesso", data_trigger="hover", data_placement="top" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Última Consulta
                                    @Html.TextBoxFor(m => m.PACI_DT_CONSULTA, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", data_toggle = "popover", data_content = "Data da última consulta", data_trigger="hover", data_placement="top" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Retorno Previsto
                                    @Html.TextBoxFor(m => m.PACI_DT_PREVISAO_RETORNO, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", data_toggle = "popover", data_content = "Data prevista para retorno", data_trigger="hover", data_placement="top" })
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12" id="RS">
                                    Indicado Por
                                    @Html.TextBoxFor(m => m.PACI_NM_INDICACAO, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Endereço</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    CEP
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.PACI_NR_CEP, new { @class = "form-control", @id = "cep", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.PACI_NR_CEP, "", new { @style = "color:red" })
                                        <span class="input-group-btn">
                                            <span class="btn btn-warning btn-sm" id="btnBuscaCep" data_toggle = "popover" data_content = "Pesquisar o CEP informado" data_trigger="hover" data_placement="top" onclick="PesquisaCep($('#cep').val(), $(this), 1)">Buscar CEP</span>
                                        </span>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-xs-12" style="display:none" id="cepval">
                                        <h5>CEP inválido</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Endereço
                                    @Html.TextBoxFor(m => m.PACI_NM_ENDERECO, new { @class = "form-control", @id = "endereco", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.PACI_NM_ENDERECO, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Número
                                    @Html.TextBoxFor(m => m.PACI_NR_NUMERO, new { @class = "form-control", @id = "nmr", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.PACI_NR_NUMERO, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Complemento
                                    @Html.TextBoxFor(m => m.PACI_NR_COMPLEMENTO, new { @class = "form-control", autofocus = true, @id = "complemento" })
                                    @Html.ValidationMessageFor(m => m.PACI_NR_COMPLEMENTO, "", new { @style = "color:red" })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Bairro
                                    @Html.TextBoxFor(m => m.PACI_NM_BAIRRO, new { @class = "form-control", @id = "bairro", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.PACI_NM_BAIRRO, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Cidade
                                    @Html.TextBoxFor(m => m.PACI_NM_CIDADE, new { @class = "form-control", @id = "cidade", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.PACI_NM_CIDADE, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    UF
                                    @Html.DropDownListFor(m => m.UF_CD_ID, (SelectList)ViewBag.UF, "UF", new { @class = "form-control", @id = "uf", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.UF_CD_ID, "", new { @style = "color:red" })
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Dados de Contato</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    E-Mail
                                    @Html.TextBoxFor(m => m.PACI_NM_EMAIL, new { @class = "form-control", autofocus = true, id = "email" })
                                    @Html.ValidationMessageFor(m => m.PACI_NM_EMAIL, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Telefone
                                    @Html.TextBoxFor(m => m.PACI_NR_TELEFONE, new { @class = "form-control", autofocus = true, @id = "tel" })
                                    @Html.ValidationMessageFor(m => m.PACI_NR_TELEFONE, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Celular
                                    @Html.TextBoxFor(m => m.PACI_NR_CELULAR, new { @class = "form-control", autofocus = true, @id = "cel" })
                                    @Html.ValidationMessageFor(m => m.PACI_NR_CELULAR, "", new { @style = "color:red" })
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Dados Pessoais</h4>
                            <br />
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Nome do Pai
                                    @Html.TextBoxFor(m => m.PACI_NM_PAI, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Nome da Mãe
                                    @Html.TextBoxFor(m => m.PACI_NM_MAE, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data Nascimento
                                    @Html.TextBoxFor(m => m.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", @id = "dn" })
                                </div>
                                @if (Model.Idade > 0)
                                {
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Idade
                                        @Html.TextBoxFor(m => m.Idade, new { @class = "form-control", autofocus = true, @readonly = "readonly" })
                                    </div>
                                }
                            </div>

                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Gênero
                                    @Html.TextBoxFor(m => m.SEXO.SEXO_NM_NOME, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12" id="RS">
                                    Raça
                                    @Html.TextBoxFor(m => m.COR.COR1_NM_NOME, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Estado Civil
                                    @Html.TextBoxFor(m => m.ESTADO_CIVIL.ESCI_NM_NOME, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Escolaridade
                                    @Html.TextBoxFor(m => m.GRAU_INSTRUCAO.GRAU_NM_NOME, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12" id="RS">
                                    Profissão
                                    @Html.TextBoxFor(m => m.PACI_NM_PROFISSAO, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.PACI_NM_PROFISSAO, "", new { @style = "color:red" })
                                </div>
                            </div>

                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Nacionalidade
                                    @Html.TextBoxFor(m => m.NACIONALIDADE.NACI_NM_PAIS, new { @class = "form-control", autofocus = true, @readonly = "readonly" })
                                </div>
                                @if (Model.NACI_CD_ID == 1)
                                {
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Naturalidade UF
                                        @Html.TextBoxFor(m => m.MUNICIPIO.UF.UF_NM_NOME, new { @class = "form-control", autofocus = true, @readonly = "readonly" })
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        Naturalidade
                                        @Html.TextBoxFor(m => m.MUNICIPIO.MUNI_NM_NOME, new { @class = "form-control", autofocus = true, @readonly = "readonly" })
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-3 col-md-3 col-xs-12" >
                                        Naturalidade
                                        @Html.TextBoxFor(m => m.PACI_NM_NATURALIDADE, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Naturalidade UF
                                        @Html.TextBoxFor(m => m.PACI_SG_NATURALIDADE_UF, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                }
            </div>
         </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
   
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script>
        function FiltrarCidade(UF_CD_ID) {
            var data = {
                id: UF_CD_ID
            }
            var objMunicipio = $('select#natur2');

            // Requisição para o controller
            $.ajax({
                url: '/Paciente/FiltrarMunicipio'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    // Remove todos os itens da lista e adiciona o placeholder
                    objMunicipio.children('option').remove();
                    objMunicipio.append('<option>Selecionar</option>');

                    // Loop para adicionar Itens específicos à categoria
                    r.forEach(function (e) {
                        objMunicipio.append('<option value="' + e.MUNI_CD_ID + '">' + e.MUNI_NM_NOME + '</option>');
                    });
                }
            });
        }
        $(document).ready(function () {
            FiltrarCidade($('#uf2').val());
        });
    </script>
    <script>
        function FiltrarCidade2(UF_CD_ID) {
            var data = {
                id: UF_CD_ID
            }
            var objMunicipio = $('select#natur2_2');

            // Requisição para o controller
            $.ajax({
                url: '/Paciente/FiltrarMunicipio'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    // Remove todos os itens da lista e adiciona o placeholder
                    objMunicipio.children('option').remove();
                    objMunicipio.append('<option>Selecionar</option>');

                    // Loop para adicionar Itens específicos à categoria
                    r.forEach(function (e) {
                        objMunicipio.append('<option value="' + e.MUNI_CD_ID + '">' + e.MUNI_NM_NOME + '</option>');
                    });
                }
            });
        }
        $(document).ready(function () {
            FiltrarCidade2($('#uf2_2').val());
        });
    </script>

    <script type="text/javascript">
        function ValidaNacionalidade(valNac) {
            if (valNac == '1') {
                $("#uf1").hide();
                $("#natur1").hide();
                $("#uf2").show();
                $("#natur2").show();
            } else {
                $("#uf2").hide();
                $("#natur2").hide();
                $("#uf1").show();
                $("#natur1").show();
            }
        }
        $(document).ready(function () {
            ValidaNacionalidade($('#nacion').val());
        });
    </script>
    <script type="text/javascript">
        function ValidaNacionalidade2(valNac) {
            if (valNac == '1') {
                $("#uf1_2").hide();
                $("#natur1_2").hide();
                $("#uf2_2").show();
                $("#natur2_2").show();
            } else {
                $("#uf2_2").hide();
                $("#natur2_2").hide();
                $("#uf1_2").show();
                $("#natur1_2").show();
            }
        }
        $(document).ready(function () {
            ValidaNacionalidade2($('#nacion_2').val());
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cep").mask("99999-999");
            $("#cep1").mask("99999-999");
            $("#dn").mask("99/99/9999");

            $("#tel").mask("(99)9999-9999");
            $("#telAdicional").mask("(99)9999-9999");
            $("#cel").mask("(99)99999-9999");
        });
    </script>
    <script>
        function PesquisaCep(cep, btn, tipoEnd) {
            data = {
                cep: cep
                , tipoEnd: tipoEnd
            }

            //$(btn).attr("disabled", "disabled");

            $.ajax({
                url: '/Paciente2/PesquisaCEP_JavascriptNova'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    if (r.Sucesso == 0) {
                        if (tipoEnd == 1) {
                            $("#cepval").show();
                        //    $('#btnBuscaCep').removeAttr("disabled");
                        }

                    }
                    else {
                        $("#cepval").hide();
                        $("#cepval1").hide();
                        if (tipoEnd == 1) {
                            $('#endereco').val(r.PACI_NM_ENDERECO);
                            $('#nmr').val(r.PACI_NR_NUMERO);
                            $('#bairro').val(r.PACI_NM_BAIRRO);
                            $('#cidade').val(r.PACI_NM_CIDADE);
                            $('#uf option[value="' + r.UF_CD_ID + '"]').attr("selected", "selected");
                            $('#btnBuscaCep').removeAttr("disabled");
                        }
                    }
                }
            });
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Inclusão em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                        + shortCutFunction
                        + "](\""
                        + msg
                        + (title ? "\", \"" + title : '')
                        + "\")\n\ntoastr.options = "
                        + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
