@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.PacienteViewModel
@{
    Layout = "~/Views/Shared/_Layout_Limpo.cshtml";
    ViewBag.Title = "WebDoctor - Nova Senha";
    ViewBag.MetaDescription = "WebDoctor - Geração de nova senha";
    ViewBag.MetaKeywords = "WebDoctor, Senha, Acesso, Segurança";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="modalContainer"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Área do Paciente - Geração de Nova Senha</h5>
                </div>
                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                        @Html.ButtonLinkIndex(text: "Voltar", controller: "ControleAcesso", action: "Login")
                        <br />
                    </div>

                    @using (Html.BeginForm("GerarNovaSenhaPaciente", "AreaPaciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label>Informe o CPF do paciente cadastrado no WebDoctor</label>
                            <label>Uma nova senha será enviada para o e-mail cadastrado</label>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                CPF do paciente
                                @Html.TextBoxFor(m => m.PACI_NR_CPF, new { @class = "form-control", autofocus = true, @id="cpf", data_toggle = "popover", data_content = "Informe o CPF do paciente", data_trigger="hover", data_placement="top" })
                                @Html.ValidationMessageFor(m => m.PACI_NR_CPF, "",new { @style="color:red" })
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="login" type="submit" class="btn btn-primary block full-width m-b" onclick="Fade()">Gerar Nova Senha</button>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
   
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
        });
    </script>

   
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
