@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.PacienteViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="login" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-8 col-md-8 col-xs-12">       
                <img src="~/Images/Prontuario/WebDoctor_Display_2_Final.jpg" style="width: 100%; height: 100%; max-height: 1400px; max-width: 1400px;">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Login na Área do Paciente do WebDoctorPro</h5>
                    </div>
                    @using (Html.BeginForm("LoginAreaPaciente", "AreaPaciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="ibox-content">
                            @Html.AntiForgeryToken()
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                </div>
                            }
                            <div class="form-group" >
                                @Html.EditorFor(model => model.PACI_NR_CPF, new { htmlAttributes = new { @class = "form-control", placeholder = "CPF", autofocus = true, @id="cpf" } })
                                @Html.ValidationMessageFor(model => model.PACI_NR_CPF, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.PACI_NM_SENHA, new { htmlAttributes = new { @class = "form-control", placeholder = "Senha", @type = "password" } })
                                @Html.ValidationMessageFor(model => model.PACI_NM_SENHA, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group" >
                                @Html.CheckBoxFor(m => m.Humano, new { @class = "checkbox i-checks", autofocus = true})&nbsp&nbsp
                                Não sou robô. Pertenço a mui nobre e leal raça humana
                            </div>
                            <div class="form-group">
                                <button id="login" type="submit" class="btn btn-primary block full-width m-b" onclick="Fade()">Entrar<span class="spinner"></span></button>
                            </div>
                            <div class="form-group">
                                @Html.ActionLink("Esqueceu sua senha?", "GerarNovaSenhaAreaPaciente", "AreaPaciente")
                            </div>
                            <div class="form-group">
                                @Html.ActionLink("Voltar para o site do WebDoctorPro", "SairWebDoctorAreaPaciente", "AreaPaciente")
                            </div>
                        </div>
                    }
                </div>       
                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Política de Privacidade e Segurança de Dados</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <p>Ao prosseguir, você concorda com nossas diretrizes de segurança.</p>
                                    <!-- Hiperlink que dispara o Modal -->
                                    <a href="#" class="text-navy" data-toggle="modal" data-target="#modalPrivacidade">
                                        <i class="fa fa-external-link"></i> Clique aqui para ler a Política de Privacidade e Segurança de Dados
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
     
                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Contatos e Suporte</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <small class="stats-label">Suporte</small>
                                <h4>suporte@rtiltda.net</h4>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <small class="stats-label">WhatsApp</small>
                                <h4>(21)97302-4096</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                    <div style="display: none; z-index:1000" class="dotContainer">
                        <div class="spiner-example">
                            <div class="sk-spinner sk-spinner-three-bounce">
                                <div class="sk-bounce1"></div>
                                <div class="sk-bounce2"></div>
                                <div class="sk-bounce3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/loadingDots.css")
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sweetAlert")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#captcha").mask("9999");
        });
    </script>

<script>
    function Fade() {
        $('.dotContainer').fadeIn("fast");
        $('#login').css("filter", "blur(4px)");
    }
</script>
<script>
    $(window).on("load", function () {
        $('.dotContainer').fadeOut("slow");
        $('#title').css("filter", "blur(0)");
        $('#content').css("filter", "blur(0)");
    });
</script>
<!-- Estrutura do Modal (Pode ser colocado no final do arquivo .cshtml) -->
<div class="modal inmodal fade" id="modalPrivacidade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <i class="fa fa-shield modal-icon"></i>
                <h4 class="modal-title">Política de Privacidade</h4>
                <small class="font-bold">WebDoctorPro - Segurança e Proteção de Dados Médicos</small>
            </div>
            <div class="modal-body" style="background-color: #fff; color: #676a6c;">
                <h3>1. Compromisso com a Segurança</h3>
                <p>O <strong>WebDoctorPro</strong> utiliza protocolos de criptografia de ponta a ponta para garantir que os dados de seus pacientes e sua agenda médica estejam sempre protegidos contra acessos não autorizados.</p>
                
                <h3>2. Tratamento de Dados (LGPD)</h3>
                <p>Em conformidade com a Lei Geral de Proteção de Dados, informamos que coletamos apenas as informações estritamente necessárias para a operação do sistema de gestão médica e faturamento.</p>
                
                <h3>3. Armazenamento no Azure</h3>
                <p>Seus dados são armazenados em servidores seguros da Microsoft Azure, contando com redundância e backups automáticos para garantir a continuidade do seu trabalho.</p>
                
                <h3>4. Responsabilidade do Usuário</h3>
                <p>É de responsabilidade do assinante manter suas credenciais de acesso em sigilo e não compartilhar senhas com terceiros não autorizados.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" style="border-radius: 4px;">Entendi e Aceito</button>
                <button type="button" class="btn btn-white" data-dismiss="modal" style="border-radius: 4px;">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

    });
</script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
        });
    </script>

}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
