@using Presentation.Extensions
@using CrossCutting
@model EntitiesServices.Model.PACIENTE
@{
    Layout = "~/Views/Shared/_Layout_Area.cshtml";
    ViewBag.Title = "WebDcotor - Dashboard Inicial";
    ViewBag.MetaDescription = "WebDcotor - Dashboard Inicial";
    ViewBag.MetaKeywords = "WebDoctor, Dashboard, Inicial";
}

<script type="application/ld+json">
  {
    "context": "https://schema.org",
    "type": "Paciente",
    "name": "Paciente - Cadastro",
    "description": "Cadastramento de novo paciente"
  }
</script>

<div id="content" class="wraper container-fluid">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*Titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        @*Atalhos*@
        <div class="row">
            <h3 style="color:olivedrab; font-weight:bold">WebDoctorPro - Área do Paciente</h3>
        </div>

        @*Widgets*@
        <br />
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        }
        <div class="row">
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Consultas</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.NumConsultas</h1>
                        <small>
                            Total de Consultas
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Consultas</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.NumConsultasFuturas</h1>
                        <small>
                            Consultas Futuras
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Atestados</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.NumAtestados</h1>
                        <small>
                            Atestados Emitidos
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Solicitações de Exames</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.NumSolicitacoes</h1>
                        <small>
                            Solicitações Emitidas
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Prescrições</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.NumPrescricoes</h1>
                        <small>
                            Prescrições Emitidas
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color: darkseagreen; color: darkgreen">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Locações</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.NumLocacoes</h1>
                        <small>
                            Locações Ativas
                        </small>
                    </div>
                </div>
            </div>
        </div>

        @*Atalhos*@
        <div class="row">
            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <a href="@Url.Action("AlterarDadosCadastrais", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Alteração de dados cadastrais do paciente" class="btn btn-sm btn-success btn-loading" id="emp" OnClick = "Fade()">Dados Cadastrais</a>                
                    <a href="@Url.Action("MontarTelaPerguntas", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Faça uma pergunta para a equipe de suporte do WebDoctorPro" class="btn btn-sm btn-success btn-loading" id="emp" OnClick = "Fade()">Fale Conosco</a>                
                    <a href="@Url.Action("MontarTelaEnvioDocumento", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Envie documentos para a eqiupe do WebDoctorPro" class="btn btn-sm btn-success btn-loading" id="emp" OnClick = "Fade()">Envio de Documentos</a>                
                    <a href="@Url.Action("CarregarLandingPage", "BaseAdmin")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Retornar  ao Site" class="btn btn-sm btn-warning btn-loading" id="emp" OnClick = "Fade()">Retornar ao Site do WebDoctorPro</a>                
                    <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank" >Ajuda</a>                
                    <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                        <i class="fa fa-spinner fa-spin"></i> Processando...
                    </span>
                </div>
                <br /><br />
            </div>
        </div>

        @*Paciente*@
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px;">
                <div class="ibox-title">
                    <h4>Paciente</h4>
                </div>
                <div class="ibox-content">
                    <div class="row" style="width: 100%;">
                        <div class="col-lg-2 col-md-2 col-xs-12">
                            @if (!String.IsNullOrEmpty(Model.PACI_AQ_FOTO))
                            {
                                <img src="@Url.Content(Model.PACI_AQ_FOTO)" style="width: auto; height: auto; max-height: 220px; max-width: 300px;">
                            }
                            else
                            {
                                <img src="~/Images/icon_morador.png" style="width: auto; height: auto; max-height: 220px; max-width: 300px;">
                            }
                            <br />
                            <br />
                        </div>

                        <div class="col-lg-10 col-md-10 col-xs-12">
                            <div class="row">
                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Dados do Paciente</h4>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        Nome do Paciente
                                        @Html.TextBoxFor(m => m.PACI_NM_NOME, new { @class = "form-control", @readonly = "readonly", @style = "color: blue; font-weight: bold" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Data Nascimento
                                        @Html.TextBoxFor(m => m.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", @style = "color: darkgreen; font-weight: bold"  })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        CPF
                                        @Html.TextBoxFor(m => m.PACI_NR_CPF, new { @class = "form-control", @readonly = "readonly", @style = "color: darkgreen; font-weight: bold"  })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Celular
                                        @Html.TextBoxFor(m => m.PACI_NR_CELULAR, new { @class = "form-control", @readonly = "readonly", @style = "color: darkgreen; font-weight: bold"   })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Telefone
                                        @Html.TextBoxFor(m => m.PACI_NR_TELEFONE, new { @class = "form-control", @readonly = "readonly", @style = "color: darkgreen; font-weight: bold"   })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        Endereço
                                        @Html.TextBoxFor(m => m.PACI_NM_ENDERECO, new { @class = "form-control", @readonly = "readonly", @style = "color: darkgreen; font-weight: bold" })
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                        Número
                                        @Html.TextBoxFor(m => m.PACI_NR_NUMERO, new { @class = "form-control", @readonly = "readonly", @style = "color: darkgreen; font-weight: bold" })
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-xs-12">
                                        Complemento
                                        @Html.TextBoxFor(m => m.PACI_NR_COMPLEMENTO, new { @class = "form-control", @readonly = "readonly", @style = "color: darkgreen; font-weight: bold" })
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-12">
                                        Bairro
                                        @Html.TextBoxFor(m => m.PACI_NM_BAIRRO, new { @class = "form-control", @readonly = "readonly", @style = "color: darkgreen; font-weight: bold" })
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-12">
                                        Cidade
                                        @Html.TextBoxFor(m => m.PACI_NM_CIDADE, new { @class = "form-control", @readonly = "readonly", @style = "color: darkgreen; font-weight: bold" })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    @if (Model.UF != null)
                                    {
                                        <div class="col-lg-1 col-md-1 col-xs-12">
                                            UF
                                            @Html.TextBoxFor(m => m.UF.UF_SG_SIGLA, new { @class = "form-control", @readonly = "readonly", @style = "color: darkgreen; font-weight: bold" })
                                        </div>
                                    }
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        CEP
                                        @Html.TextBoxFor(m => m.PACI_NR_CEP, new { @class = "form-control", @readonly = "readonly", @style = "color: darkgreen; font-weight: bold" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>

        @*Informações*@
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Informações do Paciente</h5>
                </div>
                <div class="ibox-content" style="height: 2100px">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    @if (TempData["TemMensagem"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            <span>@TempData["MensagemAcerto"]</span>
                        </div>
                    }                    

                    @*Dashboard*@
                    <div class="row">
                        @*Consultas*@
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                <div class="ibox-title">
                                    <h4>Consultas</h4>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">

                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <a href="@Url.Action("MarcarConsulta", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abre a página de marcação de consultas" id="emp" class="btn btn-sm btn-primary btn-loading1" OnClick = "Fade()">Solicitar Marcação de Consulta</a>                
                                                <a href="@Url.Action("ExibirHoje", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Exibir apenas as consultas marcadas para hoje" id="emp" class="btn btn-sm btn-warning btn-loading1" OnClick = "Fade()">Exibir Hoje</a>                
                                                <a href="@Url.Action("ExibirFuturas", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Exibir apenas as consultas marcadas para uma data futura" id="emp" class="btn btn-sm btn-warning btn-loading1" OnClick = "Fade()">Exibir Futuras</a>                
                                                <a href="@Url.Action("ExibirTodas", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Exibir todas as consultas do paciente" id="emp" class="btn btn-sm btn-warning btn-loading1" OnClick = "Fade()">Exibir Todas</a>                
                                            </div>
                                        </div>
                                            <br /><br />
                                        @if (ViewBag.Consultas != null && (ViewBag.Consultas as List<EntitiesServices.Model.PACIENTE_CONSULTA>).Count > 0)
                                        {
                                            <table class="table table-striped table-bordered table-hover dataTables-consulta">
                                                <thead style="background-color:lightsteelblue">
                                                    <tr>
                                                        <th style="width: auto">Data</th>
                                                        <th style="width: auto">Início</th>
                                                        <th style="width: auto">Término</th>
                                                        <th style="width: auto">Situação</th>
                                                        <th style="width: auto">Profissional</th>
                                                        <th class="td-one-action">Ações</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var cond in (ViewBag.Consultas as List<EntitiesServices.Model.PACIENTE_CONSULTA>).OrderByDescending(p => p.PACO_DT_CONSULTA.Date).ThenBy(p => p.PACO_HR_INICIO))
                                                    {   
                                                        if (cond.PACO_DT_CONSULTA > DateTime.Today.Date)
                                                        {
                                                            <tr  style="background-color: gainsboro">
                                                                <td>
                                                                    <span style="display:none; width: auto">@cond.PACO_DT_CONSULTA.ToString("yyyyMMdd")</span>
                                                                    @cond.PACO_DT_CONSULTA.ToString("dd/MM/yyyy")
                                                                </td>
                                                                <td style="width: auto">@cond.PACO_HR_INICIO.ToString()</td>
                                                                <td style="width: auto">@cond.PACO_HR_FINAL.ToString()</td>
                                                                @if (cond.PACO_IN_CONFIRMADA == 1)
                                                                {
                                                                    <td style="width: auto"><span class="badge badge-primary">Confirmada</span></td>
                                                                }
                                                                else if (cond.PACO_IN_CONFIRMADA == 2)
                                                                {
                                                                    <td style="width: auto"><span class="badge badge-danger">Cancelada</span></td>
                                                                }
                                                                else if (cond.PACO_IN_CONFIRMADA == 0)
                                                                {
                                                                    <td style="width: auto"><span class="badge badge-warning">Pendente</span></td>
                                                                }
                                                                else if (cond.PACO_IN_CONFIRMADA == 3)
                                                                {
                                                                    <td style="width: auto"><span class="badge badge-success">Encerrada</span></td>
                                                                }
                                                                <td style="width: auto">@cond.USUARIO.USUA_NM_NOME</td>
                                                                <td style="width: auto" class="td-one-action">
                                                                    @if (cond.PACO_IN_ATIVO == 1 & cond.PACO_IN_CONFIRMADA == 0)
                                                                    {
                                                                        <span style="color: #337ab7; cursor:pointer;" alt="Confirmar" class="tbl-link fa-lg fa fa-check" onclick="ShowModalConfirmar('/AreaPaciente/ConfirmarConsulta/@cond.PACO_CD_ID')" title="Confirmar Consulta"></span>
                                                                    }
                                                                    @if (cond.PACO_IN_ATIVO == 1 & cond.PACO_IN_CONFIRMADA < 2)
                                                                    {
                                                                        <span style="color: #337ab7; cursor:pointer;" alt="Cancelar" class="tbl-link fa-lg fa fa-times" onclick="ShowModalCancelar('/AreaPaciente/CancelarConsulta/@cond.PACO_CD_ID')" title="Cancelar Consulta"></span>
                                                                    }
                                                                    @Html.TableLinkDetails(cond.PACO_CD_ID, "EnviarInformacaoConsulta", "fa-send", "Enviar Informações")
                                                                </td>
                                                            </tr>
                                                        }
                                                        else if (cond.PACO_DT_CONSULTA < DateTime.Today.Date)
                                                        {
                                                            <tr style="background-color: aliceblue">
                                                                <td>
                                                                    <span style="display:none; width: auto">@cond.PACO_DT_CONSULTA.ToString("yyyyMMdd")</span>
                                                                    @cond.PACO_DT_CONSULTA.ToString("dd/MM/yyyy")
                                                                </td>
                                                                <td style="width: auto">@cond.PACO_HR_INICIO.ToString()</td>
                                                                <td style="width: auto">@cond.PACO_HR_FINAL.ToString()</td>
                                                                @if (cond.PACO_IN_CONFIRMADA == 1)
                                                                {
                                                                    <td style="width: auto"><span class="badge badge-primary">Confirmada</span></td>
                                                                }
                                                                else if (cond.PACO_IN_CONFIRMADA == 2)
                                                                {
                                                                    <td style="width: auto"><span class="badge badge-danger">Cancelada</span></td>
                                                                }
                                                                else if (cond.PACO_IN_CONFIRMADA == 0)
                                                                {
                                                                    <td style="width: auto"><span class="badge badge-warning">Pendente</span></td>
                                                                }
                                                                else if (cond.PACO_IN_CONFIRMADA == 3)
                                                                {
                                                                    <td style="width: auto"><span class="badge badge-success">Encerrada</span></td>
                                                                }
                                                                <td style="width: auto">@cond.USUARIO.USUA_NM_NOME</td>
                                                                <td style="width: auto" class="td-one-action">
                                                                </td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            <tr style="background-color: beige; color: darkgreen; font-weight: bold">
                                                                <td>
                                                                    <span style="display:none; width: auto">@cond.PACO_DT_CONSULTA.ToString("yyyyMMdd")</span>
                                                                    @cond.PACO_DT_CONSULTA.ToString("dd/MM/yyyy")
                                                                </td>
                                                                <td style="width: auto">@cond.PACO_HR_INICIO.ToString()</td>
                                                                <td style="width: auto">@cond.PACO_HR_FINAL.ToString()</td>
                                                                @if (cond.PACO_IN_CONFIRMADA == 1)
                                                                {
                                                                    <td style="width: auto"><span class="badge badge-primary">Confirmada</span></td>
                                                                }
                                                                else if (cond.PACO_IN_CONFIRMADA == 2)
                                                                {
                                                                    <td style="width: auto"><span class="badge badge-danger">Cancelada</span></td>
                                                                }
                                                                else if (cond.PACO_IN_CONFIRMADA == 0)
                                                                {
                                                                    <td style="width: auto"><span class="badge badge-warning">Pendente</span></td>
                                                                }
                                                                else if (cond.PACO_IN_CONFIRMADA == 3)
                                                                {
                                                                    <td style="width: auto"><span class="badge badge-success">Encerrada</span></td>
                                                                }
                                                                <td style="width: auto; color: green; font-weight: bold">@cond.USUARIO.USUA_NM_NOME</td>
                                                                <td style="width: auto" class="td-one-action">
                                                                    @if (cond.PACO_IN_ATIVO == 1 & cond.PACO_IN_CONFIRMADA == 0)
                                                                    {
                                                                        <span style="color: #337ab7; cursor:pointer;" alt="Confirmar" class="tbl-link fa-lg fa fa-check" onclick="ShowModalConfirmar('/AreaPaciente/ConfirmarConsulta/@cond.PACO_CD_ID')" title="Confirmar Consulta"></span>
                                                                    }
                                                                    @if (cond.PACO_IN_ATIVO == 1 & cond.PACO_IN_CONFIRMADA < 2)
                                                                    {
                                                                        <span style="color: #337ab7; cursor:pointer;" alt="Cancelar" class="tbl-link fa-lg fa fa-times" onclick="ShowModalCancelar('/AreaPaciente/CancelarConsulta/@cond.PACO_CD_ID')" title="Cancelar Consulta"></span>
                                                                    }
                                                                    @Html.TableLinkDetails(cond.PACO_CD_ID, "EnviarInformacaoConsulta", "fa-send", "Enviar Informações")
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-xs-12">
                                                </div>
                                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                    <h4 style="font-weight: bold">Nenhuma consulta agendada para este paciente na seleção especificada</h4>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-xs-12">
                                                </div>
                                            </div>
                                        }
                                        <span id="loadingIndicator1" style="display: none; margin-left: 10px; color: #007bff;">
                                            <i class="fa fa-spinner fa-spin"></i> Processando...
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>                          
  
                        @*Atestados*@
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                <div class="ibox-title">
                                    <h4>Atestados</h4>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">

                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <a href="@Url.Action("ExibirAtestadoHoje", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Exibir os atestados emitidos no ano corrente" id="emp" class="btn btn-sm btn-warning btn-loading2" OnClick = "Fade()">Ano Corrente</a>                
                                                <a href="@Url.Action("ExibirAtestadoAnterior", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Exibir os atestados emitidos nos anos anteriores" id="emp" class="btn btn-sm btn-warning btn-loading2" OnClick = "Fade()">Anos Anteriores</a>                
                                                <a href="@Url.Action("ExibirAtestadosTodos", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Exibir todos os  atestados" id="emp" class="btn btn-sm btn-warning btn-loading2" OnClick = "Fade()">Exibir Todos</a>                
                                            </div>
                                        </div>
                                        <br /><br />
                                        @if (ViewBag.Atestados != null && (ViewBag.Atestados as List<EntitiesServices.Model.PACIENTE_ATESTADO>).Count > 0) 
                                        {
                                            <table class="table table-striped table-bordered table-hover dataTables-atestado">
                                                <thead style="background-color:lightsteelblue">
                                                    <tr>
                                                        <th style="width: auto">Data</th>
                                                        <th style="width: auto">Tipo</th>
                                                        <th style="width: auto">Título</th>
                                                        <th style="width: auto">Identificador</th>
                                                        <th class="td-one-action">Ações</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var cond in (ViewBag.Atestados as List<EntitiesServices.Model.PACIENTE_ATESTADO>).OrderByDescending(p => p.PAAT_DT_DATA.Value.Date).ThenBy(p => p.PAAT_NM_TITULO))
                                                    {   
                                                        <tr  style="background-color: gainsboro">
                                                            <td>
                                                                <span style="display:none; width: auto">@cond.PAAT_DT_DATA.Value.ToString("yyyyMMdd")</span>
                                                                @cond.PAAT_DT_DATA.Value.ToString("dd/MM/yyyy")
                                                            </td>
                                                            <td style="width: auto">@cond.TIPO_ATESTADO.TIAT_NM_NOME</td>
                                                            <td style="width: auto">@cond.PAAT_NM_TITULO</td>
                                                            <td style="width: auto">@cond.PAAT_GU_GUID</td>
                                                            <td style="width: auto" class="td-one-action">
                                                                @Html.TableLinkDetails(cond.PAAT_CD_ID, "SelecionarImprimirAtestado", "fa-print", "Imprimir/Baixar Atestado")
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-xs-12">
                                                </div>
                                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                    <h4 style="font-weight: bold">Nenhum atestado emitido para este paciente na seleção especificada</h4>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-xs-12">
                                                </div>
                                            </div>
                                        }
                                        <span id="loadingIndicator2" style="display: none; margin-left: 10px; color: #007bff;">
                                            <i class="fa fa-spinner fa-spin"></i> Processando...
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>                          
                    </div>

                    <div class="row">
                        @*Solicitacoes*@
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                <div class="ibox-title">
                                    <h4>Solicitações de Exames</h4>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">

                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <a href="@Url.Action("ExibirSolicitacaoHoje", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Exibir as solicitações de exames emitidas no ano corrente" id="emp" class="btn btn-sm btn-warning btn-loading3" OnClick = "Fade()">Ano Corrente</a>                
                                                <a href="@Url.Action("ExibirSolicitacaoAnterior", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Exibir as solicitações de exames emitidas nos anos anteriores" id="emp" class="btn btn-sm btn-warning btn-loading3" OnClick = "Fade()">Anos Anteriores</a>                
                                                <a href="@Url.Action("ExibirSolicitacaoTodos", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Exibir todas as solicitações de exames" id="emp" class="btn btn-sm btn-warning btn-loading3" OnClick = "Fade()">Exibir Todas</a>                
                                            </div>
                                        </div>de exames
                                        <br /><br />
                                        @if (ViewBag.Solicitacoes != null && (ViewBag.Solicitacoes as List<EntitiesServices.Model.PACIENTE_SOLICITACAO>).Count > 0) 
                                        {
                                            <table class="table table-striped table-bordered table-hover dataTables-solicitacao">
                                                <thead style="background-color:lightsteelblue">
                                                    <tr>
                                                        <th style="width: auto">Data</th>
                                                        <th style="width: auto">Tipo</th>
                                                        <th style="width: auto">Nome do Exame</th>
                                                        <th style="width: auto">Identificador</th>
                                                        <th class="td-one-action">Ações</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var cond in (ViewBag.Solicitacoes as List<EntitiesServices.Model.PACIENTE_SOLICITACAO>).OrderByDescending(p => p.PASO_DT_EMISSAO_COMPLETA.Value.Date).ThenBy(p => p.TIEX_CD_ID))
                                                    {   
                                                        <tr  style="background-color: gainsboro">
                                                            <td>
                                                                <span style="display:none; width: auto">@cond.PASO_DT_EMISSAO_COMPLETA.Value.ToString("yyyyMMdd")</span>
                                                                @cond.PASO_DT_EMISSAO_COMPLETA.Value.ToString("dd/MM/yyyy")
                                                            </td>
                                                            <td style="width: auto">@cond.TIPO_EXAME.TIEX_NM_NOME</td>
                                                            <td style="width: auto">@cond.PASO_NM_TITULO</td>
                                                            <td style="width: auto">@cond.PASO_GU_GUID</td>
                                                            <td style="width: auto" class="td-one-action">
                                                                @Html.TableLinkDetails(cond.PASO_CD_ID, "SelecionarImprimirSolicitacao", "fa-print", "Imprimir/Baixar Solicitação")
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-xs-12">
                                                </div>
                                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                    <h4 style="font-weight: bold">Nenhuma solicitação de exame emitida para este paciente na seleção especificada</h4>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-xs-12">
                                                </div>
                                            </div>
                                        }
                                        <span id="loadingIndicator3" style="display: none; margin-left: 10px; color: #007bff;">
                                            <i class="fa fa-spinner fa-spin"></i> Processando...
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>                          

                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                <div class="ibox-title">
                                    <h4>Prescrições</h4>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">

                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <a href="@Url.Action("ExibirPrescricaoHoje", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Exibir as prescrições emitidas no ano corrente" id="emp" class="btn btn-sm btn-warning btn-loading4" OnClick = "Fade()">Ano Corrente</a>                
                                                <a href="@Url.Action("ExibirPrescricaoAnterior", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Exibir as prescrições emitidas nos anos anteriores" id="emp" class="btn btn-sm btn-warning btn-loading4" OnClick = "Fade()">Anos Anteriores</a>                
                                                <a href="@Url.Action("ExibirPrescricaoTodos", "AreaPaciente")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Exibir todas as prescrições" id="emp" class="btn btn-sm btn-warning btn-loading4" OnClick = "Fade()">Exibir Todas</a>                
                                            </div>
                                        </div>de exames
                                        <br /><br />
                                        @if (ViewBag.Prescricoes != null && (ViewBag.Prescricoes as List<EntitiesServices.Model.PACIENTE_PRESCRICAO>).Count > 0) 
                                        {
                                            <table class="table table-striped table-bordered table-hover dataTables-prescricao">
                                                <thead style="background-color:lightsteelblue">
                                                    <tr>
                                                        <th style="width: auto">Data</th>
                                                        <th style="width: auto">Tipo</th>
                                                        <th style="width: auto">Identificador</th>
                                                        <th style="width: auto">Num.Itens</th>
                                                        <th class="td-one-action">Ações</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var cond in (ViewBag.Prescricoes as List<EntitiesServices.Model.PACIENTE_PRESCRICAO>).OrderByDescending(p => p.PAPR_DT_EMISSAO_COMPLETA.Value.Date))
                                                    {   
                                                        <tr  style="background-color: gainsboro">
                                                            <td>
                                                                <span style="display:none; width: auto">@cond.PAPR_DT_EMISSAO_COMPLETA.Value.ToString("yyyyMMdd")</span>
                                                                @cond.PAPR_DT_EMISSAO_COMPLETA.Value.ToString("dd/MM/yyyy")
                                                            </td>
                                                            <td style="width: auto">@cond.TIPO_CONTROLE.TICO_NM_NOME</td>
                                                            <td style="width: auto">@cond.PAPR_GU_GUID</td>
                                                            <td style="width: auto">@cond.PACIENTE_PRESCRICAO_ITEM.Count()</td>
                                                            <td style="width: auto" class="td-one-action">
                                                                @if (cond.TICO_CD_ID == 1 || cond.TICO_CD_ID == 2)
                                                                {
                                                                    @Html.TableLinkDetails(cond.PAPR_CD_ID, "SelecionarImprimirPrescricao", "fa-print", "Imprimir/Baixar Prescrição")
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-xs-12">
                                                </div>
                                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                    <h4 style="font-weight: bold">Nenhuma prescrição emitida para este paciente na seleção especificada</h4>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-xs-12">
                                                </div>
                                            </div>
                                        }
                                        <span id="loadingIndicator4" style="display: none; margin-left: 10px; color: #007bff;">
                                            <i class="fa fa-spinner fa-spin"></i> Processando...
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <script>
        function Fade() {
            $('.dotContainer').fadeIn("fast");
            $('#login').css("filter", "blur(4px)");
        }
    </script>
    <script>
        $(window).on("load", function () {
            $('.dotContainer').fadeOut("slow");
            $('#title').css("filter", "blur(0)");
            $('#content').css("filter", "blur(0)");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading1').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator1').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading2').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator2').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading3').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator3').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading4').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator4').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>


    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalConfirmar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma marcação de consulta?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Marcação</h5>');
            $('#modal').modal('show');
        }

        function ShowModalCancelar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma cancelamento da consulta?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Cancelamento</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-consulta').DataTable({
                "pageLength": 5,          // Define o padrão de 5 linhas
                "lengthChange": false,    // Remove o seletoc de "Mostrar X registros"
                "searching": false,       // Remove a caixa de pesquisa
                "dom": 'rtp',             // 'r' (processing), 't' (table), 'p' (pagination)
                                          // Note que removemos o 'B' (buttons), 'f' (filter) e 'l' (length)
                "columnDefs": [
                    {
                        "type": "date-eu", 
                        "targets": 0 
                    }
                ],
                // Os botões podem permanecer definidos, mas como removemos o 'B' do 'dom', 
                // eles não serão renderizados na tela.
                "buttons": [
                    { extend: 'excel', title: 'Consultas_Planilha' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');
                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });          
        });   
     </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-atestado').DataTable({
                "pageLength": 5,          // Define o padrão de 5 linhas
                "lengthChange": false,    // Remove o seletoc de "Mostrar X registros"
                "searching": false,       // Remove a caixa de pesquisa
                "dom": 'rtp',             // 'r' (processing), 't' (table), 'p' (pagination)
                                          // Note que removemos o 'B' (buttons), 'f' (filter) e 'l' (length)
                "columnDefs": [
                    {
                        "type": "date-eu", 
                        "targets": 0 
                    }
                ],
                // Os botões podem permanecer definidos, mas como removemos o 'B' do 'dom', 
                // eles não serão renderizados na tela.
                "buttons": [
                    { extend: 'excel', title: 'Atestados_Planilha' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');
                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });          
        });   
     </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-solicitacao').DataTable({
                "pageLength": 5,          // Define o padrão de 5 linhas
                "lengthChange": false,    // Remove o seletoc de "Mostrar X registros"
                "searching": false,       // Remove a caixa de pesquisa
                "dom": 'rtp',             // 'r' (processing), 't' (table), 'p' (pagination)
                                          // Note que removemos o 'B' (buttons), 'f' (filter) e 'l' (length)
                "columnDefs": [
                    {
                        "type": "date-eu", 
                        "targets": 0 
                    }
                ],
                // Os botões podem permanecer definidos, mas como removemos o 'B' do 'dom', 
                // eles não serão renderizados na tela.
                "buttons": [
                    { extend: 'excel', title: 'Solicitacoes_Planilha' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');
                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });          
        });   
     </script>

        <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-prescricao').DataTable({
                "pageLength": 5,          // Define o padrão de 5 linhas
                "lengthChange": false,    // Remove o seletoc de "Mostrar X registros"
                "searching": false,       // Remove a caixa de pesquisa
                "dom": 'rtp',             // 'r' (processing), 't' (table), 'p' (pagination)
                                          // Note que removemos o 'B' (buttons), 'f' (filter) e 'l' (length)
                "columnDefs": [
                    {
                        "type": "date-eu", 
                        "targets": 0 
                    }
                ],
                // Os botões podem permanecer definidos, mas como removemos o 'B' do 'dom', 
                // eles não serão renderizados na tela.
                "buttons": [
                    { extend: 'excel', title: 'Prescricoes_Planilha' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');
                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });          
        });   
     </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}

