@using Presentation.Extensions
@using EntitiesServices.Model
@model EntitiesServices.Model.AREA_PACIENTE
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Area Paciente";
    ViewBag.MetaDescription = "WebDoctor - Area Paciente - Consulta";
    ViewBag.MetaKeywords = "WebDoctor, Area Paciente";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title">
        <h3 class="title">Área do Paciente</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaAreaPacienteVer", "AreaPaciente")">Área do Paciente</a>
            </li>
            <li class="active">
                <strong>Marcação de Consulta</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                        <h5>Área do Paciente</h5>
                        <span style="color:green; font-weight: 500; font-size: 20px;">@Model.PACIENTE.PACI_NM_NOME</span>
                    </div>
                </div>
                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    @*@if (TempData["TemMensagem"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            <span>@TempData["MensagemAcerto"]</span>
                        </div>
                    }*@  
                    @*@if (TempData["TemMensagem1"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            <span>@TempData["MensagemAcerto1"]</span>
                        </div>
                    }*@  

                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Área do Paciente - Solicitação de Consulta</a></li>
                        </ul>

                        <div class="tab-content">
                            @*Dados Gerais*@
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    @using (Html.BeginForm("ProcessarMarcacaoConsulta", "AreaPaciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group" style=" margin-left: -15px; margin-right: 5px;"> 
                                            @Html.ButtonActionSubmit(text: "Processa Marcação de Consulta", htmlAttributes: new { id = "basictoast", @class = "btn-loading1" })
                                            @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaAreaPacienteVer", controller: "AreaPaciente", htmlAttributes: new { @class = "btn-loading" })
                                            <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                                                <i class="fa fa-spinner fa-spin"></i> Processando...
                                            </span>
                                        </div>

                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Paciente</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Nome do Paciente
                                                    @Html.TextBoxFor(m => m.PACIENTE.PACI_NM_NOME, new { @class = "form-control", autofocus = true, @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data Nascimento
                                                    @Html.TextBoxFor(m => m.PACIENTE.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                @if (Model.PACIENTE.PACI_NR_CPF != null)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        CPF
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CPF, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                @if (Model.PACIENTE.PACI_NR_CELULAR != null)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Celular
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CELULAR, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                @if (Model.PACIENTE.PACI_NR_TELEFONE != null)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Telefone
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_TELEFONE, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        <div class="row" style="width: 100%;">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <h4 style="margin-left: 15px; color:green; background-color: beige; font-weight:bold; margin-right: -15px">Informações do Item</h4>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    @Html.HiddenFor(m => m.AREA_CD_ID)
                                                    @Html.HiddenFor(m => m.AREA_DT_CONSULTA)
                                                    @Html.HiddenFor(m => m.AREA_DT_DATA_EXAME)
                                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                    @Html.HiddenFor(m => m.AREA_DT_DUMMY)
                                                    @Html.HiddenFor(m => m.AREA_DT_ENTRADA)
                                                    @Html.HiddenFor(m => m.AREA_DT_PROCESSO)
                                                    @Html.HiddenFor(m => m.AREA_GU_IDENTIFICADOR)
                                                    @Html.HiddenFor(m => m.AREA_HR_FINAL)
                                                    @Html.HiddenFor(m => m.AREA_HR_INICIO)
                                                    @Html.HiddenFor(m => m.AREA_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.AREA_IN_PROCESSADA)
                                                    @Html.HiddenFor(m => m.AREA_IN_TIPO)
                                                    @Html.HiddenFor(m => m.AREA_IN_TIPO_CONSULTA)
                                                    @Html.HiddenFor(m => m.AREA_IN_TIPO_EXAME)
                                                    @Html.HiddenFor(m => m.AREA_IN_VISTA)
                                                    @Html.HiddenFor(m => m.AREA_NM_EXAME)
                                                    @Html.HiddenFor(m => m.AREA_NM_PACIENTE_DUMMY)
                                                    @Html.HiddenFor(m => m.AREA_NM_TITULO)
                                                    @Html.HiddenFor(m => m.AREA_TX_COMENTARIOS_DOCUMENTO)
                                                    @Html.HiddenFor(m => m.AREA_TX_CONTEUDO)
                                                    @Html.HiddenFor(m => m.LABS_CD_ID)
                                                    @Html.HiddenFor(m => m.LOCA_CD_ID)
                                                    @Html.HiddenFor(m => m.PACI_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_CD_ID)
                                                    @Html.HiddenFor(m => m.TIEX_CD_ID)
                                                    Data de Criação
                                                    @Html.TextBoxFor(m => m.AREA_DT_ENTRADA, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Identificador
                                                    @Html.TextBoxFor(m => m.AREA_GU_IDENTIFICADOR, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: darkblue; font-weight: bold" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -45px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Título
                                                    @Html.TextBoxFor(m => m.AREA_NM_TITULO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: brown; font-weight: bold" })
                                                </div>
                                            </div>
                                            @if (Model.AREA_IN_TIPO == 1)
                                            {
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <h4 style="margin-left: 15px; color:green; background-color: beige; font-weight:bold; margin-right: -15px">Solicitação de Marcação de Consulta</h4>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data da Consulta
                                                        @Html.TextBoxFor(m => m.AREA_DT_CONSULTA, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Hora
                                                        @Html.TextBoxFor(m => m.AREA_HR_INICIO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -45px;">
                                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                                        Informações da Solicitação
                                                        @Html.TextAreaFor(m => m.AREA_TX_CONTEUDO, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", @tabindex = "-1", @readonly = "readonly"})
                                                    </div>
                                                </div>
                                            }
                                        </div>                                        
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")

        <style>
        /* 1. Aumenta a largura e garante o espaço interno */
        #toast-container > .toast {
            width: 500px !important; 
            max-width: 500px !important;
            opacity: 0.95 !important;
        }

        /* 2. Remove o ícone nativo do Toastr (Background Image) */
        #toast-container > .toast-success {
            background-image: none !important;
        }

        /* 3. Remove ícones do FontAwesome/Inspinia injetados via ::before no Título */
        .toast-success .toast-title::before, 
        .toast-success .toast-title::after,
        .toast-success::before {
            content: none !important;
            display: none !important;
        }

        /* 4. Ajusta o recuo do texto já que removemos o ícone */
        .toast-success .toast-title, 
        .toast-success .toast-message {
            padding-left: 10px !important;
        }
    </style>


}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>    
    
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading1').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Configurações globais do Toastr
            toastr.options = {
                "closeButton": true,
                //"debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "15000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            //    "iconClass": "customer-toast-info", // Se quiser remover o ícone padrão totalmente
            //    "titleClass": "toast-title",
            //    "messageClass": "toast-message"
            };

            // Verifica se existe mensagem de sucesso no TempData (vinda do Redirect)
            var msgSucesso = '@TempData["MensagemAcerto"]';
            if (msgSucesso != '') {
                toastr.success(msgSucesso, 'Sucesso!');
            }

            // Verifica se existe mensagem de erro
            var msgErro = '@TempData["MensagemErro"]';
            if (msgErro != '') {
                toastr.error(msgErro, 'Erro!');
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Configurações globais do Toastr
            toastr.options = {
                "closeButton": true,
                //"debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "15000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            //    "iconClass": "customer-toast-info", // Se quiser remover o ícone padrão totalmente
            //    "titleClass": "toast-title",
            //    "messageClass": "toast-message"
            };

            // Verifica se existe mensagem de sucesso no TempData (vinda do Redirect)
            var msgSucesso = '@TempData["MensagemAcerto1"]';
            if (msgSucesso != '') {
                toastr.success(msgSucesso, 'Sucesso!');
            }

            // Verifica se existe mensagem de erro
            var msgErro = '@TempData["MensagemErro"]';
            if (msgErro != '') {
                toastr.error(msgErro, 'Erro!');
            }
        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}

