@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.PacienteViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Troca de Senha";
    ViewBag.MetaDescription = "WebDoctor - Troca de senha";
    ViewBag.MetaKeywords = "WebDoctor, Senha, Acesso, Segurança";
}
<div style="display: none;" class="dotContainer">
    <div class="dotWrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-5 col-md-5 col-xs-5 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Alteração de Senha</h5>
                </div>
                @using (Html.BeginForm("TrocarSenhaAreaPaciente", "AreaPaciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            @Html.ButtonLinkIndex(text: "Voltar", controller: "BaseAdmin", action: "CarregaBase")
                            <br />
                        </div>
                        <div class="row" id="Login">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Login e Senha</h4>
                            <div class="col-lg-8 col-md-8 col-xs-8">
                                <div class="form-group" style=" margin-left: -30px; margin-right: -30px;">                
                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                        CPF do Paciente*
                                        @Html.TextBoxFor(m => m.PACI_NR_CPF, new { @class = "form-control", autofocus = true, @id = "cpf", data_toggle = "popover", data_content = "Informe o cpf do paciente", data_trigger="hover", data_placement="top" })
                                        @Html.ValidationMessageFor(m => m.PACI_NR_CPF, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        Nova Senha*
                                        @Html.TextBoxFor(m => m.PACI_NM_NOVA_SENHA, new { @class = "form-control pwd1", autofocus = true, @type = "password", @id = "Password1", data_toggle = "popover", data_content = "Informe a nova senha seguindo as regras ao lado", data_trigger="hover", data_placement="top" })
                                        @Html.ValidationMessageFor(m => m.PACI_NM_NOVA_SENHA, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        Confirmação da Senha*
                                        @Html.TextBoxFor(m => m.PACI_NM_SENHA_CONFIRMA, new { @class = "form-control", autofocus = true, @type = "password", data_toggle = "popover", data_content = "Confirme a senha informada", data_trigger="hover", data_placement="top" })
                                        @Html.ValidationMessageFor(m => m.PACI_NM_SENHA_CONFIRMA, "", new { @style = "color:red" })
                                    </div>
                                </div>                                            
                                <div class="form-group" style=" margin-left: -30px; margin-right: -30px;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="pwstrength_viewport_progress"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-4">
                                <div class="ibox float-e-margins" style="background-color:beige">
                                    <div class="ibox-title"  style="background-color: darkseagreen; color: darkgreen">
                                        <h5>Regras para Formação de Senha</h5>
                                    </div>
                                    <div class="ibox-content" style="background-color:beige">
                                        <div class="form-group" style=" margin-left: 5px; margin-right: 5px;">  
                                            <br />
                                            <ul style="margin:0; padding-left:20px; list-style-type:disc;">
                                                <li style="margin-bottom:2px; line-height:1.1;">Não pode ser igual a anterior</li>
                                                <li style="margin-bottom:2px; line-height:1.1;">Tem que ter no mínimo 3 caracteres</li>
                                                <li style="margin-bottom:2px; line-height:1.1;">Tem que ter pelo menos uma letra maiúscula</li>
                                                <li style="margin-bottom:2px; line-height:1.1;">Tem que ter pelo menos uma letra minúscula</li>
                                                <li style="margin-bottom:2px; line-height:1.1;">Tem que ter pelo menos um dígito (0-9)</li>
                                                <li style="margin-bottom:2px; line-height:1.1;">Tem que ter no mínimo 3 caracteres</li>
                                                <li style="margin-bottom:2px; line-height:1.1;">Tem que ter pelo menos um caractere especial (# $ % &)</li>
                                                <li style="margin-bottom:2px; line-height:1.1;">Não pode conter os caracteres especiais (+ - * / =)</li>
                                            </ul>                                                               
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary block full-width m-b demo2">Alterar Senha</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
}

@section Scripts 
{
        <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/plugins/passwordMeter")
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>
@Scripts.Render("~/plugins/passwordMeter")
    @Scripts.Render("~/plugins/sweetAlert")

    <script>
        function Fade() {
            $('.dotContainer').fadeIn("fast");
            $('#login').css("filter", "blur(4px)");
        }
    </script>
    <script>
        $(window).on("load", function () {
            $('.dotContainer').fadeOut("slow");
            $('#title').css("filter", "blur(0)");
            $('#content').css("filter", "blur(0)");
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var options1 = {};
            options1.ui = {
                container: "#pwd-container1",
                showVerdictsInsideProgressBar: true,
                viewports: {
                    progress: ".pwstrength_viewport_progress"
                }
            };
            options1.common = {
                debug: false,
            };
            $('.pwd1').pwstrength(options1);

        });
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
