@using Presentation.Extensions
@using EntitiesServices.Model
@model ERP_Condominios_Solution.ViewModels.LocacaoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Locacao";
    ViewBag.MetaDescription = "WebDoctor - Locacao - Edição de locação";
    ViewBag.MetaKeywords = "WebDoctor, locacao";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title">
        <h3 class="title">Locação</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaAreaPaciente", "AreaPaciente")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Locação - Visualização</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                        <h5>Locação - Visualização</h5>
                        <span style="color:green; font-weight: 500; font-size: 20px;">@Model.PACIENTE.PACI_NM_NOME</span>
                    </div>
                </div>
                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    @if (TempData["TemMensagem"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            <span>@TempData["MensagemAcerto"]</span>
                        </div>
                    }  
                    @if (TempData["TemMensagem1"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            <span>@TempData["MensagemAcerto1"]</span>
                        </div>
                    }  

                    <div class="row">
                        <div class="col-lg-2">
                            <div class="widget style1 navy-bg">
                                <div class="row vertical-align">
                                    <div class="col-xs-2">
                                        <i class="fa fa-check fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        @if (Model.LOCA_IN_STATUS == 1)
	                                    {
                                            <h3 class="font-normal">Ativa</h3>
                                        }
                                        else if (Model.LOCA_IN_STATUS == 2)
                                        {
                                            <h3 class="font-normal">Encerrada</h3>
                                        }
                                        else if (Model.LOCA_IN_STATUS == 3)
                                        {
                                            <h3 class="font-normal">Vencida</h3>
                                        }
                                        else if (Model.LOCA_IN_STATUS == 0)
                                        {
                                            <h3 class="font-normal">Pendente</h3>
                                        }
                                        else
                                        {
                                            <h3 class="font-normal">Cancelada</h3>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget style1 yellow-bg">
                                <div class="row vertical-align">
                                    <div class="col-xs-3">
                                        <i class="fa fa-calendar fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h3 class="font-normal">Encerra em : @Model.LOCA_DT_FINAL.Value.ToShortDateString()</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget style1 blue-bg">
                                <div class="row vertical-align">
                                    <div class="col-xs-3">
                                        <i class="fa fa-refresh fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h3 class="font-normal">Estoque Atualizado: @Model.Estoque</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style=" margin-left: 5px; margin-right: 5px;"> 
                        @if (Model.LOCA_IN_STATUS == 0 || Model.LOCA_IN_STATUS == 1 || Model.LOCA_IN_STATUS == 3)
                        {
                            @Html.ButtonLinkIndex(text: "Imprimir Contrato", action: "ImprimirContratoLocacaoDireto", controller: "Locacao")
                        }
                        @if (Model.LOCA_IN_STATUS == 4)
                        {
                            @Html.ButtonLinkIndex(text: "Imprimir Distrato", action: "ImprimirDistratoLocacaoDireto", controller: "Locacao")
                        }
                        @if (Model.LOCA_IN_STATUS == 2)
                        {
                            @Html.ButtonLinkIndex(text: "Imprimir Encerramento", action: "ImprimirEncerraLocacaoDireto", controller: "Locacao")
                        }
                        @if (Model.LOCA_IN_STATUS == 0)
                        {
                            if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_LOCACAO_ALTERAR == 1)
                            {
                                if (Model.LOCA_IN_CONTRATO_ASSINA == 0)
                                {
                                    <a href="@Url.Action("CarregarContratoDireto", "Locacao")" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Inclui o contrato de locação assinado" class="btn btn-sm btn-primary btn-loading" id="emp" OnClick = "Fade()">Contrato Assinado</a>                
                                }
                            }
                        }
                        @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaAreaPaciente", controller: "AreaPaciente", htmlAttributes: new { @class = "btn-loading" })
                        <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank">Ajuda</a>                
                        <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                            <i class="fa fa-spinner fa-spin"></i> Processando...
                        </span>
                    </div>

                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Dados da Locação</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-4">Parcelas</a></li>
                        </ul>

                        <div class="tab-content">
                            @*Dados Gerais*@
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    @using (Html.BeginForm("VerLocacao", "AreaPaciente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Paciente</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Nome do Paciente
                                                    @Html.TextBoxFor(m => m.PACIENTE.PACI_NM_NOME, new { @class = "form-control", autofocus = true, @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data Nascimento
                                                    @Html.TextBoxFor(m => m.PACIENTE.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                @if (Model.PACIENTE.PACI_NR_CPF != null)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        CPF
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CPF, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                @if (Model.PACIENTE.PACI_NR_CELULAR != null)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Celular
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CELULAR, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                @if (Model.PACIENTE.PACI_NR_TELEFONE != null)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Telefone
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_TELEFONE, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Produto</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-5 col-md-5 col-xs-12">
                                                    Nome do Produto
                                                    @Html.TextBoxFor(m => m.PRODUTO.PROD_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Marca
                                                    @Html.TextBoxFor(m => m.PRODUTO.PROD_NM_MARCA, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Modelo
                                                    @Html.TextBoxFor(m => m.PRODUTO.PROD_NM_MODELO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Valor para Locação (R$)
                                                    @Html.TextBoxFor(m => m.PRODUTO.PROD_VL_LOCACAO, "{0:n2}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="width: 100%;">
                                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Dados da Locação</h4>
                                            @if (Model.LOCA_IN_STATUS == 0 || Model.LOCA_IN_STATUS == 1  || Model.LOCA_IN_STATUS == 3)
                                            {
                                                <div class="form-group" style=" margin-left: 5px; margin-right: 5px;">                
                                                    @Html.ButtonActionSubmit(text: "Confirma edição da Locação", htmlAttributes: new { id = "basictoast", @class = "btn-loading1"})
                                                </div>
                                            }
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Identificador
                                                    @Html.TextBoxFor(m => m.LOCA_GU_GUID, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: darkblue; font-weight: bold" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Token de Validação
                                                    @Html.TextBoxFor(m => m.LOCA_TK_TOKEN, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: darkblue; font-weight: bold" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Status
                                                    @Html.TextBoxFor(m => m.Status, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Responsável
                                                    @Html.TextBoxFor(m => m.USUARIO.USUA_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: brown; font-weight: bold" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Contrato Assinado
                                                    @Html.TextBoxFor(m => m.CONTRATO_ASSINA, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: darkblue; font-weight: bold" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                @if (Model.LOCA_IN_RENOVACAO == 1 & Model.LOCA_IN_STATUS == 1)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Renovação
                                                        @Html.TextBoxFor(m => m.LOCA_DT_RENOVACAO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Renovações
                                                        @Html.TextBoxFor(m => m.LOCA_IN_RENOVACOES, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }

                                                @if (Model.LOCA_IN_STATUS == 2)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Encerramento
                                                        @Html.TextBoxFor(m => m.LOCA_DT_ENCERRAMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                else if (Model.LOCA_IN_STATUS == 4)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data de Cancelamento
                                                        @Html.TextBoxFor(m => m.LOCA_DT_CANCELAMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                else if (Model.LOCA_IN_STATUS == 1)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Aprovação
                                                        @Html.TextBoxFor(m => m.LOCA_DT_APROVACAO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                @if (Model.LOCA_IN_STATUS == 4 || Model.LOCA_IN_STATUS == 1)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Estoque Atualizado
                                                        @Html.TextBoxFor(m => m.Estoque, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                @if (Model.LOCA_IN_STATUS == 1)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data de Entrega
                                                        @Html.TextBoxFor(m => m.LOCA_DT_ENTREGA, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }

                                                @if (Model.LOCA_IN_STATUS == 4)
                                                {
                                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                                        Justificativa
                                                        @Html.TextBoxFor(m => m.LOCA_DS_JUSTIFICATIVA, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                else if (Model.LOCA_IN_STATUS == 3)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Vencida (Dias)
                                                        @Html.TextBoxFor(m => m.LOCA_NR_ATRASO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                else if (Model.LOCA_IN_STATUS == 1)
                                                {
                                                    <div class="col-lg-5 col-md-5 col-xs-12">
                                                        Observações
                                                        @Html.TextBoxFor(m => m.LOCA_DS_ENTREGA, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                else if (Model.LOCA_IN_STATUS == 2)
                                                {
                                                    <div class="col-lg-5 col-md-5 col-xs-12">
                                                        Observações
                                                        @Html.TextBoxFor(m => m.LOCA_DS_ENCERRA, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                            </div>

                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Tipo de Contrato de Locação
                                                    @Html.TextBoxFor(m => m.CONTRATO_LOCACAO.COLO_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                @if (Model.LOCA_IN_STATUS == 4)
                                                {
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Tipo de Distrato de Locação
                                                        @Html.TextBoxFor(m => m.CONTRATO_LOCACAO1.COLO_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                                @if (Model.LOCA_IN_STATUS == 2)
                                                {
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Tipo de Formalização de Encerramento
                                                        @Html.TextBoxFor(m => m.CONTRATO_LOCACAO2.COLO_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                }
                                            </div>

                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data de Emissão
                                                    @Html.TextBoxFor(m => m.LOCA_DT_EMISSAO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data Inicial
                                                    @Html.TextBoxFor(m => m.LOCA_DT_INICIO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data Final
                                                    @Html.TextBoxFor(m => m.LOCA_DT_FINAL, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Quantidade
                                                    @Html.TextBoxFor(m => m.LOCA_IN_QUANTIDADE, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly"  })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Dia do Vencimento
                                                    @Html.TextBoxFor(m => m.LOCA_NR_DIA, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Número de Série
                                                    @Html.TextBoxFor(m => m.LOCA_NR_SERIE, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", data_toggle = "popover", data_content = "Número de série do equipamento objeto da locação", data_trigger="hover", data_placement="top" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Garantia
                                                    @Html.TextBoxFor(m => m.Garantia, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", data_toggle = "popover", data_content = "Indica se o equipamento está na garantia do fabricante", data_trigger="hover", data_placement="top" })
                                                </div>
                                                @if (Model.LOCA_IN_GARANTIA == 1)
                                                {
                                                    <div class="col-lg-2 col-md-2 col-xs-12" id="gar" >
                                                        Data da Garantia
                                                        @Html.TextBoxFor(m => m.LOCA_DT_GARANTIA, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @id = "dn1", data_toggle = "popover", data_content = "Data de encerramento da garantia do fabricante", data_trigger="hover", data_placement="top" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12" id="gar" >
                                                        Prazo da Garantia (Dias)
                                                        @Html.TextBoxFor(m => m.LOCA_NR_GARANTIA, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", data_toggle = "popover", data_content = "Tempo restante de garantia em meses", data_trigger="hover", data_placement="top" })
                                                    </div>
                                                }
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Número de Parcelas
                                                    @Html.TextBoxFor(m => m.NumParcelas, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Valor da Parcela (R$)
                                                    @Html.TextBoxFor(m => m.LOCA_VL_PARCELA, "{0:n2}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Parcela Atrasada (R$)
                                                    @Html.TextBoxFor(m => m.LOCA_VL_VALOR_ATRASO, "{0:n2}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Total da Locação (R$)
                                                    @Html.TextBoxFor(m => m.LOCA_VL_TOTAL, "{0:n2}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Parc.Quitadas
                                                    @Html.TextBoxFor(m => m.Quitadas, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Parc.Atrasadas
                                                    @Html.TextBoxFor(m => m.Atrasadas, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Título
                                                    @Html.TextBoxFor(m => m.LOCA_NM_TITULO, new { @class = "form-control", autofocus = true, @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Descrição
                                                    @Html.TextAreaFor(m => m.LOCA_DS_DESCRICAO, new { @class = "form-control", style = "width: 100%; height: 200px; overflow:auto;", autofocus = true, @id="desc", @tabindex = "-1", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            @if (Model.LOCA_IN_STATUS == 1)
                                            {
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                                        Comentários da Aprovação
                                                        @Html.TextAreaFor(m => m.LOCA_DS_ENTREGA, new { @class = "form-control", style = "width: 100%; height: 120px; overflow:auto;", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            }
                                            @if (Model.LOCA_IN_STATUS == 4)
                                            {
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                                        Justificativa do Cancelamento
                                                        @Html.TextAreaFor(m => m.LOCA_DS_JUSTIFICATIVA, new { @class = "form-control", style = "width: 100%; height: 120px; overflow:auto;", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            }
                                            @if (Model.LOCA_IN_STATUS == 2)
                                            {
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                                        Comentários do Encerramento
                                                        @Html.TextAreaFor(m => m.LOCA_DS_ENCERRA, new { @class = "form-control", style = "width: 100%; height: 120px; overflow:auto;", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            }
                                        </div>                                        
                                    }
                                </div>
                            </div>

                            @*Parcelas*@
                            <div id="tab-4" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Parcelas</h4>
                                                <br />
                                                @if (Model.LOCACAO_PARCELA.Where(p => p.LOPA_IN_ATIVO == 1).ToList().Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover dataTables-solicitacao">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th style="width: auto">Parcela</th>
                                                                <th style="width: auto">Título</th>
                                                                <th style="width: auto">Vencimento</th>
                                                                <th style="width: auto">Valor (R$)</th>
                                                                <th style="width: auto">Juros (R$)</th>
                                                                <th style="width: auto">Quitada</th>
                                                                <th style="width: auto">Atraso (dias)</th>
                                                                <th style="width: auto">Pagamento</th>
                                                                <th style="width: auto">Valor Pago (R$)</th>
                                                                <th style="width: auto">Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (Model.LOCACAO_PARCELA.Where(p => p.LOPA_IN_ATIVO == 1).OrderBy(p => p.LOPA_NR_PACELAS)))
                                                            {
                                                                <tr>
                                                                    <td style="width: auto">@cond.LOPA_NR_PACELAS</td>
                                                                    <td style="width: auto">@cond.LOPA_NM_PARCELAS</td>
                                                                    <td>
                                                                        <span style="display:none; width: auto">@cond.LOPA_DT_VENCIMENTO.Value.ToString("yyyyMMdd")</span>
                                                                        @cond.LOPA_DT_VENCIMENTO.Value.ToString("dd/MM/yyyy")
                                                                    </td>
                                                                    <td style="width: auto">@CrossCutting.Formatters.DecimalFormatter(cond.LOPA_VL_VALOR.Value)</td>
                                                                    @if (cond.LOPA_VL_JUROS > 0)
                                                                    {
                                                                        <td style="width: auto">@CrossCutting.Formatters.DecimalFormatter(cond.LOPA_VL_JUROS.Value)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="width: auto">0,00</td>
                                                                    }

                                                                    @if (cond.LOPA_IN_QUITADA == 1)
                                                                    {
                                                                        <td style="width: auto"><span class="badge badge-primary">Sim</span></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="width: auto"><span class="badge badge-warning">Não</span></td>
                                                                    }
                                                                    @if (cond.LOPA_IN_ATRASO > 0 & cond.LOPA_IN_QUITADA == 0)
                                                                    {
                                                                        <td style="width: auto"><span class="badge badge-primary">@cond.LOPA_IN_ATRASO.ToString()</span></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="width: auto">-</td>
                                                                    }
                                                                    @if (cond.LOPA_IN_QUITADA == 1)
                                                                    {
                                                                        <td>
                                                                            <span style="display:none; width: auto">@cond.LOPA_DT_PAGAMENTO.Value.ToString("yyyyMMdd")</span>
                                                                            @cond.LOPA_DT_PAGAMENTO.Value.ToString("dd/MM/yyyy")
                                                                        </td>
                                                                        <td style="width: auto">@CrossCutting.Formatters.DecimalFormatter(cond.LOPA_VL_VALOR_PAGO.Value)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="width: auto">-</td>
                                                                        <td style="width: auto">-</td>
                                                                    }
                                                                    @if (cond.LOPA_IN_ATRASO > 0 & cond.LOPA_IN_QUITADA == 0)
                                                                    {
                                                                        <td style="width: auto"><span class="badge badge-danger">Atrasada</span></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        if (cond.LOPA_IN_QUITADA == 1)
                                                                        {
                                                                            <td style="width: auto"><span class="badge badge-primary">Liquidada</span></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td style="width: auto"><span class="badge badge-warning">Em Aberto</span></td>
                                                                        }
                                                                    }
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-xs-2">

                                                        </div>
                                                        <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-6 col-md-6 col-xs-8">
                                                            <h2 style="font-weight: bold">Nenhuma parcela cadastrada para essa locação</h2>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-xs-2">

                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")

}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>    
    
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-loading1').on('click', function (e) {
            
                var $this = $(this);
                var tagName = $this.prop('tagName').toLowerCase();
                $this.addClass('disabled'); 
                $('#loadingIndicator').show();

                if (tagName === 'a') {
                    e.preventDefault();
                
                    var targetUrl = $this.attr('href');
                    window.location.href = targetUrl;
                
                } else if (tagName === 'button' || tagName === 'input') {               
                    $this.closest('form').submit();
                    $this.prop('disabled', true);
                }
            });
        });
    </script>

    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluirAnotacao(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary btn-loading" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão da Anotação?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }
        function ShowModalExcluirAnexo(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary btn-loading" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Anexo?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }
        function ShowModalExcluirOcorrencia(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary btn-loading" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Ocorrência?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Edição am andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}

