@using Presentation.Extensions
@using EntitiesServices.Model
@model ERP_Condominios_Solution.ViewModels.MedicoEnvioViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Medico - Envio";
    ViewBag.MetaDescription = "WebDoctor - Medico - Envio";
    ViewBag.MetaKeywords = "WebDoctor, medico, envio";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaMedico", "Medico")">Médicos</a>
            </li>
            <li>
                <a href="@Url.Action("EditarMedico", "Medico")">Médicos - Edição</a>
            </li>
            <li class="active">
                <strong>Médicos - Envio</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                        <h5>Médicos - Envio - Edição</h5>
                        <span style="color:green; font-weight: 500; font-size: 20px;">@ViewBag.NomeMedico</span>
                    </div>
                </div>
                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    @*@if (TempData["TemMensagem"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            <span>@TempData["MensagemAcerto"]</span>
                        </div>
                    }*@                    
                    <div class="form-group" style=" margin-left: 5px; margin-right: 5px;"> 
                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoMedico", controller: "Medico")
                        <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank">Ajuda</a>                
                    </div>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            @if ((Int32)Session["NivelEnvio"] == 1)
                            {
                                <li class="active"><a data-toggle="tab" href="#tab-1">Informações do Envio</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">Anexos</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3">Anotações</a></li>
                            }
                            @if ((Int32)Session["NivelEnvio"] == 2)
                            {
                                <li class=""><a data-toggle="tab" href="#tab-1">Informações do Envio</a></li>
                                <li class="active"><a data-toggle="tab" href="#tab-2">Anexos</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3">Anotações</a></li>
                            }
                            @if ((Int32)Session["NivelEnvio"] == 3)
                            {
                                <li class=""><a data-toggle="tab" href="#tab-1">Informações do Envio</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">Anexos</a></li>
                                <li class="active"><a data-toggle="tab" href="#tab-3">Anotações</a></li>
                            }
                        </ul>
                        <div class="tab-content">
                            @*Dados Gerais*@
                            @if ((Int32)Session["NivelEnvio"] == 1)
                            {
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        @using (Html.BeginForm("EditarEnvio", "Medico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="row">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Médico</h4>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Nome do Médico
                                                        @Html.TextBoxFor(m => m.MEDICOS.MEDC_NM_MEDICO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        CRM
                                                        @Html.TextBoxFor(m => m.MEDICOS.MEDC_NR_CRM, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        E-Mail
                                                        @Html.TextBoxFor(m => m.MEDICOS.MEDC_EM_EMAIL, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Paciente</h4>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Nome do Paciente
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data Nascimento
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                    @if (Model.PACIENTE.PACI_NR_CPF != null)
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            CPF
                                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CPF, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    }
                                                    @if (Model.PACIENTE.PACI_NR_CELULAR != null)
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Celular
                                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CELULAR, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    }
                                                    @if (Model.PACIENTE.PACI_NR_TELEFONE != null)
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Telefone
                                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_TELEFONE, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                            <div class="row" style="width: 100%;">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Informações do Envio</h4>
                                                <div class="form-group" style=" margin-left: 5px; margin-right: 5px;">                
                                                    @Html.ButtonActionSubmit(text: "Confirma edição deste Envio", htmlAttributes: new { id = "basictoast"})
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                                            @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                            @Html.HiddenFor(m => m.USUA_CD_ID)
                                                            @Html.HiddenFor(m => m.MEEV_IN_ATIVO)
                                                            @Html.HiddenFor(m => m.MEDC_CD_ID)
                                                            @Html.HiddenFor(m => m.MEEV_CD_ID)
                                                            @Html.HiddenFor(m => m.MEEV_DT_ENVIO)
                                                            @Html.HiddenFor(m => m.MEEV_GU_IDENTIFICADOR)
                                                            @Html.HiddenFor(m => m.TIEN_CD_ID)
                                                            @Html.HiddenFor(m => m.PACI_CD_ID)
                                                            Data
                                                            @Html.TextBoxFor(m => m.MEEV_DT_ENVIO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                                            Identificador
                                                            @Html.TextBoxFor(m => m.MEEV_GU_IDENTIFICADOR, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                                            Título do Envio*
                                                            @Html.TextBoxFor(m => m.MEEV_NM_TITULO, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Informe um nome que identifique esse envio", data_trigger="hover", data_placement="top" })
                                                            @Html.ValidationMessageFor(m => m.MEEV_NM_TITULO, "", new { @style = "color:red" })
                                                        </div>
                                                    </div>
                                                </div>
                                                @if((Int32)Session["BlocoAnamnese"] == 1)
                                                {
                                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                                Mensagem*
                                                                @Html.TextAreaFor(m => m.MEEV_TX_MENSAGEM, new { @class = "form-control", style = "width: 100%; height: 280px; overflow:auto;", autofocus = true, data_toggle = "popover", data_content = "Mensagem que será incluída no topo da mensagem que será gerada pelo WebDoctor", data_trigger="hover", data_placement="top" })
                                                                @Html.ValidationMessageFor(m => m.MEEV_TX_MENSAGEM, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                Pressão Positiva
                                                                @Html.TextBoxFor(m => m.MEEV_NR_PRESSAO_POSITIVA, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_NR_PRESSAO_POSITIVA, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                IAH
                                                                @Html.TextBoxFor(m => m.MEEV_IN_IAH, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_IN_IAH, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-xs-12">
                                                                Equipamento
                                                                @Html.TextBoxFor(m => m.MEEV_NM_EQUIPAMENTO, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_NM_EQUIPAMENTO, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                Máscara
                                                                @Html.TextBoxFor(m => m.MEEV_NM_MASCARA, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_NM_MASCARA, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                Período - Início
                                                                @Html.TextBoxFor(m => m.MEEV_DT_NOITE_INICIO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn1" })
                                                                @Html.ValidationMessageFor(m => m.MEEV_DT_NOITE_INICIO, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                Período - Final
                                                                @Html.TextBoxFor(m => m.MEEV_DT_NOITE_FINAL, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn2" })
                                                                @Html.ValidationMessageFor(m => m.MEEV_DT_NOITE_FINAL, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-3 col-md-33 col-xs-12">
                                                                Noites de não utilização
                                                                @Html.TextBoxFor(m => m.MEEV_IN_NUM_NOITES, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_IN_NUM_NOITES, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-4 col-md-4 col-xs-12">
                                                                Parâmetros de Pressão (cmH2O)
                                                                @Html.TextBoxFor(m => m.MEEV_NR_PARAM_PRESSAO, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_NR_PARAM_PRESSAO, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-xs-12">
                                                                Média de uso por noite (Horas)
                                                                @Html.TextBoxFor(m => m.MEEV_NR_MEDIA_USO, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_NR_MEDIA_USO, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-xs-12">
                                                                Perc. de noites de uso maior ou igual a 4 hs (%)
                                                                @Html.TextBoxFor(m => m.MEEV_NR_PARAM_PRESSAO, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_NR_PARAM_PRESSAO, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                IAH Residual
                                                                @Html.TextBoxFor(m => m.MEEV_NR_IAH_RESIDUAL, new { @class = "form-control", autofocus = true })
                                                                @Html.ValidationMessageFor(m => m.MEEV_NR_IAH_RESIDUAL, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                                Sintomas Clínicos
                                                                @Html.TextAreaFor(m => m.MEEV_DS_SINTOMAS, new { @class = "form-control", style = "width: 100%; height: 280px; overflow:auto;", autofocus = true })
                                                                @Html.ValidationMessageFor(m => m.MEEV_DS_SINTOMAS, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>                                        
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="tab-1" class="tab-pane">
                                    <div class="panel-body">
                                        @using (Html.BeginForm("EditarEnvio", "Medico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="row">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Médico</h4>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Nome do Médico
                                                        @Html.TextBoxFor(m => m.MEDICOS.MEDC_NM_MEDICO, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        CRM
                                                        @Html.TextBoxFor(m => m.MEDICOS.MEDC_NR_CRM, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        E-Mail
                                                        @Html.TextBoxFor(m => m.MEDICOS.MEDC_EM_EMAIL, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Paciente</h4>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Nome do Paciente
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NM_NOME, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data Nascimento
                                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                    </div>
                                                    @if (Model.PACIENTE.PACI_NR_CPF != null)
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            CPF
                                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CPF, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    }
                                                    @if (Model.PACIENTE.PACI_NR_CELULAR != null)
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Celular
                                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CELULAR, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    }
                                                    @if (Model.PACIENTE.PACI_NR_TELEFONE != null)
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Telefone
                                                            @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_TELEFONE, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                            <div class="row" style="width: 100%;">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Informações do Envio</h4>
                                                <div class="form-group" style=" margin-left: 5px; margin-right: 5px;">                
                                                    @Html.ButtonActionSubmit(text: "Confirma edição deste Envio", htmlAttributes: new { id = "basictoast"})
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                                            @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                            @Html.HiddenFor(m => m.USUA_CD_ID)
                                                            @Html.HiddenFor(m => m.MEEV_IN_ATIVO)
                                                            @Html.HiddenFor(m => m.MEDC_CD_ID)
                                                            @Html.HiddenFor(m => m.MEEV_CD_ID)
                                                            @Html.HiddenFor(m => m.MEEV_DT_ENVIO)
                                                            @Html.HiddenFor(m => m.MEEV_GU_IDENTIFICADOR)
                                                            @Html.HiddenFor(m => m.TIEN_CD_ID)
                                                            @Html.HiddenFor(m => m.PACI_CD_ID)
                                                            Data
                                                            @Html.TextBoxFor(m => m.MEEV_DT_ENVIO, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                                            Identificador
                                                            @Html.TextBoxFor(m => m.MEEV_GU_IDENTIFICADOR, new { @class = "form-control", @tabindex = "-1", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                                            Título do Envio*
                                                            @Html.TextBoxFor(m => m.MEEV_NM_TITULO, new { @class = "form-control", autofocus = true, data_toggle = "popover", data_content = "Informe um nome que identifique esse envio", data_trigger="hover", data_placement="top" })
                                                            @Html.ValidationMessageFor(m => m.MEEV_NM_TITULO, "", new { @style = "color:red" })
                                                        </div>
                                                    </div>
                                                </div>
                                                @if((Int32)Session["BlocoAnamnese"] == 1)
                                                {
                                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                                Mensagem*
                                                                @Html.TextAreaFor(m => m.MEEV_TX_MENSAGEM, new { @class = "form-control", style = "width: 100%; height: 280px; overflow:auto;", autofocus = true, data_toggle = "popover", data_content = "Mensagem que será incluída no topo da mensagem que será gerada pelo WebDoctor", data_trigger="hover", data_placement="top" })
                                                                @Html.ValidationMessageFor(m => m.MEEV_TX_MENSAGEM, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                Pressão Positiva
                                                                @Html.TextBoxFor(m => m.MEEV_NR_PRESSAO_POSITIVA, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_NR_PRESSAO_POSITIVA, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                IAH
                                                                @Html.TextBoxFor(m => m.MEEV_IN_IAH, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_IN_IAH, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-xs-12">
                                                                Equipamento
                                                                @Html.TextBoxFor(m => m.MEEV_NM_EQUIPAMENTO, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_NM_EQUIPAMENTO, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                Máscara
                                                                @Html.TextBoxFor(m => m.MEEV_NM_MASCARA, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_NM_MASCARA, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                Período - Início
                                                                @Html.TextBoxFor(m => m.MEEV_DT_NOITE_INICIO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn1" })
                                                                @Html.ValidationMessageFor(m => m.MEEV_DT_NOITE_INICIO, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                Período - Final
                                                                @Html.TextBoxFor(m => m.MEEV_DT_NOITE_FINAL, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn2" })
                                                                @Html.ValidationMessageFor(m => m.MEEV_DT_NOITE_FINAL, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-3 col-md-33 col-xs-12">
                                                                Noites de não utilização
                                                                @Html.TextBoxFor(m => m.MEEV_IN_NUM_NOITES, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_IN_NUM_NOITES, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-4 col-md-4 col-xs-12">
                                                                Parâmetros de Pressão (cmH2O)
                                                                @Html.TextBoxFor(m => m.MEEV_NR_PARAM_PRESSAO, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_NR_PARAM_PRESSAO, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-xs-12">
                                                                Média de uso por noite (Horas)
                                                                @Html.TextBoxFor(m => m.MEEV_NR_MEDIA_USO, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_NR_MEDIA_USO, "", new { @style = "color:red" })
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-xs-12">
                                                                Perc. de noites de uso maior ou igual a 4 hs (%)
                                                                @Html.TextBoxFor(m => m.MEEV_NR_PARAM_PRESSAO, new { @class = "form-control", autofocus = true})
                                                                @Html.ValidationMessageFor(m => m.MEEV_NR_PARAM_PRESSAO, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                IAH Residual
                                                                @Html.TextBoxFor(m => m.MEEV_NR_IAH_RESIDUAL, new { @class = "form-control", autofocus = true })
                                                                @Html.ValidationMessageFor(m => m.MEEV_NR_IAH_RESIDUAL, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                                Sintomas Clínicos
                                                                @Html.TextAreaFor(m => m.MEEV_DS_SINTOMAS, new { @class = "form-control", style = "width: 100%; height: 280px; overflow:auto;", autofocus = true })
                                                                @Html.ValidationMessageFor(m => m.MEEV_DS_SINTOMAS, "", new { @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>                                        
                                        }
                                    </div>
                                </div>
                            }

                            @*Anexos*@
                            @if ((Int32)Session["NivelEnvio"] == 2)
                            {
                                <div id="tab-2" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Anexos</h4>
                                                <br />
                                                <div class="form-group">
                                                    @using (Html.BeginForm("UploadFileEnvio", "Medico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "pwd-container2" }))
                                                    {
                                                            if (Model.MEDICOS_ENVIO_ANEXO.Count > 0)
                                                            {
                                                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                    <thead style="background-color:lightsteelblue">
                                                                        <tr>
                                                                            <th>Título</th>
                                                                            <th>Data</th>
                                                                            <th>Tipo</th>
                                                                            <th class="td-one-action">Ações</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var cond in (Model.MEDICOS_ENVIO_ANEXO.Where(p => p.MVAN_IN_ATIVO == 1).ToList()))
                                                                        {
                                                                            <tr>
                                                                                @if (cond.MVAN_IN_TIPO == 1 || cond.MVAN_IN_TIPO == 2)
                                                                                {
                                                                                    <td style="width: auto"><a href="@Url.Action("VerAnexoEnvio", "Medico", new { id = cond.MVAN_CD_ID })" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do anexo - Imagem/Vídeo "/>@cond.MVAN_NM_TITULO</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 4)
                                                                                {
                                                                                    <td style="width: auto"><a href="@Url.Action("VerAnexoEnvioAudio", "Medico", new { id = cond.MVAN_CD_ID })" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do anexo - Audio"/>@cond.MVAN_NM_TITULO</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 3)
                                                                                {
                                                                                    <td style="width: auto"><a href="~/PdfViewer/web/viewer.html?file=@(cond.MVAN_AQ_ARQUIVO.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do anexo - PDF"/>@cond.MVAN_NM_TITULO</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td style="width: auto">@cond.MVAN_NM_TITULO</td>
                                                                                }

                                                                                <td>@cond.MVAN_DT_ANEXO.Value.ToShortDateString()</td>
                                                                                @if (cond.MVAN_IN_TIPO == 1)
                                                                                {
                                                                                    <td>Imagem</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 2)
                                                                                {
                                                                                    <td>Vídeo</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 3)
                                                                                {
                                                                                    <td>PDF</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 4)
                                                                                {
                                                                                    <td>Audio</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 5)
                                                                                {
                                                                                    <td>Documento/Word</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 6)
                                                                                {
                                                                                    <td>Planilha/Excel</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td>Outros</td>
                                                                                }
                                                                                <td class="td-one-action">
                                                                                    @if (cond.MVAN_IN_TIPO == 1 || cond.MVAN_IN_TIPO == 2)
                                                                                    {
                                                                                        @Html.TableLinkDetails(cond.MVAN_CD_ID, "VerAnexoEnvio", "fa-video", "Visualizar")
                                                                                    }
                                                                                    @if (cond.MVAN_IN_TIPO == 4)
	                                                                                {
                                                                                        @Html.TableLinkDetails(cond.MVAN_CD_ID, "VerAnexoEnvioAudio","fa-volume-up", "Visualizar")
	                                                                                }
                                                                                    @if (cond.MVAN_IN_TIPO == 3)
                                                                                    {
                                                                                        <a title="Visualizar" class="fa fa-camera fa-lg" href="~/PdfViewer/web/viewer.html?file=@(cond.MVAN_AQ_ARQUIVO.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank"></a>
                                                                                    }
                                                                                    <span style="color: #337ab7; cursor:pointer;" alt="Desativar" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluirAnexo('/Medico/ExcluirAnexoEnvio/@cond.MVAN_CD_ID')" title="Excluir"></span>
                                                                                    @Html.TableLinkDetails(cond.MVAN_CD_ID, "DownloadEnvio", "fa-download", "Descarga (Download)")
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
                                                            <div class="form-group">
                                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                                    <input style="float: left; margin-right: 5px;" type="file" name="file" id="file" class="btn btn-sm btn-warning" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="ATENÇÃO - Antes de anexar arquivos certifique-se de que eles estejam livres de vírus e outras ameaças.  " />
                                                                    <input style="float: left; margin-right: 5px;" type="submit" value="Incluir Anexo" class="btn btn-sm btn-success" />
                                                                </div>
                                                            </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Anexos</h4>
                                                <br />
                                                <div class="form-group">
                                                    @using (Html.BeginForm("UploadFileEnvio", "Medico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "pwd-container2" }))
                                                    {
                                                            if (Model.MEDICOS_ENVIO_ANEXO.Count > 0)
                                                            {
                                                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                    <thead style="background-color:lightsteelblue">
                                                                        <tr>
                                                                            <th>Título</th>
                                                                            <th>Data</th>
                                                                            <th>Tipo</th>
                                                                            <th class="td-one-action">Ações</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var cond in (Model.MEDICOS_ENVIO_ANEXO.Where(p => p.MVAN_IN_ATIVO == 1).ToList()))
                                                                        {
                                                                            <tr>
                                                                                @if (cond.MVAN_IN_TIPO == 1 || cond.MVAN_IN_TIPO == 2)
                                                                                {
                                                                                    <td style="width: auto"><a href="@Url.Action("VerAnexoEnvio", "Medico", new { id = cond.MVAN_CD_ID })" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do anexo - Imagem/Vídeo "/>@cond.MVAN_NM_TITULO</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 4)
                                                                                {
                                                                                    <td style="width: auto"><a href="@Url.Action("VerAnexoEnvioAudio", "Medico", new { id = cond.MVAN_CD_ID })" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do anexo - Audio"/>@cond.MVAN_NM_TITULO</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 3)
                                                                                {
                                                                                    <td style="width: auto"><a href="~/PdfViewer/web/viewer.html?file=@(cond.MVAN_AQ_ARQUIVO.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do anexo - PDF"/>@cond.MVAN_NM_TITULO</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td style="width: auto">@cond.MVAN_NM_TITULO</td>
                                                                                }

                                                                                <td>@cond.MVAN_DT_ANEXO.Value.ToShortDateString()</td>
                                                                                @if (cond.MVAN_IN_TIPO == 1)
                                                                                {
                                                                                    <td>Imagem</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 2)
                                                                                {
                                                                                    <td>Vídeo</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 3)
                                                                                {
                                                                                    <td>PDF</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 4)
                                                                                {
                                                                                    <td>Audio</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 5)
                                                                                {
                                                                                    <td>Documento/Word</td>
                                                                                }
                                                                                else if (cond.MVAN_IN_TIPO == 6)
                                                                                {
                                                                                    <td>Planilha/Excel</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td>Outros</td>
                                                                                }
                                                                                <td class="td-one-action">
                                                                                    @if (cond.MVAN_IN_TIPO == 1 || cond.MVAN_IN_TIPO == 2)
                                                                                    {
                                                                                        @Html.TableLinkDetails(cond.MVAN_CD_ID, "VerAnexoEnvio", "fa-camera", "Visualizar")
                                                                                    }
                                                                                    @if (cond.MVAN_IN_TIPO == 4)
	                                                                                {
                                                                                        @Html.TableLinkDetails(cond.MVAN_CD_ID, "VerAnexoEnvioAudio","fa-volume-up", "Visualizar")
	                                                                                }
                                                                                    @if (cond.MVAN_IN_TIPO == 3)
                                                                                    {
                                                                                        <a title="Visualizar" class="fa fa-camera fa-lg" href="~/PdfViewer/web/viewer.html?file=@(cond.MVAN_AQ_ARQUIVO.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank"></a>
                                                                                    }
                                                                                    <span style="color: #337ab7; cursor:pointer;" alt="Desativar" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluirAnexo('/Medico/ExcluirAnexoEnvio/@cond.MVAN_CD_ID')" title="Excluir"></span>
                                                                                    @Html.TableLinkDetails(cond.MVAN_CD_ID, "DownloadEnvio", "fa-download", "Descarga (Download)")
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
                                                            <div class="form-group">
                                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                                    <input style="float: left; margin-right: 5px;" type="file" name="file" id="file" class="btn btn-sm btn-warning" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="ATENÇÃO - Antes de anexar arquivos certifique-se de que eles estejam livres de vírus e outras ameaças.  " />
                                                                    <input style="float: left; margin-right: 5px;" type="submit" value="Incluir Anexo" class="btn btn-sm btn-success" />
                                                                </div>
                                                            </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @*Anotações*@
                            @if ((Int32)Session["NivelEnvio"] == 3)
                            {
                                <div id="tab-3" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Anotações</h4>
                                                @if (Model.MEDICOS_ENVIO_ANOTACAO.Where(p => p.MEAT_IN_ATIVO == 1).ToList().Count > 0)
                                                {
                                                    foreach (var item in (Model.MEDICOS_ENVIO_ANOTACAO.Where(p => p.MEAT_IN_ATIVO == 1)).OrderByDescending(a => a.MEAT_DT_ANOTACAO))
                                                    {
                                                        <div class="social-feed-box">
                                                            <div class="social-avatar">
                                                                <a href="" class="pull-left">
                                                                    <img src="@Url.Content(item.USUARIO.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 110px; max-width: 90px;">
                                                                </a>
                                                                <span style="color: #337ab7; cursor:pointer;" alt="Excluir" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluirAnotacao('/<Medico/ExcluirAnotacaoEnvio/@item.MEAT_CD_ID')" title="Excluir Anotação"></span>
                                                                <div class="media-body">
                                                                    <a href="@Url.Action("EditarAnotacaoEnvio", "Medico", new { id = item.MEAT_CD_ID })" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abre a página de edição da anotação" >
                                                                        @item.USUARIO.USUA_NM_NOME
                                                                    </a>
                                                                    <small class="text-muted">@item.MEAT_DT_ANOTACAO.Value.ToString("dd/MM/yyyy HH:mm")</small>
                                                                </div>
                                                            </div>
                                                            <div class="social-body">
                                                                <p>
                                                                    <span style="white-space: pre-wrap;">@item.MEAT_TX_ANOTACAO</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            @Html.ButtonLinkIndex(text: "Incluir Nova Anotação", action: "IncluirAnotacaoEnvio", controller: "Medico")
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="tab-3" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Anotações</h4>
                                                @if (Model.MEDICOS_ENVIO_ANOTACAO.Where(p => p.MEAT_IN_ATIVO == 1).ToList().Count > 0)
                                                {
                                                    foreach (var item in (Model.MEDICOS_ENVIO_ANOTACAO.Where(p => p.MEAT_IN_ATIVO == 1)).OrderByDescending(a => a.MEAT_DT_ANOTACAO))
                                                    {
                                                        <div class="social-feed-box">
                                                            <div class="social-avatar">
                                                                <a href="" class="pull-left">
                                                                    <img src="@Url.Content(item.USUARIO.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 110px; max-width: 90px;">
                                                                </a>
                                                                <span style="color: #337ab7; cursor:pointer;" alt="Excluir" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluirAnotacao('/<Medico/ExcluirAnotacaoEnvio/@item.MEAT_CD_ID')" title="Excluir Anotação"></span>
                                                                <div class="media-body">
                                                                    <a href="@Url.Action("EditarAnotacaoEnvio", "Medico", new { id = item.MEAT_CD_ID })" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Abre a página de edição da anotação" >
                                                                        @item.USUARIO.USUA_NM_NOME
                                                                    </a>
                                                                    <small class="text-muted">@item.MEAT_DT_ANOTACAO.Value.ToString("dd/MM/yyyy HH:mm")</small>
                                                                </div>
                                                            </div>
                                                            <div class="social-body">
                                                                <p>
                                                                    <span style="white-space: pre-wrap;">@item.MEAT_TX_ANOTACAO</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            @Html.ButtonLinkIndex(text: "Incluir Nova Anotação", action: "IncluirAnotacaoEnvio", controller: "Medico")
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")

        <style>
        /* 1. Aumenta a largura e garante o espaço interno */
        #toast-container > .toast {
            width: 500px !important; 
            max-width: 500px !important;
            opacity: 0.95 !important;
        }

        /* 2. Remove o ícone nativo do Toastr (Background Image) */
        #toast-container > .toast-success {
            background-image: none !important;
        }

        /* 3. Remove ícones do FontAwesome/Inspinia injetados via ::before no Título */
        .toast-success .toast-title::before, 
        .toast-success .toast-title::after,
        .toast-success::before {
            content: none !important;
            display: none !important;
        }

        /* 4. Ajusta o recuo do texto já que removemos o ícone */
        .toast-success .toast-title, 
        .toast-success .toast-message {
            padding-left: 10px !important;
        }
    </style>


}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>    
    
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>
    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluirAnotacao(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão da Anotação?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }
        function ShowModalExcluirAnexo(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Anexo?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Edição am andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Configurações globais do Toastr
            toastr.options = {
                "closeButton": true,
                //"debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "15000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            //    "iconClass": "customer-toast-info", // Se quiser remover o ícone padrão totalmente
            //    "titleClass": "toast-title",
            //    "messageClass": "toast-message"
            };

            // Verifica se existe mensagem de sucesso no TempData (vinda do Redirect)
            var msgSucesso = '@TempData["MensagemAcerto"]';
            if (msgSucesso != '') {
                toastr.success(msgSucesso, 'Sucesso!');
            }

            // Verifica se existe mensagem de erro
            var msgErro = '@TempData["MensagemErro"]';
            if (msgErro != '') {
                toastr.error(msgErro, 'Erro!');
            }
        });
    </script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}

