@using Presentation.Extensions
@using CrossCutting;
@model EntitiesServices.Model.PACIENTE_CONSULTA
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Paciente - Consulta";
    ViewBag.MetaDescription = "WebDoctor - Paciente - Consulta - Lista de consultas";
    ViewBag.MetaKeywords = "WebDoctor, paciente, consulta";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*Titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaMarcacaoConsulta", "Paciente2")">Consulta - Marcação</a>
            </li>
            <li class="active">
                <strong>Marcação de Consultas</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                </div>

                @using (Html.BeginForm("FiltrarConsultaGeral", "Paciente2", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Tipo de Consulta
                                @Html.DropDownListFor(m => m.VACO_CD_ID, (SelectList)ViewBag.TipoConsulta, "Selecionar", new { @class = "form-control" })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Nome do Paciente
                                @Html.TextBoxFor(m => m.PACO_TX_RESUMO, new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data Inicial
                                @Html.TextBoxFor(m => m.PACO_DT_DUMMY, new { @class = "form-control date-picker", autofocus = true, @id = "dn" })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data Final
                                @Html.TextBoxFor(m => m.PACO_DT_PROXIMA, new { @class = "form-control date-picker", autofocus = true, @id = "dn1" })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Profissional
                                @Html.DropDownListFor(m => m.USUA_CD_ID, (SelectList)ViewBag.Usuario, "Selecionar", new { @class = "form-control", autofocus = true})
                                @Html.ValidationMessageFor(m => m.USUA_CD_ID, "", new { @style = "color:red" })
                            </div>
                        </div>

                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                @Html.ButtonActionSubmit(text: "Filtrar")
                                @Html.ButtonLinkIndex(text: "Nova Consulta", controller: "Paciente2", action: "IncluirConsultaGeral", buttonClass: "primary")
                                @Html.ButtonLinkIndex(text: "Consultas de Hoje", controller: "Paciente2", action: "VerConsultaGeralHoje")
                                @Html.ButtonLinkIndex(text: "Consultas do Mês", controller: "Paciente2", action: "VerConsultaGeralMes")
                                @Html.ButtonLinkIndex(text: "Consultas Futuras", controller: "Paciente2", action: "VerConsultaGeralFuturas")
                                @Html.ButtonLinkIndex(text: "Consultas Anteriores", controller: "Paciente2", action: "VerConsultaGeralAnteriores")
                                @Html.ButtonLinkIndex(text: "Ver Calendário", controller: "Paciente2", action: "VerCalendarioConsultaGeral")
                                @Html.ButtonLinkIndex(text: "Imprimir Lista", controller: "Paciente2", action: "GerarRelatorioConsultaGeral")
                                @Html.ButtonLinkIndex(text: "Voltar", controller: "Paciente2", action: "MontarTelaMarcacaoConsulta")
                                <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank">Ajuda</a>              
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Marcação de Consultas</h5>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <h3 style="margin-left: -15px; color:green; background-color: beige; font-weight:bold">@ViewBag.Nome</h3>
                    <div class="row">
                        @if (ViewBag.Listas != null &&(ViewBag.Listas as List<EntitiesServices.Model.PACIENTE_CONSULTA>).Count > 0)
                        {
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead style="background-color:lightsteelblue">
                                    <tr>
                                        <th style="width: auto">Data da Consulta</th>
                                        <th style="width: auto">Hora de Início</th>
                                        <th style="width: auto">Hora de Término</th>
                                        <th style="width: auto">Nome do Paciente </th>
                                        <th style="width: auto">Tipo de Consulta</th>
                                        <th style="width: auto">Situação</th>
                                        <th style="width: auto">Profissional</th>
                                        <th class="td-one-action">Ações</th>
                                        <th style="width: 0.01px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.PACIENTE_CONSULTA>).OrderByDescending(p => p.PACO_DT_CONSULTA.Date).ThenBy(p => p.PACO_HR_INICIO))
                                    {   
                                        if (cond.PACO_DT_CONSULTA > DateTime.Today.Date)
                                        {
                                            <tr  style="background-color: aliceblue">
                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PACIENTE_CONSULTA_ALTERAR == 1)
                                                {
                                                    if (cond.PACO_DT_CONSULTA.Date >= DateTime.Today.Date & cond.PACO_IN_CONFIRMADA < 2)
                                                    {
                                                        <td style="width: auto"><a href="@Url.Action("EditarConsultaCompleta", "Paciente2", new { id = cond.PACO_CD_ID })" />@cond.PACO_DT_CONSULTA.ToShortDateString()</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="width: auto"><a href="@Url.Action("VerConsultaCompleta", "Paciente2", new { id = cond.PACO_CD_ID })" />@cond.PACO_DT_CONSULTA.ToShortDateString()</td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td style="width: auto"><a href="@Url.Action("VerConsultaCompleta", "Paciente2", new { id = cond.PACO_CD_ID })" />@cond.PACO_DT_CONSULTA.ToShortDateString()</td>
                                                }
                                                <td style="width: auto">@cond.PACO_HR_INICIO.ToString()</td>
                                                <td style="width: auto">@cond.PACO_HR_FINAL.ToString()</td>
                                                <td style="width: auto">@cond.PACIENTE.PACI_NM_NOME</td>
                                                @if (cond.PACO_IN_TIPO == 1)
                                                {
                                                    <td style="width: auto"><span class="badge badge-primary">Presencial</span></td>
                                                }
                                                else
                                                {
                                                    <td style="width: auto"><span class="badge badge-success">Remota</span></td>
                                                }
                                                @if (cond.PACO_IN_CONFIRMADA == 1)
                                                {
                                                    <td style="width: auto"><span class="badge badge-primary">Confirmada</span></td>
                                                }
                                                else if (cond.PACO_IN_CONFIRMADA == 2)
                                                {
                                                    <td style="width: auto"><span class="badge badge-warning">Cancelada</span></td>
                                                }
                                                else
                                                {
                                                    <td style="width: auto"><span class="badge badge-warning">Pendente</span></td>
                                                }
                                                <td style="width: auto; color: green; font-weight: bold">@cond.USUARIO.USUA_NM_NOME</td>
                                                <td style="width: auto" class="td-one-action">
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PACIENTE_CONSULTA_ALTERAR == 1)
                                                    {
                                                        if (cond.PACO_DT_CONSULTA.Date >= DateTime.Today.Date & cond.PACO_IN_CONFIRMADA < 2)
                                                        {
                                                            @Html.TableLinkDetails(cond.PACO_CD_ID, "EditarConsultaCompleta", "fa-edit", "Editar")
                                                        }
                                                        else
                                                        {
                                                            @Html.TableLinkDetails(cond.PACO_CD_ID, "VerConsultaCompleta", "fa-search", "Ver")
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @Html.TableLinkDetails(cond.PACO_CD_ID, "VerConsultaCompleta", "fa-search", "Ver")
                                                    }
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PACIENTE_CONSULTA_EXCLUIR == 1)
                                                    {
                                                        if (cond.PACO_IN_ATIVO == 1)
                                                        {
                                                            if (cond.PACO_DT_CONSULTA.Date > DateTime.Today.Date)
                                                            {
                                                                <span style="color: #337ab7; cursor:pointer;" alt="Desativar" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluirConsulta('/Paciente2/ExcluirConsulta/@cond.PACO_CD_ID')" title="Excluir"></span>
                                                            }
                                                        }
	                                                }
                                                </td>
                                                <td style="width: 0.05px"></td>
                                            </tr>
                                        }
                                        else if (cond.PACO_DT_CONSULTA < DateTime.Today.Date)
                                        {
                                            <tr style="background-color: floralwhite">
                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PACIENTE_CONSULTA_ALTERAR == 1)
                                                {
                                                    if (cond.PACO_DT_CONSULTA.Date >= DateTime.Today.Date & cond.PACO_IN_CONFIRMADA < 2)
                                                    {
                                                        <td style="width: auto"><a href="@Url.Action("EditarConsultaCompleta", "Paciente2", new { id = cond.PACO_CD_ID })" />@cond.PACO_DT_CONSULTA.ToShortDateString()</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="width: auto"><a href="@Url.Action("VerConsultaCompleta", "Paciente2", new { id = cond.PACO_CD_ID })" />@cond.PACO_DT_CONSULTA.ToShortDateString()</td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td style="width: auto"><a href="@Url.Action("VerConsultaCompleta", "Paciente2", new { id = cond.PACO_CD_ID })" />@cond.PACO_DT_CONSULTA.ToShortDateString()</td>
                                                }
                                                <td style="width: auto">@cond.PACO_HR_INICIO.ToString()</td>
                                                <td style="width: auto">@cond.PACO_HR_FINAL.ToString()</td>
                                                <td style="width: auto">@cond.PACIENTE.PACI_NM_NOME</td>
                                                @if (cond.PACO_IN_TIPO == 1)
                                                {
                                                    <td style="width: auto"><span class="badge badge-primary">Presencial</span></td>
                                                }
                                                else
                                                {
                                                    <td style="width: auto"><span class="badge badge-success">Remota</span></td>
                                                }
                                                @if (cond.PACO_IN_CONFIRMADA == 1)
                                                {
                                                    <td style="width: auto"><span class="badge badge-primary">Confirmada</span></td>
                                                }
                                                else if (cond.PACO_IN_CONFIRMADA == 2)
                                                {
                                                    <td style="width: auto"><span class="badge badge-warning">Cancelada</span></td>
                                                }
                                                else
                                                {
                                                    <td style="width: auto"><span class="badge badge-warning">Pendente</span></td>
                                                }
                                                <td style="width: auto; color: green; font-weight: bold">@cond.USUARIO.USUA_NM_NOME</td>
                                                <td style="width: auto" class="td-one-action">
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PACIENTE_CONSULTA_ALTERAR == 1)
                                                    {
                                                        if (cond.PACO_DT_CONSULTA.Date >= DateTime.Today.Date & cond.PACO_IN_CONFIRMADA < 2)
                                                        {
                                                            @Html.TableLinkDetails(cond.PACO_CD_ID, "EditarConsultaCompleta", "fa-edit", "Editar")
                                                        }
                                                        else
                                                        {
                                                            @Html.TableLinkDetails(cond.PACO_CD_ID, "VerConsultaCompleta", "fa-search", "Ver")
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @Html.TableLinkDetails(cond.PACO_CD_ID, "VerConsultaCompleta", "fa-search", "Ver")
                                                    }
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PACIENTE_CONSULTA_EXCLUIR == 1)
                                                    {
                                                        if (cond.PACO_IN_ATIVO == 1)
                                                        {
                                                            if (cond.PACO_DT_CONSULTA.Date > DateTime.Today.Date)
                                                            {
                                                                <span style="color: #337ab7; cursor:pointer;" alt="Desativar" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluirConsulta('/Paciente2/ExcluirConsulta/@cond.PACO_CD_ID')" title="Excluir"></span>
                                                            }
                                                        }
	                                                }
                                                </td>
                                                <td style="width: 0.05px"></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PACIENTE_CONSULTA_ALTERAR == 1)
                                                {
                                                    if (cond.PACO_DT_CONSULTA.Date >= DateTime.Today.Date & cond.PACO_IN_CONFIRMADA < 2)
                                                    {
                                                        <td style="width: auto"><a href="@Url.Action("EditarConsultaCompleta", "Paciente2", new { id = cond.PACO_CD_ID })" />@cond.PACO_DT_CONSULTA.ToShortDateString()</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="width: auto"><a href="@Url.Action("VerConsultaCompleta", "Paciente2", new { id = cond.PACO_CD_ID })" />@cond.PACO_DT_CONSULTA.ToShortDateString()</td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td style="width: auto"><a href="@Url.Action("VerConsultaCompleta", "Paciente2", new { id = cond.PACO_CD_ID })" />@cond.PACO_DT_CONSULTA.ToShortDateString()</td>
                                                }
                                                <td style="width: auto">@cond.PACO_HR_INICIO.ToString()</td>
                                                <td style="width: auto">@cond.PACO_HR_FINAL.ToString()</td>
                                                <td style="width: auto">@cond.PACIENTE.PACI_NM_NOME</td>
                                                @if (cond.PACO_IN_TIPO == 1)
                                                {
                                                    <td style="width: auto"><span class="badge badge-primary">Presencial</span></td>
                                                }
                                                else
                                                {
                                                    <td style="width: auto"><span class="badge badge-success">Remota</span></td>
                                                }
                                                @if (cond.PACO_IN_CONFIRMADA == 1)
                                                {
                                                    <td style="width: auto"><span class="badge badge-primary">Confirmada</span></td>
                                                }
                                                else if (cond.PACO_IN_CONFIRMADA == 2)
                                                {
                                                    <td style="width: auto"><span class="badge badge-warning">Cancelada</span></td>
                                                }
                                                else
                                                {
                                                    <td style="width: auto"><span class="badge badge-warning">Pendente</span></td>
                                                }
                                                <td style="width: auto; color: green; font-weight: bold">@cond.USUARIO.USUA_NM_NOME</td>
                                                <td style="width: auto" class="td-one-action">
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PACIENTE_CONSULTA_ALTERAR == 1)
                                                    {
                                                        if (cond.PACO_DT_CONSULTA.Date >= DateTime.Today.Date & cond.PACO_IN_CONFIRMADA < 2)
                                                        {
                                                            @Html.TableLinkDetails(cond.PACO_CD_ID, "EditarConsultaCompleta", "fa-edit", "Editar")
                                                        }
                                                        else
                                                        {
                                                            @Html.TableLinkDetails(cond.PACO_CD_ID, "VerConsultaCompleta", "fa-search", "Ver")
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @Html.TableLinkDetails(cond.PACO_CD_ID, "VerConsultaCompleta", "fa-search", "Ver")
                                                    }
                                                    @if (((EntitiesServices.Model.PERFIL)Session["PerfilUsuario"]).PERF_IN_PACIENTE_CONSULTA_EXCLUIR == 1)
                                                    {
                                                        if (cond.PACO_IN_ATIVO == 1)
                                                        {
                                                            if (cond.PACO_DT_CONSULTA.Date > DateTime.Today.Date)
                                                            {
                                                                <span style="color: #337ab7; cursor:pointer;" alt="Desativar" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluirConsulta('/Paciente2/ExcluirConsulta/@cond.PACO_CD_ID')" title="Excluir"></span>
                                                            }
                                                        }
	                                                }
                                                </td>
                                                <td style="width: 0.05px"></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-xs-2">
                                </div>
                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-8 col-md-8 col-xs-12">
                                    <h2 style="font-weight: bold">Sua pesquisa não retornou nenhum resultado ou nenhuma consulta cadastrada</h2>
                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Paciente2", action: "VerConsultaHGeralHoje")
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-2">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/toastrStyles")

}
@section Scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sweetAlert")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script> 
   
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#dn").mask("99/99/9999");
            $("#dn1").mask("99/99/9999");
        });
    </script>

    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluirConsulta(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Consulta?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }
        function ShowModalConfirmar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma Consulta?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Consulta</h5>');
            $('#modal').modal('show');
        }
        function ShowModalCancelar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Cancelar Consulta?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Consulta</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'Consulta_Planilha' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]
            });         
        });
    </script>
    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

