@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.PacienteAnamneseViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Paciente - Anamnese  - Visualização";
    ViewBag.MetaDescription = "WebDoctor - Paciente - Anamnese - Visualização de anamnese do paciente";
    ViewBag.MetaKeywords = "WebDoctor, paciente, anamnese";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("VoltarProcederConsulta", "Paciente")">Consulta - Procedimento</a>
            </li>
            <li class="active">
                <strong>Anamneses - Visualização</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                        <h5>Anamnese - Consulta</h5>
                        <span style="color:green; font-weight: 500; font-size: 20px;">@Model.PACIENTE.PACI_NM_NOME.ToUpper()</span>
                    </div>
                </div>
                @using (Html.BeginForm("VerAnamneseCompletaSono", "Paciente2", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "Erros Encontrados:", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="form-group">
                            @Html.ButtonLinkIndex(text: "Imprimir Anamnese", action: "GerarAnamnesePDFNovaSono", controller: "Paciente2")
                            @if ((Int32)Session["VoltarAnamnese"] == 1)
                            {
                                @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoPaciente", controller: "Paciente", htmlAttributes: new { @class = "btn-loading" })
                            }
                            else
                            {
                                @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarProcederConsulta", controller: "Paciente", htmlAttributes: new { @class = "btn-loading" })
                            }
                            <span id="loadingIndicator" style="display: none; margin-left: 10px; color: #007bff;">
                                <i class="fa fa-spinner fa-spin"></i> Processando...
                            </span>
                        </div>

                        @*Paciente*@
                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Paciente</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Nome do Paciente
                                    @Html.TextBoxFor(m => m.PACIENTE.PACI_NM_NOME, new { @class = "form-control", @readonly = "readonly", @style = "color: green; font-weight: bold" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data Nascimento
                                    @Html.TextBoxFor(m => m.PACIENTE.PACI_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                @if (Model.PACIENTE.PACI_NR_CPF != null)
                                {
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        CPF
                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CPF, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                }
                                @if (Model.PACIENTE.PACI_NR_CELULAR != null)
                                {
                                    <div class="col-lg-2 col-md-1 col-xs-12">
                                        Celular
                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_CELULAR, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                }
                                @if (Model.PACIENTE.PACI_NR_TELEFONE != null)
                                {
                                    <div class="col-lg-2 col-md-1 col-xs-12">
                                        Telefone
                                        @Html.TextBoxFor(m => m.PACIENTE.PACI_NR_TELEFONE, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Consulta</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data da Consulta
                                    @Html.TextBoxFor(m => m.PACO_DT_CONSULTA, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", @style = "color: darkblue; font-weight: bold" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Tipo de Consulta
                                    @Html.TextBoxFor(m => m.TipoConsulta, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Anamnese Completa</h4>
                            @*<div class="col-lg-12 col-md-12 col-xs-12">*@
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        @Html.TextAreaFor(m => m.PAAM_TX_COMPLETA, new { @class = "form-control", style = "width: 100%; height: 800px; overflow:auto;", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: 0px; margin-right: 0px;">                
                                    @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarProcederConsulta", controller: "Paciente", htmlAttributes: new { @class = "btn-loading" })
                                </div>
                            @*</div>*@
                        </div>
                    </div>
                }
            </div>
         </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () { 
            $('.btn-loading').on('click', function (e) {            
                $(this).prop('disabled', true);
                $(this).addClass('disabled');
                $('#loadingIndicator').show();
                var tagName = $(this).prop('tagName').toLowerCase();
                if (tagName === 'a') {
                    e.preventDefault(); 
                    var targetUrl = $(this).attr('href');
                    window.location.href = targetUrl;

                } else if (tagName === 'button' || tagName === 'input') {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Edição em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                        + shortCutFunction
                        + "](\""
                        + msg
                        + (title ? "\", \"" + title : '')
                        + "\")\n\ntoastr.options = "
                        + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
