@using Presentation.Extensions
@model EntitiesServices.Model.PACIENTE_FICHA
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Paciente - Ficha";
    ViewBag.MetaDescription = "WebDoctor - Paciente - Ficha - Visualização dda ficha do paciente";
    ViewBag.MetaKeywords = "WebDoctor, paciente, ficha";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("EditarPaciente", "Paciente")">Pacientes - Edição</a>
            </li>
            <li class="active">
                <strong>Pacientes - Fichas</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                       <h5>Paciente - Ficha</h5>
                        <span style="color:green; font-weight: 500; font-size: 20px;">@ViewBag.NomePaciente</span>
                    </div>
                </div>
                @using (Html.BeginForm("VerFichaPaciente", "Paciente2", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                {
                    <div class="ibox-content">
                        <div class="form-group">
                            @if ((Int32)Session["VoltaAnexo"] == 1)
                            {
                                @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoPaciente", controller: "Paciente")
                            }
                            else
                            {
                                @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarVerAnexoPaciente", controller: "Paciente")
                            }
                        </div>
                        <div class="row">
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    Nome da Ficha
                                    @Html.TextBoxFor(m => m.PAFC_NM_TITULO, new { @class = "form-control", @readonly = "readonly"})
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data de Inclusão
                                    @Html.TextBoxFor(m => m.PAFC_DT_FICHA, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly"})
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @if (Model.PAFC_IN_TIPO == 1)
                            {
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold;">Clique na imagem para ampliar</h4>
                                        <a href="@Url.Content(Model.PAFC_AQ_ARQUIVO)" target="_blank"><img src="@Url.Content(Model.PAFC_AQ_ARQUIVO)" style="width: auto; height: auto; max-height: 1530px; max-width: 1530px;"></a>
                                    </div>
                                </div>
                            }
                            @if (Model.PAFC_IN_TIPO == 2)
                            {
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <figure>
                                        <iframe width="900" height="600" src="@Url.Content(Model.PAFC_AQ_ARQUIVO)" frameborder="0" allowfullscreen></iframe>
                                    </figure>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}
@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/videoResponsible")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script type="text/javascript">
        $(document).on('webkitfullscreenchange mozfullscreenchange fullscreenchange', function (e) {
            $('body').hasClass('fullscreen-video') ? $('body').removeClass('fullscreen-video') : $('body').addClass('fullscreen-video')
        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
