@using Presentation.Extensions
@using CrossCutting;
@model EntitiesServices.Model.AVISO_LEMBRETE
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Avisos";
    ViewBag.MetaDescription = "WebDoctor - Lista de Avisos";
    ViewBag.MetaKeywords = "WebDoctor, Avisos";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*Titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("ProcederConsulta", "Paciente")">Consultas - Proceder</a>
            </li>
            <li class="active">
                <strong>Consultas - Prévias</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    @Html.ButtonLinkIndex(text: "Voltar", controller: "Paciente", action: "ProcederConsulta")
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12">
                       <h5>Paciente - Informações Prévias</h5>
                        <span style="color:green; font-weight: 500; font-size: 20px;">@ViewBag.NomePaciente</span>
                    </div>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="row">
                        @if (ViewBag.Listas != null &&(ViewBag.Listas as List<EntitiesServices.Model.AVISO_LEMBRETE>).Count > 0)
                        {
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead style="background-color:lightsteelblue">
                                    <tr>
                                        <th style="width: auto">Data de Aviso</th>
                                        <th style="width: auto">Título</th>
                                        <th style="width: auto">Data de Criação</th>
                                        <th style="width: auto">Paciente</th>
                                        <th class="td-one-action">Ações</th>
                                        <th style="width: 0.01px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.AVISO_LEMBRETE>).OrderByDescending(p => p.AVIS_DT_AVISO.Value.Date).ThenBy(p => p.AVIS_NM_TITULO))
                                    {   
                                        <tr>
                                            <td style="width: auto">@cond.AVIS_DT_AVISO.Value.ToShortDateString()</td>                                                
                                            <td style="width: auto"><a href="@Url.Action("VerAvisoPrevia", "Paciente2", new { id = cond.AVIS_CD_ID })"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Acessar a página de visualização do aviso"/>@cond.AVIS_NM_TITULO</td>
                                            <td style="width: auto">@cond.AVIS_DT_CRIACAO.Value.ToShortDateString()</td>                                                
                                            @if (cond.PACIENTE != null)
                                            {
                                                <td style="width: auto">@cond.PACIENTE.PACI_NM_NOME</td>
                                            }
                                            else
                                            {
                                                <td style="width: auto">-</td>
                                            }
                                            <td style="width: auto" class="td-one-action">
                                                @Html.TableLinkDetails(cond.AVIS_CD_ID, "VerAvisoPrevia", "fa-search", "Ver Aviso")
                                            </td>
                                            <td style="width: 0.05px"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-xs-2">
                                </div>
                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-6 col-md-6 col-xs-12">
                                    <h2 style="font-weight: bold">´Nenhum aviso para esse paciente</h2>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-2">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")

}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
   
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'Aviso_Planilha' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]
            });         
        });
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

