@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.AssinanteViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Assinantes</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaDashboardAssinante", "BaseAdmin")">Dashboard - Assinantes</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaAssinante", "Assinante")">Assinantes</a>
            </li>
            <li class="active">
                <strong>Assinantes - Inclusão</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Assinante - Inclusão</h5>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "Erros de Crítica Encontrados:", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="tabs-container">
                        @using (Html.BeginForm("IncluirAssinante", "Assinante", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                        {

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Dados Gerais</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">Anexos</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3">Endereços</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-5">Contatos</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-7">Observações</a></li>
                            </ul>
                            <div class="form-group">
                                <br />
                                @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;" })
                                <button style="margin-left: 15px;" class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirma inclusão de Assinante</button>
                                @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBaseAssinante", controller: "Assinante")
                            </div>
                            <div class="tab-content">
                                @*Dados Gerais*@
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    @Html.HiddenFor(m => m.ASSI_DT_INICIO)
                                                    @Html.HiddenFor(m => m.ASSI_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.ASSI_IN_TIPO)
                                                    @Html.HiddenFor(m => m.ASSI_IN_STATUS)
                                                    @Html.HiddenFor(m => m.ASSI_IN_BLOQUEADO)
                                                    Tipo de Pessoa*
                                                    @Html.DropDownListFor(m => m.TIPE_CD_ID, (SelectList)ViewBag.TiposPessoa, "Selecionar", new { @class = "form-control", autofocus = true, @id = "pessoa", onchange = "ValidaDiv($(this).val())" })
                                                    @Html.ValidationMessageFor(m => m.TIPE_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data Início
                                                    @Html.TextBoxFor(m => m.ASSI_DT_INICIO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn" })
                                                    @Html.ValidationMessageFor(m => m.ASSI_DT_INICIO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;" id="PF">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    CPF
                                                    @Html.TextBoxFor(m => m.ASSI_NR_CPF, new { @class = "form-control", @id = "cpf", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.ASSI_NR_CPF, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;" id="PJ">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    CNPJ
                                                    @Html.TextBoxFor(m => m.ASSI_NR_CNPJ, new { @class = "form-control", @id = "cnpj" })
                                                    @Html.ValidationMessageFor(m => m.ASSI_NR_CNPJ, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-6 col-md-6 col-xs-12" id="RS">
                                                    Razão Social
                                                    @Html.TextBoxFor(m => m.ASSI_NM_RAZAO_SOCIAL, new { @class = "form-control", autofocus = true, @id = "razao" })
                                                    @Html.ValidationMessageFor(m => m.ASSI_NM_RAZAO_SOCIAL, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    Nome*
                                                    @Html.TextBoxFor(m => m.ASSI_NM_NOME, new { @class = "form-control", autofocus = true, @id = "nome" })
                                                    @Html.ValidationMessageFor(m => m.ASSI_NM_NOME, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Imagens - Foto e Anexos*@
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div style="margin-left: 15px;" class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="form-group">
                                                    <h4>Logotipo/Foto</h4><input type="file" accept=".jpg, .png, .jpeg, .gif|images/*" name="file" id="imgCliente" class="btn btn-sm btn-warning" multiple />
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr />
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <h4>Anexos</h4><input class="btn btn-sm btn-warning" id="inputFile" type="file" multiple />
                                                <br />
                                                <div class="form-group">
                                                    <div>
                                                        <hr />
                                                        <table style="width: 100%;" class="table table-striped table-bordered table-hover dataTables-example" id="myFiles">
                                                            <thead style="background-color:lightsteelblue">
                                                                <tr>
                                                                    <td>Nome</td>
                                                                    <td>Tipo</td>
                                                                    <td>Ações</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Endereços*@
                                <div id="tab-3" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    <h4>Endereço Principal</h4>
                                                    <br />
                                                    CEP
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.ASSI_NR_CEP, new { @class = "form-control", @id = "cep", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.ASSI_NR_CEP, "", new { @style = "color:red" })
                                                        <span class="input-group-btn">
                                                            <span class="btn btn-warning btn-sm" id="btnBuscaCep" onclick="PesquisaCep($('#cep').val(), $(this), 1)">Buscar CEP</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Endereço
                                                    @Html.TextBoxFor(m => m.ASSI_NM_ENDERECO, new { @class = "form-control", @id = "endereco", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.ASSI_NM_ENDERECO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-xs-12">
                                                    Número
                                                    @Html.TextBoxFor(m => m.ASSI_NR_NUMERO, new { @class = "form-control", @id = "nmr", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.ASSI_NR_NUMERO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Complemento
                                                    @Html.TextBoxFor(m => m.ASSI_NM_COMPLEMENTO, new { @class = "form-control", autofocus = true, @id = "complemento" })
                                                    @Html.ValidationMessageFor(m => m.ASSI_NM_COMPLEMENTO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Bairro
                                                    @Html.TextBoxFor(m => m.ASSI_NM_BAIRRO, new { @class = "form-control", @id = "bairro", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.ASSI_NM_BAIRRO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Cidade
                                                    @Html.TextBoxFor(m => m.ASSI_NM_CIDADE, new { @class = "form-control", @id = "cidade", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.ASSI_NM_CIDADE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    UF
                                                    @Html.DropDownListFor(m => m.UF_CD_ID, (SelectList)ViewBag.UF, "Selecionar", new { @class = "form-control", @id = "uf", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.UF_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Contatos*@
                                <div id="tab-5" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    E-Mail*
                                                    @Html.TextBoxFor(m => m.ASSI_NM_EMAIL, new { @class = "form-control", autofocus = true, id = "email" })
                                                    @Html.ValidationMessageFor(m => m.ASSI_NM_EMAIL, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Telefone
                                                    @Html.TextBoxFor(m => m.ASSI_NR_TELEFONE, new { @class = "form-control", autofocus = true, @id = "tel" })
                                                    @Html.ValidationMessageFor(m => m.ASSI_NR_TELEFONE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Celular
                                                    @Html.TextBoxFor(m => m.ASSI_NR_CELULAR, new { @class = "form-control", autofocus = true, @id = "cel" })
                                                    @Html.ValidationMessageFor(m => m.ASSI_NR_CELULAR, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Observações*@
                                <div id="tab-7" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Observações
                                                    @Html.TextAreaFor(m => m.ASSI_TX_OBSERVACOES, new { @class = "form-control", style = "width: 100%; height: 400px;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.ASSI_TX_OBSERVACOES, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sweetAlert")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
    <script>
        if (getUrlParameter('voltaCliente') == "1") {
            $('.btnSubmit').html('Salvar');
            $('.btnReturn').hide();
        }
    </script>

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>


    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
            $("#cep1").mask("99999-999");
            $("#dn").mask("99/99/9999");
            $("#tel").mask("(99)9999-9999");
            $("#alt_tel").mask("(99)99999-9999");
            $("#cel").mask("(99)99999-9999");
        });
    </script>

    <script type="text/javascript">
        function ValidaDiv(valPessoa) {
            if (valPessoa == '2') {
                $("#PF").hide();
                $("#PJ").show();
                $("#RS").show();
                $("#DS").show();
                $('#liDadosPessoais').hide();
                LimpaPF();
            }
            else if (valPessoa == '1') { //Se o tempo for mé igual a 2 mostra a divCpf
                $("#PJ").hide();
                $("#PF").show();
                $("#RS").hide();
                $("#DS").hide();
                $('#liDadosPessoais').show();
                LimpaPJ();
            }
            else if (valPessoa == '4') {
                $("#PF").show();
                $("#PJ").hide();
                $("#RS").hide();
                $("#DS").hide();
                $('#liDadosPessoais').show();
                LimpaPJ();
            } else { //Se não for 1, 2 ou 4 esconde as duas
                $("#PJ").hide();
                $("#PF").hide();
                $("#RS").hide();
                $("#DS").hide();
                $('#liDadosPessoais').show();
            }
        }

        $(document).ready(function () {
            ValidaDiv($('#pessoa').val());
        });

        function LimpaPJ() {
            $('#cnpj').val('');

            //$('select#rt option:selected').removeAttr('selected');
            $('#is').val('');
            $('#CLIE_VL_SALDO').val('');
            $('#CLIE_NR_INSCRICAO_ESTADUAL').val('');
            $('#CLIE_NR_INSCRICAO_MUNICIPAL').val('');
        }

        function LimpaPF() {
            $('#cpf').val('');
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Inclusão em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    <script>
        function PesquisaCep(cep, btn, tipoEnd) {
            data = {
                cep: cep
                , tipoEnd: tipoEnd
            }

            $(btn).attr("disabled", "disabled");

            $.ajax({
                url: '../Assinante/PesquisaCEP_Javascript'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    $('#endereco').val(r.ASSI_NM_ENDERECO);
                    $('#nmr').val(r.ASSI_NR_NUMERO);
                    $('#bairro').val(r.ASSI_NM_BAIRRO);
                    $('#cidade').val(r.ASSI_NM_CIDADE);
                    $('#uf option[value="' + r.UF_CD_ID + '"]').attr("selected", "selected");
                    $('#btnBuscaCep').removeAttr("disabled");
                }
            });
        }
    </script>

    <script>
        SendFilesV2('imgCliente', 'Assinante', 'UploadFileToSession');
    </script>

    <script>
        function PesquisaCNPJ(cnpj) {
            var spinner = '<i style="margin-right: 5px;" class="fa fa-spinner fa-spin"></i>';
            $('#btnPesquisaCnpj').prepend(spinner);
            $('#btnPesquisaCnpj').attr('disabled', true);

            var data = {
                cnpj: cnpj
            }

            if (cnpj != "") {
                $.ajax({
                    url: '../Assinante/PesquisaCNPJ'
                    , type: 'POST'
                    , data: data
                    , success: function (r) {
                        if (r.status != "ERROR") {
                            if (r[0].CLQS_IN_ATIVO != 0) {
                                $('#tblQs > tbody').html('');
                                r.forEach(function (e) {
                                    $('#tblQs > tbody').append(
                                        '<tr><td>' + e.CLQS_NM_QUALIFICACAO + '</td>'
                                        + '<td>' + e.CLQS_NM_NOME + '</td></tr>'
                                    );
                                });
                            }
                            $('#QS').show();
                            $('#razao').val(r[0].ASSINANTE.ASSI_NM_RAZAO);
                            $('#nome').val(r[0].ASSINANTE.ASSI_NM_NOME);
                            $('#cep').val(r[0].ASSINANTE.ASSI_NR_CEP);
                            $("#cep").mask("99999-999");
                            $('#endereco').val(r[0].ASSINANTE.ASSI_NM_ENDERECO);
                            $('#nmr').val(r[0].ASSINANTE.ASSI_NR_NUMERO);
                            $('#bairro').val(r[0].ASSINANTE.ASSI_NM_BAIRRO);
                            $('#cidade').val(r[0].ASSINANTE.ASSI_NM_CIDADE);
                            $('#uf option[value="' + r[0].ASSINANTE.UF_CD_ID + '"]').attr('selected', 'selected');
                            $('#email').val(r[0].ASSINANTE.ASSI_NM_EMAIL);
                            $('#tel').val(r[0].ASSINANTE.ASSI_NR_TELEFONE);

                            $('#btnPesquisaCnpj').html('Buscar CNPJ');
                            $('#btnPesquisaCnpj').attr('disabled', false);
                        } else {
                            if (r.public == 1) {
                                var alert = '<div class="alert alert-danger">'
                                    + '<button type="button" class="close" data-dismiss="alert">Fechar</button>'
                                    + r.message
                                    + '</div>';
                                $('.ibox-content').prepend(alert);
                                $('.alert').show();

                                $('#btnPesquisaCnpj').html('Buscar CNPJ');
                                $('#btnPesquisaCnpj').attr('disabled', false);
                            } else {
                                console.log(r);

                                $('#btnPesquisaCnpj').html('Buscar CNPJ');
                                $('#btnPesquisaCnpj').attr('disabled', false);
                            }
                        }
                    }
                    , error: function () {
                        $('#btnPesquisaCnpj').html('Buscar CNPJ');
                        $('#btnPesquisaCnpj').attr('disabled', false);
                    }
                });
            }
        }
    </script>

    <script>
        $('#filGeral option[value=10]').prop('selected', true);
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
