@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.AssinantePagamentoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Assinantes</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaCentralAssinante", "Assinantes")">Central do Assinante</a>
            </li>
            <li class="active">
                <strong>Assinante - Informação de Pagamento</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Assinante - Informação de Pagamento</h5>
                </div>
                @using (Html.BeginForm("InformarPagamento", "Assinante", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    <div class="ibox-content" style="height:700px">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="form-group">
                            @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;" })
                            <button style="margin-left: 15px;" class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirma Envio da Mensagem</button>
                            @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaCentralAssinante", controller: "Assinante")
                        </div>

                        <div class="col-lg-8 col-md-8 col-xs-12">
                            <div class="row">
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                    <h4 style="margin-left: 15px; color:green; background-color: beige; font-weight:bold">Assinante</h4>
                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                        @Html.HiddenFor(m => m.ASSI_CD_ID)
                                        @Html.HiddenFor(m => m.ASPA_CD_ID)
                                        @Html.HiddenFor(m => m.ASPA_DT_VENCIMENTO)
                                        @Html.HiddenFor(m => m.ASPA_VL_VALOR)
                                        @Html.HiddenFor(m => m.PLAN_CD_ID)
                                        @Html.HiddenFor(m => m.ASPA_IN_ATIVO)
                                        @Html.HiddenFor(m => m.ASPA_IN_INFORMADO)
                                        @Html.HiddenFor(m => m.ASPA_IN_PAGO)
                                        @Html.HiddenFor(m => m.ASPA_IN_SISTEMA)
                                        Nome do Assinante
                                        @Html.TextBoxFor(m => m.ASSINANTE.ASSI_NM_NOME, new { @class = "form-control", @readonly="readonly", @style = "color:green; font-weight:bold"})
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Vencimento
                                        @Html.TextBoxFor(m => m.ASPA_DT_VENCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly="readonly" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Valor Real (R$)
                                        @Html.TextBoxFor(m => m.ASPA_VL_VALOR, "{0:n2}", new { @class = "form-control", @readonly="readonly", autofocus = true })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                    <h4 style="margin-left: 15px; color:green; background-color: beige; font-weight:bold">Pagamento</h4>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Pagamento*
                                        @Html.TextBoxFor(m => m.ASPA_DT_PAGAMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.ASPA_DT_PAGAMENTO, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Valor Pago (R$)*
                                        @Html.TextBoxFor(m => m.ASPA_VL_VALOR_PAGO, new { @class = "form-control", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.ASPA_VL_VALOR_PAGO, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                    <h4 style="margin-left: 15px; color:green; background-color: beige; font-weight:bold">Mensagem</h4>
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        Mensagem*
                                        @Html.TextAreaFor(m => m.MENSAGEM, new { @class = "form-control", style = "width: 100%; height: 300px;", autofocus = true, @id = "texto" })
                                        @Html.ValidationMessageFor(m => m.MENSAGEM, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Anexos</h4>
                                        <input class="btn btn-sm btn-warning" id="inputFile" type="file" multiple />
                                        <br />
                                        <div class="form-group" style="margin-left: 0px;">
                                            <div>
                                                <table style="width: 100%;" class="table table-striped table-bordered table-hover dataTables-example" id="myFiles">
                                                    <thead style="background-color:lightsteelblue">
                                                        <tr>
                                                            <td>Nome</td>
                                                            <td>Tipo</td>
                                                            <td>Ações</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/MonthPicker.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    <script src="~/Scripts/MonthPicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>   
    
    <script type="text/javascript">
        $(function () {
            $("#tel").mask("(99)9999-9999");
            $("#cel").mask("(99)99999-9999");
        });
    </script>
    <script>
        SendFilesV2('imgProduto', 'Assinante', 'UploadFileToSession');
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}




