@using Presentation.Extensions
@model EntitiesServices.Model.ASSINANTE_ANEXO
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Assinantes</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaDashboardAssinante", "BaseAdmin")">Dashboard - Assinantes</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaAssinante", "Assinante")">Assinantes</a>
            </li>
            <li>
                <a href="@Url.Action("EditarAssinante", "Assinante")">Assinantes - Edição</a>
            </li>
            <li class="active">
                <strong>Assinantes - Anexos</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Assinante - Ver Anexo</h5>
                </div>
                @using (Html.BeginForm("VerAnexoAssinante", "Assinante", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                {
                    <div class="ibox-content">
                        <div class="row">
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Titulo
                                    @Html.TextBoxFor(m => m.ASAN_NM_TITULO, new { @class = "form-control", @readonly = "readonly", autofocus = true })
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Data
                                    @Html.TextBoxFor(m => m.ASAN_DT_ANEXO, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", autofocus = true })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoAssinante", controller: "Assinante")
                        </div>
                        <div class="form-group">
                            @if (Model.ASAN_IN_TIPO == 1)
                            {
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <img src="@Url.Content(Model.ASAN_AQ_ARQUIVO)" style="width: auto; height: auto; max-height: 600px; max-width: 900px;">
                                    </div>
                                </div>
                            }
                            @if (Model.ASAN_IN_TIPO == 2)
                            {
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <figure>
                                        <iframe width="900" height="600" src="@Url.Content(Model.ASAN_AQ_ARQUIVO)" frameborder="0" allowfullscreen></iframe>
                                    </figure>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}
@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/videoResponsible")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script type="text/javascript">
        $(document).on('webkitfullscreenchange mozfullscreenchange fullscreenchange', function (e) {
            $('body').hasClass('fullscreen-video') ? $('body').removeClass('fullscreen-video') : $('body').addClass('fullscreen-video')
        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
