@using Presentation.Extensions
@using CrossCutting;
@model EntitiesServices.Model.ASSINANTE_PAGAMENTO
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*Titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title">
        <h3 class="title">Assinantes</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaDashboardAssinante", "BaseAdmin")">Dashboard - Assinantes</a>
            </li>
            <li class="active">
                <strong>Assinantes - Atraso</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                </div>

                @using (Html.BeginForm("FiltrarAssinanteAtraso", "Assinante", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                Nome
                                @Html.TextBoxFor(m => m.ASSINANTE.ASSI_NM_NOME, new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                CPF
                                @Html.TextBoxFor(m => m.ASSINANTE.ASSI_NR_CPF, new { @class = "form-control", @id = "cpf", autofocus = true })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                CNPJ
                                @Html.TextBoxFor(m => m.ASSINANTE.ASSI_NR_CNPJ, new { @class = "form-control", @id = "cnpj", autofocus = true })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Cidade
                                @Html.TextBoxFor(m => m.ASSINANTE.ASSI_NM_CIDADE, new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                UF
                                @Html.DropDownListFor(m => m.ASSINANTE.UF_CD_ID, (SelectList)ViewBag.UF, "Selecionar", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                @Html.ButtonActionSubmit(text: "Filtrar")
                                @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Assinante", action: "RetirarFiltroAtraso")
                                @Html.ButtonLinkIndex(text: "Exibir Listagem", controller: "Assinante", action: "GerarRelatorioListaAtraso")
                                @Html.ButtonLinkIndex(text: "Voltar", controller: "Assinante", action: "VoltarDash")
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Assinantes</h5>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="row">
                        @if (ViewBag.Listas != null &&(ViewBag.Listas as List<EntitiesServices.Model.ASSINANTE_PAGAMENTO>).Count > 0)
                        {
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead style="background-color:lightsteelblue">
                                    <tr>
                                        <th style="width: auto">Nome</th>
                                        <th style="width: auto">CPF</th>
                                        <th style="width: auto">CNPJ</th>
                                        <th style="width: auto">E-Mail</th>
                                        <th style="width: auto">Celular</th>
                                        <th style="width: auto">Plano</th>
                                        <th style="width: auto">Atraso (Dias)</th>
                                        <th style="width: auto"></th>
                                        <th class="td-one-action">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.ASSINANTE_PAGAMENTO>))
                                    {
                                        <tr>
                                            <td style="width: auto">@cond.ASSINANTE.ASSI_NM_NOME</td>
                                            <td style="width: auto">@cond.ASSINANTE.ASSI_NR_CPF</td>
                                            <td style="width: auto">@cond.ASSINANTE.ASSI_NR_CNPJ</td>
                                            <td style="width: auto"><a href="@Url.Action("EnviarEMailAssinante", "Assinante", new { id = cond.ASSI_CD_ID })" />@cond.ASSINANTE.ASSI_NM_EMAIL</td>
                                            <td style="width: auto"><a href="@Url.Action("EnviarSMSAssinante", "Assinante", new { id = cond.ASSI_CD_ID })" />@cond.ASSINANTE.ASSI_NR_CELULAR</td>
                                            <td style="width: auto">@cond.PLANO.PLAN_NM_NOME</td>
                                            <td style="width: auto">@cond.ASPA_NR_ATRASO</td>
                                            @if (!String.IsNullOrEmpty(cond.ASSINANTE.ASSI_AQ_FOTO))
                                            {
                                                <td style="width: auto"><img src="@Url.Content(cond.ASSINANTE.ASSI_AQ_FOTO)" style="width: auto; height: auto; max-height: 55px; max-width: 45px;" data-toggle="modal" data-target="#fotoModal" onclick="CriaModal('@cond.ASSINANTE.ASSI_NM_NOME', '@Url.Content(cond.ASSINANTE.ASSI_AQ_FOTO)')"></td>
                                            }
                                            else
                                            {
                                                <td style="width: auto"><img src="~/Images/icone_imagem.jpg" style="width: auto; height: auto; max-height: 55px; max-width: 45px;" data-toggle="modal" data-target="#fotoModal" onclick="CriaModal('@cond.ASSINANTE.ASSI_NM_NOME', '/Images/a8.jpg')"></td>
                                            }
                                            <td class="td-one-action">
                                                @Html.TableLinkDetails(cond.ASSI_CD_ID, "EditarAssinante", "fa-edit", "Editar/Consultar")
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-xs-2">

                                </div>
                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-4 col-md-4 col-xs-8">
                                    <h2 style="font-weight: bold">Sua pesquisa não retornou nenhum resultado</h2>
                                    <p>Tente outras opções de pesquisa</p>

                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Assinante", action: "RetirarFiltroAssinanteAtraso")
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-2">

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
<script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Assinante?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação de Assinante?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Reativação</h5>');
            $('#modal').modal('show');
        }
    </script>
     <script>
        $("#lstCliente").select2({
            //data: filterSelect,
            ajax: {
                url: '../Assinante/BuscaNomeRazao',
                type: 'POST',
                data: function (params) {
                    var query = {
                        nome: params.term
                    }
                    return query
                },
                processResults: function (data) {
                    console.log(data);
                    return {
                        results: data
                    }
                }
            },
            placeholder: 'Busque por NOME ou RAZÃO SOCIAL',
            minimumInputLength: 1
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'Assinantes_Planilha' },
                    { extend: 'pdf', title: 'Assinantes_PDF' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]
            });          
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
        });
    </script>

    <script>
        function MudaIdCliente(id) {
            $('#idClie').val(id);
        }
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

