@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.PlanoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Assinantes</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaCentralAssinante", "Assinante")">Central do Assinante</a>
            </li>
            <li class="active">
                <strong>Plano de Assinatura - Consulta</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Plano de Assinatura - Consulta</h5>
                </div>
                @using (Html.BeginForm("VerPlanoAtivo", "Assinante", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    <div class="ibox-content">
                        <div class="form-group">
                            @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoAssinante", controller: "Assinante")
                        </div>
                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Plano Ativo</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Nome do Plano
                                    @Html.TextBoxFor(m => m.PLAN_NM_NOME, new { @class = "form-control", @readonly="readonly", @style = "font-weight:bold; color:green" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Validade
                                    @Html.TextBoxFor(m => m.PLAN_DT_VALIDADE, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })   
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Periodicidade
                                    @Html.TextBoxFor(m => m.PLANO_PERIODICIDADE.PLPE_NM_NOME, new { @class = "form-control", @readonly="readonly" })
                                </div>
                                @if (ViewBag.Tipo == 1)
                                {
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Preço (R$)
                                        @Html.TextBoxFor(m => m.PLAN_VL_PRECO, "{0:n2}", new { @class = "form-control", @readonly="readonly" })
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Preço (R$)
                                        @Html.TextBoxFor(m => m.PLAN_VL_PROMOCAO, "{0:n2}", new { @class = "form-control", @readonly="readonly" })
                                    </div>
                                }
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    Descrição do Plano
                                    @Html.TextAreaFor(m => m.PLAN_DS_DESCRICAO, new { @class = "form-control", style = "width: 100%; height: 80px;" , @readonly="readonly"})
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Limites - Cadastros</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">  
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Usuários Ativos
                                    @Html.TextBoxFor(m => m.PLAN_NR_USUARIOS, new { @class = "form-control", @readonly="readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Clientes Ativos
                                    @Html.TextBoxFor(m => m.PLAN_NR_CONTATOS, new { @class = "form-control", @readonly="readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Processos Ativos
                                    @Html.TextBoxFor(m => m.PLAN_NR_PROCESSOS, new { @class = "form-control", @readonly="readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Ações Ativas
                                    @Html.TextBoxFor(m => m.PLAN_NR_ACOES, new { @class = "form-control", @readonly="readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Propostas Ativas
                                    @Html.TextBoxFor(m => m.PLAN_NR_PROPOSTA, new { @class = "form-control", @readonly="readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <h4 style="margin-left: 0px; color:green; background-color: beige; font-weight:bold">Limites - Mensagens</h4>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">  
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Máximo de E-Mails (Mês)
                                    @Html.TextBoxFor(m => m.PLAN_NR_EMAIL, new { @class = "form-control", @readonly="readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Máximo de SMS (Mês)
                                    @Html.TextBoxFor(m => m.PLAN_NR_SMS, new { @class = "form-control", @readonly="readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
         </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")

    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/jasnyBootstrap")


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}

