@using Presentation.Extensions
@using CrossCutting;
@model EntitiesServices.Model.TIPO_ATESTADO
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*Titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title">
        <h3 class="title">Tabelas Auxiliares</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard - Inicial</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaTabelasAuxiliares", "BaseAdmin")">Tabelas Auxiliares</a>
            </li>
            <li class="active">
                <strong>Tipos de Atestados</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tipos de Atestados</h5>
                </div>

                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            @Html.ButtonLinkIndex(text: "Novo Tipo de Atestado", controller: "TabelasAuxiliares", action: "IncluirTipoAtestado", buttonClass: "primary")
                            @Html.ButtonLinkIndex(text: "Voltar", controller: "TabelasAuxiliares", action: "VoltarGeral")
                        </div>
                    </div>
                    <br /><br />
                    <div class="row">
                        @if (ViewBag.Listas != null && (ViewBag.Listas as List<EntitiesServices.Model.TIPO_ATESTADO>).Count > 0)
                        {
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th class="td-one-action">Ações</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.TIPO_ATESTADO>))
                                    {
                                        <tr>
                                            <td>@cond.TIAT_NM_NOME</td>
                                            <td class="td-one-action">
                                                @Html.TableLinkDetails(cond.TIAT_CD_ID, "EditarTipoAtestado", "fa-edit", "Editar")
                                                @if (cond.TIAT_IN_ATIVO == 1)
                                                {
                                                    <span style="color: #337ab7; cursor:pointer;" alt="Excluir" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluir('/TabelasAuxiliares/ExcluirTipoAtestado/@cond.TIAT_CD_ID')" title="Excluir"></span>
                                                }
                                                else
                                                {
                                                    <span style="color: #337ab7; cursor:pointer;" alt="Reativar" class="tbl-link fa-lg fa fa-refresh" onclick="ShowModalReativar('/TabelasAuxiliares/ReativarTipoAtestado/@cond.TIAT_CD_ID')" title="Reativar"></span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-xs-2">

                                </div>
                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-4 col-md-4 col-xs-8">
                                    <h2 style="font-weight: bold">Nenhum tipo de atestado cadastrado</h2>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-2">

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Tipo de Atestado?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação de Tipo de Atestado?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Reativação</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'TipoAtestado_Planilha' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        });
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

