@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.MedicamentoBaseViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "WebDoctor - Medicamentos - Inclusão";
    ViewBag.MetaDescription = "WebDoctor - Medicamentos - Inclusão de medicamentos";
    ViewBag.MetaKeywords = "WebDoctor, Medicamento";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <h3 class="title">Medicamentos</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaPaciente", "Paciente")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaMedicamento", "Medicamento")">Medicamentos</a>
            </li>
            <li class="active">
                <strong>Medicamentos - Inclusão</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Medicamentos - Inclusão</h5>
                </div>
                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="tabs-container">
                        @using (Html.BeginForm("IncluirMedicamento", "Medicamento", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                        {
                            <div class="form-group">
                                <br />
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    @Html.ButtonActionSubmit(text: "Confirmar Inclusão do Medicamento", htmlAttributes: new { id = "basictoast" })
                                    @if ((Int32)Session["VoltaMedicamento"] == 1)
                                    {
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBaseMedicamento", controller: "Medicamento")
                                    }
                                    else
                                    {
                                        @Html.ButtonLinkIndex(text: "Voltar", action: "IncluirPrescricaoItem", controller: "Paciente")  
                                    }
                                    <a href="@Url.Action((String)Session["AjudaNivel"])"  class="btn btn-sm btn-danger" target="_blank">Ajuda</a>                
                                </div>
                            </div>
                            
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Dados do Medicamento</a></li>
                            </ul>

                            <div class="tab-content">
                                @*Dados Gerais*@
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                @Html.HiddenFor(m => m.MEDI_IN_ATIVO)
                                                @Html.HiddenFor(m => m.USUA_CD_ID)
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    Nome do Medicamento*
                                                    @Html.TextAreaFor(m => m.MEDI_NM_MEDICAMENTO, new { @class = "form-control", style = "width: 100%; height: 80px; overflow:auto;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.MEDI_NM_MEDICAMENTO, "", new { @style = "color:red" })

                                                    @* --- INÍCIO DA AJUDA CONTEXTUAL --- *@
                                                    <details class="ajuda-contextual">
                                                        <summary><i class="fa fa-question-circle text-info"></i> Como preencher?</summary>
                                                        <div class="well well-sm">
                                                            <p>Informe o nome comercial completo do medicamento, incluindo a concentração e a forma farmacêutica se houver variações.</p>
                                                            <ul>
                                                                <li>Exemplo 1: <strong>Tylenol 750mg Comprimidos</strong></li>
                                                                <li>Exemplo 2: <strong>Amoxicilina 500mg Cápsulas</strong></li>
                                                            </ul>
                                                        </div>
                                                    </details>
                                                    @* --- FIM DA AJUDA CONTEXTUAL --- *@
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    Nome Genérico
                                                    @Html.TextAreaFor(m => m.MEDI_NM_GENERICO, new { @class = "form-control", style = "width: 100%; height: 80px; overflow:auto;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.MEDI_NM_GENERICO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Forma de Uso*
                                                    @Html.DropDownListFor(m => m.TIFO_CD_ID, (SelectList)ViewBag.TipoForma, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.TIFO_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Controle*
                                                    @Html.DropDownListFor(m => m.TICO_CD_ID, (SelectList)ViewBag.Controle, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.TICO_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-xs-12">
                                                    Forma de Apresentação
                                                    @Html.TextAreaFor(m => m.MEDI_NM_APRESENTACAO, new { @class = "form-control", style = "width: 100%; height: 100px; overflow:auto;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.MEDI_NM_APRESENTACAO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Laboratório
                                                    @Html.TextAreaFor(m => m.MEDI_NM_LABORATORIO, new { @class = "form-control", style = "width: 100%; height: 100px; overflow:auto;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.MEDI_NM_LABORATORIO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px; scrollbar-gutter: stable; scrollbar-width: thin">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Posologia
                                                    @Html.TextAreaFor(m => m.MEDI_DS_POSOLOGIA, new { @class = "form-control", style = "width: 100%; height: 250px; overflow:auto;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.MEDI_DS_POSOLOGIA, "", new { @style = "color:red" })

                                                    @* --- INÍCIO DA AJUDA CONTEXTUAL --- *@
                                                    <details class="ajuda-contextual">
                                                        <summary><i class="fa fa-info-circle text-info"></i> Orientações sobre a Posologia</summary>
                                                        <div class="well well-sm">
                                                            <p>Descreva detalhadamente como o paciente deve utilizar o medicamento. Inclua:</p>
                                                            <ol>
                                                                <li>A dose (ex: 1 comprimido, 5ml, 2 gotas).</li>
                                                                <li>A frequência (ex: a cada 8 horas, 1 vez ao dia).</li>
                                                                <li>A duração do tratamento (ex: por 7 dias, uso contínuo).</li>
                                                                <li>Via de administração (ex: via oral, aplicar na pele).</li>
                                                            </ol>
                                                            <p><em>Exemplo: Tomar 1 comprimido via oral a cada 12 horas (8h e 20h) durante 5 dias. Não partir o comprimido.</em></p>
                                                        </div>
                                                    </details>
                                                    @* --- FIM DA AJUDA CONTEXTUAL --- *@
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")

    <style type="text/css">
        /* Espaçamento e cursor para o summary */
        details.ajuda-contextual {
            margin-top: 5px; /* Separa um pouco do campo acima */
            margin-bottom: 10px;
        }

        details.ajuda-contextual summary {
            cursor: pointer; /* Mostra a mãozinha ao passar o mouse */
            font-weight: bold;
            color: #31708f; /* Cor text-info do Bootstrap */
            outline: none; /* Remove a borda de foco padrão do navegador */
            list-style: none; /* Esconde a seta padrão se quiser usar ícones customizados */
        }
        
        /* Se quiser esconder a seta padrão e usar apenas o ícone do FontAwesome */
        details.ajuda-contextual summary::-webkit-details-marker {
            display: none;
        }

        /* Espaçamento para o conteúdo interno da ajuda */
        details.ajuda-contextual .well {
            margin-top: 5px;
            margin-bottom: 0;
            padding: 10px;
            font-size: 12px; /* Texto ligeiramente menor para ajuda */
        }
    </style>

}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

    <!-- Handler de fechamento do browser -->
    <script type="text/javascript">
        window.onbeforeunload = function ()
        {
            navigator.sendBeacon('../ControleAcesso/LogSessionTime');
        }; 
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Inclusão em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>



    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
