@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.UsuarioLoginViewModel
@{
    Layout = "~/Views/Shared/_Layout_Limpo.cshtml";
    ViewBag.Title = "WebDoctor - Nova Senha";
    ViewBag.MetaDescription = "WebDoctor - Geração de nova senha";
    ViewBag.MetaKeywords = "WebDoctor, Senha, Acesso, Segurança";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="modalContainer"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-5 col-md-5 col-xs-5 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Geração de Senha Provisória</h5>
                </div>
                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                        @Html.ButtonLinkIndex(text: "Voltar", controller: "ControleAcesso", action: "Login")
                        <br />
                    </div>

                    @using (Html.BeginForm("GerarSenha", "ControleAcesso", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label>Informe o e-mail cadastrado no WebDoctor e o CPF o nome completo do usuário</label>
                            <label>Uma senha provisória será enviada para este e-mail</label>
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(m => m.ASSI_CD_ID)
                            @Html.HiddenFor(m => m.CARG_CD_ID)
                            @Html.HiddenFor(m => m.CAUS_CD_ID)
                            @Html.HiddenFor(m => m.PERF_CD_ID)
                            @Html.HiddenFor(m => m.USUA_CD_ID)
                            @Html.HiddenFor(m => m.USUA_AQ_FOTO)
                            @Html.HiddenFor(m => m.USUA_DT_ACESSO)
                            @Html.HiddenFor(m => m.USUA_DT_ALTERACAO)
                            @Html.HiddenFor(m => m.USUA_DT_BLOQUEADO)
                            @Html.HiddenFor(m => m.USUA_DT_CADASTRO)
                            @Html.HiddenFor(m => m.USUA_DT_TROCA_SENHA)
                            @Html.HiddenFor(m => m.USUA_DT_ULTIMA_FALHA)
                            @Html.HiddenFor(m => m.USUA_IN_ATIVO)
                            @Html.HiddenFor(m => m.USUA_IN_BLOQUEADO)
                            @Html.HiddenFor(m => m.USUA_IN_LOGADO)
                            @Html.HiddenFor(m => m.USUA_IN_LOGIN_PROVISORIO)
                            @Html.HiddenFor(m => m.USUA_IN_PROVISORIO)
                            @Html.HiddenFor(m => m.USUA_NM_LOGIN)
                            @Html.HiddenFor(m => m.USUA_NM_NOME)
                            @Html.HiddenFor(m => m.USUA_NM_SENHA)
                            @Html.HiddenFor(m => m.USUA_NR_ACESSOS)
                            @Html.HiddenFor(m => m.USUA_NR_CELULAR)
                            @Html.HiddenFor(m => m.USUA_NR_CPF)
                            @Html.HiddenFor(m => m.USUA_NR_FALHAS)
                            @Html.HiddenFor(m => m.USUA_NR_MATRICULA)
                            @Html.HiddenFor(m => m.USUA_NR_RG)
                            @Html.HiddenFor(m => m.USUA_NR_TELEFONE)
                            @Html.HiddenFor(m => m.USUA_NR_WHATSAPP)
                            @Html.HiddenFor(m => m.USUA_TX_OBSERVACOES)
                            @Html.HiddenFor(m => m.USUA_NM_NOVA_SENHA)
                            @Html.HiddenFor(m => m.USUA_NM_SENHA_CONFIRMA)
                            @Html.HiddenFor(m => m.EMPR_CD_ID)
                            @Html.HiddenFor(m => m.USUA_NM_SENHA_HASH)
                            @Html.HiddenFor(m => m.USUA_NM_SALT_HASH)
                            @Html.HiddenFor(m => m.USUA_NM_SALT)
                            @Html.EditorFor(model => model.USUA_NM_EMAIL, new { htmlAttributes = new { @class = "form-control", placeholder = "E-mail", autofocus = true, id = "email" } })
                            @Html.ValidationMessageFor(model => model.USUA_NM_EMAIL, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <button id="login" type="submit" class="btn btn-primary block full-width m-b" onclick="Fade()">Gerar Nova Senha</button>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
}

<script>
    function Fade() {
        $('.dotContainer').fadeIn("fast");
        $('#login').css("filter", "blur(4px)");
    }
</script>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
